@charset "UTF-8";
@font-face {
    font-family: 'Material Icons';
    font-display: fallback;
    font-style: normal;
    font-weight: 400;
    src: url('MaterialIconsOutlined-Regular.woff2') format('woff2'),
    url('MaterialIconsOutlined-Regular.woff') format('woff'),
    url('MaterialIconsOutlined-Regular.otf') format('opentype');
}

.material-icons-outlined,.mdi-ico{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Material Icons Regular';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src:
            url('MaterialIcons-Regular.woff2') format('woff2'),
            url('MaterialIcons-Regular.woff') format('woff');
}

.mdi-ico.filled { font-family: 'Material Icons Regular'; }

@font-face {
    font-family: 'Material Icons Round Regular';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src:
            url('MaterialIconsRounded-Regular.woff2') format('woff2'),
            url('MaterialIconsRounded-Regular.woff') format('woff');
}

.mdi-ico.round { font-family: 'Material Icons Round Regular'; }

.material-icons-rounded,.mdi-ico{
    font-family: 'Material Icons Round Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    /* font-family: "icomoon" !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; */
    /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
