@charset "UTF-8";
/*
  파일명: typography.css
  작성자: 김도희
  최초작성일: 2025-04-21
  수정자: 김도희
  수정일: 2025-04-22
  설명: 이 파일은 HR 관리 시스템의 폰트를 입히는 적용파일로, font.css 에 정의한 폰트를 상속받는 스타일 파일입니다.
*/

@import './variables.css';

html, body {
    font-family: var(--ff-base);
    /* 숫자만 고정너비로 렌더링 */
    font-variant-numeric: tabular-nums;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body * {
    font-family: inherit;
    box-sizing: inherit;
}