@charset 'utf-8';

/* 테마별 style.css 적용 후에 적용되는 css (덮어쓰기 위함) */

/* required 이후 적용이 안되서 아래에 다시 선언함. */
input.transparent {border:none !important;background:none !important}
select.transparent {border:none !important;background:none !important}
textarea.transparent {border:none !important;background:none !important}


/* 1줄짜리 작은 조회바  */
.sheet_search_s { padding-left:120px; min-height:50px; background-position:10px 50%; border-top:1px solid #ebeef3; margin-top:5px;}
.sheet_search_s table { min-height:50px; background-color:#ffffff;}
.sheet_search {padding-bottom:5px;padding-top:3px;}
.sheet_search_s  input[type="text"]{ z-index:0; } /* autocomplete 위로 text 박스가 뚫고 나와서 이렇게 수정함.*/
.sheet_search_s table, .sheet_search_o table, .sheet_search_noimg table {min-height:auto; margin:5px 0 5px;}

/* Search이미지 없는 버젼 */
.sheet_search_x { padding-left:58px;background-position: 20px 50%;}

.sheet_search_noimg { background-image: none;padding-left:15px; min-height:30px;}

table.settle th, table.table th, .btn_baseB, .btn_pointB, .popup_password table th {
	line-height:21px;
}

/* [2023.01.05] IBSheet Radio 출력 관련 추가. */
.GridMain1 .GridMain2 .GMRadio0Left,
.GridMain1 .GridMain2 .GMRadio1Left,
.GridMain1 .GridMain2 .GMRadio2Left,
.GridMain1 .GridMain2 .GMRadio3Left,
.GridMain1 .GridMain2 .GMRadioRO0Left,
.GridMain1 .GridMain2 .GMRadioRO1Left,
.GridMain1 .GridMain2 .GMRadioRO2Left,
.GridMain1 .GridMain2 .GMRadioRO3Left {
	background-size: 16px 16px !important;
	padding-left: 22px !important;
}