/* richblue */

:root {

    /* color */
    --primary-blue-500: #007CFF;
    --blue-50: #F4F9FF;
    --blue-100: #DBEDFE;
    --blue-200: #A7D3FC;
    --blue-300: #75BAFB;
    --blue-400: #43A0FA;
    --blue-600: #0063D7;
    --blue-700: #0054B1;
    --blue-800: #00428B;
    --blue-900: #003164;

    --primary-gray-800: #1E2530;
    --gray-000: #FFFFFF;
    --gray-100: #F4F5FB;
    --gray-200: #E5E8F0;
    --gray-300: #D6D9E1;
    --gray-400: #C0C4CD;
    --gray-500: #A5ACB8;
    --gray-600: #838A93;
    --gray-700: #555D67;
    --gray-900: #060606;

    --Primary-bg: #F4F5FB;
    --thumnail-bg: #F6F6F6;
    --divider: #F1F3F7;
    --dimmed-30: #1E253030;
    --dimmed-60: #1E253060;

    --red: #FF3D45;
    --red-bg: #FFF0F0;

    --green: #00BB31;
    --green-bg: #EDFAED;
    --green-50: #00BB3150;

    --yellow: #FFDC20;
    --yellow-bg: #FFF8D2;

    --status-on: #1AD68B;
    --status-leave: #FF6A13;
    --status-quit: #A5ACB8;

    --text-title-color: #1E2530;
    --text-primary-color: #1E2530;
    --text-secondary-color: #555D67;
    --text-tertiary-color: #838A93;
    --text-disabled-color: #A5ACB8;
    --text-placeholder-color: #A5ACB8;
    --text-caption-color: #A5ACB8;
    --warning-red: #FF3D45;
    --positive-green: #00BB31;

    --chart-Primary-blue-500: #007CFF;
    --chart-blue-50: #F4F9FF;
    --chart-blue-100: #DBEDFE;
    --chart-blue-200: #A7D3FC;
    --chart-blue-300: #75BAFB;
    --chart-blue-400: #43A0FA;
    --chart-blue-600: #0063D7;
    --chart-blue-700: #0054B1;
    --chart-blue-800: #00428B;
    --chart-blue-900: #003164;
}
