.ui-dialog-titlebar{
	height:45px;
	background-color: #8d9da6;
}
.ui-dialog{
	z-index:99;

}
#dialogSearchUser{
	background-color:#ffffff;
}

#dialogSearchMenu{
	background-color:#ffffff;
}

#dialogAlertInfo{
	background-color:#ffffff;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: 0;
	top: 15px;
	width: 45px;
	margin: -15px 0 0 0;
	padding: 1px;
	height: 45px;
	background:#b8c6cc url(/common/images/popup/btn_popup_close.gif) no-repeat 50% 50%;
	cursor:pointer;	border:0;}


#ui-id-2.ui-dialog-title{
	margin:7px 0px 0px 0px;
}
#ui-id-1.ui-dialog-title {
	margin:7px 0px 0px 0px;
}

.ui-widget-content {border: 1px solid #aaaaaa;color: #222222;}
