@charset 'utf-8';

/*div.wrap_watermark {position:absolute;left:50%;top:50%;margin:-38px 0 0 -143px;}*/
div.wrap_print {height:100%;;font-size:11px}
div.wrap_print td {font-size:11px}
div.wrap_print table.main {width:100%;height:100%;}
div.wrap_print table.main td.top {vertical-align:top;padding:28px 20px 0 20px}
div.wrap_print table.main td.bottom {vertical-align:bottom;padding-bottom:20px;}

table.print_title {width:100%;}
table.print_title th {width:60%;text-align:center;font-weight:bold;padding-bottom:20px;color:#333;font-size:16px}
table.print_title td {width:20%;text-align:right;vertical-align:top;}

div.print_logo {padding-top:20px;text-align:center}
div.print_info {text-align:center;color:#333}
div.print_info span {color:#999}
table.print_table {width:100%;border:1px solid #dae1e6}
table.print_table td {height:26px;font-size:11px;padding:0 4px;}
table.print_table td.gray1 {background:#ebeef0;padding:0 0 0 19px;color:#333;border:1px solid #dae1e6}
table.print_table td.gray2 {background:#f7f9fc;padding:0 9px;border:1px solid #dae1e6}
table.print_table td.gray3 {background:#f5f6f7;border:1px solid #dae1e6}
table.print_table td.pink1 {background:#fad5e6;padding:0 9px;color:#333;border:1px solid #dae1e6}
table.print_table td.pink2 {background:#faeef4;color:#333;border-right:1px solid #dae1e6;border-top:1px solid #dae1e6}
table.print_table td.aqua {background:#d6ecee;color:#333;border:1px solid #dae1e6}
table.print_table td.green {background:#e8f0c0;color:#333;border:1px solid #dae1e6}
table.print_table td.blue {background:#c2def3;color:#333;border:1px solid #dae1e6}
table.print_table td.dot {border-right:1px dotted #dae1e6}
table.print_table td.noline {border-right:1px solid #faeef4;}

table.default {width:100%;margin-bottom:15px}
table.default th {width:auto;color:#333;background:#ebeef0;border:1px solid #dae1e6;font-weight:normal;text-align:left;padding:6px 9px 6px 9px;padding:7px 9px 7px 9px/9;white-space:nowrap}
table.default td {width:auto;background:#f7f9fc;border:1px solid #dae1e6;padding:6px 4px 6px 4px;;padding:7px 4px 7px 4px/9;white-space:nowrap}
table.default td.photo {background:#fff;border:none;width:98px;vertical-align:top;padding:0;}
table.default td.photo img {display:block;padding:3px;border:1px solid #dedede;margin-right:10px;}
table.default td input {margin:-5px 0}

table.settle {width:100%}
table.settle th {width:auto;color:#333;background:#ebeef0;border:1px solid #dae1e6;font-weight:normal;text-align:left;padding:6px 9px 6px 9px;padding:7px 0 4px 9px/9;}
table.settle td {width:auto;background:#f7f9fc;border:1px solid #dae1e6;padding:6px 4px 6px 4px;;padding:7px 4px 7px 4px/9;}
table.settle td.photo {background:#fff;border:none;width:98px;vertical-align:top;padding:0;}
table.settle td.photo img {display:block;padding:3px;border:1px solid #dedede;}
table.settle td input {margin:-2px 0}

table.table {width:100%;border-right:1px solid #dae1e6;border-bottom:1px solid #dae1e6;}
table.table th {;color:#333;background:#ebeef0;border-left:1px solid #dae1e6;border-top:1px solid #dae1e6;font-weight:normal;text-align:left;padding:6px 9px 6px 9px;padding:7px 9px 7px 9px/9;}
table.table td {;background:#f7f9fc;border-left:1px solid #dae1e6;border-top:1px solid #dae1e6;padding:3px 4px 3px 4px;;padding:4px 4px 4px 4px/9;}
table.table td.include table {}
table.table td.include th {;background:none;border:none;padding:0 0 0 0;padding:0 0 0 0/9;}
table.table td.include td {background:none;;padding:0 0 0 0;border:none;padding:0 0 0 0/9}
table.table td.include td.tx-menu-list-item {border:1px solid #ccc;}
table.table td.photo {background:#fff;border:none;width:98px;vertical-align:top;padding:0;}
table.table td.photo img {display:block;padding:3px;border:1px solid #dedede;}
table.table td.total {background: #faeef4}
table.table td input {margin:1px 0}
table.table td.bnoline {border-bottom:none !important;}
table.table td.tnoline {border-top:none !important;}
table.table td span.info {line-height:18px;letter-spacing:-1px}

div.error_main {position:absolute;top:50%;left:30px;right:30px;height:516px;background:url(/common/images/contents/bg_error.jpg) no-repeat 11px 50%;border-bottom:3px solid #667780;margin:-258px 0 0}
div.error_main.min {position:absolute;top:50%;left:50%;right:auto;width:920px;height:516px;background:url(/common/images/contents/bg_error.jpg) no-repeat 11px 50%;border-bottom:3px solid #667780;margin:-258px 0 0 -460px}
div.error_main .body {float:right;width:400px;padding-right:30px;}
div.error_main .bg {position:absolute;width:300px;height:516px;background:#fff;opacity: .50;filter:Alpha(Opacity=50);}
div.error_main .content {position:absolute;width:400px;padding-top:40px;}
div.error_main .header {font-family:Verdana;font-size:30px;color:#667780;margin-bottom:23px;letter-spacing:-2px;}
div.error_main .header span {color:#b8c6cc;}
div.error_main .title {font-weight:bold;margin:0 0 0 2px;height:31px}
div.error_main .contents {height:270px;overflow:auto;line-height:18px;margin:0 0 11px 2px;word-break:break-all}
div.error_main .bottom {margin:0 0 0 2px}

table.none {margin:0;}
div.icon_search,a.icon_search {display: inline-block;overflow: visible;word-break:keep-all;line-height: normal;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_search.png) no-repeat}	/* 조회 */
div.icon_calendar,a.icon_calendar {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_calendar.png) no-repeat}	/* 달력 */
div.icon_move,a.icon_move {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_move.png) no-repeat}				/* 화면이동 */
div.icon_popup,a.icon_popup {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_popup.png) no-repeat}			/* 팝업 */
div.icon_info,a.icon_info {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_info.png) no-repeat}				/* 설명 */
div.icon_copy,a.icon_copy {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_copy.png) no-repeat}				/* 복사 */
div.icon_write,a.icon_write {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_write.png) no-repeat}			/* 작성 */
div.icon_disk,a.icon_disk {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_disk.png) no-repeat}				/* 디스크 */
div.icon_print,a.icon_print {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_print.png) no-repeat}			/* 인쇄 */
div.icon_file,a.icon_file {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_file.png) no-repeat}				/* 첨부 */
div.icon_calculator,a.icon_calculator {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_calculator.png) no-repeat}	/* 계산기 */
div.icon_preview,a.icon_preview {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_preview.png) no-repeat}		/* 미리보기 */
div.icon_notice,a.icon_notice {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_notice.png) no-repeat}			/* 공지 */
div.icon_setup,a.icon_setup {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_setup.png) no-repeat}			/* 설정 */
div.icon_basket,a.icon_basket {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_basket.png) no-repeat}			/* 휴지통 */
div.icon_plus,a.icon_plus {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_plus.png) no-repeat}				/* + */
div.icon_minus,a.icon_minus {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_minus.png) no-repeat}			/* - */
div.icon_o,a.icon_o {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_o.png) no-repeat}					/* O */
div.icon_x,a.icon_x {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_x.png) no-repeat}					/* X */
div.icon_ok,a.icon_ok {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_ok.png) no-repeat}					/* 확인 */
div.icon_download,a.icon_download {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_download.png) no-repeat}		/* 다운로드 */
div.icon_upload,a.icon_upload {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_upload.png) no-repeat}			/* 업로드 */
div.icon_chart1,a.icon_chart1 {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_chart1.png) no-repeat}			/* 챠트(세로) */
div.icon_chart2,a.icon_chart2 {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_chart2.png) no-repeat}			/* 챠트(가로) */
div.icon_pie,a.icon_pie {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_pie.png) no-repeat}				/* 챠트(Pie) */
div.icon_first,a.icon_first {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_first.png) no-repeat}			/* << */
div.icon_prev,a.icon_prev {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_prev.png) no-repeat}				/* < */
div.icon_next,a.icon_next {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_next.png) no-repeat}				/* > */
div.icon_last,a.icon_last {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_last.png) no-repeat}				/* >> */
div.icon_left,a.icon_left {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_left.png) no-repeat}				/* ◀ */
div.icon_right,a.icon_right {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_right.png) no-repeat}			/* ▶ */
div.icon_down,a.icon_down {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_down.png) no-repeat}				/* ▼ */
div.icon_up,a.icon_up {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_up.png) no-repeat}					/* ▲ */
div.icon_undo,a.icon_undo {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_undo.png) no-repeat}				/* undo */
div.icon_redo,a.icon_redo {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_redo.png) no-repeat}				/* redo */
div.icon_mobile,a.icon_mobile {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_mobile.png) no-repeat}			/* 핸드폰 */
div.icon_monitor,a.icon_monitor {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_monitor.png) no-repeat}		/* 모니터 */
div.icon_camera,a.icon_camera {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_camera.png) no-repeat}			/* 카메라 */
div.icon_plane,a.icon_plane {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_plane.png) no-repeat}			/* 비행기 */
div.icon_email,a.icon_email {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_email.png) no-repeat}			/* 메일 */
div.icon_phone,a.icon_phone {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_phone.png) no-repeat}			/* 유선전화 */
div.icon_heart,a.icon_heart {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_heart.png) no-repeat}			/* Heart */
div.icon_excla,a.icon_excla {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_excla.png) no-repeat}			/* ! */
div.icon_quest,a.icon_quest {display: inline-block;vertical-align:middle;width:21px;height:21px;background:url(/common/images/icon/icon_quest.png) no-repeat}			/* ? */

div.progressbar {height:15px;background:#fff;border:1px solid #b8c6cc;}
div.progressbar div {background:#f379b2;width:0;height:15px;}

div.support_scroll {height:540px;overflow:auto;width:100%;}
div.support_scroll p.title {margin-bottom:5px}
.popup_support01 {padding:10px;background:#eee;border-top:1px solid #2f98ae;border-bottom:1px solid #dbdbdb;font-weight:bold;clear:both}
.popup_support02 {padding:0 10px;;margin-top:10px}
.popup_support02 li {float:left;*float:left;width:80px;padding-bottom:5px;}
.popup_support02 li a {color:#777}
.popup_support02 li.final {margin-bottom:40px}

div.table_rpt {position:absolute;top:80px;left:0;right:0;bottom:0;;border:1px solid #dae1e6}
div.table_rpt2 {position:absolute;top:52px;left:0;right:0;bottom:0;;border:1px solid #dae1e6}
div.common_iframe_rpt {position:absolute;top:40px;left:0;right:0;bottom:0;;border:1px solid #dae1e6}

/*20140314 +add*/
table.table_mail td {border:none;background:#FFF;}

/* 에러페이지 */
.error-page{display: flex;width: 680px;padding: 72px 0px 0px 28px;}
.error-page .text-wrap{margin-left: 84px;}
.error-page .title{font-size: 14px;font-weight: bold;line-height: 1.43;text-align: left;color: #363c43;}
.error-page .title>strong{margin-right: 8px;font-family: Lato;font-size: 24px;font-weight: 900;line-height: 1.21;text-align: left;color: #363c43;}
.error-page .desc{margin-top: 18px;font-size: 13px;font-weight: 500;line-height: 1.46;text-align: left;color: #777e87;}
.error-page .btn-wrap{margin-top: 26px;}
.error-page .btn-wrap .btn+.btn{margin-left: 12px;}