/* html,body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre {font-family:dotum,돋움,arial;}
body, input, textarea, select, button, a {;font-family:dotum,돋움,arial}
table, caption, th, td,
form, fieldset, legend {font-family:dotum,돋움,arial}
.ibsheet td {font-family:dotum,돋움,arial}
.GMEditText {font-family:dotum,돋움,arial}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {font-family:dotum,돋움,arial;} */

a.basic {padding: 4px 12px 3px 11px;padding/*\**/:5px 9px 4px 8px\9}
:root a.basic {padding: 5px 11px 2px 10px \0/IE9}

a.button,a.aqua,a.green,a.blue,a.pink {padding: 4px 10px 5px 11px;padding:6px 11px 5px 10px\9;}
:root a.button,:root a.aqua,:root a.green,:root a.blue,:root a.pink {padding: 6px 10px 3px 11px \0/IE9}

.large {padding: 9px 18px 8px 18px !important;padding:10px 18px 9px 18px\9 !important}
a.basic.large {padding: 8px 18px 7px 18px !important;padding:9px 18px 8px 18px\9 !important;}
:root a.basic.large {padding: 8px 18px 7px 18px \0/IE9 !important}

a.button5 {line-height: normal;padding: 4px 8px 2px 8px;padding:5px 8px 3px 8px\9;}
:root a.button5 {padding: 4px 8px 2px 8px \0/IE9}
a.button6 {padding: 4px 3px 0px 4px;padding:4px 3px 1px 4px\9;}

div.top_search div {padding:6px 0 6px 5px}
*:first-child+html div.top_search div {padding:2px 4px 2px 5px}