@charset 'utf-8';

#lnb { background: #0072bc; }
#lnb .onedepth_group { background: #0072bc; }
#lnb .onedepth_group .inner li:hover a { background: url("../images/menu_icon_on.png") left top no-repeat; color: #0072bc; }
#lnb .onedepth_group .inner li.lnb_selected:not(.lnb_worklst):not(.lnb_bbs) a { background: url("../images/menu_icon_on.png") left top no-repeat; color: #0072bc; }
#lnb .onedepth_group .btn_menu { background-color: #004d7f; }
#lnb .onedepth_group .btn_menu li:first-child { background: url("../images/menu_line.gif") right 5px no-repeat; }
#lnb .onedepth_group .lnb_bott_menu { background: #0072bc url("../../images/main/menu_line2.png") center top no-repeat; }
#lnb .onedepth_group .lnb_bott_menu a { color: #69b8ec;  }
#lnb .onedepth_group .btn_menu a { color: #1984c0; }
#lnb .twodepth_group .lnb_title>span { display:inline-block; height:30px; width:30px; margin-left: 10px; background: url("../images/menu_icon_on.png") no-repeat; color: #0072bc; }
#lnb .twodepth_group .twodepth li>a.menu2_on { background:url(../../images/sub/icon_menu_up.png) 135px 9px no-repeat; color:#0072bc; font-weight:bold; }
#lnb .twodepth_group .twodepth li dl dt>a.menu3_on:after { color:#0072bc; margin-left:5px; }
#lnb .twodepth_group .twodepth li dl dd>a.menu4_on { color:#0072bc; font-weight:bold; }
#lnb .twodepth_group .twodepth li dl dd>a.menu4_on:after { color:#0072bc; }

.profile_section { background: #FFF url("../images/profile_top_bg.png") left top no-repeat; }
.profile_section .btn_pw_modify:hover { background-image: url("../images/icon_pw_on.png"); color: #0072bc; }
.profile_section .profile_menu li .profile_menu_box .blt_count { background-color: #0072bc; }
.profile_section .profile_menu li .profile_menu_box .blt_pay_on { background-color: #0072bc; }
.profile_section .profile_menu li .profile_menu_box .appli_lst { background: url("../images/icon_appli.png") left top no-repeat; }
.profile_section .profile_menu li .profile_menu_box .appro_lst { background: url("../images/icon_appro.png") left top no-repeat; }
.profile_section .profile_menu li .profile_menu_box .pay_month { color: #0072bc; }
.profile_section .profile_menu li a:hover .profile_menu_box  { border: 1px solid #0072bc; }
.profile_section .profile_menu li a:hover .profile_menu_name  { color: #0072bc; }

.calendar_section .date_prev:hover { border: 1px solid #0072bc; background-image: url("../images/btn_prev_on.png"); }
.calendar_section .date_next:hover { border: 1px solid #0072bc; background-image: url("../images/btn_next_on.png"); }
.calendar_section table.calendar_box>tbody td span { color: #0072bc; }
.calendar_section table.calendar_box>tbody td.calendar_on { background: url("../images/calendar_on.png") 50% top no-repeat; }

.schedule_section ul li.schedule_date strong { color: #0072bc; }
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color:#0072bc; }
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #0072bc; }

.on_box { background-color: #f4f9fb; }
.main_section_title h3 { color: #0072bc; }
.point_menu { color: #0072bc; }
.main_menu_on .title_group .title_icon { background-color: #0072bc; }
.main_menu_on .title_group h4 { color: #0072bc; }
.main_menu_on .title_group h4 a { color: #0072bc; }
.main_menu_on .meun_lst li a:hover { color: #0072bc; }

.graph_group li .graph_txt strong { color: #0072bc; }
.graph_group li p.graph_bg .graph_on { background-color: #0072bc; }

.hr_group .hr_th li { color: #0072bc; }

.pop_authority .pop_level_lst a:hover { color: #0072bc; background-image: url("../images/txt_blt_theme.gif"); }
.pop_theme .pop_theme_font input[type="checkbox"]:checked + label { background:url("../images/check_on.png") left top no-repeat; }
.pop_theme .pop_main input[type="checkbox"]:checked + label { background:url("../images/check_on.png") left top no-repeat; }
.pop_btn:hover { color: #0072bc; border: 1px solid #0072bc; }
.pop_btn_point { background-color: #0072bc; border: 1px solid #0072bc; }
.pop_btn_point:hover { color: #0072bc; border: 1px solid #0072bc; }

/* ------------ common.css --------------- */
a:hover {color:#0072bc}

input.required { border:1px solid #0072bc; position:relative; z-index:2;}
select.required { border:1px solid #0072bc; }
textarea.required { border:1px solid #0072bc; }
.f_point { color:#0072bc; }

/* btn */
.btn_point { position:relative; border:1px solid #e0e2e5; font-size:11px; line-height:11px; font-weight:bold; color:#0072bc; padding:4px 12px; cursor:pointer; }
.btn_pointB { position:relative; border:1px solid #e0e2e5; font-size:12px; line-height:12px; font-weight:bold; color:#0072bc; padding:3px 15px 6px; }
.btn_print:before { font-family:"Font Awesome 5 Free"; content:"\f02f"; font-size:13px; position:absolute; left:13px; top:5px; color:#0072bc; }
.btn_pointB { position:relative; border:1px solid #e0e2e5; font-size:12px; line-height:12px; font-weight:bold; color:#0072bc; padding:3px 15px 6px; }

/* popup */
.popup_title ul { overflow:hidden; display: flex; align-items: center; height:42px; padding: 0 12px;}
.popup_title ul li{font-size: 13px; font-weight: bold; color: #ffffff;}
.pop_con .pop_line { display:inline-block; background-color:#0072bc; height:2px; width:60px; }
.pop_con .pop_table01 td>input:hover { border:1px solid #0072bc; }
.popup_main .layout_group li a.layout01_on { border:1px solid #0072bc; background:url(../images/layout1_on.png) 10px 10px no-repeat; }
.popup_main .layout_group li a.layout02_on { border:1px solid #0072bc; background:url(../images/layout2_on.png) 10px 10px no-repeat; }
.pop_con .widget_order .widget_order_title { color:#0072bc; font-weight:bold; }
.pop_con .lock_sett_txt { color:#0072bc; line-height:24px; }
.pop_con .lock_form>input { width:90%; border:1px solid #0072bc; border-radius:5px; color:#3f4145; padding:0 10px; height:40px; line-height:40px;  }
.pop_con .lock_form .btn_lock_login { position:absolute; right:0; top:0; height:42px; border-radius:0 5px 5px 0; background-color:#0072bc; padding:0 15px; line-height:42px; color:#FFF; font-weight:bold; font-size:12px; cursor:pointer; }
.popup_main .pop_line { display:inline-block; background-color:#0072bc; height:2px; width:60px; }
.popup_widget .popup_main .widget_order .widget_order_title { color:#0072bc; font-weight:bold; }
.pop_group .pop_con .lock_sett_txt { color:#0072bc; line-height:24px; }
.pop_group .pop_con .lock_form>input { width:90%; border:1px solid #0072bc; border-radius:5px; color:#3f4145; padding:0 10px; height:40px; line-height:40px;  }
.pop_group .pop_con .lock_form  .btn_lock_login { position:absolute; right:0; top:0; height:42px; border-radius:0 5px 5px 0; background-color:#0072bc; padding:0 15px; line-height:42px; color:#FFF; font-weight:bold; font-size:12px; }
.pop_con .sbHolder a:hover { color:#0072bc; }
.pop_con .sbHolder:hover { border:1px solid #0072bc; }
.pop_con .sbOptions { position:absolute; top:0; left:-1px; width:100%; margin-top:2px; height:auto; max-height:250px; padding:5px 0; line-height:14px; background-color:#f6f9fa; border:1px solid #0072bc; z-index:1; overflow-y:auto; overflow-x:hidden; }
.pop_con .sbOptions:hover { border:1px solid #0072bc; }
.popup_main .sbHolder a:hover { color:#0072bc; }
.popup_main .sbHolder:hover { border:1px solid #0072bc; }
.popup_main .sbOptions { position:absolute; top:0; left:-1px; width:100%; margin-top:2px; height:auto; max-height:250px; padding:5px 0; line-height:14px; background-color:#f6f9fa; border:1px solid #0072bc; z-index:1; overflow-y:auto; overflow-x:hidden; }
.popup_main .sbOptions:hover { border:1px solid #0072bc; }
.popup_main .pop_table01 td>input:hover { border:1px solid #0072bc; }
.pop_con .widget_group li a.widget_fixed { display:inline-block; float:right; background:url(../images/widget_fixed.png) left top no-repeat; width:43px; height:19px; text-indent:-9999px; margin:9px 9px 0 0; }
.pop_con .widget_group li a.widget_on { display:inline-block; float:right; background:url(../images/widget_on.png) left top no-repeat; width:43px; height:19px; text-indent:-9999px; margin:9px 9px 0 0; }
.pop_closeB:before { font-family:"Font Awesome 5 Free"; content:"\f00d"; font-size:18px; position:absolute; right:18px; top:18px; color:#0072bc; }

/* common tab  */
.ui-tabs:not(.sub_top) .ui-tabs-nav li a { display:inline-block; margin-left:-1px; border-bottom:1px solid #0072bc; border-left:1px solid #e0e2e5; border-right:1px solid #e0e2e5; border-top:1px solid #e0e2e5; background-color:#f5fafd; color:#6d90a5; font-size:12px; padding:0 20px; height:28px; line-height:28px; font-weight:bold; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li.ui-state-active a { background-color:#FFF; margin:0 1px 0 0; border-bottom:1px solid #FFF; border-left:1px solid #0072bc; border-right:1px solid #0072bc; border-top:1px solid #0072bc; color:#0072bc; font-weight:bold; }

/* selectbox */
.sbHolder:hover { background:url("../images/blt_select_on.png") right 11px no-repeat; }
.sbHolder a:hover { color:#3f4145; }
.sbHolder:hover { border:1px solid #3f4145; }
.sbOptions:hover { border:1px solid #3f4145; }


/* ------------ main.css --------------- */
/* 신규입사자,인사담당자 */
.box_400>.anchor_of_widget>.newcomer_group .newcomer_txt { margin-top:21px; color:#008fd5; font-size:14px; text-align:center; line-height:14px; }
.box_100>.anchor_of_widget>.newcomer_group .newcomer_txt { float:left; color:#008fd5; margin:10px 10px 0; width:185px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.header_group li span.header_type { display:inline-block; color:#008fd5; font-size:12px; line-height:13px; width:110px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  }
.header_group li span.header_name { display:inline-block; color:#008fd5; font-size:22px; line-height:28px; font-weight:500; font-weight:bold; font-weight:bold; letter-spacing:-2px; width:90px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.header_btn_group span.on { display:inline-block; margin:0 1px; width:12px; height:12px; background-color:#008fd5; border:1px solid #008fd5; border-radius:12px; text-indent:-9999px; }

/* 휴가신청,교육현황 */
.graph_circle_txt span.graph_circle_type { color:#008fd5; font-size:25px; font-weight:400; font-weight:bold; font-weight:bold; line-height:32px; }

/* 오늘의 일정 */
.box_100>.anchor_of_widget>.schedule_group .schedule_txt span.schedule_day { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; margin-right:5px; line-height:28px; }
.box_250>.anchor_of_widget>.schedule_group .schedule_txt span.schedule_day { display:inline-block; color:#008fd5; font-weight:400; margin-right:3px; line-height:22px; }
.box_400>.anchor_of_widget>.calendar_table>tbody>tr>td span { position:absolute; left:50%; top:3px; background-color:#008fd5; border-radius:4px; width:4px; height:4px; display:inline-block; margin-left:-2px; }
.box_400>.anchor_of_widget>.calendar_table>tbody>tr>td.blt_calendar_on { background:url("../images/calendar_on.png") 2px 3px no-repeat; color:#FFF; }

/* 급여지급현황 */
.box_100>.anchor_of_widget>.pay_txt span.pay_complete { display:inline-block; text-align:right; color:#008fd5; font-weight:400; padding:0 20px 0 0; background:url(../images/icon_pay.png) right 2px no-repeat; line-height:22px; }
.box_250>.anchor_of_widget>.pay_txt li.pay_complete { width:50px; text-align:right; color:#008fd5; font-weight:400; padding:0 20px 0 0; background:url(../images/icon_pay.png) right 4px no-repeat; }
.box_400>.anchor_of_widget>.pay_txt li.pay_complete { width:50px; text-align:right; color:#008fd5; font-weight:400; padding:0 20px 0 0; background:url(../images/icon_pay.png) right 4px no-repeat; }

/* 이달의 기념일 */
.box_100>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_type { display:inline-block; float:left; color:#008fd5; font-weight:400; margin-left:8px; }
.box_250>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_type { display:inline-block; color:#008fd5; font-weight:400; margin-left:8px; }
.box_250>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_date { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; float:left; margin-left:8px; }
.box_400>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_type { display:inline-block; color:#008fd5; font-weight:400; margin-left:8px; }
.box_400>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_date { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; float:left; margin-left:8px; }


/* 교육이수현황 */
.box_100>.anchor_of_widget>.edu_group .edu_txt li span.edu_date { display:inline-block; color:#008fd5; font-weight:400; margin-left:8px; }
.box_250>.anchor_of_widget>.edu_group .edu_txt li span.edu_date { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; float:left; margin-left:8px; }
.box_400>.anchor_of_widget>.edu_group .edu_txt li span.edu_date { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; float:left; margin-left:8px; }

/* 오늘의 휴가자 */
.box_100>.anchor_of_widget>.today_holiday .cont_txt li span.name { display:inline-block; color:#008fd5; font-weight:400; margin-left:8px; }
.box_250>.anchor_of_widget>.today_holiday .cont_txt li span.name { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; float:left; margin-left:8px; }
.box_400>.anchor_of_widget>.today_holiday .cont_txt li span.name { display:inline-block; color:#008fd5; font-weight:500; font-weight:bold; font-weight:bold; float:left; margin-left:8px; }

/* 신청한 내역,결재할 내역, 갱신사항안내 */
.box_100 .lst_number { display:inline-block; width:auto; font-size:16px; font-weight:500; font-weight:bold; font-weight:bold; margin-top:0; line-height:16px; text-align:left; color:#008fd5; }
span.lst_date { display:inline-block; float:left; background:url(../../images/main/blt_circle_gray.png) left 9px no-repeat; color:#008fd5; font-weight:400; padding-left:10px; }

/* 설문조사 */
.box_100>.anchor_of_widget>.survey_txt>li>p.survey_date { width:130px; color:#008fd5; background-image:none; }

/* 프로필 */
.profile_btn_group { position:relative; background-color:#008fd5; height:44px; border-radius:0 0 27px 27px; }

/* 공지사항 */
.box_250>.anchor_of_widget>.notice_group li span.lst_new { display:inline-block; border:1px solid #008fd5; width:5px; height:5px; padding:4px; background:url(../../images/main/blt_new.png) 4px 4px no-repeat; margin-left:4px; border-radius:3px; vertical-align:middle; }
.box_400>.anchor_of_widget>.notice_group li span.lst_new { display:inline-block; border:1px solid #008fd5; width:5px; height:5px; padding:4px; background:url(../../images/main/blt_new.png) 4px 4px no-repeat; margin-left:4px; border-radius:3px; vertical-align:middle; }
.box_100>.anchor_of_widget>.notice_group li span.lst_new { display:inline-block; border:1px solid #008fd5; width:5px; height:5px; padding:4px; background:url(../../images/main/blt_new.png) 4px 4px no-repeat; margin-left:4px; border-radius:3px; vertical-align:middle; }

/* selectbox */
.main_wrap .main_content .sbHolder a:hover { color:#008fd5; }
.main_wrap .main_content .sbHolder:hover { border:1px solid #008fd5 !important; }
.main_wrap .main_content .sbOptions { position:absolute; top:0; left:-1px; width:100%; margin-top:2px; border-radius:8px; height:auto; max-height:250px !important; padding:5px 0; line-height:14px; background-color:#fff; border:1px solid #008fd5; z-index:1; overflow-y:auto; overflow-x:hidden; }
.main_wrap .main_content .sbOptions:hover { border:1px solid #008fd5 !important; }

/* popup */
.authority_sett_pop .authority_sett_txt li a.on { color:#008fd5; background:url(../../images/main/blt_circle_blue.png) left 6px no-repeat; }

/* quick */
.quick_menu .quick_menu01 { width:30px; height:30px; background-color:#008fd5; border-radius:10px; background-position:9px 8px; text-indent:-9999px; font-size:0; }
.quick_menu .quick_menu02 { width:30px; height:30px; background-color:#99dee6; border-radius:10px; background-position:9px -26px; text-indent:-9999px; font-size:0; }


/* ------------ sub.css --------------- */
/* 상단 탭/레이아웃 버튼 */
.sub_top .tab_group2 { position:fixed; float:left; display:inline-block; background-color:#82bce2; overflow:hidden; height:40px; max-height:40px; }
.sub_top .tab_group li.ui-tabs-active { background-color:#0072bc; background-image:none; }
.sub_top .tab_group li { float:left; position:relative; line-height:40px; background:url(../images/tab_line.png) right top repeat-y; color:#FFF; font-size:12px; font-weight:bold; cursor:pointer; } /* padding:0 37px 0 20px; */
.sub_top .btn_sub_tab li { float:left; background:url(../images/tab_line.png) left top repeat-y; background-color:#82bce2; }

/* table */
table.default td input:hover, table.default td input:focus,
table.table td input:hover, table.table td input:focus,
table.default td select:hover, table.default td select:focus,
table.table td select:hover, table.table td select:focus,
table.default td textarea:hover, table.default td textarea:focus,
table.table td textarea:hover, table.table td textarea:focus { border:1px solid #0072bc; color:#0072bc; /*position: relative;*/}
table.base td input:hover, input:focus { border:1px solid #0072bc; color:#0072bc; /*position: relative;*/ }
table.base th { background-color:#f5fafd; color:#40484d; font-weight:bold; padding:5px 0 5px 15px; line-height:12px; font-size:11px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }
table.default th,
table.table th { background-color:#f5fafd; color:#40484d; font-weight:bold; padding:5px 0 5px 15px; line-height:12px; font-size:11px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }
table th { background-color:#f5fafd; color:#40484d; font-weight:bold; padding:5px 0 5px 15px; line-height:12px; font-size:11px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }

/* 2002.05.29 추가 */
table.settle th, table.settle td {color:#40484d; }

/* 2020.05.27 */
table.settle th, table.table th, table.default th, .btn_baseB, .btn_pointB, .popup_password table th {
	line-height:21px;
} 


/* content tab */
.con_tab_group .con_tab li a { display:inline-block; margin-left:-1px; border-bottom:1px solid #0072bc; border-left:1px solid #e0e2e5; border-right:1px solid #e0e2e5; border-top:1px solid #e0e2e5; background-color:#f5fafd; color:#838588; font-size:12px; padding:0 20px; height:28px; line-height:28px; font-weight:bold; }
.con_tab_group .con_tab li a.con_tab_on { background-color:#FFF; margin:0 1px 0 0; border-bottom:1px solid #FFF; border-left:1px solid #0072bc; border-right:1px solid #0072bc; border-top:1px solid #0072bc; color:#0072bc; font-weight:bold; }
.con_tab_group .con_tab li.ui-state-active a { background-color:#FFF; margin:0 1px 0 0; border-bottom:1px solid #FFF; border-left:1px solid #0072bc; border-right:1px solid #0072bc; border-top:1px solid #0072bc; color:#0072bc; font-weight:bold; }

/* title */
.title_group h3.title:before { font-family:"Font Awesome 5 Free"; content:"\f192"; font-size:13px; line-height:18px; position:absolute; left:0; top:0; color:#0072bc; }
.sheet_title ul li.txt:before { font-family:"Font Awesome 5 Free"; content:"\f192"; font-size:13px; line-height:18px; position:absolute; left:0; top:0; color:#0072bc; }

/* 2020.07.03  */
.sheet_title select { padding:3px; vertical-align: middle;} 
.sheet_title span { vertical-align: middle;} 

/* search */
.sheet_search { border-top:2px solid #0072bc; border-left:1px solid #ebeef3; border-right:1px solid #ebeef3; border-bottom:1px solid #ebeef3; padding-left:130px; font-size:12px; min-height:48px; background:url(../images/title_search.png) 30px 50% no-repeat; vertical-align:middle; }
.sheet_search a.button { display:inline-block; vertical-align:middle; background-color:#0072bc; margin:0 1px; color:#FFF; font-size:12px; line-height:12px; font-weight:bold; border-radius:8px; padding:9px 20px 10px; letter-spacing:0; cursor:pointer; }

/* 1줄짜리 작은 조회바 2020.05.27  */
.sheet_search_s { padding-left:120px; min-height:50px; background-position:10px 50%; border-top:1px solid #ebeef3; margin-top:5px;}
.sheet_search_s table { min-height:50px!important; background-color:#ffffff;}
.sheet_search {padding-bottom:5px;padding-top:3px;}
.sheet_search_s  input[type="text"]{ z-index:0; } /* autocomplete 위로 text 박스가 뚫고 나와서 이렇게 수정함.*/
.sheet_search_s table, .sheet_search_o table {min-height:auto; margin:5px 0 5px;}

/* button */
.basic { border:1px solid #e0e2e5; font-size:11px; line-height:25px; font-weight:600; font-weight:bold; color:#3f4145; padding:3px 12px; cursor:pointer; vertical-align:middle; }
.sbasic { border:1px solid #e0e2e5; font-size:11px; line-height:20px; font-weight:600; font-weight:bold; color:#3f4145; padding:3px 5px; cursor:pointer; vertical-align:middle;background-color:#fff; }
a.button { background-color:#0072bc;  vertical-align:middle; }
a.sbutton { padding:3px 5px;}
/*a.sbutton {border:none;display: inline-block;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; font-weight: 600;color:#fff;font-size:11px;word-break:keep-all; padding: 3px 5px; }*/
a:hover.sbutton {color:#fff}
a.gray, a.pink, a.aqua, a.blue, a.green { vertical-align:middle; } /* 2020.07.13 */
/*a.green { display:inline-block; vertical-align:middle; border:1px solid #bcd92b; background-color:#bcd92b; color:#FFF; font-size:11px; padding:4px 12px; cursor:pointer; }*/

/* search_form */
/* selectbox */
.sheet_search .sbHolder a:hover { color:#0072bc; }
.sheet_search .sbHolder:hover { border:1px solid #0072bc; }
.sheet_search .sbOptions { position:absolute; top:0; left:-1px; width:100%; margin-top:2px; border-radius:8px; height:auto; max-height:250px; padding:5px 0; line-height:14px; background-color:#fff; border:1px solid #0072bc; z-index:1; overflow-y:auto; overflow-x:hidden; }
.sheet_search .sbOptions:hover { border:1px solid #0072bc; }
/* selectbox_new */
.sheet_search select:not(.readonly):hover { border:1px solid #0072bc; }
/*---- radio ----*/
.sheet_search input[type="radio"]  { display:inline-block; width:18px; height:18px; vertical-align:middle; cursor:pointer; appearance:none; -moz-appearance:none; -webkit-appearance:none; border-radius:0; border:0; margin:0; padding:0; background:url("../images/form_radio.png") 0 -40px no-repeat; }
.sheet_search input[type="radio"]:checked { display:inline-block; width:18px; height:18px; vertical-align:middle; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; border-radius:0;border:0; margin:0; padding:0; background:url("../images/form_radio.png") 0 0 no-repeat; }
/*---- checkbox ----*/
.sheet_search input[type="checkbox"]  { display:inline-block; width:18px; height:18px; vertical-align:middle; cursor:pointer; appearance:none; -moz-appearance:none; -webkit-appearance:none; border-radius:0; border:0; margin:0; padding:0; background:url("../images/form_check.png") 0 -40px no-repeat; }
.sheet_search input[type="checkbox"]:checked { display:inline-block; width:18px; height:18px; vertical-align:middle; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; border-radius:0;border:0; margin:0; padding:0; background:url("../images/form_check.png") 0 0 no-repeat; }
/*---- input ----*/
.sheet_search input[type="text"]:not(.readonly):hover { border:1px solid #0072bc; }

.sheet_search input[type="text"].required,
.sheet_search select.required { border:1px solid #0072bc; }


.ui-autocomplete .ui-state-focus {background: #e3f1fc;}

/**/

/* input.button, button.button {background: #45a3e6;} */

#calendarDetail #detailDate {background:#45a3e6}
#widgetButton {background:#f379b2 url(/common/theme3/images/btn_widget.gif) no-repeat 100% 0;}

#wrap.min {width:980px}
#wrap.min .layout_tab {;width:665px}
#wrap.min iframe.tab_iframe {width:665px;border:none}

#wrap.min td.menu_close div.layout_tab {width:855px}
#wrap.min td.menu_close iframe.tab_iframe {width:855px}

#wrap .layout_table {width:100%;height:100%;}

#div.others_menu_wrap a:hover {color:#333;background-position: 0 -40px;background-color:#fff;}
#div.others_menu_wrap a.on {color:#333;background-position: 0 -40px;background-color:#fff;}

.layout_header {height:54px;text-align:right;padding-right:10px;background:url(/common/images/common/bg_top.gif) repeat-x 0 100%}

#langeWidgetMain {position:absolute;z-index:8;;margin:15px 0 0 -18px;display:none}
#langeWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:160px;}
#langeWidgetMain div.title {font-weight:bold;text-align:center;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#langeWidgetMain ul {float:none;padding:0;margin:1px 0 -1px 0;}
#langeWidgetMain ul li {float:none;vertical-align:middle;font-size:11px;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;padding:0 0 0 10px;cursor:pointer;line-height:21px;}
#langeWidgetMain ul li.on {color:#ef519c;}
#langeWidgetMain ul li:hover {color:#ef519c}
#langeWidgetMain p {font-size:11px;color:#999;margin:7px 0 0 11px;letter-spacing:-1px;line-height:17px;}
#langeWidgetMain .button {margin:19px 0 19px;text-align:center}

#devWidgetMain {position:absolute;z-index:8;;margin:15px 0 0 -18px;display:none}
#devWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:160px;}
#devWidgetMain div.title {font-weight:bold;text-align:center;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#devWidgetMain ul {float:none;padding:0;margin:1px 0 -1px 0;}
#devWidgetMain ul li {float:none;vertical-align:middle;font-size:11px;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;padding:0 0 0 10px;cursor:pointer;line-height:21px;}
#devWidgetMain ul li.on {color:#ef519c;}
#devWidgetMain ul li:hover {color:#ef519c}
#devWidgetMain p {font-size:11px;color:#999;margin:7px 0 0 11px;letter-spacing:-1px;line-height:17px;}
#devWidgetMain .button {margin:19px 0 19px;text-align:center}

#companyWidgetMain {position:absolute;z-index:8;;margin:15px 0 0 -18px;display:none}
#companyWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:160px;}
#companyWidgetMain div.title {font-weight:bold;text-align:center;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#companyWidgetMain ul {float:none;padding:0;margin:1px 0 -1px 0;}
#companyWidgetMain ul li {float:none;vertical-align:middle;font-size:11px;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;padding:0 0 0 10px;cursor:pointer;line-height:21px;}
#companyWidgetMain ul li.on {color:#ef519c;}
#companyWidgetMain ul li:hover {color:#ef519c}
#companyWidgetMain p {font-size:11px;color:#999;margin:7px 0 0 11px;letter-spacing:-1px;line-height:17px;}
#companyWidgetMain .button {margin:19px 0 19px;text-align:center}

.layout_tab {position:absolute;width:925px;top:114px;bottom:10px}
iframe.tab_iframe {width:925px;height: 100%;position: absolute;border:none;overflow-x:hidden;}
.insa_tab {position:absolute;width:100%;top:114px;bottom:0}
.core_tab {position:absolute;width:100%;top:170px;bottom:0}
.pay_tab {position:absolute;width:100%;top:225px;bottom:0}

#subMain {position:relative;min-height:100%;background-repeat: no-repeat;background-position:100% 100%}
#subMain.bg0 {background-image:url(/common/images/contents/bg_sub01.jpg)}
#subMain.bg1 {background-image:url(/common/images/contents/bg_sub02.jpg)}
#subMain.bg2 {background-image:url(/common/images/contents/bg_sub03.jpg)}
#subMain.bg3 {background-image:url(/common/images/contents/bg_sub04.jpg)}
#subMain.bg4 {background-image:url(/common/images/contents/bg_sub05.jpg)}
#subMain.bg5 {background-image:url(/common/images/contents/bg_sub06.jpg)}
#subMain.bg6 {background-image:url(/common/images/contents/bg_sub07.jpg)}
#subMain.bg7 {background-image:url(/common/images/contents/bg_sub08.jpg)}
#subMain.bg8 {background-image:url(/common/images/contents/bg_sub09.jpg)}
#subMain.bg9 {background-image:url(/common/images/contents/bg_sub10.jpg)}

#subMain div.txt {position:relative;padding:50px 0 73px 44px;color:#8d9da6;font-size:12px;font-weight:bold;line-height:36px;;}
#subMain div.btn {position:absolute;bottom:0;margin:0 0 73px 44px;}
#subMain div.btn li {float:left;width:10px;height:10px;line-height:10px;margin:0 9px 0 0;padding:0;background:url(/common/images/common/btn_sub_off.png) no-repeat;cursor:pointer}
#subMain div.btn li.on {background-image:url(/common/images/common/btn_sub_on.png)}
div.sheet_main {width:100%;height:400px;;clear:both;}
div.sheet_body {height:100%;}
div.sheet_button {position:relative; display:flex; justify-content:center;}
div.sheet_button div.arrow_button {position:absolute;width:60px;top:50%;left:-60px;text-align:center}
div.sheet_button2 {position:relative}
div.sheet_button2 div.arrow_button {position:absolute;width:60px;top:50%;left:-67px;text-align:center}

table.sheet_main {width:100%;table-layout:fixed;}
table.sheet_main td.top {vertical-align:top;}
table.sheet_main td.sheet_top {vertical-align:top;;padding-bottom:5px}
table.sheet_main td.sheet_bottom {vertical-align:top;;padding-top:5px}
table.sheet_main td.sheet_left {vertical-align:top;;padding-right:8px}
table.sheet_main td.sheet_right {vertical-align:top;;padding-left:8px}
table.sheet_main td.sheet_arrow {width:60px;text-align:center;}

table.explain_main {width:100%;height:100%;}
table.explain_main  td.top {vertical-align:top;}
table.explain_main  td.bottom {vertical-align:bottom}

div.explain {background:#f2f2f2;padding:14px 16px 20px;}
div.explain.position_top {margin-top:0;}
div.explain div.title {margin-bottom: 9px; font-size: 13px; font-weight: bold; line-height: 1.54; letter-spacing: -0.39px; color: #323232;}
div.explain div.txt {font-size: 13px; font-weight: 400; line-height: 1.54; letter-spacing: -0.39px; color: #555;}
div.explain div.txt li {font-size: 13px; font-weight: 400; line-height: 1.54; letter-spacing: -0.39px; color: #555;}
div.explain div.txt .gap {padding-bottom:20px}
div.explain div.txt .sub1 {padding-left:68px}
div.explain div.txt .sub2 {padding-left:81px}
div.explain div.txt .scroll {height:120px;border:1px solid #e3e3e3; border-radius: 8px;background:#fff;overflow:auto}
div.explain table{background-color:rgba(255,255,255,0);}

td.menu_close div.layout_tab {width:1115px;}
td.menu_close iframe.tab_iframe {width: 1115px;}

.layout_tabs {position:absolute;width:100%;;top:43px;bottom:0;}
.popup_tabs {position:absolute;left:20px;right:20px;top:100px;bottom:80px;}
iframe.tab_iframes {width: 100%;height: 100%;position: absolute;border:none;overflow-x:hidden;}
.insa_tabs {position:absolute;width:100%;;top:43px;bottom:0;}
.author_iframe {width:100%;}


/* .ui-datepicker-trigger {padding-left:4px;vertical-align:middle;margin-bottom:2px;cursor:pointer;} */

.hasDatepicker .ui-widget select {height:21px;}
*:first-child+html .hasDatepicker .ui-widget select {margin-top:2px;}
.ui-icon {display: block;text-indent: -99999px;overflow: hidden;background-repeat: no-repeat;}
.ui-widget-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:99;}
.ui-datepicker {width: 268px;padding: 0;display: none;position:relative;border:1px solid #b8c6cc;}
.ui-datepicker .ui-widget-header {padding:0;margin:0 0 0 0;font-weight: bold;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position: absolute;top: 14px;width: 10px;height: 17px;}
.ui-datepicker .ui-datepicker-prev {background:url(/common/images/common/btn_calendar_prev.gif) no-repeat}
.ui-datepicker .ui-datepicker-next {background:url(/common/images/common/btn_calendar_next.gif) no-repeat}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {}
.ui-datepicker .ui-datepicker-prev {left: 80px;}
.ui-datepicker .ui-datepicker-next {left: 165px;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {display: block;position: absolute;left: 50%;margin-left: -8px;top: 50%;margin-top: -8px;}
.ui-datepicker table {border-collapse: collapse;margin: 12px 0 23px 15px;}
.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;display:none;}
.ui-datepicker td {border: 0;padding: 1px 5px 2px;}
.ui-datepicker td span,
.ui-datepicker td a {display: block;padding: 0;text-align: right;text-decoration: none;}
.ui-datepicker .ui-datepicker-buttonpane button {float: right;cursor: pointer;width: auto;overflow: visible;}
.ui-datepicker .ui-datepicker-buttonpane {background-image: none;margin: 0;padding: 0;height:0px;border:none;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {font-size:11px;width:40px;height:21px;line-height:18px;position:absolute;top:12px;left:197px;background:#b8c6cc;color:#fff;font-weight:normal;	font-family:dotum;}

.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {width:22px;height:22px;position:absolute;top:12px;left:242px;background:url(/common/images/common/img_footer_close.gif) no-repeat 50% 50%;text-indent: -99999px;overflow: hidden;}

.ui-datepicker.ui-datepicker-multi {width: auto;}
.ui-datepicker-multi .ui-datepicker-group {float: left;}
.ui-datepicker-multi .ui-datepicker-group table {width: 95%;margin: 0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group {width: 50%;}
.ui-datepicker-multi-3 .ui-datepicker-group {width: 33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group {width: 25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width: 0;}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear: left;}
.ui-datepicker-row-break {clear: both;width: 100%;font-size: 0;}
.ui-datepicker .ui-datepicker-header {position: relative;margin:0 13px 0 9px;padding:12px 0 10px 0;background:url(/common/images/common/bg_dot_01.gif) repeat-x 0 100%;}
.ui-datepicker select.ui-datepicker-month {width:56px;}
.ui-datepicker select.ui-datepicker-year {width:66px;margin:0 29px 0 5px;}

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {border: none;font-family:Verdana;text-align:center;width:24px;height:24px;line-height:24px;font-weight:bold;color:#8d9ba6;}

.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-widget-content .ui-state-highlight,
.ui-datepicker .ui-widget-header .ui-state-highlight {background: #b8c6cc;color: #fff/*{fcHighlight}*/;}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {opacity: .35;filter:Alpha(Opacity=35);background-image: none;}
.ui-datepicker-current-day a {color:#8d9ba6;background:#fad5e6}
.new_sun span {color:#ef519c}
.new_sat span {color:#45a3e6}
.new_hol span, .new_hol a {color:#ef519c}
.new_hol div {display:none}


.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #aaaaaa;
	opacity: .3/*{opacityOverlay}*/;
	filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/;
}
.ui-front {
	z-index: 100;
}

#menuScrollArea {max-height: inherit;overflow: hidden;position: relative; outline:none;}

.tabstyle1 {position:absolute;width:100%;top:65px;bottom:0}

.innertab {height:calc(100vh - 140px);padding-top:0;}
.innertab .tab {position:relative;}

#menu_logo {width:58px;height:55px;border:1px solid #b8c6cc;margin-bottom:20px;}
#menu_logo div {width:41px;height:31px;background:url(/common/images/common/bg_left_sub.gif) no-repeat 0 31px;margin:12px auto 0}
#menu_logo div.pos01 {background-position:0 -93px}
#menu_logo div.pos02 {background-position:0 -31px}
#menu_logo div.pos03 {background-position:0 -62px}
#menu_logo div.pos04 {background-position:0 31px}
#menu_logo div.pos05 {background-position:0 -124px}
#menu_logo div.pos06 {background-position:0 -155px}
#menu_logo div.pos07 {background-position:0 -186px}
#menu_logo div.pos08 {background-position:0 -217px}
#menu_logo div.pos09 {background-position:0 -248px}
#menu_logo div.pos10 {background-position:0 -279px}
#menu_logo div.pos11 {background-position:0 -341px}
#menu_logo div.pos12 {background-position:0 -310px}
#menu_logo div.pos13 {background-position:0 -124px} /*info*/
#menu_logo div.pos20 {background-position:0 -372px} /*board*/
#menu_logo div.pos21 {background-position:0 -403px} /*workflow*/

#menu_logo div.pos99 {background-position:0 0}

.sheet_util {display:block;vertical-align:bottom;margin-top:10px}
.innerFrame {position:absolute;width:100%;top:50%;bottom:0}


/* 탭 하단 라인 2019.12.02 */
.ui-tabs-nav-line { border-bottom:1px solid #0072bc; display:none; }


/* [Start] employee header */
div#area_employee_header.header_table { width: 100%; height:140px; overflow-x:hidden; display: flex; justify-content: start; align-items: center; border-bottom: 1px #ebeef3 solid; border-top: 2px #0072bc solid; }
div#area_employee_header.header_table .primary_info { position: relative; min-width: 350px; height: 140px; background-color: #f5fafd; /*border-radius: 6px 0 0 6px;*/ display: flex; justify-content: start; align-items: center; }
div#area_employee_header.header_table .primary_info .cur_status_info { z-index: 2; position: absolute; left: 0px; top: 10px; display: inline-block; background-color: #008FD4; color: #fff; border-radius: 0 12px 12px 0; text-align: center; padding:3px 12px; }
div#area_employee_header.header_table .primary_info .cur_status_info.AA { background-color: #018FD5; } /* 재직 */
div#area_employee_header.header_table .primary_info .cur_status_info.CA { background-color: #FAB005; } /* 휴직 */
div#area_employee_header.header_table .primary_info .cur_status_info.EA { background-color: #ff0000; } /* 정직 */
div#area_employee_header.header_table .primary_info .cur_status_info.RA { background-color: #183153; } /* 퇴직 */
div#area_employee_header.header_table .primary_info .profile_box { position: relative; margin:auto 10px auto 40px; }
div#area_employee_header.header_table .primary_info .profile_box .profile_frame { width: 96px; height: 96px; position: relative; border:1px #ebeef3 solid; border-radius: 50%; overflow: hidden; }
div#area_employee_header.header_table .primary_info .profile_box .profile_frame img { position: absolute; top: 50%; left: 50%; width: 96px; transform: translate(-50%, -42%); }
div#area_employee_header.header_table .primary_info form#empForm { width: calc(100% - 116px); margin: auto 30px auto 5px; }
div#area_employee_header.header_table .primary_info ul { width: 100%; }
div#area_employee_header.header_table .primary_info ul li { display: flex; justify-content: start; align-items: center; height: 24px; padding-left: 12px; }
div#area_employee_header.header_table .primary_info ul li.emp_name { position: relative; justify-content: center; height: 25px; border-radius: 15px; background-color: #0072bc; font-size: 16px; color: #fff; font-weight: 600; margin-bottom: 5px; padding:2px 0; }
div#area_employee_header.header_table .primary_info ul li.emp_name #span_searchKeyword { width: 100%; text-align: center; }
div#area_employee_header.header_table .primary_info ul li.emp_name input[type='text'] { position: absolute; top: 0px; left: 0px; width: 100%; height: 29px; background-color: transparent; border: none; border-radius: 15px; font-size: 16px; color: #fff; font-weight: 600; text-align: center; ime-mode: active; caret-color: rgb(195 209 229 / 50%);}
div#area_employee_header.header_table .primary_info ul li.emp_name input[type='text']:focus { background: #fff; border: 2px #aaa solid; color: #40484d; font-weight: normal; }
div#area_employee_header.header_table .primary_info ul li.emp_name i { position: absolute; top: 7px; right: 10px; color: #fff; font-size: 16px; }
div#area_employee_header.header_table .primary_info ul li .title { width: 50px; color: #3f4145; margin-right: 8px; }
div#area_employee_header.header_table .primary_info ul li span { display: inline-block; width: calc(100% - 60px); color: #3f4145; margin-right: 8px; overflow: hidden; word-wrap: break-word; white-space: nowrap; text-overflow: ellipsis; }
div#area_employee_header.header_table .detail_info { width: calc(100% - 350px); max-height: 140px; background: #fff; border-radius: 0 6px 6px 0; }
div#area_employee_header.header_table .detail_info .item_list_box { /*display: flex; justify-content: start; align-items: start;*/ width: 100%; height: 126px; max-height: 126px; margin: 7px 15px 7px 0; overflow-x: hidden; overflow-y: auto;}
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar{width: 6px;}
/* Scrollbar width for Firefox */
@-moz-document url-prefix() {div#area_employee_header.header_table .detail_info .item_list_box{scrollbar-width: thin;}}
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar { width: 8px; height: 8px; background-color: #f0f0f0; }
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-thumb  { background-color: #cdcdcd; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list { float: left; min-width: 270px; width: 25%; background: url('../images/sub/dotline.png') right top repeat-y; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li { float: left; width: calc(100% - 20px); height: 20px; margin: 3px 10px 2px 10px; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dl { width: 100%; height: 20px; display: flex; justify-content: start; align-items: center; border-radius: 3px; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li:nth-child(2n) dl {  }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt { display: flex; align-items: center; width: 110px; height: 20px; font-weight: 600; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt:before { position: relative; left: 8px; font-family:"FontAwesome"; content:"\f192"; font-size:4px; -webkit-transform:scale(0.4); color:#40484d; margin-right: 16px; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dd { display: flex; align-items: center; width: calc(100% - 110px); height: 20px; padding: 0 8px; }
@media only screen and ( min-width: 1430px ){
	div#area_employee_header.header_table .detail_info .item_list_box ul.item_list:last-child { background: none; }
}
/* [End] employee header */