@charset "utf-8";

/* 상단 레이아웃 시작 */
body.org{background-color:#f9fcfe}
th{line-height:11px;}

table.orgTable{display:block;}
table.orgTable td.orgArray{text-align:left;}
div.orgWrap {height:100px;padding:10px 0 0 0;}
div.orgWrap .orgWrapWidth {width:1350px;margin-bottom:15px}
div.orgWrap table{white-space:nowrap;}
div.orgWrap th {vertical-align:top;}
div.topWrap ul {display:block;margin-left:150px;}
div.topWrap li {_display:inline;float:left;}

/* 사장실 시작*/
div.orgCeo {width:110px;height:30px;border:2px solid #e2e2e2;background-color:#fff;text-align:center;padding:6px 0 0 0;font-weight:bold;}
/* 사장실 종료*/  

/* 테이블 조직 시작*/
div.topWrap .orgPersonWrap {margin:10px 0 0 20px;}
.orgPersonWrap p {font-size:11px;color;#8b8d8e;font-weight:bold;padding-left:5px}
.orgPersonWrap table {border:1px solid #d9dcde;}
.orgPersonWrap table td {width:55px;height:21px;border:1px solid #d9dcde;text-align:center;font-size:11px;}
/* 테이블 조직 종료*/

/* 테이블 인원 시작*/
div.topWrap .orgPersonSumWrap {margin:10px 0 0 20px;}
.orgPersonSumWrap p {font-size:11px;color;#8b8d8e;font-weight:bold;padding-left:5px}
.orgPersonSumWrap table {border:1px solid #d9dcde;}
.orgPersonSumWrap table td {width:55px;height:21px;border:1px solid #d9dcde;text-align:center;font-size:11px;}
/* 테이블 인원 종료*/

/* 테이블 배경컬러 시작*/
.leafGreen{background-color:#cadb2a}
.aquaBlue{background-color:#99e1de}
.pink{background-color:#fdeaee}
.yellow{background-color:#eaf1aa}
.clayBrown{background-color:#f7f5f0}
.glay{background-color:#ebeef0}
.content{color:#8b8d8e;background-color:#ffffff}
/* 테이블 배경컬러 종료*/

/* 대표이사 직속 정보*/
div.topWrap .orgCheifWrap {margin:26px 0 0 30px;}
div.orgCheif {width:87px;height:20px;border:1px solid #d5e255;background-color:#eaf1aa;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgCheif table {width:100%;height:100%;; display:inline}
div.orgCheif th {color:#5a5b5c;font-size:11px;font-weight:normal;text-align:left;letter-spacing:-1px;vertical-align:middle}
div.orgCheif th span {width:70px;white-space:nowrap;}
div.orgCheif td {font-family: "Arial";color:#5a5b5c;font-size:11px;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 상단 레이아웃 종료 */

/* 조직도 센터 시작*/

/* 레벨1 시작*/
div.orgAllWrap{margin-bottom:20px;}
div.orgAllWrap table{display:inline}
div.orgLv1 {height:25px; background-color:#91caf3;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgLv1 table {width:100%;height:100%; background-color:#91caf3;}
div.orgLv1 th {color:#2c2a1a;text-align:center;letter-spacing:-1px;vertical-align:middle; white-space:nowrap;}
div.orgLv1 td {font-family: "Arial";color:#5a5b5c;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 레벨1 종료*/

/* 레벨2 시작*/
div.orgLv2 {height:23px; background-color:#bcd92b;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgLv2 table {width:100%;height:100%; background-color:#bcd92b;}
div.orgLv2 th {color:#2c2a1a;font-size:11px;text-align:center;letter-spacing:-1px;vertical-align:middle;white-space:nowrap;}
div.orgLv2 td {font-family: "Arial";color:#5a5b5c;font-size:11px;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 레벨2 종료*/

/* 레벨3 시작*/
div.orgLv3 {height:20px;border:1px solid #ffd199;background-color:#ffe8cc; text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgLv3 table {width:100%;height:100%; background-color:#ffe8cc;}
div.orgLv3 th {color:#2c2a1a;font-size:11px;font-weight:normal;text-align:center;letter-spacing:-1px;vertical-align:middle;white-space:nowrap;}
div.orgLv3 th span {width:70px;white-space:nowrap;}
div.orgLv3 td {font-family: "Arial";color:#5a5b5c;font-size:11px;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 레벨3 종료*/

/* 레벨4 시작*/
div.orgLv4 {height:20px;border:1px solid #d5e255;background-color:#eef3c2;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgLv4 table {width:100%;height:100%; background-color:#eef3c2;}
div.orgLv4 th {color:#5a5b5c;font-size:11px;font-weight:normal;text-align:left;letter-spacing:-1px;vertical-align:middle;white-space:nowrap;}
div.orgLv4 th span {width:70px;white-space:nowrap;}
div.orgLv4 td {font-family: "Arial";color:#5a5b5c;font-size:11px;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 레벨4 종료*/

/* 레벨5 시작*/
div.orgLv5 {height:20px;border:1px solid #fcd5de; background-color:#fdeaee;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgLv5 table {width:100%;height:100%; background-color:#fdeaee;}
div.orgLv5 th {color:#5a5b5c;font-size:11px;font-weight:normal;text-align:left;letter-spacing:-1px;vertical-align:middle;white-space:nowrap;}
div.orgLv5 th span {width:70px;white-space:nowrap;}
div.orgLv5 td {font-family: "Arial";color:#5a5b5c;font-size:11px;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 레벨5 종료*/

/* 레벨6 시작*/
div.orgLv6 {height:20px;border:1px solid #c8e5fa;background-color:#e9f3fa;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
div.orgLv6 table {width:100%;height:100%;background-color:#e9f3fa;}
div.orgLv6 th {color:#5a5b5c;font-size:11px;font-weight:normal;text-align:left;letter-spacing:-1px;vertical-align:middle;white-space:nowrap;}
div.orgLv6 th span {width:70px;white-space:nowrap;}
div.orgLv6 td {font-family: "Arial";color:#5a5b5c;font-size:11px;letter-spacing:-1px;text-align:right;white-space:nowrap;}
/* 레벨6 종료*/


/* Null 시작*/
div.orgNull {height:20px;border:0px solid #f9fcfe;background:transparent;margin:0 1px 3px 1px}
div.orgENull {height:20px;border:1px solid #f9fcfe;background:transparent;text-align:center;padding:0 1px 0 0;margin:0 1px 3px 1px}
/* Null 종료*/

/* 성명 시작*/
div.layerName{width:87px;height:30px;position:absolute;z-index:10;margin-top:6px;border:1px solid #adb5bb;background:#fff;text-align:left}
div.layerName table {width:100%;height:100%;}
div.layerName th {line-height:15px;width:100%;font-size:12px;color:#5a5b5c;font-weight:bold;text-align:center;letter-spacing:-1px;vertical-align:middle;background:transparent;}
div.layerName td {font-size:11px;color:#8b8d8e;letter-spacing:-1px;text-align:right;padding-right:3px;}
div.layerName .chinese {font-size:12px;color:#8b8d8e;text-align:right;}
div.layerName .layerNameEdge{position:absolute;top:0;left:50%;width:9px;height:6px;margin:-6px 0 0 -5px;background:url(/HTML/images/org/name_edge.gif) no-repeat 0 0;}
/* 성명 종료*/

.w05 {width:5px}
.w10 {width:10px}
.w15 {width:15px}
.w20 {width:20px}
.w25 {width:25px}
.vTop{vertical-align:top}

.center{text-align:center}
.right{text-align:right}

/********************************* People 시작 **************************************/
/* 상단 시작 */
body.people{background-color:#ffffff;}
table.peopleTable{width:100%}
table.peopleTable td.peopleArray{text-align:center}
div.peopleAllWrap{width:960px;height:125px;}
div.peopleWrap {height:50px;border-bottom:3px solid #cadb2a;background-color:#f9fcfe;}
div.peopleWrap table{width:100%;height:100%;}
div.peopleWrap th {color:#5a5b5c;font-size:14px;text-align:left;vertical-align:middle;padding-left:25px;line-height:20px}
div.peopleWrap td {text-align:right;vertical-align:middle;padding-right:20px}
/* 상단 종료 */

/* 인원수 / 버튼 시작 */
div.peoplePersonWrap{height:51px;float:right;margin:10px 0 0 0;}
div.peoplePersonWrap ul{display:block;}
div.peoplePersonWrap li{_display:inline;float:left;margin-right:20px;}
div.peoplePersonWrap table td{line-height:11px;}
/* 인원수 / 버튼 종료 */

/* 프로필 시작 */
div.profileAllWrap{width:960px;display:block;}
span.profileWrap{float:left;display:block;width:300px;height:186px;margin:10px;_margin:10px;}
div.profileAllWrap .profileWrap .profile{margin-bottom:5px}
div.profileAllWrap .profile table{width:100%;height:27px;border-top:2px solid #aaacae;background-color:#ebeef0}
div.profileAllWrap .profile th{width:5%;font-size:11px;color:#00b5ad;white-space:nowrap;padding-left:7px;}
div.profileAllWrap .profile td{text-align:center;color:#5a5b5c;vertical-align:middle}
div.profileAllWrap .profile td .tName{font-weight:bold}
div.profileAllWrap .profile td .tPosition{font-size:11px}

div.profileAllWrap .contentsWrap{width:100%;}
div.profileAllWrap .contentsWrap .contentsTd{text-align:right;vertical-align:top;}

div.faceOrg01{width:98px;height:134px;background:url(/HTML/images/common/no_face_shadow.gif) no-repeat 0 0;}
div.faceOrg01 img{width:87px;height:120px;margin:3px;}

.faceOrg p{text-align:center;}
.faceOrg a{color:#aaacae;font-size:11px}

div.profileContentsWrap{width:195px;margin-left:0px}
div.profileContentsWrap table{width:100%;border:1px solid #d9dcde;}
div.profileContentsWrap td{height:24px;color:#8b8d8e;border:1px solid #d9dcde;background-color:#f9fcfe;padding:0 3px 0 5px}
div.profileContentsWrap .newestYear{text-align:center;background-color:#f4f8d4;}
div.profileContentsWrap .h37{height:37px;font-size:11px;letter-spacing:-1px;}
div.profileContentsWrap td span{width:185px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

div.profileContentsWrapGray{width:195px;margin-left:0px}
div.profileContentsWrapGray table{width:100%;border:1px solid #d9dcde;}
div.profileContentsWrapGray td{height:24px;color:#8b8d8e;border:1px solid #d9dcde;background-color:#ebeef0;padding:0 3px 0 5px}
div.profileContentsWrapGray .newestYear{text-align:center;background-color:#f4f8d4;}
div.profileContentsWrapGray .h37{height:37px;font-size:11px;letter-spacing:-1px;}
div.profileContentsWrapGray td span{width:185px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/* 프로필 종료 */

/* 라인 / 퇴직자인원 / 버튼 시작 */
div.linePersonWrap{clear:both;width:960px;height:51px;border-top:3px solid #cadb2a;margin:20px 0 10px 0;}
/* 라인 / 퇴직자인원 / 버튼 종료 */

/* 버튼영역 시작 */
.footerBtn{clear:both;width:960px;text-align:center;border-top:1px solid #eeeeee;background:#f9fcfe;margin-top:20px;padding:30px 0 40px 0}
/* 버튼영역 종료 */