/* 메인화면 프로필 */
.profile_group .profile_img { background-color:#fff !important; overflow:hidden; }
.profile_group .profile_img img { width:auto !important; max-height:165px; border-radius: 20px !important; }
.profile_section .photo_group .photo { background-color:#fff !important; overflow:hidden; }
.profile_section .photo_group .photo img { width:auto !important; max-height:165px; border-radius: 20px !important; }
/* 메인화면 프로필 */


/* 메인화면 위젯에서 출력시 */
.box_100 > .anchor_of_widget > .newcomer_group .newcomer_img { background-color:#fff !important; overflow:hidden; text-align:center; }
.box_100 > .anchor_of_widget > .newcomer_group .newcomer_img img { width:auto !important; max-height:85px; border-radius: 10px !important; }
.box_400 > .anchor_of_widget > .newcomer_group .newcomer_img { background-color:#fff !important; overflow:hidden; text-align:center; }
.box_400 > .anchor_of_widget > .newcomer_group .newcomer_img img { width:auto !important; max-height:165px; border-radius: 10px !important; }
.header_group li.header_img { background-color:#fff !important; overflow:hidden; text-align:center; }
.header_group li.header_img img { width:auto !important; max-height:95px; border-radius: 10px !important; }
/* 메인화면 위젯에서 출력시 */


/* 화면잡금 */
.lockDiv {opacity: 0.97;}
.screen_lock .photo { width:110px; height:110px; border-radius:110px; margin:0 auto; background-color:#fff !important; overflow:hidden; border:1px #D2DDE1 solid; }
.screen_lock .photo .user-img { width:auto !important; max-height:165px; border-radius: 20px !important; border:none !important; margin-top:5px !important; }

.GMImage { padding-bottom:14px !important; }


/* 신청결재팝업 */
div.author_left { padding:4px !important; }