@charset 'utf-8';
div.popup_scroll {overflow:auto;overflow-x:hidden}

/* div.cover {position:absolute;top:0;bottom:0;left:0;right:0;background:#000;z-index:100;filter:alpha(opacity=50);opacity:0.5} */
/* div.popup_title {height:40px;background:#8d9da6;}
div.popup_title li {float:left;font-size:14px;color:#fff;font-weight:bold;padding-left:19px;line-height:38px;letter-spacing:-1px}
div.popup_title li.close {float:right;padding:0;width:45px;height:40px;background:#b8c6cc url(/common/images/popup/btn_popup_close.gif) no-repeat 50% 50%;cursor:pointer;}
div.popup_title li.close div.print {margin:0 0 0 -70px}
div.popup_main {margin:20px 20px 0;padding-bottom:30px} */
div.popup_main div.listMain .on {background:#faeef4;}

/* div.popup_password table {width:100%;border:1px solid;}
div.popup_password table th {width:120px;height:29px;text-align:left;background:#eef1f3;color:#222;font-weight:normal;border:1px solid #dae1e6;}
div.popup_password table th span {padding-left:10px}
div.popup_password table td {border:1px solid #dae1e6;background:#f9fcfe;font-size:11px;}
div.popup_password table td span {padding-left:10px;}
div.popup_password table td input {border:1px solid #b8c6cc;height:19px;margin-left:5px;line-height:19px;} */
div.popup_widget {width:100%;}
div.popup_widget .notice {text-align:right;color:#999;font-size:11px;padding:0 18px 9px 0}
div.popup_widget .notice span {color:#ef519c}
div.popup_widget table {width:100%;border:1px solid #dae1e6;}
div.popup_widget table td {background:#f9fcfe;color:#333;font-size:11px;}
div.popup_widget table td.buttons {border-top:1px solid #dae1e6}
div.popup_widget table td div.list {cursor:pointer}
div.popup_widget table td div.list li span {color:#999;font-size:11px;}
div.popup_widget table td div.list {height:29px;line-height:30px;margin:-1px;padding-left:4px;border:1px solid #dae1e6;font-size:11px;}
div.popup_widget table td div.list li {font-size:11px;color:#333;float:left;letter-spacing:-1px;}
div.popup_widget table td div.list li.right {float:right;}
div.popup_widget table td div.list a {float:right;padding:1px 10px 0 9px;line-height:20px;margin-top:4px;margin-right:15px;background:#b8c6cc;color:#fff;}
div.popup_widget table td div.list a.on {padding:1px 13px 0 12px;background:#f379b2;}
div.popup_widget table td div.title {float:left;width:79px;height:49px;margin:-1px 0px -1px -1px;text-align:center;border:1px solid #dae1e6;background:#faeef4;line-height:49px;}
div.popup_widget table td div.btn {float:left;width:54px;height:49px;margin:-1px 0px -1px -1px;text-align:center;border:1px solid #dae1e6;background:#eef1f3;cursor:pointer}
div.popup_widget table td div.btn span {display:block;margin-top:13px;}
div.popup_widget table td div.widget_info{float:left;height:49px;border-top:1px solid #dae1e6;margin:-1px -1px -1px -1px;}
div.popup_widget table td div.widget_info span {color:#999;display:block;margin-top:13px;padding-left:5px;}

/** 결재라인 **/
div.author_left { float:left; margin-bottom:20px; clear:left; background-color:#e3f0f6; }
div.author_left table.author { width:92px; float:left; background-color:#FFF; border-bottom:1px solid #e0e2e5; margin: 10px; }
div.author_left table.author th { background-color:#008fd5; color:#FFF; font-size:13px; height:28px; line-height:28px; font-weight:600; }
div.author_left table.author td { text-align:center; line-height:25px; height:25px; font-size:12px; border-bottom:1px dashed #e0e2e5; border-right:1px solid #e0e2e5; border-left:1px solid #e0e2e5; }
div.author_left table.author td.name { color:#008fd5; font-weight:400; }
div.author_left div.arrow { width:20px; height:100px; background:url(/common/images/common/blt_nextB.png) 50% 50% no-repeat; }

div.author_right { float:right; margin-bottom:20px; background-color:#fbf3f8; }
div.author_right table.author { width:92px; float:left; background-color:#FFF; border-bottom:1px solid #e0e2e5; margin: 10px; }
div.author_right table.author th { background-color:#f583c3; color:#FFF; font-size:13px; height:28px; line-height:28px; font-weight:600; }
div.author_right table.author td { text-align:center; line-height:25px; height:25px; font-size:12px; border-bottom:1px dashed #e0e2e5; border-right:1px solid #e0e2e5; border-left:1px solid #e0e2e5; }
div.author_right table.author td.name { color:#f583c3; font-weight:400; }
div.author_right div.arrow { width:20px; height:100px; background:url(/common/images/common/blt_nextP.png) 50% 50% no-repeat; }

/** 대결 **/
table.instead {margin-left:2px;}
/**
table.instead th {background:#61b6f3 !important;border:1px solid #61b6f3 !important;}
**/

div.auto_info {clear:both;width:auto;}
div.auto_info li.info_txt {float:left;font-size:11px;padding-left:5px;padding-bottom:15px;line-height:14px;}
div.auto_info li.info_color {float:right;font-size:11px;padding-right:10px;padding-bottom:15px;}

div.popup_sub_button {text-align:center;padding:10px 0 10px;}

div.popup_button {text-align:center;padding-top:20px;}
div.popup_button li.center {padding-top:9px;}
div.popup_button li.left {float:left;padding-left:15px;}
div.popup_button li.left a {float:left;margin-right:5px;}
div.popup_button li.right {float:right;padding-right:15px;}
div.popup_button li.right a {float:right;margin-left:5px;}

div.popup_button li a.large
{ display:inline-block; font-size:12px; padding:0 20px; height:28px; line-height:28px; font-weight:500; font-weight:bold; }


div.pass_info {margin:0 0 10px 0;}
table.find_pass {margin:20px 0 10px 10px;}
table.find_pass td {width:76px;}
table.find_pass div {width:400px;margin-top:10px;}

span.box_green {width:12px;display:inline-block;vertical-align:middle;height:12px;background:#b3cc33;margin:0 2px 0 4px}
span.box_blue {width:12px;display:inline-block;vertical-align:middle;height:12px;background:#61b6f3;margin:0 2px 0 4px}
span.box_aqua {width:12px;display:inline-block;vertical-align:middle;height:12px;background:#3ab7c6;margin:0 2px 0 4px}

div.returnDiv {position:absolute;padding-top:7px;font-size:11px;display:none}
div.returnDiv img {vertical-align:middle;}

/** sub.css의 table.default style 사용 **/
/** 신청서 table & 교육신청과정관리 팝업 **/
table.settle, table.table { border-top:1px solid #e7edf0; width:100%; }
table.settle th, table.table th { background-color:#f5fafd; color:#84939d; font-weight:500; padding:5px 0 5px 15px; line-height:12px; font-size:12px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }
table.settle th:first-child, table.table th:first-child { border-left:none; }
table.settle td, table.table td { border-bottom:1px solid #e7edf0; padding:4px 10px; }
table.settle td input, table.table td input { border:1px solid #e0e2e5; padding:3px 3px 3px 5px; text-align:left; } /** align: right 3px 추가 **/
table.settle td select, table.table td select { padding:3px 3px 3px 5px;  }/** align: right 3px 추가 **/
table.settle td input.w10, table.table td input.w10 { width:10%; }
table.settle td input.w30, table.table td input.w30 { width:30%; }
table.settle td input.w50, table.table td input.w50 { width:50%; }
table.settle td input.w90, table.table td input.w90 { width:90px !important; }
table.settle td input.w100, table.table td input.w100 { width:100%; }
table.settle td input:hover, input:focus { border:1px solid #008fd5; color:#008fd5; }
table.table td input:hover, input:focus { border:1px solid #008fd5; color:#008fd5; }

#applLineTitle { min-height: 30px; margin-top: 5px; vertical-align: middle; }

.ui-fileuploader { background : rgb(30, 197, 255); padding-top: 4px; margin-bottom: 10px; }

