@charset "UTF-8";

/* layout */
.sub_wrap { width:100%; height:100%; min-width:1200px; position:fixed; top:50px; overflow-x: auto; overflow-y: hidden;}
.sub_wrap .sub_content { padding:0 0 0 250px; height:100%; } /* font-size:13px; font-weight:300; */
.sub_wrap .no_sub_menu { padding-left:80px;}
.sub_wrap .sub_content .contents .tab_iframes { top:40px; left:0; height:calc(100vh - 92px); padding:10px; background:#fff; }

/* 1200px 보다 더 적은 사이즈에 가로 스크롤 생성 */
@media all and (max-width:1200px) {
	.sub_wrap { min-width:100%;}
}

/* 상단 탭/레이아웃 버튼 */
.sub_top { position:relative; width:100%; height:100%; min-width:1100px; border:0px; }
.sub_top .tab_group { float:left; display:inline-block; }
.sub_top .tab_group li a.ui-tabs-anchor { color:#FFF !important; font-size:12px; font-weight:bold; padding: 12px 37px 12px 20px; cursor:pointer; }
.sub_top .tab_group li a.tab_close { position:absolute; top:10px; right:13px; display:inline-block;background:url(../images/sub/btn_tab_close.png) center center no-repeat; width:7px; height:7px; text-indent:-9999px; padding: 7px; }
.sub_top .tab_group li a:focus { outline:none; }
.sub_top .tab_group li .icon_help { margin: 0 0 0 15px; }
.sub_top .tab_group li .icon_help:hover { color: #f1a457; font-size:13px; margin: 0 0 0 14px; }
.sub_top .btn_sub_tab { position:absolute; right:185px; top:0; }
.sub_top .btn_sub_tab .btn_tab_prev {  display:inline-block; width:30px; height:40px; background:url(../images/sub/btn_tab_prev.png) 12px 14px no-repeat; text-indent:-9999px; }
.sub_top .btn_sub_tab .btn_tab_next {  display:inline-block; width:30px; height:40px; background:url(../images/sub/btn_tab_next.png) 12px 14px no-repeat; text-indent:-9999px; }
.sub_top .top_btn_group { float:right; width:185px; height:40px; background-color:#606b7b; background-image:url( ../images/sub/bg_layout.png ) left top repeat-y; position:relative; }
.sub_top .top_btn_group a.btn_layout { display:inline-block; border:1px solid #4f5a6a; box-shadow:1px 1px 0 #757e8b; text-indent:-99999px; }
.sub_top .top_btn_group a.btn_tab_sett { border-radius:5px; background-color:#808ea2; background-image:url(../images/sub/icon_tab.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 15px; }
.sub_top .top_btn_group a.btn_layout_sett01 { border-radius:5px 0 0 5px; background-image:url(../images/sub/icon_layout01.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 10px; }
.sub_top .top_btn_group a.btn_layout_sett01:hover { background-color:#808ea2; background-image:url(../images/sub/icon_layout01_on.png); }
.sub_top .top_btn_group a.btn_layout_sett01_on { border-radius:5px 0 0 5px; background-color:#808ea2; background-image:url(../images/sub/icon_layout01_on.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 10px; }
.sub_top .top_btn_group a.btn_layout_sett02 { border-radius:0; background-image:url(../images/sub/icon_layout02.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:0 0 0 -4px; }
.sub_top .top_btn_group a.btn_layout_sett02:hover { background-color:#808ea2; background-image:url(../images/sub/icon_layout02_on.png); }
.sub_top .top_btn_group a.btn_layout_sett02_on { border-radius:0; background-color:#808ea2; background-image:url(../images/sub/icon_layout02_on.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:0; }
.sub_top .top_btn_group a.btn_layout_sett03 { border-radius:0 5px 5px 0; background-image:url(../images/sub/icon_layout03.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:0 0 0 -3px; }
.sub_top .top_btn_group a.btn_layout_sett03:hover { background-color:#808ea2; background-image:url(../images/sub/icon_layout03_on.png); }
.sub_top .top_btn_group a.btn_layout_sett03_on { border-radius:0 5px 5px 0; background-color:#808ea2; background-image:url(../images/sub/icon_layout03_on.png); background-position:6px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:0; }
.sub_top .top_btn_group a.btn_mymenu { border-radius:5px; background-image:url(../images/sub/icon_menu_plus.png); background-position:8px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 10px; }
.sub_top .top_btn_group a.btn_mymenu:hover { background-color:#808ea2; border-radius:5px; background-image:url(../images/sub/icon_menu_plus_on.png); background-position:8px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 10px; }
.sub_top .top_btn_group a.btn_mymenu_minus { border-radius:5px; background-image:url(../images/sub/icon_menu_minus.png); background-position:8px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 10px; }
.sub_top .top_btn_group a.btn_mymenu_minus:hover { background-color:#808ea2; border-radius:5px; background-image:url(../images/sub/icon_menu_minus_on.png); background-position:8px 5px; background-repeat:no-repeat; width:25px; height:21px; margin:7px 0 0 10px; }



/* table */
table.base { border-top:1px solid #e7edf0; margin-top:10px; }
/* table.base th { background-color:#f5fafd; color:#40484d; font-weight:bold; padding:5px 0 5px 15px; line-height:12px; font-size:12px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }
table.base th:first-child { border-left:none; } */
table.base td { border-bottom:1px solid #e7edf0; padding:4px 10px; }
table.base td input { padding:3px 0 3px 5px; text-align:left; }
table.base td input.w10 { width:10%; }
table.base td input.w30 { width:30%; }
table.base td input.w50 { width:50%; }
table.base td input.w90 { width:90px !important; }
table.base td input.w100 { width:100%; }

table.default,
table.table { border-top:1px solid #e7edf0; width:100%; }
/* table.default th,
table.table th { background-color:#f5fafd; color:#84939d; font-weight:bold; padding:5px 0 5px 15px; line-height:12px; font-size:12px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }
table.default th:first-child,
table.table th:first-child { border-left:none; } */
table.default td,
table.table td { border-bottom:1px solid #e7edf0; padding:4px 10px; }
table.default td input,
table.table td input { border:1px solid #e0e2e5; padding:3px 0 3px 5px; text-align:left; height:21px; }
/* table.default td input.w10 { width:10%; }
table.default td input.w30 { width:30%; }
table.default td input.w50 { width:50%; }
table.default td input.w90 { width:90px !important; }
table.default td input.w100 { width:100%; } */
table.default td select,
table.table td select { padding:3px 0 3px 5px; border:1px solid #e0e2e5; vertical-align: middle;}
table.default td textarea,
table.table td textarea { padding:3px 0 3px 5px; border:1px solid #e0e2e5; }
table.default td img.ui-datepicker-trigger,
table.table td img.ui-datepicker-trigger { margin:0 0 0 -1px; }
table.default td span,
table.table td span { vertical-align: middle;}

li.btn img.ui-datepicker-trigger { width:22px; margin-left:-1px;}

.wrapper .contents { padding:10px; height:100%; }


/* [Start] employee header */
ul.header_table { display:table; border-top:2px solid #0072bc; border-left:1px solid #ebeef3; border-right:1px solid #ebeef3; border-bottom:1px solid #ebeef3; }
ul.header_table li { display:table-cell; background:url(../images/sub/dotline.png) left top repeat-y; width:22%; padding:5px 0; margin:0; }
ul.header_table li.photo_group { width:12%; background-color:#f5fafd; text-align:center; padding:7px 7px; vertical-align:top; }
ul.header_table li.photo_group .represent_name { border-bottom:1px solid #9b9b9b; border-top:none; border-left:none; border-right:none; width:60%; font-size:20px; font-weight:bold; color:#3f4145; text-align:center; background-color:#f5fafd; }
ul.header_table li.photo_group .represent_img { width:90px; height:90px; border-radius:90px; margin:0 auto; background-color:#fff !important; overflow:hidden; }
ul.header_table li.photo_group .represent_img img { width:90px; height:auto; border-radius:90px; }
ul.header_table li dl { overflow:hidden; width:100%; min-width: 260px; }
ul.header_table li dl dt { float:left; margin-left:20px; width:80px; color:#3f4145; font-weight:bold; line-height:26px; padding-left:10px; font-size:12px; position:relative; text-align:left; }
ul.header_table li dl dt:before { font-family:"Font Awesome 5 Free"; content:"\f192"; font-size:4px;; -webkit-transform:scale(0.4); position:absolute; left:0; top:0; color:#aab5ba; }
ul.header_table li dl dd { float:left; line-height:26px; letter-spacing:0; font-size:12px; padding:0 10px 0 10px; }
ul.header_table li dl dd .point_txt { color:#0072bc; font-weight:bold; }
/* [End] employee header */


/* content tab */
.con_tab_group { position:relative; margin-top:30px; }
.con_tab_group .con_tab_bar { overflow:hidden; margin:0 30px 0; }
.con_tab_group .con_tab {  }
.con_tab_group .con_tab li { float:left; }
/*.con_tab_group .con_tab li a { display:inline-block; margin-left:-1px; border-bottom:1px solid #008fd5; border-left:1px solid #e0e2e5; border-right:1px solid #e0e2e5; border-top:1px solid #e0e2e5; background-color:#f5fafd; color:#889fad; font-size:12px; padding:0 20px; height:28px; line-height:28px; font-weight:500; }
.con_tab_group .con_tab li a.con_tab_on { background-color:#FFF; margin:0 1px 0 0; border-bottom:1px solid #FFF; border-left:1px solid #008fd5; border-right:1px solid #008fd5; border-top:1px solid #008fd5; color:#008fd5; font-weight:600; }
.con_tab_group .con_tab li.ui-state-active a { background-color:#FFF; margin:0 1px 0 0; border-bottom:1px solid #FFF; border-left:1px solid #008fd5; border-right:1px solid #008fd5; border-top:1px solid #008fd5; color:#008fd5; font-weight:600; }*/
.con_tab_group a.con_tab_prev { position:absolute; left:0; top:0; background:#fff url(../images/sub/btn_stab_prev.png) 13px 10px no-repeat; border:1px solid #e0e2e5; width:30px; height:28px; margin:0; padding:0; text-indent:-9999px; cursor:pointer; }
.con_tab_group a.con_tab_next { position:absolute; right:0; top:0; background:#fff url(../images/sub/btn_stab_next.png) 13px 10px no-repeat; border:1px solid #e0e2e5; width:30px; height:28px; margin:0; padding:0; text-indent:-9999px; cursor:pointer; }

.con_tab_under_contents { position:absolute; width:100%; }

/* title */
.title_group { position:relative; margin-top:10px; }
.title_group h3.title { font-size:13px; font-weight:bold; color:#3f4145; padding-left:17px; text-align:left; position:relative; float:left; }
div.util { display:inline-block; vertical-align:middle; }
div.util ul { display:inline-block; margin-left:10px; }
div.util ul li { float:left; border:1px solid #e0e2e3; height:13px; width:13px; margin-left:-1px; cursor:pointer; text-indent:-9999px; }
div.util ul li:first-child {  margin-left:0; margin-right:4px; }
div.util ul li#btnPlus { background:url(../images/sub/icon_meun_all.png) 3px 3px no-repeat; }
div.util ul li#btnStep1 { background:url(../images/sub/icon_meun_1depth.png) 3px 3px no-repeat; }
div.util ul li#btnStep2 { background:url(../images/sub/icon_meun_2depth.png) 3px 3px no-repeat; }
div.util ul li#btnStep3 { background:url(../images/sub/icon_meun_3depth.png) 3px 3px no-repeat; }

.sheet_title { position:relative; padding:10px 0; min-height:16px; }
.sheet_title ul li.txt { font-size:14px; font-weight:bold; color:#323232; text-align:left; position:relative; }
.sheet_title ul li.txt.big { font-size:16px;}
.sheet_title ul li.txt2 { font-size:13px; font-weight:300; font-weight:bold; color:#3f4145; padding-left:5px; text-align:left; position:relative; }
.sheet_title ul li.btn img.ui-datepicker-trigger { width:26px;  height:25px;}


/* search */
.sheet_search span { display:inline-block; padding:0 5px 0 8px; line-height:33px; color:#3f4145; font-weight:bold; font-size:12px; margin-left:10px; position:relative; vertical-align: middle; }
.sheet_search table { min-height:40px; }
.sheet_search td { position:relative; line-height:33px; padding-right:10px; white-space:nowrap; /**background-color:#FFF;**/ }
.sheet_search span:not(.btn):not(.txt):before { font-family:"Font Awesome 5 Free"; content:"\f192"; font-size:4px; -webkit-transform:scale(0.4); position:absolute; left:0; top:0; }
/*.sheet_search td:last-child { background-color:#f5fafd; border-left:1px solid #ebeef3; text-align:center; padding:0 30px; } */
.sheet_search a.basic { display:inline-block; vertical-align:middle; background-color:#FFF; margin:0 1px; border:1px solid #e0e2e5; color:#606b7b; font-size:12px; line-height:12px; font-weight:bold; border-radius:8px; padding:9px 20px 10px; letter-spacing:0; }
.sheet_search img { vertical-align:middle; margin:0 0 0 -1px; }
.ui-datepicker-trigger { vertical-align:middle; cursor:pointer; }
a.button6 img,
a.button7 img { vertical-align:middle; margin:0 0 0 -4px; }


/* search_form */
/* selectbox */
.sheet_search .sbHolder { display:inline-block; position:relative; border:1px solid #e0e2e5; border-radius:8px; vertical-align:top; min-height:31px; background:url("../images/sub/blt_select.png") right 14px no-repeat; }
.sheet_search .sbHolder:hover { background:url("../images/sub/blt_select_on.png") right 14px no-repeat; }
.sheet_search .sbHolder a { color:#70787c; padding:0 30px 0 10px; line-height:31px; min-height:31px; }
.sheet_search .sbSelector { display:block; top:0; left:0; text-align:left; padding:3px 0; }
.sheet_search .sbSelector:link, .sbSelector:visited, .sbSelector:hover { text-decoration:none; }
.sheet_search .sbToggle {  position:absolute; }
.sheet_search .sbOptions li { padding:0 5px; text-align:left; width:100%; }
.sheet_search .sbOptions a { display:block; outline:none; padding:0; text-decoration:none;; }

/* selectbox_new */
.sheet_search select { padding:0 4px; border:1px solid #e0e2e5; font-size:12px;vertical-align:middle; }
/* .sheet_search select { padding:5px; border:1px solid #e0e2e5; font-size:12px; }
.sheet_search select:not(.readonly):hover { border:1px solid #008fd5; } */

/*---- input ----*/
.sheet_title input[type="text"] { border:1px solid #e0e2e5; padding:2px 5px; font-size:12px; text-align:center; position:relative; z-index:20; }
.sheet_search input[type="text"] { border:1px solid #e0e2e5; padding:0 5px; height:27px; line-height:27px; font-size:12px; text-align:center; position:relative; z-index:20; }
.sheet_search li a.search_calendar { position:absolute; right:1px; top:1px; display:inline-block; background-image:url(../images/sub/icon_search_calendar.png); background-position:8px 9px; background-repeat:no-repeat; background-color:#eff9ff; width:30px; height:31px; border-radius:0 8px 8px 0; border-left:1px solid #e0e2e5; text-indent:-9999px; }


/* multi select 
.select2-container {display: inline-block;*display: inline;*font-size: 0;padding:0;margin:0;}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input { margin:0 !important;padding:0 !important; line-height:26px; *line-height:27px ;cursor:none; }
.select2-default {color:#3f4145;}
.select2-container-multi .select2-choices {height:26px;display: inline-block;*display: inline;margin-bottom:10px;border: 1px solid #e0e5e2;margin: 0;*margin-left:-4px;padding:1px;*padding:1px;cursor:pointer;}
.select2-container-multi .select2-choices li {list-style: none;margin-right:1px}
.select2-container-multi .select2-choices .select2-search-choice {display: inline-block;*display: inline;background-color: #F2F2F2;color: #3f4145;padding: 0 18px 0 5px;*padding: 3px 18px 2px 5px;position: relative;cursor: pointer;}
.select2-container-multi .select2-choices .select2-search-choice div {display: inline-block;*display: inline;padding:0;margin:0;}
.select2-drop {background: #fff;color: #000;border-bottom: 1px solid #b8c6cc;border-top: 0;position: absolute;top: 100%;z-index: 99;width:100%;  overflow-x:hidden; overflow-y:auto; max-height:300px; cursor:pointer;}
.select2-container-multi .select2-choices .select2-search-field {display: inline-block;*display: inline;}
.select2-container-multi .select2-choices .select2-search-field input {height:17px; padding-right:13px;margin: 0;outline: 0;border:none;line-height:15px;cursor:pointer;background:url(/common/images/common/icon_select_down.png) no-repeat 100% 50%;}
.select2-results {padding:5px 0;;border-left: 1px solid #b8c6cc;border-right: 1px solid #b8c6cc}
.select2-results li.select2-result-with-children > .select2-result-label {font-weight: bold;}
.select2-results .select2-result-label {margin: 0;;cursor: pointer;border-top:1px dotted #b8c6cc;padding-left:8px}
.select2-results .select2-first {border-top:none;}
.select2-search-choice-close {display: block;position: absolute;right: 5px;top: 8px;*top: 7px;width: 7px;height: 9px; background-image:url(../images/common/btn_delete.gif); background-position:right 2px; background-repeat:no-repeat;outline: none; }
.select2-results .select2-highlighted {background: #eef1f3;}
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match { text-decoration: underline; }
.select2-result-unselectable .select2-match { text-decoration: none; }
.select2-results .select2-disabled {display: none;}*/

/** sub.css의 table.default style 사용 **/
/** pwChPopup **/
.popup_password table { border-top:1px solid #e7edf0; width:100%; }
.popup_password table th{ background-color:#f5fafd; color:#84939d; font-weight:500; padding:5px 0 5px 15px; line-height:12px; font-size:12px; border-left:1px solid #e7edf0; border-right:1px solid #e7edf0; border-bottom:1px solid #e7edf0; text-align:left; }
.popup_password table th:first-child { border-left:none; }
.popup_password table td { border-bottom:1px solid #e7edf0; padding:4px 10px; }
.popup_password table td input { border:1px solid #e0e2e5; padding:3px 3px 3px 5px; text-align:left; } /** align: right 3px 추가 **/
.popup_password table td input.w10 { width:10%; }
.popup_password table td input.w30 { width:30%; }
.popup_password table td input.w50 { width:50%; }
.popup_password table td input.w90 { width:90px !important; }
.popup_password table td input.w100 { width:100%; }
.popup_password table td input:hover, input:focus { border:1px solid #008fd5; color:#008fd5; }

/** theme widget /190523 이효정 주석처리(common.css로 이동)
.themeWidget {float:right;}
#themeWidgetMain {position:absolute;z-index:5; margin:-20px 0 0 -220px;}
#themeWidgetMain div.shadow {position:absolute;width:192px;height:324px;background:#eef1f3;}
#themeWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:188px;height:320px; text-align: left;}
#themeWidgetMain div.title {font-weight:bold;text-align:center;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#themeWidgetMain ul {float:none;padding:0;margin:0;}
#themeWidgetMain ul li {float:none;height:23px;line-height:23px;background:url(/common/images/common/bg_dot_01.gif) repeat-x 1px 100%;padding-left:1px;cursor:pointer;}
#themeWidgetMain ul li.theme1 div {background:#3ab7c6}
#themeWidgetMain ul li.theme1 div.on {background:#3ab7c6 url(/common/images/common/bg_theme1_check.gif) no-repeat}
#themeWidgetMain ul li.theme2 div {background:#bcd92b}
#themeWidgetMain ul li.theme2 div.on {background:#bcd92b url(/common/images/common/bg_theme2_check.gif) no-repeat}
#themeWidgetMain ul li.theme3 div {background:#45a3e6}
#themeWidgetMain ul li.theme3 div.on {background:#45a3e6 url(/common/images/common/bg_theme3_check.gif) no-repeat}
#themeWidgetMain ul li.theme4 div {background:#ff7610}
#themeWidgetMain ul li.theme4 div.on {background:#ff7610 url(/common/images/common/bg_theme4_check.gif) no-repeat}
#themeWidgetMain ul li div {float:left;width:16px;height:16px;margin:3px 10px 0 10px}
#themeWidgetMain div.font li {padding-left:11px;}
#themeWidgetMain ul li input {vertical-align:middle;margin-right:9px;}
#themeWidgetMain p {font-size:11px;color:#999;margin:10px 0 0 11px;;line-height:15px;}
#themeWidgetMain .button {margin-top:10px;text-align:center}
 **/
 
 /* 라디오 버튼 jylee 2018.01.09 */
input[type="radio"]{
	vertical-align: middle;
}
input[type="radio"] + label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* 메뉴 숨기기 버튼 2020.02.06 */
#gapLink { position:absolute; left:220px; bottom:2px;width:10px; height:36px; z-index:100;cursor:pointer; border:1px solid #e6e5e4; border-width: 1px 1px 1px 0px;border-radius:0 5px 5px 0; }
#gapLink.gapbarhide {left:250px; background:url(/common/images/common/btn_calendar_prev.gif) center center no-repeat #ffffff;background-size:5px 15px; }
#gapLink.gapbarshow {left:81px; background:url(/common/images/common/btn_calendar_next.gif) center center no-repeat #ffffff;background-size:5px 15px; }


/* 탭 하단 라인  2019.12.02 */
.ui-tabs-nav-line {position:absolute; left:150px;width:100%;height:29px;right:0;top:0;}


/* 메뉴 도움말 박스 2023.01.19 */
#btnHelpBox { position: fixed; top: 58px; right: 0px; height: 24px; background-color: #eee; background-color: var(--bg_color_base); color: #333; font-size:14px; line-height: 24px; padding: 0 4px 0 8px; border-radius: 5px 0px 0px 5px; }
.helpBox { z-index: 99; position: absolute; top: 0px; right: -525px; width: 500px; height: 100vh; background-color: #606B7B; color: #fff; box-shadow: 0 1px 25px #606B7B; -moz-box-shadow: 0 1px 25px #606B7B; -webkit-box-shadow: 0 1px 25px #606B7B; }
.helpBox ._header { display: flex; align-items: center; justify-content: space-between; height: 50px; border-bottom: #eee dotted 1px; }
.helpBox ._header .menuNm { color: #fff; font-size: 18px; font-weight: 700; margin-left: 10px; }
.helpBox .title { color: #606B7B; font-size: 14px; font-weight: 600; background-color: #eee; border-radius: 15px; height: 30px; line-height: 30px; }
.helpBox .list { height: calc(100vh - 180px); overflow-y: auto;}
.helpBox .list::-webkit-scrollbar{ width: 6px;}
@-moz-document url-prefix() {.helpBox .list{scrollbar-width: thin;}}
.helpBox .list li.item { min-height: 24px; color: #eee; font-size: 12px; border-bottom: 1px dotted #eee; margin-top: 8px; }
.helpBox .list li.item:hover {	border-bottom: 1px dotted #efefef; border-bottom: 1px dotted var(--txt_color_base); color: #efefef; color: var(--txt_color_base); }
.helpBox .list li.item .mainMenuNm { display: inline-block; line-height: 18px; height: 18px; min-width: 70px; text-align: center; background-color: #f1a457; background-color: var(--txt_color_base); border-radius: 9px; margin-right: 5px; color: #fff; font-size: 11px; font-weight: 600;}
.helpBox .list li.item .description { width: calc(100% - 16px); height: 0px; margin: 6px 0 8px 0; background-color: #fff; color: #666; border-radius: 9px; padding: 8px; word-wrap: break-word; overflow-y: auto;}
.helpBox .list li.item .description::-webkit-scrollbar{ width:6px;}
@-moz-document url-prefix() {.helpBox .list li.item .description{scrollbar-width: thin;}}
.helpBox .list li.item .description p {line-height: 18px; }

