/* common */

body {
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-bottom: 30px;
    background-color: #e9e9e9;
}

button {border: 0px; background: none;}

a {text-decoration: none;}

p {margin:0px;}
/* checkbox custom style */
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top:5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border:1px solid #b9b9b9;
}


/* When the checkbox button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
    margin-top:-8px;
    margin-left:-8px;
	border-radius: 50%;
	background: #2196F3;
}

/* icon */
.ico:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url('/ifm/html/mobileDesign/img/sp_ver1_blue.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 489px 50px;
}

.ico.search:before {
    width: 30px;
    height: 30px;
    background-position: -302px 0;
}

.ico.close:before {
    width: 30px;
    height: 30px;
    background-position: -176px 0;
}

.ico.file:before {
    width: 11px;
    height: 15px;
    background-position: -142px 0;
    margin-right: 5px;
    margin-top: -3px;
}

.ico.notice:before {
    width: 24px;
    height: 14px;
    background-position: -465px 0;
    margin-top: -5px;
}

.ico.caution:before {
    width: 40px;
    height: 41px;
    background-position: -44px 0;
}

.ico.confirm:before {
    width: 40px;
    height: 41px;
    background-position: 0 0;
}

.ico.subj:before {
    width: 20px;
    height: 21px;
    margin-right: 6px;
    background-position: -393px 0;
}

.ico.tel:before {
    width: 20px;
    height: 21px;
    margin-right: 6px;
    background-position: -441px 0;
}

.ico.map:before {
    width: 20px;
    height: 21px;
    margin-right: 6px;
    background-position: -417px 0;
}

.ico.map-big:before {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    background-position: -333px 0;
}

.ico.tel-big:before {
    width: 26px;
    height: 26px;
    margin-right: 8px;
    background-position: -363px 0;
}

.ico.view:before {
    width: 16px;
    height: 8px;
    background-position: -156px 0;
    margin-right: 5px;
}

.ico.arrow-up:before {
    width: 40px;
    height: 40px;
    background-position: -254.5px 0;
}

.ico.arrow-down:before {
    width: 40px;
    height: 40px;
    background-position: -210.5px 0;
}

.ico.ing:before{
    width: 18px;
    height: 19px;
    background-position: -437px -33px; 
}

.ico.complete:before{
    width: 18px;
    height: 19px;
    background-position: -455px -33px;
}

.ico.unable:before{
    width: 18px;
    height: 19px;
    background-position: -473px -33px;
}

.ico.close-small:before {
    width: 30px;
    height: 30px;
    background-position: -418px -33px;
}

.ico.chk-white:before{
    width: 17px;
    height: 19px;
    margin-top:5px;
    background-position: -416px -33px;
}

.ico.add-round:before{
    width: 21px;
    height: 20px;
    background-position: -392px -29px;
}

.ico.arrow-right-small:before{
    width: 7px;
    height: 12px;
    background-position: -380px -34px;
}


/* semantic class name */

.blind {
    visibility: hidden;
    overflow: hidden; position: absolute; left: -1000em; width: 0; height: 0; font-size: 0; line-height: 0;
}

.a11y { font: 0/0 a;}
.ellipsis { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;}

.img-wrap {border: 1px solid #cccccc;}
.img-wrap img {display: block; width: 100%; height: auto;}
/* img {display: block; width: 100%; height: auto; border: 1px solid #cccccc;} */


.search-box {width: 100%; background-color: #ffffff; border-bottom: 1.5px solid #DCDCDC;}
.search-box.floating {position: fixed; top: 0; left: 0; right: 0; z-index: 199; border-bottom: 0px;  box-shadow: 0px 1.5px 0 0 rgba(157, 157, 157, 0.13);}

.search-bar-wrap {overflow:hidden; margin: 15px; border: 1px solid #b9b9b9;}
.search-bar-wrap #search {float:left; width: 88%; height: 40px; padding-left: 5px; border: 0px;}
.search-bar-wrap .btn-search {float:right; overflow: hidden; width: 30px; height: 30px; padding:0px; margin:5px 0px;}

.tagList-wrap {overflow-x: auto; white-space: nowrap; padding: 0px 15px 15px; -webkit-overflow-scrolling: touch;}
.tagList-wrap li.tag-search {float: none; display: inline-block; white-space: nowrap; box-sizing: border-box; height: 40px; padding: 10px 20px 12px; margin-left: 10px; border-radius: 20px; border: 1px solid #c9c5bd; background-color: #ffffff; font-size: 16px;}
.tagList-wrap li:first-child {margin-left: 0px;}
.tagList-wrap li.tag-search.on {border: 1px solid #008fd5; background-color: #008fd5; color: #ffffff;}
.tagList-wrap li a {color: inherit; text-decoration-line: none;}

.contents-wrap {padding: 10px; background-color: #e9e9e9;}
.contents-wrap.top-space {padding-top: 125px;}
.contents-wrap.top-space02 {padding-top: 72px;}
.contents-wrap .date-title {padding: 10px 0px 0px; margin: 0px; font-weight: 500; color: #343435;}


/* button common */
.contents-wrap button.btn { width: 100%; padding: 17px 0px; margin-top: 0px; text-align: center; background-color: #008fd5; font-size: 18px; color: #ffffff;}


/* tab menu */
.tab{padding:0px; background-color:#ffffff;}
.tab .tab-wrap{overflow: hidden;}
.tab .tab-wrap li{float:left; width:50%; padding:16px 0px; border-bottom:7px solid #C5C5C5; background-color: #e9e9e9; color:#343435; text-align: center; font-size: 16px;}
.tab .tab-wrap li.on{font-weight:bold; background-color:#ffffff; border-bottom:7px solid #008fd5;}
.tab .tab-wrap li a{display:block; color:inherit;}


/* accordion menu */
.accordion {width: 100%; background: #FFF; border-bottom: 1px solid #D2D2D2;}
.accordion .link {cursor: pointer; display: block; padding: 15px; padding-left:18px; color: #4D4D4D; font-size: 18px; position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }
.accordion li:first-child .link{border-top:0px;}
.accordion li .link{border-top:1px solid #D2D2D2;}
.accordion li i {
  position: absolute; top: 5px; left: 12px; font-size: 18px; color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li i.arrow-down {right: 12px; left: auto;}
.accordion li.open .link { color: #343435; }
.accordion li.open i.arrow-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.submenu {display: none; background: #444359; font-size: 14px;}
.submenu li { border-top: 1px solid #D2D2D2; background-color:#e9e9e9; color:#343435; font-size:16px;}
.submenu a {display: block; text-decoration: none; color: inherit; font-size:inherit; padding: 12px; padding-left: 18px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* 상세페이지 type01 */
.contents-wrap.detail01 {padding: 0px; background-color: #FFFFFF;}
.contents-wrap.detail01 .btn-wrap {overflow: hidden; width: 100%;}
.contents-wrap.detail01 .btn-wrap button {float: left; padding: 12px 0px; border-left: 1px solid #09A3EA; text-align: center; font-size: 16px; background-color: #008fd5; color: #FFFFFF;}
.contents-wrap.detail01 .btn-wrap button:first-child { border-left: 0px;}
.contents-wrap.detail01 .btn-wrap button:first-child:nth-last-child(1){width:100%;}
.contents-wrap.detail01 .btn-wrap button:first-child:nth-last-child(2),
.contents-wrap.detail01 .btn-wrap button:first-child:nth-last-child(2) ~ button {width:50%;}

.contents-wrap.detail01 .inner-wrap01 { padding: 20px 15px;}
.contents-wrap.detail01 .inner-wrap01 .title { margin-top: 0px; font-size: 18px; color: #343435;}
.contents-wrap.detail01 .inner-wrap01 .desc { margin-top: 20px; line-height:1.5;}

.contents-wrap.detail01 .inner-wrap01 .desc li { margin-top: 10px; font-size: 14px; color: #343435; vertical-align: middle;}
.contents-wrap.detail01 .inner-wrap01 .desc li:first-child { margin-top: 0px;}
.contents-wrap.detail01 .inner-wrap02 { padding: 15px;}
/* .contents-wrap.detail01 .inner-wrap02 .desc { margin: 0px; line-height: 1.6; font-size: 14px; color: #343435;} */
.contents-wrap.detail01 .inner-wrap02 img{display: block; width: 100%; height: auto;}


/* 상세페이지 type02 - ex. 숙박상세*/
.contents-wrap.detail02 { position:relative; padding: 16px 15px 0px; margin-bottom:85px; background-color: #FFFFFF;}
.contents-wrap.detail02 .title { padding-left: 4px; margin-bottom: 16px; font-size: 18px; color: #343435;}
.contents-wrap.detail02 .desc { margin: 19px 0px 0px; line-height: 1.6; font-size: 14px; color: #343435;}
.contents-wrap.detail02 .desc img {display: block; width: 100% !important; height: auto !important;}
.contents-wrap.detail02 .btn-wrap {position: fixed; bottom: 0; left: 0; right: 0; padding: 15px; background-color: #ffffff; box-shadow: inset 0px 1.5px 0 0 #dbdbdb;}


/* 숙박 예약양식 */
.contents-wrap.form{position:relative; padding:14px 15px 0px; background-color:#ffffff;}
.contents-wrap.form label{display: inline-block; max-width: 100%; margin-bottom: 7px; font-size:16px; color:#63646c;}
.contents-wrap.form .form-group{margin-bottom:15px;}
.contents-wrap.form .form-control{display: block; width: 100%; height: 34px; padding-left: 5px; border:1px solid #e3e3e3; box-sizing: border-box; font-size: 16px; color: #555; background-color: #fff;}
.contents-wrap.form textarea.form-control{height: 70px; resize:none; font-size: 16px; color: #555; background-color: #fff;}
.contents-wrap.form .btn-wrap{overflow: hidden; padding-top:15px;}
.contents-wrap.form .btn-wrap .btn-inner-wrap{margin-left:-10px;}
.contents-wrap.form .btn-wrap .btn-inner2{float:left; width:50%; box-sizing: border-box; padding-left:10px;}
.contents-wrap.form .btn-wrap .cancel{background-color:#55646b;}


/* 숙박내역 보기모드 */
.contents-wrap.viewer .form-group{margin-bottom:6px;}
.contents-wrap.viewer .form-control{display: inline-block; width: 70%; height: 34px; padding-left: 5px; border:0px none; box-sizing: border-box; font-size: 16px; color: #343435; background-color: #fff;}
.contents-wrap.viewer label{display: inline-block; width: 25%; padding-top: 1px; vertical-align: top; font-size: 16px; color: #63646c;}
.contents-wrap.viewer textarea.form-control{height: 70px; resize:none; font-size: 16px; color: #343435; background-color: #fff;}
.contents-wrap.viewer .status{position:relative;}
.contents-wrap.viewer .status.ing{color:#646464;}
.contents-wrap.viewer .status.complete{color:#00abea;}
.contents-wrap.viewer .status.unable{color:#e65400;}
.contents-wrap.viewer .btn-wrap{position: fixed; bottom: 0; left: 0; right: 0; padding: 15px; background-color: #ffffff; box-shadow: inset 0px 1.5px 0 0 #dbdbdb;}


/* 카드형 리스트 */
.cardList-wrap { margin: 10px 0px 0px 0px;}
.cardList-wrap.msg-wrap { margin: 10px 0px 10px 0px;}
.cardList-wrap li { position: relative; min-height: 50px; padding: 23px 15px; margin: 10px 0px 0px 0px; border-radius: 2px; background-color: #ffffff; box-shadow: 1px 1.7px 5px 0 rgba(0, 0, 0, 0.1);}
.cardList-wrap li:first-child { margin-top: 0px;}
.cardList-wrap li a{ display: block;}
.cardList-wrap li .title { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; margin-top: 0px; font-size: 18px; color: #343435;}
.cardList-wrap li .sub-title { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; margin: 10px 0px 0px 0px; font-size: 14px; color: #343435;}
.cardList-wrap li .date { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; margin: 10px 0px 0px 0px; font-size: 14px; color: #63646c;}
.cardList-wrap li .desc { overflow: hidden; margin: 12px 0px 0px 0px;}
.cardList-wrap li .desc span { font-size: 14px; color: #999ca8;}
.cardList-wrap li .desc .date { float: left; width:initial; margin:0px;}
.cardList-wrap li .desc .addr { overflow: hidden; display: inline-block; white-space: nowrap; text-overflow: ellipsis; width: 100%;}
.cardList-wrap li .desc .tag { float: right;}
.cardList-wrap li .btn-close { position: absolute; top: 0px; right: -5px;}
.cardList-wrap li span.status {position:absolute; top:0px; right:0px; display:inline-block; width:60px; height:20px; box-sizing:border-box; padding-top:3px; text-align:center; vertical-align:middle; color:#ffffff; font-size:12px; }
.cardList-wrap li span.status.ing {background-color:#646464;}
.cardList-wrap li span.status.complete {background-color:#00abea;}
.cardList-wrap li span.status.unable {background-color:#e65400;}


/* 나의 복지알림 */
.notice {margin: 30px 0px; text-align: center;}
.notice .desc {margin-top: 14px; text-align: center; line-height:1.6; font-size: 14px; color: #343435;}


/* 게시판 common */
.contents-wrap.board {padding: 0px; background-color: #ffffff;}
.contents-wrap.board.list {position: relative;}
.contents-wrap.board.list .btn-wrap {position: fixed; bottom: 0; left: 0; right: 0; padding: 15px; background-color: #ffffff; box-shadow: inset 0px 1.5px 0 0 #dbdbdb;}
.board .fileList {padding: 15px 23px 13px 15px; border-top: 1px solid #DCDCDC;}
.board .fileList li {font-size: 12px; color: #343435; line-height: 2; text-decoration: underline;}


/* 게시판 공지 List*/
.noticeList-wrap { border-bottom: 1px solid #DCDCDC;}
.noticeList-wrap li { border-top: 1px solid #DCDCDC; padding: 18px 15px; font-size: 16px; color: #343435;}
.noticeList-wrap li:first-child { border-top: 0px;}
.noticeList-wrap li .ellipsis {width: 89%; vertical-align: middle;}


/* 게시판 List */
.boardList-wrap {margin-bottom:53px;}
.boardList-wrap li { padding: 20px 15px; border-bottom: 1px solid #DCDCDC; font-size: 16px; color: #343435;}
.boardList-wrap li:first-child { border-top: 0px}
.boardList-wrap li .title { margin: 0px; line-height: 1.4; font-size: 16px; color: #343435;}
.boardList-wrap li .ico-file:before { content: ''; display: inline-block; margin-right: 10px;}
.boardList-wrap li .desc { margin-top: 15px; font-size: 12px; color: #343435;}
.boardList-wrap li .desc .name { margin-left: 10px;}
.boardList-wrap li .desc .view { margin-left: 10px;}


.board.view .header {position: relative; padding: 20px 15px; border-top: 1px solid #DCDCDC; font-size: 16px; color: #343435;}
.board.view .header .title {margin: 0px; line-height: 1.4; font-size: 16px; color: #343435;}
.board.view .header .desc {margin-top: 15px; font-size: 12px; color: #343435;}
.board.view .header .desc .name {margin-left: 8px;}
.board.view .header .desc .view {margin-left: 8px;}
.board.view .header .btn-wrap {position: absolute; right: 15px; bottom: 10px;}
.board.view .header .btn-wrap .btn-small {width: 50px; height: 25px; box-sizing: border-box; border: 1px solid #b9b9b9; text-align: center; background-color: #ececec; font-size: 12px;}
.board.view .contents {padding: 30px 15px; border-top: 1px solid #DCDCDC; line-height: 1.7; font-size: 14px;}


/* 댓글 */
.board.view .reply-title { padding: 8px 19px; background-color: #e1e1e1; color: #63646c;}
.reply-wrap { border-bottom: 1px solid #DCDCDC; margin-bottom:60px;}
.reply-wrap li { position: relative; padding: 20px 18px; border-top: 1px solid #DCDCDC;}
.reply-wrap li:first-child { border-top: 0px;}
.reply-wrap li .name { margin-right: 5px; font-size: 14px; color: #343435;}
.reply-wrap li .date { font-size: 12px; color: #63646c;}
.reply-wrap li .desc { margin: 10px 0px 0px; font-size: 14px; color: #343435;}
.reply-wrap li .btn-close { position: absolute; top: 0px; right: -5px;}

.reply-write { position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; padding: 10px 16px 10px; background-color: #ffffff; box-shadow: -0px -5px 5px 0 rgba(0, 0, 0, 0.08), inset 0px 1px 0 0 #dbdbdb;}
.reply-write textarea { display: block; width: 100%; height: 40px; box-sizing: border-box; letter-spacing: 0; -webkit-line-break: after-white-space; line-height: 148%; -webkit-nbsp-mode: space; outline: none; overflow: hidden; overflow-y: auto; margin: 0; resize: none; padding: 12px 32px 2px 2px; border: 0px; text-indent: 0; white-space: pre-wrap; word-wrap: break-word; font-size: 14px; z-index: 4; background: transparent; -webkit-appearance: none;}
.reply-write .inner-wrap{ position: relative;}
.reply-write .btn-write{position:absolute; top:12px; right:0px; color:#B3B3B3;}
.reply-write .btn-write.on{color:#0090D6;}


/* 게시판 글쓰기 */
.board.write{position:relative; font-size:16px;}
.board.write button{padding:0px;}
.board.write .header{overflow:hidden; padding:18px 15px;}
.board.write .header .btn-cancel{float:left; color:#343435;}
.board.write .header .btn-write{float:right; color:#CDCDCD;}
.board.write .header .btn-write.on{color:#343435;}
.board.write .title{padding:5px 15px 5px 15px; border-top:1px solid #DCDCDC;}
.board.write .title input{width:100%; height:40px; box-sizing:border-box; padding:0px; border:0px;}
.board.write .contents{padding:20px 15px; border-top:1px solid #DCDCDC;}
.board.write .contents textarea{width:100%; box-sizing: border-box; padding:0px; border:0px;}
.board.write .contents textarea.autosize{ min-height: 300px;}
/* 
.board.write .floating-wrap{position:fixed; left:0; right:0; bottom:0; background:#ffffff;}
.board.write .floating-wrap .inner-wrap{overflow: hidden; padding:10px 15px 15px; border-top:1px solid #DCDCDC;}
.board.write .floating-wrap .btn-file{float:left; padding-top:5px;}
.board.write .floating-wrap .radio-wrap{float:right;}
 */
.board.write .inner-wrap{overflow: hidden; padding:10px 15px 15px; border-top:1px solid #DCDCDC;}
.board.write .inner-wrap .btn-file{float:left; padding-top:5px;}
.board.write .inner-wrap .radio-wrap{float:right;}

.group-msg{position:relative; padding:0px; background-color:#ffffff;}
.group-msg .btn-wrap{position: fixed; bottom: 0; left: 0; right: 0; padding: 15px; background-color: #ffffff; box-shadow: inset 0px 1.5px 0 0 #dbdbdb;}
.group-msg .btn-wrap .btn{background-color:#d5d5d5;}
.group-msg .btn-wrap .btn.next,
.group-msg .btn-wrap .btn.write,
.group-msg .btn-wrap .btn.send{background-color:#008fd5;}
.group-msg .btn-wrap .btn.complete{background-color:#55646b;}
.group-msg .contents {padding: 18px 15px;line-height: 1.7; font-size: 14px;}
.group-msg .contents textarea{width:100%; box-sizing: border-box; padding:0px; border:0px;}
.group-msg .contents textarea.autosize{min-height: 200px;}


.sendList-wrap{position:relative; border-top:1px solid #D2D2D2; margin-bottom:53px;}
.sendList-wrap li{padding:20px 15px; border-bottom:1px solid #D2D2D2;}
.sendList-wrap li .title{font-size:16px; color:#343435;}
.sendList-wrap li span{font-size:12px; color:#63646c;}

.resultList-wrap {border-top:1px solid #D2D2D2;}
.resultList-wrap li{position:relative; padding:13px 15px; border-bottom:1px solid #D2D2D2;}
.resultList-wrap span{display: inline-block;}
.resultList-wrap .title{font-size:16px; color:#343435;}
.resultList-wrap .rank{margin-left:8px; font-size:12px; color:#63646c;}
.resultList-wrap .crumb{font-size:10px; color:#63646c; margin-top:7px;}

.resultList-wrap input[type="checkbox"]{
    display: none;
}
.resultList-wrap input[type="checkbox"] + label span {
    position:absolute;
    top:10px;
    right:10px;
    display: block;
    width:25px;
    height:25px;
    border:1px solid #BABABA;
    text-align: center;
}
.resultList-wrap input[type="checkbox"]:checked + label span {
    border:1px solid #008fd5;
    background-color:#008fd5;
    vertical-align: middle;
}
.resultList-wrap .btn-close{position: absolute; top: 0px; right: -5px;}
.btn-add{width:100%; padding:12px 0px; text-align: center; font-size: 16px; background:#55646b; color:#ffffff; }
.btn-more{width:100%; padding:13px 15px; border-bottom:1px solid #d1d1d1; text-align:left; font-size: 14px; color:#343435; }
.btn-more .arrow-right-small{margin-left:8px; vertical-align: text-top;}
.btn-more .add-round{margin-left:7px; vertical-align: text-top;}

/* modal popup */
#modal {z-index: 100; position: fixed; left: 0; top: 0;right: 0;bottom: 0;}
#modal.on {display: block;}
#modal.off {display: none;}
.layer {z-index: 10; position:absolute; left:50%; top:50%; margin-left:-130px; margin-top:-72px;}
.modal-dimmed {z-index: 5; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: #000000; opacity: 0.35;}

.popwrap{box-sizing: border-box; border-radius: 3px; background:#ffffff;}
.popwrap .notice{padding:30px 45px; margin:0px;}
.popwrap .notice span{display:table-cell; width:170px; height:32px; vertical-align: middle;}
.popwrap .btn-wrap{overflow:hidden; border-top:1px solid #D6D6D6;}
.popwrap .btn-wrap button{float:left; border-left:1px solid #D6D6D6; width:50%; padding:18px 0px; text-align:center;}
.popwrap .btn-wrap button:first-child{border-left:0px;}.popwrap .btn-wrap button:first-child:nth-last-child(1){width:100%;}
.popwrap .btn-wrap button:first-child:nth-last-child(2),
.popwrap .btn-wrap button:first-child:nth-last-child(2) ~ button {width:50%;}