@charset 'utf-8';

@import url(/common/css/base.css);
@import url(/common/css/index.css);
@import url(/common/css/common.css);
@import url(/common/css/sub.css);
@import url(/common/css/popup.css);
@import url(/common/css/font-awesome.css);
@import url(/common/css/layout.css); /* 공통 스타일  */

/* ------------ Color ---------------
진한색(테두리, 글자색) : #0072bc     -> 기본색상
좀더연한(배경색)      : #f4f9fb     -> Sheet
아주연한(배경색)      : #f5fafd
메인상단탭 배경색           : #82bce2

.ui-tabs-nav li a : #6d90a5     -> 탭 글자색(단독)
.btn_menu         : #004d7f     -> 좌측 메뉴 하단(단독)
.lnb_bott_menu a  : #69b8ec     -> 좌측 메뉴 하단(단독)
.btn_menu a       : #1984c0     -> 좌측 메뉴 하단(단독)
--------------------------------------*/

:root {
	--txt_color_base :#0072bc;	/* 기본색상 */
	--bg_color_base : #f4f9fb;	/* 좀더연한(배경색) */
	--bg_color_lite : #f5fafd;	/* 아주연한(배경색) */
	--bg_color_deep : #82bce2;	/* 진한(배경색) */
}

/* main/190524 이효정 추가 */
a.gnb_icon { background: url("../images/top_icon.png") no-repeat; }
a.time_delay_txt { color: #0072bc !important; }

#lnb { background: #0072bc; }
#lnb .onedepth_group { background: #0072bc; }
#lnb .onedepth_group .inner li:hover a { background: url("../images/menu_icon_on.png") left top no-repeat; color: #0072bc; }
#lnb .onedepth_group .inner li.lnb_selected:not(.lnb_worklst):not(.lnb_bbs) a { background: url("../images/menu_icon_on.png") left top no-repeat; color: #0072bc; }
#lnb .onedepth_group .btn_menu { background-color: #004d7f; }
#lnb .onedepth_group .btn_menu li:first-child { background: url("../images/menu_line.gif") right 5px no-repeat; }
#lnb .onedepth_group .lnb_bott_menu { background: #0072bc url("../../images/main/menu_line2.png") center top no-repeat; }
#lnb .onedepth_group .lnb_bott_menu a { color: #69b8ec;  } /*★*/
#lnb .onedepth_group .btn_menu a { color: #1984c0; } /*★*/
#lnb .twodepth_group .lnb_title>span { background: url("../images/menu_icon_on.png") no-repeat; color: #0072bc; }
#lnb .twodepth_group .twodepth li>a.menu2_on { background:url(../../images/sub/icon_menu_up.png) 135px 9px no-repeat; color:#0072bc; }
#lnb .twodepth_group .twodepth li dl dt>a.menu3_on:after { color:#0072bc;  }
#lnb .twodepth_group .twodepth li dl dd>a.menu4_on { color:#0072bc;  }
#lnb .twodepth_group .twodepth li dl dd>a.menu4_on:after { color:#0072bc; }

.profile_section { background: #FFF url("../images/profile_top_bg.png") left top no-repeat; }
.profile_section .btn_pw_modify:hover { background-image: url("../images/icon_pw_on.png"); color: #0072bc; }
.profile_section .profile_menu li .profile_menu_box .blt_count { background-color: #0072bc; }
.profile_section .profile_menu li .profile_menu_box .blt_pay_on { background-color: #0072bc; }
.profile_section .profile_menu li .profile_menu_box .appli_lst { background: url("../images/icon_appli.png") left top no-repeat; }
.profile_section .profile_menu li .profile_menu_box .appro_lst { background: url("../images/icon_appro.png") left top no-repeat; }
.profile_section .profile_menu li .profile_menu_box .pay_month { color: #0072bc; }
.profile_section .profile_menu li a:hover .profile_menu_box  { border: 1px solid #0072bc; }
.profile_section .profile_menu li a:hover .profile_menu_name  { color: #0072bc; }

.calendar_section .date_prev:hover { border: 1px solid #0072bc; background-image: url("../images/btn_prev_on.png"); }
.calendar_section .date_next:hover { border: 1px solid #0072bc; background-image: url("../images/btn_next_on.png"); }
.calendar_section table.calendar_box>tbody td span { color: #0072bc; }
.calendar_section table.calendar_box>tbody td.calendar_on { background: url("../images/calendar_on.png") 50% top no-repeat; }

.schedule_section ul li.schedule_date strong { color: #0072bc; }
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color:#0072bc; }
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #0072bc; }

.on_box { background-color: #f4f9fb; }
.main_section_title h3 { color: #0072bc; }
.point_menu { color: #0072bc; }
.main_menu_on .title_group .title_icon { background-color: #0072bc; }
.main_menu_on .title_group h4 { color: #0072bc; }
.main_menu_on .title_group h4 a { color: #0072bc; }
.main_menu_on .meun_lst li a:hover { color: #0072bc; }

.graph_group li .graph_txt strong { color: #0072bc; }
.graph_group li p.graph_bg .graph_on { background-color: #0072bc; }

.hr_group .hr_th li { color: #0072bc; }

.pop_authority .pop_level_lst a:hover { color: #0072bc !important; background-image: url("../images/txt_blt_theme.gif"); }
.pop_theme .pop_theme_font input[type="checkbox"]:checked + label { background:url("../images/check_on.png") left top no-repeat; }
.pop_theme .pop_main_type input[type="checkbox"]:checked + label { background:url("../images/check_on.png") left top no-repeat; }
.pop_btn:hover { color: #0072bc; border: 1px solid #0072bc; }
.pop_btn_point { background-color: #0072bc; border: 1px solid #0072bc; }
.pop_btn_point:hover { color: #0072bc; border: 1px solid #0072bc; }

/* ------------ common.css --------------- */
a:hover {color:#0072bc}

.f_point { color:#0072bc !important; }

/* btn */
.btn_point { color:#0072bc;}
.btn_pointB { color:#0072bc; }
.btn_print:before { color:#0072bc; }
.btn_pointB { color:#0072bc; }

/* popup */
.popup_title ul { background-color:#0089eb!important;}
.pop_con .pop_line { background-color:#0072bc; }
.pop_con .pop_table01 td>input:hover { border:1px solid #0072bc; }
.popup_main .layout_group li a.layout01_on { border:1px solid #0072bc !important; background:url(../images/layout1_on.png) 10px 10px no-repeat !important; }
.popup_main .layout_group li a.layout02_on { border:1px solid #0072bc !important; background:url(../images/layout2_on.png) 10px 10px no-repeat !important; }
.pop_con .widget_order .widget_order_title { color:#0072bc; }
.pop_con .lock_sett_txt { color:#0072bc; }
.pop_con .lock_form>input { border:1px solid #0072bc;  }
.pop_con .lock_form .btn_lock_login { background-color:#0072bc;  }
.popup_main .pop_line {  background-color:#0072bc; }
.popup_widget .popup_main .widget_order .widget_order_title { color:#0072bc; }
.pop_group .pop_con .lock_sett_txt { color:#0072bc; }
.pop_group .pop_con .lock_form>input { border:1px solid #0072bc;  }
.pop_group .pop_con .lock_form  .btn_lock_login { background-color:#0072bc; }
.pop_con .sbHolder a:hover { color:#0072bc; }
.pop_con .sbHolder:hover { border:1px solid #0072bc !important; }
.pop_con .sbOptions { background-color:#f6f9fa; border:1px solid #0072bc;}
.pop_con .sbOptions:hover { border:1px solid #0072bc !important; }
.popup_main .sbHolder a:hover { color:#0072bc; }
.popup_main .sbHolder:hover { border:1px solid #0072bc !important; }
.popup_main .sbOptions { background-color:#f6f9fa; border:1px solid #0072bc; }
.popup_main .sbOptions:hover { border:1px solid #0072bc !important; }
.popup_main .pop_table01 td>input:hover { border:1px solid #0072bc; }
.pop_con .widget_group li a.widget_fixed { background:url(../images/widget_fixed.png) left top no-repeat; }
.pop_con .widget_group li a.widget_on { background:url(../images/widget_on.png) left top no-repeat; }
.pop_closeB:before { color:#0072bc; }

/* common tab  */
.ui-tabs:not(.sub_top) .ui-tabs-nav li a { border-bottom:1px solid #0072bc; background-color:#f5fafd; color:#6d90a5;  }
.ui-tabs:not(.sub_top) .ui-tabs-nav li.ui-state-active a { border-bottom:1px solid #FFF; border-left:1px solid #0072bc; border-right:1px solid #0072bc; border-top:1px solid #0072bc; color:#0072bc;  }

/* selectbox */
.sbHolder:hover { background:url("../images/blt_select_on.png") right 11px no-repeat; }


/* ------------ main.css --------------- */
/* 신규입사자,인사담당자 */
.box_400>.anchor_of_widget>.newcomer_group .newcomer_txt { color:#0072bc; }
.box_100>.anchor_of_widget>.newcomer_group .newcomer_txt { color:#0072bc; }
.header_group li span.header_type { color:#0072bc; }
.header_group li span.header_name { color:#0072bc; }
.header_btn_group span.on { background-color:#0072bc; border:1px solid #0072bc; }

/* 휴가신청,교육현황 */
.graph_circle_txt span.graph_circle_type { color:#0072bc; }

/* 오늘의 일정 */
.box_100>.anchor_of_widget>.schedule_group .schedule_txt span.schedule_day { color:#0072bc; }
.box_250>.anchor_of_widget>.schedule_group .schedule_txt span.schedule_day { color:#0072bc; }
.box_400>.anchor_of_widget>.calendar_table>tbody>tr>td span { background-color:#0072bc;}
.box_400>.anchor_of_widget>.calendar_table>tbody>tr>td.blt_calendar_on { background:url("../images/calendar_on.png") 2px 3px no-repeat; color:#FFF; }

/* 급여지급현황 */
.box_100>.anchor_of_widget>.pay_txt span.pay_complete { color:#0072bc; background:url(../images/icon_pay.png) right 2px no-repeat; }
.box_250>.anchor_of_widget>.pay_txt li.pay_complete { color:#0072bc; background:url(../images/icon_pay.png) right 4px no-repeat; }
.box_400>.anchor_of_widget>.pay_txt li.pay_complete { color:#0072bc; background:url(../images/icon_pay.png) right 4px no-repeat; }

/* 이달의 기념일 */
.box_100>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_type { color:#0072bc; }
.box_250>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_type { color:#0072bc; }
.box_250>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_date { color:#0072bc; }
.box_400>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_type { color:#0072bc; }
.box_400>.anchor_of_widget>.anniv_group .anniv_txt li span.anniv_date { color:#0072bc; }

/* 나의 기념일 */
.box_100>.anchor_of_widget>.my_anniv_txt span.anniv_checked {color:#0072bc; background:url(../images/icon_pay.png) right 2px no-repeat; }
.box_250>.anchor_of_widget>.my_anniv_txt li.anniv_checked { color:#0072bc; background:url(../images/icon_pay.png) right 4px no-repeat; }
.box_400>.anchor_of_widget>.my_anniv_txt li.anniv_checked { color:#0072bc; background:url(../images/icon_pay.png) right 4px no-repeat; }

/* 신청한 내역,결재할 내역, 갱신사항안내 */
.box_100 .lst_number { color:#0072bc; }
span.lst_date { background:url(../../images/main/blt_circle_gray.png) left 9px no-repeat; color:#0072bc; }

/* 설문조사 */
.box_100>.anchor_of_widget>.survey_txt>li>p.survey_date { color:#0072bc;  }

/* 프로필 */
.profile_btn_group { background-color:#0072bc; }

/* 공지사항 */
.box_250>.anchor_of_widget>.notice_group li span.lst_new { border:1px solid #0072bc; background:url(../../images/main/blt_new.png) 4px 4px no-repeat;}
.box_400>.anchor_of_widget>.notice_group li span.lst_new { border:1px solid #0072bc; background:url(../../images/main/blt_new.png) 4px 4px no-repeat;}
.box_100>.anchor_of_widget>.notice_group li span.lst_new { border:1px solid #0072bc; background:url(../../images/main/blt_new.png) 4px 4px no-repeat;}

/*승진포인트 */
.box_400> .anchor_of_widget >.prompoint_group li span.lst_data2 { color:#0072bc;}
.box_250> .anchor_of_widget >.prompoint_group li span.lst_data2 { color:#0072bc;}
.box_100> .anchor_of_widget >.prompoint_group li span.lst_data2 { color:#0072bc;}

/* selectbox */
.main_wrap .main_content .sbHolder a:hover { color:#0072bc; }
.main_wrap .main_content .sbHolder:hover { border:1px solid #0072bc !important; }
.main_wrap .main_content .sbOptions {  border:1px solid #0072bc; }
.main_wrap .main_content .sbOptions:hover { border:1px solid #0072bc !important; }

/* popup */
.authority_sett_pop .authority_sett_txt li a.on { color:#0072bc; background:url(../../images/main/blt_circle_blue.png) left 6px no-repeat; }

/* quick */
.quick_menu .quick_menu01 { background-color:#0072bc; }
.quick_menu .quick_menu02 { background-color:#c1e281; }

/* ------------ sub.css --------------- */
/* 상단 탭/레이아웃 버튼 */
.sub_top .tab_group2 { background-color:#82bce2; }
.sub_top .tab_group li.ui-tabs-active { background-color:#0072bc;}
.sub_top .tab_group li { background:url(../images/tab_line.png) right top repeat-y; }
.sub_top .btn_sub_tab li { background:url(../images/tab_line.png) left top repeat-y; background-color:#82bce2; }

/* table */
ul.header_table { border-top:2px solid #0072bc;}
ul.header_table li.photo_group {background-color:#f5fafd; }
ul.header_table li.photo_group .represent_name { background-color:#f5fafd; }
ul.header_table li dl dd .point_txt { color:#0072bc; }
table.default td input:hover, table.default td input:focus,
table.table td input:hover, table.table td input:focus,
table.default td select:hover, table.default td select:focus,
table.table td select:hover, table.table td select:focus,
table.default td textarea:hover, table.default td textarea:focus,
table.table td textarea:hover, table.table td textarea:focus { border:1px solid #0072bc; color:#0072bc; }
table.base td input:hover, input:focus { border:1px solid #0072bc; color:#0072bc;  }
table.base th { background-color:#f5fafd; }
table.default th,
table.table th { background-color:#f5fafd; }
table th { background-color:#f5fafd; }


/* title */
.title_group h3.title:before { color:#0072bc; }
.sheet_title ul li.txt:before { color:#0072bc; }

/* search */
.sheet_search { border-top:2px solid #0072bc; background:url(../images/title_search.png) 30px 50% no-repeat;  }
.sheet_search a.button { background-color:#0072bc;}
a.button { background-color:#0072bc; }

/* search_form */
/* selectbox */
.sheet_search .sbHolder a:hover { color:#0072bc; }
.sheet_search .sbHolder:hover { border:1px solid #0072bc !important; }
.sheet_search .sbOptions { border:1px solid #0072bc;  }
.sheet_search .sbOptions:hover { border:1px solid #0072bc !important; }
/* selectbox_new */
.sheet_search select:not(.readonly):hover { border:1px solid #0072bc; }
/*---- radio ----*/
.sheet_search input[type="radio"]  { background:url("../images/form_radio.png") 0 -40px no-repeat; }
.sheet_search input[type="radio"]:checked { background:url("../images/form_radio.png") 0 0 no-repeat; }
/*---- checkbox ----*/
.sheet_search input[type="checkbox"]  { background:url("../images/form_check.png") 0 -40px no-repeat; }
.sheet_search input[type="checkbox"]:checked { background:url("../images/form_check.png") 0 0 no-repeat; }
/*---- input ----*/
.sheet_search input[type="text"]:not(.readonly):hover { border:1px solid #0072bc; }

.sheet_search input[type="text"].required,
.sheet_search select.required { border:1px solid #0072bc; }


/**/
#calendarDetail #detailDate {background:#f4f9fb}
.GMFocusRowBackground, .GMCursorBackground 	{ opacity:0.15; filter:alpha(opacity=15); background:#45a3e6 !important; }
.ui-autocomplete .ui-state-focus {background: #f4f9fb;}

/* 탭 하단 라인 2019.12.02 */
.ui-tabs-nav-line { border-bottom:1px solid #0072bc !important; }


/* Calendar 색상 2020.09.01*/
.fc-h-event { /* allowed to be top-level */
  border: 1px solid #0072bc;
  border: 1px solid var(--fc-event-border-color, #0072bc);
  background-color: #0072bc;
  background-color: var(--fc-event-bg-color, #0072bc)

}
.fc .fc-button-primary {
    background-color: #f5f8f9;
    background-color: var(--fc-button-bg-color, #f5f8f9);
}
.fc .fc-button-primary:hover {
    background-color: #0072bc;
    background-color: var(--fc-button-hover-bg-color, #0072bc);
}
.fc .fc-button-primary:disabled { /* not DRY */
    background-color: #0072bc;
    background-color: var(--fc-button-bg-color, #0072bc);
}
.fc .fc-button-primary:not(:disabled):active,
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #0072bc;
    background-color: var(--fc-button-active-bg-color, #0072bc);
}


/* util */
.point_bg_main { background-color: #0072bc !important; }
.point_bg_base { background-color: #f4f9fb !important; }
.point_bg_lite { background-color: #f5fafd !important; }
.point_bg_deep { background-color: #82bce2 !important; }
.point_bd { border: 1px #0072bc solid !important; }
.point_bd2 { border: 2px #0072bc solid !important; }
.point_bd_top1 { border-top: 1px #0072bc solid !important; }
.point_bd_top2 { border-top: 2px #0072bc solid !important; }
.point_bd_right1 { border-right: 1px #0072bc solid !important; }
.point_bd_right2 { border-right: 2px #0072bc solid !important; }
.point_bd_bottom1 { border-bottom: 1px #0072bc solid !important; }
.point_bd_bottom2 { border-bottom: 2px #0072bc solid !important; }
.point_bd_left1 { border-left: 1px #0072bc solid !important; }
.point_bd_left2 { border-left: 2px #0072bc solid !important; }


/* employee header */
div#area_employee_header.header_table { border-top: 2px #0072bc solid; }
div#area_employee_header.header_table .primary_info { background-color: #f5fafd; }
div#area_employee_header.header_table .primary_info ul li.emp_name { background-color: #0072bc; }
