/* reset */
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,audio,video {margin:0;padding:0}
/*html{background-color:#f3f3f8;-webkit-text-size-adjust:none;line-height:1.2em;color:#222;font-size:10px;font-family:'Roboto','Droid Sans','Malgun Gothic','Helvetica','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림';word-break:break-all}*/
html {-webkit-text-size-adjust:none;line-height:1.6em;font-size:12px;word-break:break-all}
table {border-collapse:collapse;border-spacing:0}
img,button {border:0;vertical-align:top}
/* img {width:100%} */
input,textarea,select {border-radius:0;font-size:inherit;font-family:inherit;color:inherit;-webkit-appearance:none;-moz-appearance:none}
ul,li,ol {list-style-type :none; text-align: left;}
hr {display:none}
a {color:inherit;text-decoration:none}
em {font-style:normal}
legend,caption {text-indent:-5000px;overflow:hidden;font-size:0;height:0;width:0}
caption.show {text-indent: initial;overflow: initial;font-size: initial;height: initial;width: initial;}

html,body {position:relative;height:100%;min-height:100%;overflow-x:hidden;}