/* 삭제하기 전 */
.chart_content {display: flex; justify-content: center;}
.widget_info_area { display: flex; justify-content: space-between; }
.widget_sub_txt{ color: #323232; letter-spacing: -1.3px; }
.widget_sub_txt_num{ letter-spacing: -1.2px; font-size: 40px; }
.widget_chart_info p{font-size: 12px;}
.widget_info_title{font-size: 13px; font-weight: bold; letter-spacing: -0.5px; color: #323232; }
.widget_work_info { display: flex; justify-content: space-between;}
.widget_work_info_sub_title{ color: #9f9f9f; font-size: 12px; }
.widget_work_info_sub_txt{ color: #323232; font-size: 13px; letter-spacing: -0.5px; display: flex; justify-content: space-between; }
.widget_work_info{ font-size: 40px; color: #323232; letter-spacing: -1.2px;  }
.widget_work_info_area{ width: 136px; }

.chart_stacked_bar{ margin-top: 3px; background-color: #e3e3e3; height: 4px; margin-top: 3px; border-radius: 2px;}
.stacked_blue_bar{ position:absolute; background-color: #2570f9; height: 4px; width: 5%; border-radius: 2px;}
.stacked_purple_bar{ position:absolute; background-color: #af52f0; height: 4px; width: 2%; border-radius: 2px;}
.stacked_green_bar{ position:absolute; background-color: #34c759; height: 4px; width: 5%; border-radius: 2px;}
.chart .apexcharts-xaxis-tick { display: none; }
.chart .apexcharts-menu-icon { display: none; }
.apexcharts-xaxis-tick{ display: none; }
.chart .active { font-weight: 900; }
.apexcharts-toolbar{display: none !important;}