/**
 * * 아이비시트 - ibsheet.css
 */
 
@charset "utf-8";

/* ibsheet */
#ib-container {height: 500px !important;}
.GMMainTable {border: none !important;}
.GMCell{height: 37px !important;}
.GMWrap0 {height: 20px !important;}
.GMClassReadOnly{height: 37px !important; background-color:#e0e0e0;}
.GMCell, .GMCellPanel, .GMCellFilter, .GMHeaderDrag, .GMHeaderGroup {
  border-color: #e3e3e3 !important;
}

/* 헤더 */
.GMCellHeader, .GMCellHeaderEmpty {border-color: #e3e3e3 !important; border-bottom: 2px solid #e3e3e3 !important; }
.GMHeaderText {color: #323232 !important; font-size: 12px !important; font-weight: normal !important; text-shadow:none}

.GMCell {font-size: 12px !important; font-weight: normal !important; color: #555555 !important;}
.GMSection > tbody > tr:nth-child(odd) > td {background-color: #ffffff !important;}
.GMSection > tbody > tr:nth-child(even) > td {background-color: #f8f8f8 !important; }
.GMSection > tbody > tr.GMHeaderRow > td {background-color: #ffffff !important;}

/* 드롭다운 */
.GMMenuOuter {
  border-radius: 10px;
  border: none !important;
  box-shadow: 0 0 10px 0 rgba(94, 94, 94, 0.1)
}
.GMEnumMenuFocus, .GMMenuFocus {margin: 0;}
.GMMenuItemText, .GMMenuItemIcon, .GMMenuEnum, .GMMenuEnumHeader, .GMMenuEdit, .GMFilterMenuItemText {padding: 4px 2px !important;}
.GMEnumMenuFocus, .GMEnumMenuFocusHover, .GMMenuFocus, .GMMenuFocusHover {margin: 0; background-color: transparent !important; border: 0 !important; }

 /* 체크박스 */
.GMCheckHeader0 {margin-left: 7px !important;}

.GMClassFocused{background:rgba(37,112,249, 0.05)!important;}

.GMClassFocusedCell {border: none !important;}

.GMCustScroll3SliderUp, .GMCustScroll3SliderUpHover, .GMCustScroll3SliderDown, .GMCustScroll3SliderDownHover {background: url(../../assets/images/scroll.png) !important;}

.GMToolPagerFirst, .GMToolPagerFirst1 {
  background-position: -30px 7px !important;
}
.GMToolPagerPrev, .GMToolPagerPrev1 {
  background-position: -150px 7px !important;
}
.GMToolPagerNext1, .GMToolPagerNext  {
  background-position: -183px 7px !important;
}

.GMToolPagerLast1, .GMToolPagerLast {
  background-position: -300px 7px !important; margin-right: 10px !important;
}

.GMCellSpaceButton {width: 50px !important; }
.GMCountFont  {padding-left: 10px !important;
  padding-right: 0px !important; }