@charset "UTF-8";
html,body{height: 100%;}
.ess-wrap {position: relative; z-index: 0; display: flex;flex-direction: column; min-height: 100%;padding: 0px 100px;}
.ess-wrap.bg-color {background: linear-gradient(124deg, #ffffff 4%, #c3e4ff 28%, #cedefc 52%, #b6c7ff 86%) ;}
.ess-wrap .bg-shape {position: absolute; top:0; right: 0; bottom: 0; left: 0px; z-index: -1; background-repeat: no-repeat; background-size: contain; background-position: bottom;}

body.ess-body{background-color:#ffffff!important;}
.ess-body #lnb {display: none !important;}

/* ess-header */
.ess-header {display: flex;align-items: center; flex-direction: row; height: 76px;}
.ess-header .logo-wrap img{display: inline-block; width: auto; height: 30px;}
.ess-header .control{display: flex; align-items: center; margin-left: auto;}
.ess-header .control .custom-select{display: flex; align-items: center; padding: 2px 8px 2px 7px; border-radius: 20px; background-color:rgba(70,81,102, 0.2) ;}
.ess-header .control .custom-select .avatar-wrap{display: inline-flex; flex-shrink: 0; width: 28px;height: 28px;margin-right: 8px;border: 0px;border-radius: 50%;background: url('../images/common/header/avatar.png') no-repeat center center;position: relative;overflow: hidden;}
.ess-header .control .custom-select .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ess-header .control .custom-select .custom_select.no_style .select_toggle{font-weight:bold; font-size: 15px;}
.ess-header .control .custom-select .custom_select.no_style .select_toggle>span{min-width: 50px; color: #ffffff; text-align: left;} 
.ess-header .control .custom-select .custom_select.no_style .select_toggle>i{color: #ffffff;}
.ess-header .control .session-wrap{display: flex; align-items: center; margin-left: 20px; }
.ess-header .control .session-wrap span{position: relative; padding-left: 17px;font-size:1.083rem;}
.ess-header .control .session-wrap span::before{content: ''; position: absolute; top: 3px; left:8px; display: inline-block; width: 1px; height:15px; background-color: #465166;}
.ess-header .control .session-wrap span:first-child{padding-left: 0px;}
.ess-header .control .session-wrap span:first-child:before{display: none;}
.ess-header .control .session-wrap a{height: 16px; margin-left:4px; color: #465166; cursor: pointer;}
.ess-header .control .session-wrap a>i{font-size: 16px;}
.ess-header .control .btn-settings{display: flex; width: 136px; margin-left: 16px;}
.ess-header .control .btn-settings li+li{margin-left: 8px;}
.ess-header .control .btn-settings li button{display: flex;align-items: center;justify-content: center;width: 28px;height: 28px;border-radius: 100%;background-color: #ffffff; cursor: pointer;}
.ess-header .control .btn-settings li button i{font-size: 18px; color: #465166;}

.ess-header .control .account_info { display: flex; align-items: center; padding: 6px; }
.ess-header .control .account_info:hover {color: inherit;}
.ess-header .control .account_info {padding-right: 0; margin-right: -20px; margin-left: 20px; }
.ess-header .control .account_info .custom_select .select_toggle { font-size: 13px; color: #555; }
.ess-header .account_info i.mdi-ico{margin-right: 4px; font-size: 18px;}
.ess-header i.add_circle {margin-left: 3px;}

.ess-header .control li.change-user{margin-left: 9px;}
.ess-header .control li.setting .custom_select{height: unset;}
.ess-header .control li.setting .custom_select .select_toggle{padding:0px;}
.ess-header .control li.setting .select_options .circle { display: inline-block; width: 16px; height: 16px; border-radius: 16px; margin-right: 8px; position: relative; top: -1px; }
.ess-header .control li.setting .select_options .circle.blue { background-color: #2570f8; }
.ess-header .control li.setting .select_options .circle.orange { background-color: #ff7a39; }
.ess-header .control li.setting .select_options .circle.green { background-color: #34c759; }
.ess-header .control li.setting .select_options .circle.red { background-color: #ff5c5c; }
.ess-header .control li.setting .select_options .circle.orange-red { background: linear-gradient(to bottom, #f25639, #f36436 29%, #f7902d 59%, #fbb725); }
.ess-header .control li.setting .select_options .circle.green-orange { background: linear-gradient(137deg, #ffaf23 13%, #80bf8d 41%, #2cc9d3 67%, #289bd7 92%); }
.ess-header .control li.setting .select_options .circle.gold { background: linear-gradient(144deg, #c7ac65 1%, #d58d39 26%, #d19f55 51%, #e9b401 72%, #ffdf81 92%); }
.ess-header .control li.setting .select_options .circle.navy { background-color: #133b85; }
.ess-header .control li.setting .select_options .circle.white { border: 1px solid #9f9f9f; }
.ess-header .control li.setting .select_options .circle.skyblue { background-color: #0089eb; }

/* ess-content */
.ess-content {display: flex;flex: 1; flex-direction:column;}
.ess-content .d-flex{display: flex;}
.ess-content .align-center{align-items: center;}
.ess-content .ml-auto{margin-left: auto;}
.ess-content .ess-personal{margin-top:7.167rem; display: flex; align-items: center; flex-direction: row;}
.ess-content .ess-personal .welcome-msg{display: flex; align-items: center;}
.ess-content .ess-personal .welcome-msg .avatar-wrap{display: inline-block;width: 92px;height: 92px;margin-right: 0px;border: 1px solid #C8E1FE;border-radius: 50%;background: url(../images/common/header/avatar.png) no-repeat center center / cover; position: relative;overflow: hidden;}
.ess-content .ess-personal .welcome-msg .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ess-content .ess-personal .welcome-msg .inner-wrap{margin-left: 12px;}
.ess-content .ess-personal .welcome-msg .inner-wrap .team{font-size: 18px;font-weight: 400;color: #515c71;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap{margin-top: 12px; font-size: 28px;font-weight: 400; color: #465166;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{font-weight: 700; color: #087ef7;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{font-weight: 700; }
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{margin-left: 8px;}
.ess-content .ess-personal .search-box{margin-left: auto; display: flex; align-items: center; width: 707px; padding: 10px 12.6px 10px 20px; border-radius: 26px;background-color: #ffffff;}
.ess-content .ess-personal .search-box .msg-wrap{display: flex; align-items: center;}
.ess-content .ess-personal .search-box .msg-wrap i{font-size: 24px; color: #465166;}
.ess-content .ess-personal .search-box .msg-wrap .msg{margin-left: 6px; font-size: 16px;font-weight: 500;color: #465166;}
.ess-content .ess-personal .search-box .search{position: relative; display: flex; align-items: center; width: 466px; height: 32px; margin-left: auto;}
.ess-content .ess-personal .search-box .search input{width: 100%; height: 32px; border:1px solid #e5e5e5; border-radius: 26px; text-indent: 20px; padding-right: 68px; background-color: #f3f3f3;}
.ess-content .ess-personal .search-box .search input:focus{outline: 0; border: 1px solid #465166; background-color: #ffffff;}
.ess-content .ess-personal .search-box .search input:focus:not(:focus-visible) {outline: 0;}
.ess-content .ess-personal .search-box .search .btn.filled{position:absolute; right: 4px; top:4px; display: flex; align-items: center; justify-content: center; width: 58px; height: 24px; border-radius: 12px;}
.ess-content .ess-personal .search-box .search .btn.filled i{font-size: 20px;}

/* widget 공통 */
.ess-content .widget{background: #ffffff;}
.ess-content .widget .status.leave,
.ess-content .widget .status.green{color: #21bf54; background-color: #e8f9ed;}/* 연차 */
.ess-content .widget .status.edu,
.ess-content .widget .status.red{color: #ff5c5c; background-color: #fee;}/* 교육 */
.ess-content .widget .status.outside,
.ess-content .widget .status.blue{color: #087ef7; background-color: #e5f2ff;}/* 외근 */
.ess-content .widget .status.sick,
.ess-content .widget .status.yellow{color: #ffc304; background-color: #fff9e5;}/* 병가 */

.ess-content .ess-widget{margin-top: 28px; display: flex; justify-content: space-between; padding: 54px 96px 54px 100px; border-radius: 50px; background-color: rgba(255,255,255, 0.48); }
.ess-content .ess-widget button{background-color: #465166; font-weight: bold;text-align: center;color: #ffffff;}
.ess-content .ess-widget .widget-wrapper .inner-wrap{padding: 6px;}
.ess-content .ess-widget .widget-wrapper .inner-wrap.wid-100{width: 100%!important;}
.ess-content .ess-widget .widget-wrapper .inner-wrap.wid-50{width: 50%!important;}

.ess-content .ess-widget .widget.big .desc{margin-left: 40px;}
.ess-content .ess-widget .widget.big .desc .title{font-size: 16px;font-weight: 400;color: #465166; line-height: 2;}
.ess-content .ess-widget .widget.big .desc .title.big{font-size: 20px;font-weight: bold;line-height: 0.55;letter-spacing: -0.6px;color: #465166;}
.ess-content .ess-widget .widget.big .desc .title .cnt{margin-right: 6px; font-size: 24px;font-weight: bold;line-height: 0.46;letter-spacing: -0.72px;color: #087ef7;}
.ess-content .ess-widget .widget.big .desc .btn-wrap{margin-top: 26px;}
.ess-content .ess-widget .widget.big .desc .btn-wrap button{padding:7px 12px; border-radius: 20px; background-color: #465166;  font-size: 14px;font-weight: bold;line-height: 0.93;letter-spacing: -0.42px;text-align: center;color: #ffffff;}


.ess-content .ess-widget .title-wrap{margin-bottom: 8px; display: flex; align-items: center;}
.ess-content .ess-widget .title-wrap .more{ font-size: 12px; font-weight: 600; color: #7c8fa2;}
.ess-content .ess-widget .title-wrap .more+i{ margin-left: 2px; font-size: 16px; color: #7c8fa2;}
.ess-content .ess-widget .widget-title{font-size: 14px;font-weight: 600;color: #465166;}

.ess-content .ess-widget .widget-info{width: 33.3333%; display: flex; flex-direction: column; justify-content: flex-start;}
.ess-content .ess-widget .widget-info .approval-wrap{display: flex; align-items: center;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap{}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .label{display: flex; align-items: center; font-size: 16px;font-weight: 600;color: #515c71;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .label+.mdi-ico{margin-left:4px; font-size: 16px;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt-wrap{margin-top: 6px; line-height: 1; }
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{font-size: 52px;font-weight: bold;color: #087ef7;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .unit{margin-left: 8px; font-size: 24px;font-weight: 500;color: #465166;}

.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{display: flex; align-items: center; width: 70%; padding: 10px 28px 10px 40px; background-color: #087ef7;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc{width: 100%; margin-left: 0px;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title{color: #ffffff!important; font-size: 18px;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color: #ffffff;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .img-wrap{width: 100px; height: 92px;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .img-wrap img{width: 100px; height:auto;}
.ess-content .ess-widget .widget-info .approval-cnt{display: flex; margin-top: 16px; margin-bottom: 24px;}
.ess-content .ess-widget .widget-info .approval-cnt .inner-wrap{display: flex; width: 50%;}
.ess-content .ess-widget .widget-info .approval-cnt .inner-wrap:first-child{padding-right: 28px;}
.ess-content .ess-widget .widget-info .approval-cnt .inner-wrap:last-child{padding-left: 28px;}
.ess-content .ess-widget .widget-info .approval-cnt .inner-wrap.divider{position: relative; margin:0px; background-color: unset;}
.ess-content .ess-widget .widget-info .approval-cnt .inner-wrap.divider::before{content: ''; position: absolute; top:2px; left: 0px; display: inline-block; width: 1px; height: 16px; background-color: #a9bbcd;}
.ess-content .ess-widget .widget-info .approval-cnt .label{font-size: 16px;font-weight: 400;color: #515c71;}
.ess-content .ess-widget .widget-info .approval-cnt .cnt{font-size: 18px;font-weight: bold;color: #465166;}
.ess-content .ess-widget .widget-info .widget-wrapper{display: flex; margin:-6px;flex-wrap: wrap; }
.ess-content .ess-widget .widget-info .widget-wrapper.qna-wrap{margin-top: -10px;}
.ess-content .ess-widget .widget-info .widget-wrapper .inner-wrap{width: 50%; padding: 6px;}
.ess-content .ess-widget .widget-info .widget-wrapper .inner-wrap.wid-100{width: 100%;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget{display: flex; align-items: center; padding : 10px 20px; border-radius: 16px;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big{display: flex; align-items: center; padding: 1.75rem 2.5rem;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .img-wrap{width: 148px; height: auto;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .img-wrap img{width: 100%;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc{margin-left: 30px;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .title.big{  font-size: 20px;font-weight: bold;line-height: 1.6;letter-spacing: -0.6px;color: #465166;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .btn-wrap{margin-top: 26px;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .btn-wrap button{padding:6px 12px; border-radius: 20px; background-color: #465166;  font-size: 14px;font-weight: bold;line-height: 0.93;letter-spacing: -0.42px;text-align: center;color: #ffffff;}
.ess-content .ess-widget .widget-info .widget .profile{display: flex; align-items: center;}
.ess-content .ess-widget .widget-info .widget .profile .avatar-wrap{display: inline-block;width: 32px;height: 32px;margin-right: 0px;border-radius: 50%;background: url(../images/common/header/avatar.png) no-repeat center center;position: relative;overflow: hidden;}
.ess-content .ess-widget .widget-info .widget .profile .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ess-content .ess-widget .widget-info .widget .profile .name{margin-left: 8px; font-size: 16px; font-weight: bold; color: #465166;}
.ess-content .ess-widget .widget-info .widget .status{min-width: 56px; height: 20px; border-radius: 6px; font-size: 12px; font-weight: 500; text-align: center;}

/* 동료일정 */
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-wrapper .swiper-slide .inner-wrap{display: flex; width: 50%; padding-right: 6px;}
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-wrapper .widget-wrapper {display: flex; flex-wrap: wrap; margin: 0px;}
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-wrapper .swiper-slide .inner-wrap:nth-last-child(-n+2){margin-bottom: 24px;}
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-pagination {top: unset; bottom: 9px;}
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-button-next {top: unset; bottom: -4px; right: 0px;}
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-button-prev {top: unset; bottom: -4px; left: 0px;}
.ess-content .ess-widget .widget-info .personal-time .swiper .swiper-wrapper .swiper-slide .widget-blank{opacity: 0.6;}

/* 즐겨찾는 항목 위젯 */
:root { --remain : calc(100% / 3); }
.ess-content .ess-widget .widget-favorit{margin-left: 76px; width: 62.5%; display: flex; flex-direction: column;}
.ess-content .ess-widget .widget-favorit .widget-wrapper{display: flex; margin:-6px;}
/* .ess-content .ess-widget .widget-favorit .widget-wrapper .inner-wrap{width: 33.333333%; padding: 6px;} */
.ess-content .ess-widget .widget-favorit .widget-wrapper .inner-item1 {width:calc(100% / 3);}
.ess-content .ess-widget .widget-favorit .widget-wrapper .inner-item1 .inner-wrap {height:100%;}
.ess-content .ess-widget .widget-favorit .widget-wrapper .inner-item2 {display:flex; flex-direction:row; flex-wrap: wrap; width:calc(100% - var(--remain));}
.ess-content .ess-widget .widget-favorit .widget-wrapper .inner-item2 .inner-wrap  {width:50%;}
.ess-content .ess-widget .widget-favorit .widget-wrapper .inner-item1 ~ .inner-item2 .widget .btn-wrap {width:100%;}

.ess-content .ess-widget .widget-favorit .widget{padding:1.25rem 1.25rem 1.875rem 1.75rem; border-radius: 24px; background: #ffffff;}
.ess-content .ess-widget .widget-favorit .widget .header{padding:0px; justify-content: flex-start;}
.ess-content .ess-widget .widget-favorit .widget .header .title{display: flex; font-size: 16px;font-weight: bold;color: #465166;}
.ess-content .ess-widget .widget-favorit .widget .header .title>i{font-size: 20px; margin-right: 4px;}
.ess-content .ess-widget .widget-favorit .widget .header button{background-color: #ffffff; cursor: pointer;}
.ess-content .ess-widget .widget-favorit .widget .header button i{font-size: 24px; color: #cacdcf;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey{background-color: #465166;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .title{color: #ffffff;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .btn-wrap{display: flex; align-items: center; margin-top: 36px;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .btn-wrap .desc{font-size: 14px;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px; color: #ffffff;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .round{display: flex; flex-shrink: 0; align-items: center; justify-content: center; width: 32px; height: 32px; border-radius: 100%; background-color: #ffffff;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .round i{font-size: 20px; color: #465166;}

/* 공지사항 및 결재항목 */
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap{margin-top:26px; display: flex; align-items: center;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .label{font-size: 14px;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #515c71;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{font-size: 24px;font-weight: 600;line-height: 1;letter-spacing: -0.72px;color: #087ef7;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .unit{margin-left: 4px;font-size: 14px;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #515c71;}

/* 오늘의 일정 (구버전) */
.ess-content .ess-widget .widget-favorit .widget .status-wrap{margin-top: 37px; position: relative;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .status-list .status{display: inline-block; width: 54px; height: 28px; line-height: 28px; border-radius: 14px; text-align: center;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .status-list .label{font-size: 12px;font-weight: 400;letter-spacing: -0.36px;color: #555;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .status-list .cnt{margin-left: 4px; font-weight: bold;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .status-more{position: absolute; right: 0; bottom: 4px; font-size: 14px;font-weight: 700; color: #465166;}

/* 연간일정 (24.2.26) */
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list {display:flex; justify-content: space-between; align-items: center; padding-bottom:15px;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list:last-child{padding-bottom:0px;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list p {font-size:14px;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list div {display:flex; align-items:center; background-color:#f2f2f2; border-radius: 6px; padding:3px 8px;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list:nth-child(1) div{color:#21bf54;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list:nth-child(2) div{color:#ffc304;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list:nth-child(3) div{color:#ff5c5c;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list:nth-child(4) div{color:#087ef7;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list:nth-child(5) div{color:#465166;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list .mdi-ico {font-size:1rem;}
.ess-content .ess-widget .widget-favorit .widget .status-wrap .list .date {padding-left:8px;}


/* 급여, 근태관리 */
.ess-content .ess-widget .widget-favorit .widget.with-btn{text-align: center;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .ico-round{display: flex;align-items: center;justify-content: center;width: 28px;height: 28px;border-radius: 100%;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .ico-round i{font-size: 20px;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .ico-round.savings{background-color: #fff5d6;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .ico-round.savings i{color: #ffc304;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .ico-round.watch{background-color: #d7eafe;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .ico-round.watch i{color: #087ef7;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .title-wrap{justify-content: center;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .title{margin-left: 4px; font-size: 16px;font-weight: bold;color: #465166;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap{display: inline-block; margin-top: 20px; width: 220px;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap button{width: 100%; height: 35px; line-height: 35px; border-radius: 18px; font-size: 16px; font-weight: bold; }

/* 즐겨찾는 항목 위젯 > wid-50 big 사이즈 */
.ess-content .ess-widget .widget-favorit .notify-wrap{margin-top: 2.625rem;}
.ess-content .ess-widget .widget-favorit .widget.big{display: flex;align-items: center;}
.ess-content .ess-widget .widget-favorit .widget.big .img-wrap{width: 128px; height: 120px;}
.ess-content .ess-widget .widget-favorit .widget.big .img-wrap img{width: 100%;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn {display:flex; flex-direction:column; align-items:center; justify-content:center; background-color:#465166; width:7.5rem; height:7.5rem; border-radius: 1.5rem; box-shadow: 2px 3px 4px 0 rgba(29, 29, 30, 0.16);}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn::after {content: "퇴근하기"; font-size:1.25rem;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn:disabled {background-color:#465166; opacity: .2;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on {background-color:#087ef7;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on::after {content: "출근하기";}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn .mdi-ico {padding-bottom:.625rem;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn .mdi-ico::before {content:"\e9ba"; font-size:2rem; }
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on .mdi-ico::before {content:"\ea77"; }


/*  출근시간 */
.ess-content .ess-widget .widget-favorit .widget.work {padding:1.375rem 1.75rem;}
.ess-content .ess-widget .widget-favorit .widget.work .inner-wrap{display: flex;flex-direction: column; width: unset; padding: 0px;}
.ess-content .ess-widget .widget-favorit .widget.work .desc{margin-left: 28px; width:100%;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time{display:flex; align-items:center;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time span{vertical-align: middle;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{font-size: 24px;font-weight: bold;color: #465166; margin: 10px 6px 10px auto;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .label{font-size: 14px;font-weight: 400;color: #515c71;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .time-label{font-size: 14px;font-weight: 400;color: #515c71;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .week-label{padding-right: 10px;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap{margin-top: 20px;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap .progress{position: relative; display: flex; width: 100%; height: 12px;overflow: hidden;background-color: #f2f2f2;border-radius: 4px;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap .progress .bar{height: 12px;border-radius: 4px; background-color: #465166;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap{display:flex; justify-content: space-between; width:100%; margin-top: 20px; }
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info{font-size: 14px;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #515c71; width:calc(100% / 2); display:flex; justify-content: space-between;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info:not(:last-child)::after {content: ''; display:inline-block; width:1px; height:16px; background-color:#e9e9e9;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info:last-child {padding-left:2.25rem;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{font-weight: bold; color: #087ef7;}

/* 이벤트 */
.ess-content .ess-widget .widget-favorit .widget.big.event .btn-wrap{margin-top: 12px;}
.ess-content .ess-widget .widget-favorit .widget.big.event{background-color: rgba(130,152,195, 0.14);}

/* 반응형 */
/* laptop */
@media all and (max-width:1725px) {
    /* 결재건 위젯 */
    .ess-content .ess-widget .widget-info .approval-wrap .widget.approval{
        padding : 10px 16px 10px 24px;
    }
    .ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title{
        font-size: 16px;
    }
    /* 큰 위젯 title 폰트 사이즈 */
    .ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .title.big{
        font-size: 18px;
    }
    .ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{
        font-size: 22px;
    }
    /* 왼쪽 margin */
    .ess-content .ess-widget .widget.big .desc{
        margin-left: 20px;
    }
    .ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc{
        margin-left: 20px;
    }

    /* 즐겨찾는 항목 위젯 */
    /*  연간일정 */
    .ess-content .ess-widget .widget-favorit .widget .status-wrap{
    	margin-top: 20px;	
    }
    .ess-content .ess-widget .widget-favorit .widget .status-wrap .list{
    	flex-wrap: wrap;
    	padding-bottom: 12px; 
    }
    .ess-content .ess-widget .widget-favorit .widget .status-wrap .list p{
    	width: 100%;
    }
}

@media all and (max-width:1540px) {
    .ess-wrap{
        padding-bottom: 40px;
        /* overflow-y: scroll; */
    }
    .ess-content .ess-widget{
    	padding: 27px 48px 27px 50px;
    }
    /* 동료일정 */
    .ess-content .ess-widget .widget-info .widget-wrapper .widget.big{
    	padding: 1.75rem 1.25rem;
    }
    .ess-content .ess-widget .widget-info .widget-wrapper .widget.big .img-wrap{
        width: 100px;
    }
    .ess-content .ess-widget .widget-info .approval-wrap .widget.approval{
    	padding: 10px 14px 10px 20px;
    }
    .ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title{
        font-size: 14px;
    }
    .ess-content .ess-widget .widget-info .widget .profile{
        min-height: 32px;
    }
    .ess-content .ess-widget .widget-info .widget .profile:has(.name) .avatar-wrap {
        display: none; /* 너비 부족 시 감추기 */
    }
    .ess-content .ess-widget .widget-info .widget .profile:has(.name) .name{
        margin-left: 0;
    }
    .ess-content .ess-widget .widget.big .desc .title{
        font-size: 14px;
    }
    .ess-content .ess-widget .widget.big .desc .title .cnt{
    	font-size: 20px;
    }
    .ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc{
    	margin-left: 20px;
    }
    .ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .title.big{
        line-height: 1.6;
        font-size: 18px;
    }
    
    /* 즐겨찾는 항목 */
    .ess-content .ess-widget .widget-favorit{
        margin-left: 38px;
        width:64%;
    }
    .ess-content .ess-widget .widget-favorit .widget{
        display: flex;
        flex-direction: column;
    }
    .ess-content .ess-widget .widget-favorit .widget .cnt-wrap{
        margin-top: auto;
    }
    .ess-content .ess-widget .widget-favorit .notify-wrap{
        margin-top: 21px;
    }
    .ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap{
        width: 100%;
    }
    .ess-content .ess-widget .widget-favorit .widget.bg-grey .btn-wrap .desc{
        font-size: 12px;
    }
    .ess-content .ess-widget .widget-favorit .widget.big{
        flex-direction: row;
    }
    .ess-content .ess-widget .widget-favorit .widget.big .img-wrap{
        width: 100px;
        height: 110px;
    }
    .ess-content .ess-widget .widget-favorit .widget.work .desc{
        margin-left: 14px;
    }
}

@media all and (max-width: 1380px){
    .ess-content .ess-personal{
        margin-top: 20px;
        flex-direction: column;
    }
    .ess-content .ess-personal .search-box{
        margin-left: 0;
        margin-top: 24px;
    }
    .ess-content .ess-widget{
        flex-direction: column;
    }
    .ess-content .ess-widget .widget-info{
        width: 100%;
    }
    .ess-content .ess-widget .widget-info .widget .profile:has(.name) .avatar-wrap{
        display: block;
    }
    .ess-content .ess-widget .widget-favorit{
        margin-top: 24px;
        margin-left: 0;
        width: 100%;
    }
    .ess-content .ess-widget .widget-favorit .widget .status-wrap .list{
        flex-wrap: nowrap;
    }
    .ess-content .ess-widget .widget-favorit .widget .status-wrap .list p{
        width: auto;
    }
}

@media all and (max-width: 1380px){
    .ess-wrap{
        padding: 0 60px 60px;
    }
    .ess-content .ess-personal .search-box{
        width: 100%;
    }
    .ess-content .ess-widget .widget-favorit .widget .status-wrap .list{
        flex-wrap: wrap;
    }
    .ess-content .ess-widget .widget-favorit .widget .status-wrap .list p{
        width: 100%;
    }
    .ess-content .ess-personal .search-box .search{
        width: 380px;
    }
}

/* 임직원 공통메인 >  전체메뉴 */
@media all and (max-width: 1080px){
    .modal-body .menu-sect .col {
        padding-block: 28px;
        flex: 1 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }
}