@charset "UTF-8";
html,body{height: 100%;}
body.ess-main{background-color:#ffffff!important;}
body.ess-main nav{display: flex; flex-direction: column; align-items: center; width: 6rem; top:0; background: linear-gradient(177deg, #b8a4fb -3%, #798ff8 27%, #51b1f2 58%, #4672e7 100%);}
body.ess-main nav.bg-theme{background-image: linear-gradient(177deg, #b8a4fb -3%, #798ff8 27%, #51b1f2 58%, #4672e7 100%);}
body.ess-main nav .home{display: flex; align-items: center; width: 2.75rem; height: 2.75rem; margin-top: 2rem; border-radius: 100%; background-color: #ffffff;}
body.ess-main nav .home img{display: inline-block; width: 1.667rem; height: 1.667rem; margin: 0 auto;}
body.ess-main nav .nav-list{display: flex;flex-direction :column; width: 100%; margin-top: 4rem;}
body.ess-main nav .nav-list li a{display: flex;flex-direction :column; align-items: center; margin-top: 0; color: rgba(255,255,255,0.68);} /* margin-top:2rem; 로컬과 다름 */
body.ess-main nav .nav-list li .mdi-ico{font-size: 2rem; color: rgba(255,255,255,0.68);}
body.ess-main nav .nav-list li span{margin-top: 0.25rem;font-size: 1.083rem;font-weight: 400;letter-spacing: -0.033rem; color: rgba(255,255,255,0.68);}
body.ess-main nav .nav-list li a:hover .mdi-ico{color: rgba(255,255,255,1);}
body.ess-main nav .nav-list li a:hover span{color: rgba(255,255,255,1);}
body.ess-main nav .nav-list li:first-child a{margin-top: 0;}

.ess-wrap {position: relative; z-index: 0; display: flex;flex-direction: column;padding: 0px 2rem 0px 8.333rem;}
.ess-wrap.bg-color {background: linear-gradient(123deg, rgba(247,247,250, 0.36) 4%, rgba(180,187,231, 0.36) 28%, rgba(193,224,255,0.36) 52%, rgba(174,202,243, 0.36) 85%);}
.ess-wrap.bg-white {background: #ffffff;}
.ess-wrap.bg-top-theme::before{content: '';position: absolute;top: 4.5rem;left: 0;width: 100%;height: 23.333rem;z-index: -1;background: linear-gradient(102deg, #b8a4fb 6%, #798ff8 28%, #51b1f2 50%, #4672e7 82%);}

/* ess-header */
.ess-header {display: flex;align-items: center; flex-direction: row; justify-content:flex-start; flex-basis: 4.333rem; padding-right: 6.333rem;}
.ess-header .logo-wrap img{display: inline-block; width: auto; height: 2.5rem; cursor: pointer;}
.ess-header .control{display: flex; align-items: center; margin-left: auto; right: 6.33rem;}

/* search box 추가 */
.ess-header .control .search-box{margin-left: auto; display: flex; align-items: center; width: 490px; padding: 10px 12px;}
.ess-header .control .search-box .search{position: relative; display: flex; align-items: center; width: 466px; height: 32px; margin:0px;}
.ess-header .control .search-box .search input{width: 100%; height: 32px; border:1px solid #e5e5e5; border-radius: 26px; text-indent: 20px; padding-right: 68px; background-color: #f3f3f3;}
.ess-header .control .search-box .search input:focus{outline: 0; border: 1px solid #465166; background-color: #ffffff;}
.ess-header .control .search-box .search input:focus:not(:focus-visible) {outline: 0;}
.ess-header .control .search-box .search .btn.filled{position:absolute; right: 4px; top:4px; display: flex; align-items: center; justify-content: center; width: 58px; height: 24px; border-radius: 12px;}
.ess-header .control .search-box .search .btn.filled i{font-size: 20px;}

.ess-header .control .custom-select{display: flex; align-items: center; width: fit-content; height:3.333rem; padding: 0.167rem 0.667rem 0.167rem 0.583rem; border-radius: 1.667rem; background-color:rgba(70,81,102, 0.4); background-image: none;}
.ess-header .control .custom-select .avatar-wrap{display: inline-block;width: 2.333rem;height: 2.333rem;margin-right: 0.667rem;border: 0px;border-radius: 50%;background: url('../images/common/header/avatar.png') no-repeat center center;position: relative;overflow: hidden;}
.ess-header .control .custom-select .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ess-header .control .custom-select .custom_select.no_style .select_toggle{font-weight:bold; font-size: 1.25rem;}
.ess-header .control .custom-select .custom_select.no_style .select_toggle>span{min-width: 50px; color: #ffffff; text-align: left;} 
.ess-header .control .custom-select .custom_select.no_style .select_toggle>i{color: #ffffff;}
.ess-header .control .session-wrap{display: flex; align-items: center; margin-left: 1.667rem; }
.ess-header .control .session-wrap span{position: relative; padding-left: 1.417rem; font-size: 1.083rem;}
.ess-header .control .session-wrap span::before{content: ''; position: absolute; top: 3px; left:8px; display: inline-block; width: 1px; height:1.25rem; background-color: #465166;}
.ess-header .control .session-wrap span:first-child{padding-left: 0px;}
.ess-header .control .session-wrap span:first-child:before{display: none;}
.ess-header .control .session-wrap a{height: 1.333rem; margin-left:0.333rem; color: #465166; cursor: pointer;}
.ess-header .control .session-wrap a>i{font-size: 1.333rem;}
.ess-header .control .btn-settings{display: flex; width: 11.333rem; margin-left: 1.333rem; align-items: center;}
.ess-header .control .btn-settings li+li{margin-left: 8px;}
.ess-header .control .btn-settings li button{display: flex;align-items: center;justify-content: center;width: 2.333rem;height: 2.333rem;border-radius: 100%;background-color: #ffffff; cursor: pointer;}
.ess-header .control .btn-settings li button i{font-size: 1.5rem; color: #465166;}

.ess-header .control .account_info { display: flex; align-items: center; padding: 0; margin-right: -1.667rem; margin-left: 0.5rem;}
.ess-header .control .account_info:hover {color: inherit;}
.ess-header .control .account_info .custom_select .select_toggle { font-size: 1.083rem; color: #555; }
.ess-header .account_info i.mdi-ico{margin-right: 0.333rem; font-size: 1.5rem;}
.ess-header i.add_circle {margin-left: 0.25rem;}

.ess-header .control .custom_select{height: 2.333rem;}
.ess-header .control .custom_select>select{border: 0px;}
.ess-header .control .custom_select>select.opened, 
.ess-header .control .custom_select>select.opened {background-image: url('../images/expand_less.png');}


.ess-header .control li.setting .select_options .circle { display: inline-block; width: 16px; height: 16px; border-radius: 16px; margin-right: 8px; position: relative; top: -1px; }
.ess-header .control li.setting .select_options .circle.blue { background-color: #2570f8; }
.ess-header .control li.setting .select_options .circle.orange { background-color: #ff7a39; }
.ess-header .control li.setting .select_options .circle.green { background-color: #34c759; }
.ess-header .control li.setting .select_options .circle.red { background-color: #ff5c5c; }
.ess-header .control li.setting .select_options .circle.orange-red { background: linear-gradient(to bottom, #f25639, #f36436 29%, #f7902d 59%, #fbb725); }
.ess-header .control li.setting .select_options .circle.green-orange { background: linear-gradient(137deg, #ffaf23 13%, #80bf8d 41%, #2cc9d3 67%, #289bd7 92%); }
.ess-header .control li.setting .select_options .circle.gold { background: linear-gradient(144deg, #c7ac65 1%, #d58d39 26%, #d19f55 51%, #e9b401 72%, #ffdf81 92%); }
.ess-header .control li.setting .select_options .circle.navy { background-color: #133b85; }
.ess-header .control li.setting .select_options .circle.white { border: 1px solid #9f9f9f; }
.ess-header .control li.setting .select_options .circle.skyblue { background-color: #0089eb; }



/* ess-body */
.ess-body{display: flex; flex:1; padding: 2.667rem 0 2.667rem; margin-right:0;}
.ess-body .widget-title{display: flex; align-items: center; font-size: 1.333rem;font-weight: 700;color: #465166;}
.ess-body .widget-title.sub{font-size: 1.167rem; font-weight: 500;color: #424242;}
.ess-body .widget-title .rate-desc{margin-left: auto; font-size: 1.333rem;font-weight: 500;color: #93969c;}
.ess-body .widget-title .point-color{color: #087ef7; margin:0 0.333rem;}
.ess-body .widget-title.text-center{justify-content: center;}
.ess-body .widget-title .mdi-ico{ margin-right:0.333rem; font-size: 1.667rem;color: inherit;}
.ess-body .widget-title .cnt{margin-left: 0.667rem; font-size: 1rem;font-weight: bold;color: #087ef7;}
.ess-body .widget-title .ml-auto{margin-left: auto;}
.ess-body .widget-title .unit{margin-left: 0.167rem;font-size: 1rem;font-weight: 500;color: #465166;}
.ess-body .widget-title button{cursor: pointer; background-color: rgba(255,255,255,0)}
.ess-body .widget-title button i{font-size: 2rem; color: #cacdcf;}

.ess-body .annual-cnt+.widget-title.sub{margin-top: 1.333rem;}
.ess-body .widget-title+.tab-wrap{margin-top:0.667rem;}

.ess-body .tab-wrap{display: flex; padding:0.5rem 2.333rem; margin:0 -2.333rem; background-color:rgba(163,184,242,0.23);}
.ess-body .tab-wrap li{margin-left: 0.333rem; cursor: pointer;}
.ess-body .tab-wrap li:first-child{margin-left: 0;}
.ess-body .tab-wrap li a{display: inline-block; width: 100%;}
.ess-body .tab-wrap li.on a:hover{color: #e9e9e9;}

.ess-body .widget-tab{width: 6.667rem;height: 2rem;line-height: 2rem;border-radius: 0.5rem;background-color: #ffffff;box-shadow: 0 0 6px 0 rgba(116, 116, 116, 0.16);font-size: 1rem;font-weight: 600;text-align: center;color: #515c71;}
.ess-body .widget-tab.on{background-color: #087ef7; color: #ffffff;}

.ess-body .toggle-tab-wrap{position: relative; margin-left: auto;float: left;}
.ess-body .toggle-tab-wrap::after{content: '';width: calc(50% - 0.167rem);background: rgba(70,81,102,1);height: 1.667rem;position: absolute;top: 0.167rem;left: 0.167rem;transition: all 250ms ease-in-out;border-radius: 0.5rem;}
.ess-body .toggle-tab-wrap.slide::after{left: 50%;}
.ess-body .toggle-tab-wrap .toggle-tab{position: relative; display: block; float: left;padding: 0.167rem; border-radius: 0.5rem; margin: 0;line-height: 1; list-style: none;overflow: hidden; background: rgba(70,81,102,0.09);height: 2rem;user-select: none; }
.ess-body .toggle-tab-wrap .toggle-tab .tab-slider {font-size: 1rem;font-weight: 600;color: #515c71;text-transform: uppercase;text-align: center;padding: 0 0.833rem;position: relative;z-index: 2;cursor: pointer;display: inline-block;transition: color 250ms ease-in-out;user-select: none; line-height:1.667rem;}
.ess-body .toggle-tab-wrap .toggle-tab .tab-slider.active {color: #ffffff;}

.ess-body .member-swipe{padding-bottom: 3rem; margin-top: 0.5rem; display: flex; gap: 0.5rem 1rem; flex-wrap: wrap;}
.ess-body .member-swipe .member-item{width: calc(50% - 0.5rem); padding: 0.625rem 1.333rem;border-radius: 1.167rem;border: 0.083rem solid #e8e8e8;background-color: #ffffff;}
.ess-body .member-swipe .member-item .remainder{margin-top: 0;}
.ess-body .member-item .name{font-size: 1.333rem;font-weight: 700;color: #465166;} 
.ess-body .member-item .position{font-size: 1rem;font-weight: 400;color: #515c71;}
.ess-body .member-item .team{position: relative; margin-left: 1rem; font-size: 1rem;font-weight: 500;color: #465166;}
.ess-body .member-item .team::before{content: ''; position: absolute; top:0; left: -0.6rem; display: inline-block; width: 0.083rem; height: 1.167rem; background-color: #e9e9e9;}
.ess-body .member-item .label{font-size: 1rem;font-weight: 400;color: #93969c;}
.ess-body .member-item .cnt{margin-left: 1rem;font-size: 1.167rem;font-weight: 500;color: #087ef7;}
.ess-body .member-item .unit{font-size: 1.167rem;font-weight: 500;color: #515c71;}

/* ess-content */
.ess-content {display: flex;flex: 1; flex-direction:column; padding-right: 1.667rem; overflow-y: hidden;}
.ess-content .d-flex{display: flex;}
.ess-content .align-center{align-items: center;}
.ess-content .ml-auto{margin-left: auto;}
.ess-content .ess-personal{display: flex; align-items: center; flex-direction: row; flex:0;}
.ess-content .ess-personal .welcome-msg{display: flex; align-items: center;}
.ess-content .ess-personal .welcome-msg .avatar-wrap{display: inline-block;width: 7.667rem;height: 7.667rem;margin-right: 0px;border: 1px solid #C8E1FE;border-radius: 50%;background: url(../images/common/header/avatar.png) no-repeat center center;position: relative;overflow: hidden;}
.ess-content .ess-personal .welcome-msg .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ess-content .ess-personal .welcome-msg .inner-wrap{margin-left: 12px;}
.ess-content .ess-personal .welcome-msg .inner-wrap .position{font-size: 1.5rem;font-weight: 400;color: #515c71;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap{ margin-top: 12px; font-size: 2.333rem;font-weight: 400; color: #465166;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{font-weight: 700; color: #087ef7;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{font-weight: 700; }
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{margin-left: 8px;}

.ess-content .ess-personal .widget-wrapper{margin-left: auto; display: flex; flex-direction: row;}
.ess-content .ess-personal .widget-wrapper .widget{width: 23.667rem; padding:1.667rem 2.333rem 1.667rem; border-radius: 2rem;}
.ess-content .ess-personal .widget-wrapper .widget+.widget{margin-left: 1.667rem;}
.ess-content .ess-personal .widget-wrapper .widget.acc{position:relative; padding: 0; background-color: rgba(255, 255, 255, 0);box-shadow: none;}
.ess-content .ess-personal .widget-wrapper .widget.acc img{position:absolute; top:0; right:0; width: auto; height: 10rem;}
.ess-content .ess-personal .widget-wrapper .widget.black{background-image: linear-gradient(118deg, #858d9c 15%, #647088 32%, #45536b 59%, #2e394c 84%);}
.ess-content .ess-personal .widget-wrapper .widget.theme{background-image: linear-gradient(120deg, #87cefd 4%, #51b1f2 38%, #809aff 66%, #92a5ff 85%);}
.ess-content .ess-personal .widget-wrapper .widget .header{justify-content: flex-start; padding:0px;}
.ess-content .ess-personal .widget-wrapper .widget .header .title{display: flex; align-items: center; font-size: 1.333rem;font-weight: bold;color: #ffffff;}
.ess-content .ess-personal .widget-wrapper .widget .header .title>i{font-size: 1.667rem; font-weight: 400; margin-right: 4px;}
.ess-content .ess-personal .widget-wrapper .widget .header button{height: 2rem; margin-right: -0.667rem; cursor: pointer; background-color: rgba(255,255,255,0)}
.ess-content .ess-personal .widget-wrapper .widget .header button i{font-size: 2rem; color: #cacdcf;}
.ess-content .ess-personal .widget-wrapper .widget.theme .header button i{color: #ffffff;}

.ess-content .ess-personal .widget-wrapper .widget .cnt-wrap{margin-top:2.417rem; display: flex; align-items: center;}
.ess-content .ess-personal .widget-wrapper .widget .cnt-wrap .label{font-size: 1.167rem;font-weight: 400;line-height: 1.1;letter-spacing: -0.035rem;color: #ffffff;}
.ess-content .ess-personal .widget-wrapper .widget .cnt-wrap .cnt{font-size: 2rem;font-weight: 600;line-height: 1;letter-spacing: -0.06rem;color: #ffffff;}
.ess-content .ess-personal .widget-wrapper .widget .cnt-wrap .unit{margin-left: 0.333rem;font-size: 1.167rem;font-weight: 400;line-height: 1.1;letter-spacing: -0.035rem;color: #ffffff;}

/* ess-dashboard */
/* like bootstrap */
.widget-row{display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right:-0.833rem; margin-left: -0.833rem;}
[class*='widget-col-'] {padding: 0.833rem 0.833rem;}
[class*='widget-col-'].no-padding {padding: 0;}
.widget-col-4{-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
.widget-col-6{-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.widget-col-8{-webkit-box-flex: 0;-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.widget-col-12{-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}

.ess-dashboard{flex:1; margin-top: 2rem;}
.ess-dashboard .widget-row:first-child{margin-top: -0.833rem;}
.ess-dashboard .widget-row:last-child{margin-bottom: -0.833rem;}

/* widget */
.ess-dashboard .widget{display: flex; border-radius: 2rem; height: 27rem; box-shadow: none; padding:0px 2.333rem;}
.ess-dashboard .widget.small1{align-items: center; height: 8.083rem; margin-top: 1.667rem; padding: 1rem 1.667rem;}
.ess-dashboard .widget.small1 .img-wrap{width:7.5rem; height: 6rem;}
.ess-dashboard .widget.small1 .img-wrap img{width: 100%;}
.ess-dashboard .widget.small1 .inner-wrap{margin-left: 1.333rem;}
.ess-dashboard .widget.small1 .inner-wrap .label{font-weight: 400; color: #515c71; font-size: 1.333rem;}
.ess-dashboard .widget.small1 .inner-wrap .cnt{margin-left: 0.667rem; font-size: 2rem;font-weight: 700;color: #087ef7;}
.ess-dashboard .widget.small1 .inner-wrap .unit{margin-left: 0.333rem; font-size: 1.167rem;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #515c71;}
.ess-dashboard .widget.small1 .inner-wrap .desc{margin-top: 0.833rem; font-size: 1.333rem;font-weight: 400;color: #515c71;}
.ess-dashboard .widget.small1 .inner-wrap .desc>.cnt{margin-left: 0; font-size: inherit; font-weight: 700;}
.ess-dashboard .widget.small2{flex-direction: column; height: 17.333rem; padding: 2.333rem; background-color: rgba(255,255,255,0.37)!important;}
.ess-dashboard .widget.small2.with-tab{padding: 1.667rem 2.333rem;}
.ess-dashboard .widget.small2.with-tab .tab-wrap{padding: 0 2.333rem 0.833rem; background-color:rgba(255,255,255,0)!important;}
.ess-dashboard .widget.small2.with-tab .info{padding: 1.5rem 0;}

.ess-dashboard .widget.column{flex-direction: column;}

.ess-dashboard .bg-theme{background-color: rgba(163,184,242, 0.16); }
.ess-dashboard .bg-white{background-color: rgba(255,255,255, 0.32); box-shadow: 0 0 6px 0 rgba(123, 123, 123, 0.16);}

/* widget common */
.ess-dashboard .widget-header{padding: 1.667rem 0 0;}
.ess-dashboard .widget .dropDown-wrap{display: flex; margin-top: 1.333rem;}
.ess-dashboard .widget .dropDown-wrap .custom_select{width: 7.25rem; height: 2.333rem; border:0px;}
.ess-dashboard .widget .dropDown-wrap .custom_select>select{width: 100%; height: 100%; border-radius: 0.667rem; text-indent: 1rem;
    background-image: url(../images/expand_more.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;
    background-size: 1.333rem 1.333rem;
}


/* widget info */
.ess-dashboard .widget.info{display: none; padding:2.667rem  0 3rem; border-radius: 1.667rem; height: 12.667rem;}
.ess-dashboard .widget.info.active{display: flex;}
.ess-dashboard .widget.info li{position: relative; width: 33.333%; display: flex; flex-direction: column; align-items: center;}
.ess-dashboard .widget.info li::before{content: ''; position: absolute; top: 2.333rem; left:0;  display: inline-block; width: 0.083rem; height: 4.833rem; background-color: #e9e9e9;}
.ess-dashboard .widget.info li:first-child:before{display: none;}
.ess-dashboard .widget.info .icon-wrap{display: table; text-align: center; width: 1.667rem;height: 1.667rem; border-radius: 100%;background-color: #e5f2ff;}
.ess-dashboard .widget.info .icon-wrap .mdi-ico{line-height: 1.667rem; font-size: 1rem; color: #515c71;}
.ess-dashboard .widget.info .label{margin-top: 0.5rem; font-size: 1.333rem;font-weight: 400;color: #515c71;}
.ess-dashboard .widget.info .cnt-wrap{margin-top: 1rem;}
.ess-dashboard .widget.info .cnt-wrap .cnt{font-size: 2rem;font-weight: bold;color: #515c71;}
.ess-dashboard .widget.info .cnt-wrap .cnt.point-color{color: #087ef7;}
.ess-dashboard .widget.info .cnt-wrap .unit{margin-left: 0.333rem;font-size: 1.167rem;font-weight: 400;line-height: 1.1;letter-spacing: -0.035rem;color: #515c71;}

/* widget member box */
.ess-dashboard .widget.member-box{height: 15.667rem; margin: 1.333rem 0 1rem;padding: 1rem 0;border-radius: 1.333rem;}
.ess-dashboard .member-list{display: flex;flex-direction: row;flex-wrap: wrap; margin-bottom: -1rem}
.ess-dashboard .member-list li{display: flex; width: 50%; height: 3.833rem; padding-left: 1.667rem; gap: 1rem 0;}
.ess-dashboard .member-list li:nth-child(2n){position: relative;}
.ess-dashboard .member-list li:nth-child(2n)::before{content: ''; position: absolute; left: 0; display: inline-block; width: 0.083rem; height:3.333rem; background-color: #e9e9e9;}
.ess-dashboard .member-list li .avatar-wrap{display: flex;}

.ess-dashboard .member-list li .avatar-wrap{display: inline-block;width: 3.833rem;height: 3.833rem;margin-right: 0.833rem; border: 0.083rem solid #d0d3e2;border-radius: 50%;background: url(../images/common/header/avatar.png) no-repeat center center;position: relative;overflow: hidden;}
.ess-dashboard .member-list li .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.ess-dashboard .member-list li .profile .team{font-size: 1rem;font-weight: 400;color: #515c71;}
.ess-dashboard .member-list li .profile .name-warp{margin-top: 0.667rem;}
.ess-dashboard .member-list li .profile .name{font-size: 1.333rem;font-weight: 500;color: #465166;}
.ess-dashboard .member-list li .profile .position{margin-left: 0.667rem;font-size: 1rem;font-weight: 400;color: #515c71;}

.ess-dashboard .indicator-wrap{display:flex; justify-content: center; margin-top:0;}
.ess-dashboard .indicator-wrap .indicator{display:inline-block; width:0.667rem; height:0.667rem; margin-left:1rem; border-radius:100%; background-color: #ffffff;}
.ess-dashboard .indicator-wrap .indicator:first-child{margin-left:0px;}
.ess-dashboard .indicator-wrap .indicator.on{background-color: #087ef7;}


/* 주목할인재 */
.ess-dashboard .talent-employee .swiper .swiper-wrapper .swiper-slide .inner-wrap{display: flex; width: 50%; padding-right: 0.5rem;}
.ess-dashboard .talent-employee .swiper .swiper-wrapper .widget-wrapper {display: flex; flex-wrap: wrap; margin: 0;}
.ess-dashboard .talent-employee .swiper .swiper-wrapper .swiper-slide .inner-wrap:nth-last-child(-n+2){margin-bottom: 2.083rem;}
.ess-dashboard .talent-employee .swiper .swiper-pagination {bottom: -0.417rem;}
.ess-dashboard .talent-employee .swiper .swiper-button-next {top: auto; bottom: -1.25rem; right: 0px;}
.ess-dashboard .talent-employee .swiper .swiper-button-prev {top: auto; bottom: -1.25rem; left: 0px;}
.ess-dashboard .talent-employee .swiper .swiper-wrapper .swiper-slide .widget-blank{opacity: 0.6;}


/* widget chart */
.ess-dashboard .widget.chart-wrap{}
.ess-dashboard .widget.chart-wrap .widget-col-6:first-child{padding:0px 0.833rem 0px 0px;}
.ess-dashboard .widget.chart-wrap .tab-wrap{padding: 0 0.833rem 0 2.333rem; background: rgba(163,184,242,0)!important;}
.ess-dashboard .widget.chart-wrap .widget-title+.tab-wrap{margin-top: 0.833rem;}
.ess-dashboard .widget.chart-wrap .widget-col-6:last-child{padding:0px 0px 0px 0.833rem;}
.ess-dashboard .widget.chart-wrap .chart-legend{display: flex; padding: 0.167rem 0.833rem; border-radius: 0.333rem; margin-top: 0.833rem; background-color: #ffffff;}
.ess-dashboard .widget.chart-wrap .chart-legend li{margin-left: 0.667rem;}
.ess-dashboard .widget.chart-wrap .chart-legend li::before{content: ''; display: inline-block; width: 0.75rem; height: 0.75rem; border-radius: 0.167rem; margin-right: 0.333rem; background-color: #73d3e5;}
.ess-dashboard .widget.chart-wrap .chart-legend li:first-child{margin-left: 0;}
.ess-dashboard .widget.chart-wrap .widget.chart-box{position: relative; height: 17.75rem; border-radius: 1.333rem; padding:0; margin-top: 0.667rem;}
.ess-dashboard .widget.chart-wrap .widget.chart-box>div{position: absolute; top:0; right:0; bottom:0; left: 0;}
.ess-dashboard .widget.chart-wrap .chart-desc{margin-top: 1.333rem; font-size: 0.833rem;font-weight: 400;text-align: left;color: #465166;}

/* widget notice-list */
.ess-dashboard .wiget-list-pb{padding-bottom: 2.667rem;}
.ess-dashboard .wiget-notice-pb{padding-bottom: 2rem;}
.ess-dashboard .notice-list li{margin-top: 1.333rem; display: flex;}
.ess-dashboard .notice-list li:first-child{margin-top: 1.667rem;}
.ess-dashboard .notice-list li .title{width: 17.167rem;font-size: 1.167rem;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #465166; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;  /* 말줄임 적용 */}
.ess-dashboard .notice-list li .date{margin-left: auto;font-size: 1.167rem;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #93969c;}

/* widget approval-list */
.ess-dashboard .approval-list{padding-bottom: 0.167rem;  margin-top: 1.167rem; overflow-y: auto;}
.ess-dashboard .approval-list li{display: flex; align-items: center; margin-top: 0.667rem; padding: 1rem 2rem 1rem 1rem;border-radius: 1.167rem;border: 0.083rem solid #cfd3f2;background-color: rgba(212, 218, 255, 0.4);}
.ess-dashboard .approval-list li:first-child{margin-top: 0;}
.ess-dashboard .approval-list li span{display: inline-block;}
.ess-dashboard .approval-list li .status{width: 4.667rem;padding: 0.333rem 0;border-radius: 0.5rem;font-size: 1rem;font-weight: 500; text-align: center; color: #93969c; background: #ffffff;}
.ess-dashboard .approval-list li .status.end{background-color: #087ef7; color: #ffffff;}
.ess-dashboard .approval-list li .title{width: 10rem; margin-left: 2rem; font-size: 1.167rem;font-weight: bold;line-height: 1.1;letter-spacing: -0.035rem;color: #465166; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.ess-dashboard .approval-list li .name,
.ess-dashboard .approval-list li .date{font-size: 1.167rem;line-height: 1.1;letter-spacing: -0.42px;color: #515c71;}
.ess-dashboard .approval-list li .date{margin-left: 1.667rem;}

/* widget annual 여기부터 */
.ess-dashboard  .annual-cnt {display: flex; align-items: center; margin-top: 1.333rem;padding: 1rem 1.667rem;border-radius: 1.167rem;background-color: #eef0ff;}
.ess-dashboard  .annual-cnt .inner-wrap {display: flex;width: 50%;}
.ess-dashboard  .annual-cnt .inner-wrap:first-child {padding-right: 1.5rem;}
.ess-dashboard  .annual-cnt .inner-wrap:last-child {padding-left: 1.5rem;}
.ess-dashboard  .annual-cnt .inner-wrap.divider {position: relative; height: auto; margin: 0px;background-color: unset;}
.ess-dashboard  .annual-cnt .inner-wrap.divider::before {content: '';position: absolute;top: 0.167rem;left: 0px;display: inline-block;width: 1px;height: 1.667rem;background-color: #ffffff;}
.ess-dashboard  .annual-cnt .label {font-size: 1.167rem;font-weight: 400;letter-spacing: -0.035rem; color: #424242;}
.ess-dashboard  .annual-cnt .cnt {margin-right: 0.333rem; font-size: 1.333rem;font-weight: 600;color: #424242;}
.ess-dashboard  .annual-cnt .cnt.point-color {color: #087ef7;}

/* side member List */
.ess-memList{display: flex; flex-direction: column; height: calc(100vh - 8.999rem); padding: 1.667rem 2.333rem 2.333rem;border-radius: 2rem;background-color: rgba(255,255,255,0.32);box-shadow: 0 0 6px 0 rgba(123, 123, 123, 0.16);}
.ess-memList .tab-wrap+.widget-title{margin-top: 1rem;}

.ess-memList .card-list{display: flex; flex:1; flex-direction: column; width: 100%; margin-top:0.667rem; overflow-y: auto;}
.ess-memList .profile-card{display: flex; width: 100%;height: 7.333rem;margin-top:0.667rem;padding: 1.333rem 2.333rem 1.333rem 1.667rem;border-radius: 1.667rem;background-color: #ffffff;}
.ess-memList .profile-card:first-child{margin-top:0;}
.ess-memList .profile-card .inner-wrap{display: flex;}
.ess-memList .profile-card .avatar-wrap{display: inline-block;width: 4.667rem;height: 4.667rem; border: 0.083rem solid #d0d3e2;border-radius: 50%;background: url(../images/common/header/avatar.png) no-repeat center center;position: relative;overflow: hidden;}
.ess-memList .profile-card .avatar-wrap img{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

.ess-memList .profile-card .profile{margin-top: 0.333rem; margin-left: 0.667rem; }
.ess-memList .profile-card .profile .name{font-size: 1.333rem;font-weight: bold;color: #465166;}
.ess-memList .profile-card .profile .position{margin-left: 0.667rem; font-size: 1rem;font-weight: 400;color: #515c71;}
.ess-memList .profile-card .profile .position:first-child{margin-left: 0;}
.ess-memList .profile-card .profile .team{margin-left: 1rem;font-size: 1rem;font-weight: 500;color: #465166;}
.ess-memList .profile-card .profile .year-wrap{margin-top: 1.167rem;}
.ess-memList .profile-card .profile .label{margin-left: 0.667rem; font-size: 1rem;font-weight: 400;color: #93969c;}
.ess-memList .profile-card .profile .year{margin-left: 1rem;font-size: 1rem;font-weight: 500;color: #515c71;}

.ess-memList .profile-card.simple{height: 5.333rem; padding: 0.833rem 1.667rem; border:0.083rem solid #e9e9e9; border-radius: 1.333rem;}
.ess-memList .profile-card.simple:last-child{margin-bottom:1rem;}
.ess-memList .profile-card.simple .profile{margin-top: 0;}
.ess-memList .profile-card.simple .status{margin-top: 0;}
.ess-memList .profile-card.simple .profile .year-wrap{margin-top: 0;}
.ess-memList .profile-card.simple .avatar-wrap{width: 3.5rem; height: 3.5rem;}
.ess-memList .profile-card.simple .profile .team{margin-left: 0;}

.ess-memList .profile-card .status{margin-top: 0.333rem; margin-left:auto; width: 4.667rem; height: 1.667rem; text-align: center; line-height: 1.667rem; border-radius: 0.5rem; font-size: 1rem;}
.ess-memList .profile-card .status.green{background-color: rgba(33, 191, 84, 0.1); color: #21bf54;}
.ess-memList .profile-card .status.blue{background-color: #e5f2ff; color: #087ef7;}
.ess-memList .profile-card .status.blue{background-color: #e5f2ff; color: #087ef7;}
.ess-memList .profile-card .status.red {background-color: #fee; color: #ff5c5c;}

.ess-memList .card-list-wrap{margin-top: 1rem; overflow-y: auto;}
.ess-memList .card-list-wrap li:first-child .team-list-wrap{margin-top: 0;}
.ess-memList .card-list li:first-child .team-list-wrap{margin-top: 0;}
.ess-memList .team-list-wrap{display: flex;align-items: center;padding: 6px 12px 6px 20px;margin-top: 0.667rem;border-radius: 0.667rem;border: solid 1px #b0ccff;margin-bottom: 0;background-color: rgba(79, 139, 255, 0.14);}
.ess-memList .team-list-wrap .team{margin-left: 0;font-size: 1.167rem;font-weight: 500;color: #465166;}
.ess-memList .team-list-wrap .position{margin-left: 0.667rem;font-size: 1rem;font-weight: 400;color: #515c71;}
.ess-memList .team-list-wrap .cnt{margin-left: 0.833rem;font-size: 1rem;font-weight: bold;color: #087ef7;}
.ess-memList .team-list-wrap .unit{margin-left: 0.083rem;font-size: 1rem;font-weight: 500;color: #465166;}
.ess-memList .team-list-wrap .arrow{ margin-left: auto; }

/* manager 버전의 경우 mgr prefix */
body.ess-main.mgr{}
body.ess-main.mgr nav{border-right: 1px solid #e9e9e9; background: #ffffff!important;}
body.ess-main.mgr nav .nav-list li .mdi-ico{color: #c5cbd6;}
body.ess-main.mgr nav .nav-list li span{color: #c5cbd6;}
body.ess-main.mgr nav .nav-list li a:hover .mdi-ico{color: #4672E7;}
body.ess-main.mgr nav .nav-list li a:hover span{color: #4672E7;}
body.ess-main.mgr nav .home{background-image: linear-gradient(144deg, #b8a4fb 1%, #798ff8 28%, #51b1f2 55%, #4672e7 92%);}

.ess-main.mgr .ess-body{padding: 2.333rem 0 2.333rem;}

.ess-main.mgr .ess-content .ess-personal .welcome-msg .avatar-wrap{border-color: #d0d3e3;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #ffffff;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap{color: #ffffff;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #ffffff;}

.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme{background: rgba(10,124,228, 0.36);}
.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme2{background: rgba(16,79,190, 0.34);}
.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget .header button i{color: #ffffff;}

.ess-main.mgr .ess-memList{border:0.083rem solid #d8dbf0; background-color: #ffffff; box-shadow: none!important;}

.ess-main.mgr .ess-dashboard{margin-top: 1.5rem;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap{border: 0.083rem solid #d8dbf0;background-color: #ffffff;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget.chart-box{border-radius: 2rem;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:first-child .widget.chart-box{border-radius: 2rem;border: solid 1px #c8d9ff;background-image: linear-gradient(to bottom, rgba(160, 190, 255, 0.1), rgba(62, 119, 245, 0.1));}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:nth-child(2) .widget.chart-box{border: solid 1px #e2daff; background-image: linear-gradient(to bottom, rgba(234, 232, 255, 0.2), rgba(195, 189, 247, 0.2));}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:last-child .widget.chart-box{border: solid 1px #b5eaf3; background-image: linear-gradient(to bottom, rgba(172, 240, 253, 0.14), rgba(103, 176, 189, 0.14));}


/* 반응형 */
/* laptop 이상 */
@media all and (max-width:1680px) {
    .ess-dashboard .member-list li .avatar-wrap{
        display: none;
    }
}
/* laptop */
@media all and (max-width:1540px) {
    /* common tab */
    .ess-body .widget-tab{width: 5.667rem;}

    /* welcome-msg */
    .ess-content .ess-personal .welcome-msg .avatar-wrap{width: 7rem; height: 7rem;}
    .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap{word-break: keep-all; font-size: 2rem;}
    .ess-content .ess-personal .widget-wrapper .widget{padding: 1.667rem 2rem 1.667rem;}
    .ess-dashboard .widget.small2{padding: 2rem;}
    .ess-dashboard .widget.info{padding: 2rem  0 2.667rem;}
    
    /* widget common */
    [class*='widget-col-']{padding: 0.5rem 0.5rem;}
    .ess-dashboard .widget{padding: 0 2rem;}
    .ess-body .tab-wrap{padding: 0.5rem 2rem;margin: 0 -2rem;}


    .ess-dashboard .widget.small1 .inner-wrap .label{font-size: 1rem;}
    .ess-dashboard .widget.small1 .inner-wrap .cnt{font-size: 1.333rem;}
    .ess-dashboard .widget.small1 .inner-wrap .unit{font-size: 1rem;}
    .ess-dashboard .widget.small1 .inner-wrap .desc{margin-top: 0.333rem;font-size: 1rem;}

    .ess-dashboard .widget.member-box{overflow-y: auto; padding-bottom: 1.5rem;}
    .ess-dashboard .member-list{padding-bottom: 1rem;}
    .ess-dashboard .member-list li{width: 100%;}
    .ess-dashboard .member-list li:nth-child(2n)::before{display: none;}
    .ess-dashboard .member-list li .avatar-wrap{display: inline-block;}

    .ess-dashboard .notice-list li .title{width: 15.167rem;}

    .ess-memList{padding: 1.667rem 2rem 2rem;}
    .ess-memList .profile-card .avatar-wrap{display: none;}
}