@charset "utf-8";

/* 모달 */
.modal_background {position: fixed; top: 0;  left: 0; width: 100%;  height: 100%;  background-color: rgba(0, 0, 0, 0.7); z-index: 100; }
.modal_background, .modal {/* transition: opacity 0.3s ease, visibility 0.3s ease; */ display: none;}
.fade-in { opacity: 1; display: block;}

.modal { width: 600px; border-radius: 20px; background-color: #ffffff;position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100; max-height: calc(100vh - 100px); min-height: 282px;}
.modal_header { height: 65px; box-sizing: border-box; position: relative; align-items: flex-start; border-bottom: 1px solid #e3e3e3; border-top-left-radius: calc(0.3rem - 1px); border-top-right-radius: calc(0.3rem - 1px); display: flex; justify-content: space-between; padding: 24px; font-size: 16px; font-weight: bold; align-items: center;}
.modal_header > i {cursor: pointer; position: absolute; right: 10px; padding: 15px;}
.modal_body { min-height: 150px; padding: 24px; box-sizing: border-box; overflow-y: auto; overflow-x: hidden; height: calc(100vh - 246px); max-height: calc(100vh - 246px); }

/* 회사 변경(법인변경) */
.modal_body .form-wrap{width:100%; margin-bottom:12px;}
.modal_body .form-wrap .sbHolder{width:100%; border-radius:8px;}
.modal_body .form-wrap .sbHolder .sbSelector{padding: 5px 10px;}
.modal_body .form-wrap .sbHolder .sbOptions{top:30px!important; border-radius: 8px; z-index:9;}

 
.modal_body_header { margin: 16px 0 17px; display: flex; align-items: center;  }
.modal_body_header > div { width: 50%; height: 33px; display: flex; align-items: center; }
.modal_body_header > div >p { margin-right: 4px; padding: 0; }
.modal_body_header > div:last-child { justify-content: flex-end; }
.modal_body_header .title { font-size: 14px; font-weight: bold; }
.modal_body_header .right_control .title { font-size: 15px; display: flex; justify-content: center; cursor: pointer; }
.modal_body_header .right_control .count { font-size: 10px; color: #9f9f9f; margin-right: 4px; display: flex; }
.modal_body_header .right_control .count .title { font-size: 12px; font-weight: bold; margin-left: 5px; }

/* .modal_content { } */

.modal_footer { align-items: center; border-bottom-left-radius: calc(0.3rem - 1px); border-bottom-right-radius: calc(0.3rem - 1px); border-top: 1px solid #e3e3e3; display: flex; flex-wrap: wrap; justify-content: flex-end;height: 65px; box-sizing: border-box; padding: 0 24px;}
.modal_footer button + button {margin-left: 15px;}

.modal_sub_header {height: 46px; background-color: #f2f2f2; border-bottom: 1px solid #e3e3e3; display: flex; align-items: center; justify-content: space-between; padding: 0px 20px ;}
.modal_sub_header i {font-size: 15px;}
.modal_sub_header .sub_title {font-size: 13px; font-weight: bold;}
.modal_sub_header .btn_area {display: flex;}
.modal_sub_header .modal_sub_header .btn_area span {display: flex; align-items: center;}
.modal_sub_header .sub_title_date {font-size: 12px; color: #9f9f9f;}
.modal_sub_header .modal_btn {font-size: 12px; color :#555555; margin-left: 7px; cursor: pointer; align-items: center; display: flex;}

.modal.wide {width: 800px;}
.modal.max_wide {width: 1000px;}
.modal.no_footer {min-height: 235px; padding-bottom: 20px;}
.modal.no_footer.detail_modal {min-height: 278px;}
/* .modal.detail_modal .modal_body, .modal.no_footer .modal_body {padding-bottom: 0;} */

.modal.edit_modal {min-height: 539px; max-height: none;}
.modal.edit_modal .modal_body {padding: 12px 24px; min-height: 363px;}
.modal.edit_modal .modal_sub_header {border-bottom: none; padding: 0px 24px; display: flex; align-items: flex-end; background-color:#ffffff;}
.modal.edit_modal .modal_sub_header .sub_title { width: 100%; height: 32px; border-radius: 4px; border: solid 1px #e3e3e3; background-color: #ffffff; font-size: 13px; font-weight: normal; padding: 0 10px; box-sizing: border-box; display: flex; align-items: center;}
.modal_body .editor {width: 100%; height: 339px; /*border: 1px solid #e3e3e3;*/ box-sizing: border-box;} 
.modal_body .editor #tx_canvas_wysiwyg {height: 305px !important;}
.modal .modal_body .no_data {display: flex;  align-items: center; height: 100px; flex-direction: column; text-align: center; font-size: 13px; color:#9f9f9f; line-height: 18px;}

.modal .notice{margin-top: 32px; border-bottom: 1px solid #e7edf0;}
.modal .notice_title { display: flex; align-items: center; padding: 8px 20px; background: #f8f8f8; border-top:1px solid black; }
.modal .notice_title i { color: #9f9f9f; font-size: 16px;}
.modal .notice_title .btn-wrap { margin-left: auto;}
.modal .notice_desc { height: 64px; padding: 8px 20px 16px 20px; font-size: 12px; overflow-y:auto; }  

.modal_desc {font-size: 12px; color: #555; line-height: 18px; margin-left: 24px; display: flex; align-items: center; }
.modal_desc i {font-size: 17px; color: #777; margin-right: 4px;}

/* 즐겨찾기 모달 */
.bookmark_modal .modal {min-height: 609px;}
.bookmark_modal .modal_sub_header {height: 59px; justify-content: normal}
.bookmark_modal .modal_sub_header > .custom_select {margin-left: 12px; }
.bookmark_modal .modal_sub_header > .custom_select i {font-size: 24px;}
.bookmark_modal .custom_select {width: 160px;}
.bookmark_modal .modal_body {min-height: 420px;  padding: 0; display: flex;}
.bookmark_modal .modal_body > div {height: 420px; }
.bookmark_modal .modal_body > .left_area {width: 207px; overflow-y: scroll; box-sizing: border-box; padding: 16px 14px 16px 24px;}
.bookmark_modal .modal_body > .right_area {width: 392px; padding: 16px 0; border-left: 1px solid  #e3e3e3;overflow-y: auto;}
.bookmark_modal .modal_body > .right_area i {margin-right: 3px;}
.bookmark_modal .modal_body > .right_area .no_data i, .bookmark_modal .modal_body > .left_area .no_data i {font-size: 17px; margin-bottom: 10px; margin-top: 5px;}
.bookmark_modal .modal_body > .right_area .bookmark {display: flex; font-size: 13px; box-sizing: border-box; padding: 8px 16px;}
.bookmark_modal .modal_body > .right_area .bookmark i {color: #ffb32e; font-size: 15px; margin-top: 2px; margin-right: 6px; }
.bookmark_modal .modal_body > .right_area .bookmark:hover {background-color: #f2f2f2; }
.bookmark_modal .modal_body > .right_area .bookmark .desc {white-space: normal; display: block; width: 320px;  font-size: 11px; color: #777777; margin-top: 5px; line-height: 15.4px;}
.bookmark_modal .toggle_menu {width: 160px; height: 33px; border-radius: 8px; margin: 15px 0 5px 0;}
.bookmark_modal .toggle_menu .title span {margin-left: 10px; font-size: 12px;}
.bookmark_modal .check_list {width: 100%; height: 33px; display: flex; align-items: center; box-sizing: border-box; padding: 0 5px;}
.bookmark_modal .check_list > label {color: #323232; font-size: 12px;}
.bookmark_modal .check_list:hover {background-color: #f2f2f2; }
.bookmark_modal .form-checkbox {cursor: pointer; margin-right: 7px;}
.bookmark_modal .modal_body > .left_area::-webkit-scrollbar {-webkit-appearance: none; width: 12px;}
.bookmark_modal .modal_body > .left_area::-webkit-scrollbar-thumb {background-color: #e3e3e3; border: 4px solid #fff; border-radius: 100px; }
.bookmark_modal .modal_body > .right_area::-webkit-scrollbar {-webkit-appearance: none; width: 12px;}
.bookmark_modal .modal_body > .right_area::-webkit-scrollbar-thumb {background-color: #e3e3e3; border: 4px solid #fff; border-radius: 100px; }


/* 레이어모달 Layer */
div#layerModalWrap{
    opacity : 0;
    transition : opacity linear .1s;
    -webkit-transition : opacity linear .1s;
    z-index: 100;
}
div#layerModalWrap.active{
    opacity : 1;
}
div#layerModalWrap div.modal{
    overflow : hidden;
}
div#layerModalWrap div.modal-size.width-sm{
    width: 25rem;/* width: 300px */
}
div#layerModalWrap div.modal-size.width-md{
    width: 42rem;/* width: 504px */
}
div#layerModalWrap div.modal-size.width-lg{
    width: 67rem;/* width: 804px */
}
div#layerModalWrap div.modal-size.width-xl{
    width: 95rem;/* width: 1140px */
}
div#layerModalWrap div.modal-size.width-full{
    width: 100%;/* width: 100% */
}
div#layerModalWrap div.modal-size.height-sm{
	height: 24rem;/* height: 288px */
}
div#layerModalWrap div.modal-size.height-md{
    height: 37.5rem;/* height: 450px */
}
div#layerModalWrap div.modal-size.height-lg{
    height: 54rem;/* height: 648px */
}
div#layerModalWrap div.modal-size.height-xl{
    height: 70rem;/* height: 840px */
}
div#layerModalWrap div.modal-size.height-full{
    height: 100%;/* height: 100% */
    max-height: 100vh;
}
div#layerModalWrap div.modal-size.modal-full{
   	width: 100%;
   	height: 100%;
	max-height: 100vh;
	border-radius:0;
}
div#layerModalWrap div.modal div.layer-modal-header{
    position: relative;
    display:flex;
    align-items: center;
    height: 4.333rem; /* 4.333rem == 52px */
    border-bottom:1px solid #cfcfcf;
    padding: 0px 24px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 700;
    color: #323232;
}
div#layerModalWrap div.modal div.layer-modal-header #closeIcon:focus,
div#layerModalWrap div.modal div.layer-modal-header #closeIcon:focus-visible{
	outline:0px;
}
div#layerModalWrap div.modal div.layer-modal-header i.mdi-ico{
	margin-left: auto;
    font-size:24px;
    color:#777777;
    cursor : pointer;
}
.loader {
    left : calc(50% - 8px);
    top : calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0072bc;
    box-shadow: 32px 0 #0072bc, -32px 0 #0072bc;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}
@keyframes flash {
    0% {
        background-color: #98c3e0;
        box-shadow: 32px 0 #98c3e0, -32px 0 #0072bc;
    }
    50% {
        background-color: #0072bc;
        box-shadow: 32px 0 #98c3e0, -32px 0 #98c3e0;
    }
    100% {
        background-color: #98c3e0;
        box-shadow: 32px 0 #0072bc, -32px 0 #98c3e0;
    }
}

div.wrapper > div.popup_main{
    height : 100%;
    width : 100%;
    display : flex;
    flex-direction : column;
}
div.wrapper > div.popup_main > form{
    width : 100%;
}
div.wrapper > div.popup_main > table{
    position : relative;
    flex : 1;
    align-self: stretch;
}
div.wrapper > div.popup_main > div.popup_button{
    position : relative;
    width : 100%;
    height : 40px;
    align-self : end;
}

/* 패키지개선 */
div#layerModalWrap div.modal div.layer-modal-header { height: 50px; border-bottom: none; }
.layer-content { overflow-y: auto !important; }
.modal { border-radius: 16px; }
.modal .layer-modal-header .layer-modal-title { font-size: 14px; color: #363b3f; font-weight: 600; }
div#layerModalWrap div.modal div.layer-modal-header i.mdi-ico { font-size: 22px; color: #7b858e; }

.is-safari .modal {
    transform: none !important;
    top: auto !important;
    left: auto !important;
}