/* 프로세스맵 공통 */
.main_tab_content.process_map_edit {padding: 0}

/* 프로세스맵 초기화면 */
.sub_menu_container.process_map .title_wrap .custom_select {width: 160px; margin-left: 16px;}

.toggle_menu {width: 1116px; height: 43px;  border-radius: 10px; border: solid 1px #e3e3e3; background-color: white; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; margin: 10px 0; cursor: pointer;}
.toggle_menu.active {border: solid 1px #2570f9; }
.toggle_menu.active 
.toggle_menu span {font-size: 13px; padding-bottom: 2px;}
.toggle_menu i {font-size: 18px; margin: 0 10px 0 20px;} 
.toggle_menu > i {font-size: 29px;} 
.toggle_menu .title {display: flex; align-items: center; font-size: 13px;}

.toggle_content {display: none;}
.toggle_content .no_data { height: 120px; font-size: 14px; color: #555555; text-align: center; display: flex; flex-direction: column; align-items: center; padding-top: 20px;}
.toggle_content .no_data i {font-size: 23px; margin-bottom: 10px;}

.toggle_content .map_box_wrap {display: flex; flex-wrap:wrap; margin-bottom: 20px; width: 1116px;}
.toggle_content .map_box_wrap .map_box:nth-child(4n) {margin-right: 0;  }
.toggle_content .map_box {width: 267px; height: 90px;  border-radius: 10px; border: solid 1px #e3e3e3; background-color:white; box-sizing: border-box; margin-right: 16px; margin-bottom: 10px; cursor: pointer; display: flex; flex-direction: column; padding: 16px 20px}
.toggle_content .map_box:hover {border: solid 1px #2570f9;}
.toggle_content .map_box > div {flex: 1; display: flex; justify-content: space-between;}
.toggle_content .map_box .title_area {font-size: 13px; line-height: 16px;}
.toggle_content .map_box .title_area .title {display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; width: 208px; white-space: normal;}
.toggle_content .map_box .title_area i {color: #ffb32e; font-size: 17px; margin-top: 3px;} 
.toggle_content .map_box .tip_area {font-size: 12px; color: #555555; align-items: flex-end; justify-content: flex-end}
.toggle_content .map_box .tip_area .tip { padding:0 9px; height: 23px;  border-radius: 100px; font-size: 10px;display: flex; align-items: center; justify-content: center; } 
.toggle_content .map_box .tip_area .tip { padding:0 9px; height: 23px;  border-radius: 100px; font-size: 10px;display: flex; align-items: center; justify-content: center; } 
.toggle_content .map_box .tip_area .tip.color_1 {background-color:rgba(16, 13, 55, 0.05);;; color: #323232;}
.toggle_content .map_box .tip_area .tip.color_99 {background-color:rgba(37, 112, 249, 0.1);; color: #2570f9;}
.toggle_content .map_box .tip_area .tip.color_10 {background-color:rgba(175, 82, 240, 0.1);;; color: #af52f0;}
.toggle_content .map_box .tip_area .tip.color_15 {background-color:rgba(255, 92, 92, 0.1);;; color: #ff5c5c;}
.toggle_content .map_box .tip_area .tip.color_20 {background-color:rgba(52, 199, 89, 0.1);;; color: #34c759;}
.toggle_content .map_box .tip_area .tip.color_30 {background-color:rgba(255, 145, 0, 0.1);;; color: #ff9100;}
.toggle_content .map_box .tip_area .tip.color_35 {background-color:rgba(249, 37, 185, 0.1);;; color: #f925b9;}
.toggle_content .map_box .tip_area .tip.color_11 {background-color:rgba(0, 191, 241, 0.1);;; color: #00bff1;}
.toggle_content .map_box .tip_area .tip.color_50 {background-color:rgba(107, 54, 0, 0.1);;; color: #6b3600;}
.tip_area .tip + .tip {margin-left: 5px;}


/* 프로세스맵 에디터*/

.process_map_edit_container {display: flex; flex: 1; position: relative; width:calc(100%); }
.process_map_edit_container #sortable { list-style-type: none; margin: auto; padding: 0; max-width: 1242px; /*display: inline-block;*/ display: flex; align-items: flex-start; flex-wrap: wrap; box-sizing: border-box; min-width:0}
.process_map_edit_container .menu_wrap { width: 312px; flex-shrink: 0; border-right: solid 1px #e3e3e3;}
.process_map_edit_container .edit_wrap { background-color: #eeeeee; flex: 1; box-sizing: border-box; padding: 0 50px;}

.process_map_edit_container .menu_wrap .btn_wrap {height: 27px; box-sizing: border-box; padding: 0 20px; display: flex; align-items: center; margin: 16px 0 8px 0;}
.process_map_edit_container .menu_wrap .btn_wrap .btn {width: 20px; height: 20px; border-radius: 4px; border: solid 1px #e3e3e3; background-color: white; padding: 0; box-sizing: border-box; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.process_map_edit_container .menu_wrap .btn_wrap .btn + .btn {margin-left: 4px;}
.process_map_edit_container .menu_wrap .btn_wrap .btn > i {color: #555; font-size: 13px;}
.process_map_edit_container .menu_wrap .btn_wrap .search_input {margin-left: 7px; font-size: 12px; color: #323232; caret-color: #323232; padding: 0 20px 0 8px;}
.process_map_edit_container .menu_wrap .btn_wrap .search_input::placeholder {color: #9f9f9f;}
.process_map_edit_container .menu_wrap .btn_wrap .menu_search {position: relative;}
.process_map_edit_container .menu_wrap .btn_wrap .menu_search > i {position: absolute; color: #9f9f9f; font-size: 14px; top: 6px; right: 5px; cursor: pointer;}
.process_map_edit_container .menu_wrap .select_wrap {height: 126px; box-sizing: border-box; border-bottom: 1px solid #e3e3e3; padding: 20px 20px 0 20px;}
.process_map_edit_container .menu_wrap .select_wrap .title {font-size: 14px; font-weight: bold; margin-bottom: 15px;}
.process_map_edit_container .menu_wrap .select_wrap > div {display: flex; align-items: flex-end;}
.process_map_edit_container .menu_wrap .select_wrap .select {font-weight: bold;}
.process_map_edit_container .menu_wrap .select_wrap .custom_select {margin-top: 4px; width: 100px;}
.process_map_edit_container .menu_wrap .select_wrap .select + .select {margin-left: 12px;}
.process_map_edit_container .menu_wrap .select_wrap .search_btn {padding: 0 12px; height: 29px; margin-left: 6px;}
.form-input.border_dark {width: 113px; height: 27px; background-color: #ffffff; border: solid 1px #9f9f9f;}
.sheet_search_btn {width: 44px; height: 27px; border: solid 1px #9f9f9f; border-radius: 8px; background-color: #ffffff; padding: 4px 0; margin-left: 8px; cursor: pointer; font-size: 13px;}
.sheet_search_btn:hover { box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.08); }

.process_map_edit_header {height: 59px; box-shadow: 0 0 10px 0 rgba(16, 13, 55, 0.05); box-sizing: border-box; padding: 0 24px; display: flex; align-items: center; min-height: 59px; justify-content: space-between; z-index: 10; border-bottom: solid 1px #e3e3e3;}
.process_map_edit_header .title {font-size: 16px; font-weight: bold; margin-right: 40px;}
.process_map_edit_header .left_area {display: flex; align-items: center;}
.process_map_edit_header .left_area > div {font-size: 13; font-weight: bold; margin-right: 20px;}
.process_map_edit_header .select {display: flex; align-items:center}
.process_map_edit_header .select span {margin-right: 8px;}
.process_map_edit_header .right_area {display: flex; align-items: center}
.process_map_edit_header .guide_btn {font-size: 12px; color: #555555; display: flex; align-items: center; margin-right: 10px; cursor: pointer; padding: 10px;}
.process_map_edit_header .guide_btn i {font-size: 16px; margin-right: 3px; }
.process_map_edit_header .text_input.round { width: 200px; height: 29px; border-radius: 100px; border: solid 1px #9f9f9f;  padding: 6px 12px; background-color: white;}
.process_map_edit_header .text_input.round { width: 200px; height: 29px; border-radius: 100px; border: solid 1px #9f9f9f;  padding: 6px 12px; background-color: white;}
.process_map_edit_header .text_input.round.disabled {background-color: #e3e3e3; }
.process_map_edit_header .text_input {color: #323232; caret-color: #323232;}
.process_map_edit_header .custom_select.manager {width: 120px;}

.box_wrap {/*width: 200px; /* padding-top: 30px; */ margin: 10px; }
/* .box_wrap .menu { visibility: hidden; } */
/* .box_wrap:hover .menu { visibility: visible; display: block; left: 0; bottom: 0;  } */

#sortable.viewer .map_box_btn {visibility: hidden;}
.box_wrap:hover .map_box_btn { visibility: visible; display: block; display: flex;}
.box_wrap .map_box_btn > button + button {margin-left: 0;}
.box_wrap:hover .map_box { box-shadow: 5.2px 8.6px 15px 0 rgba(0, 0, 0, 0.15); border: solid 1px #555;}
.box_wrap:hover .map_box .head i {visibility: visible;}


.box_wrap .map_box {box-sizing: border-box; width: 187px; height: 89px; border-radius: 10px; border: solid 1px #e3e3e3; background-color:white;}
.map_box_btn {display: flex; margin-bottom: 8px; visibility: hidden;}
.map_box_btn button { height: 40px; width: 93.5px; border: solid 1px #cdcdcd; border-radius: 10px 0 0 10px; background-color: white; margin: 0; cursor: pointer; font-size: 12px; color:#555555; display: flex; align-items: center;    justify-content: center; }
.map_box_btn button i {font-size: 12px; margin-right: 5px }
.map_box_btn button:hover {box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.05);}
.map_box_btn .memo { border-radius: 0 10px 10px 0; border-left: none;}

.box_wrap .map_box .head {display: flex; justify-content: space-between; }
.number {height: 16px; background-color: #555; color: white; font-size: 11px; font-weight: bold; padding: 0 5px; border-radius: 10px;display: flex ; align-items: center; margin: 7px}
.box_wrap .map_box .head i {font-size: 15px; cursor: pointer; padding: 7px 0; color: #777777;}
.box_wrap .map_box .head i.updated { color: #34c759;}
.box_wrap .map_box .head i:last-child {padding-right: 7px;}
.box_wrap .map_box .title {font-size: 13px; font-weight: bold; color:#323232; text-align: center; margin-top: 6px; cursor: pointer; border: none; padding: 0 7px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; width: 183px; white-space: normal;}

.map_memo { min-height: 50px; position: relative; padding: 16px; box-sizing: border-box; width: 187px; border-radius: 10px; border: solid 1px #9f9f9f; background-color: #e8e8e8; margin-top: 8px; font-size: 11px; color: #323232; line-height: 16px;}
.map_memo.update { border: dashed 1px #e3e3e3; background-color: #f2f2f2;}
.map_memo.update .footer {display: flex; align-items: center;}
.map_memo.new {border: dashed 1px #e3e3e3; background-color: #f2f2f2; display: none;}
.map_memo.new .footer {display: block;}
.map_memo .footer {position: absolute; bottom: -22px; left: 0px; display: none;}
.map_memo .footer .text_count {font-size: 12px; margin-right: 45px;color:#555555; top: 10px;}
.map_memo .footer button {color:#555555;  font-size: 12px; outline: none; background: transparent; border: none; margin: 0; padding: 0; cursor: pointer; margin-top: 2px;}
.map_memo .footer .save_btn {margin-left: 5px; color: #34c759;}

.map_memo > textarea {width: 154px; resize: none;border: none;background: transparent;font-size: 11px;color: #323232; outline: none; padding: 0;box-sizing: border-box; display: none; line-height: 16px; font-weight: 300;  overflow-y: hidden;}
.map_memo > span {display: block;}
.map_memo.update > span, .map_memo.new > span {display: none;}
.map_memo.update > textarea, .map_memo.new > textarea {display: block;}

/* 프로세스맵 리스트 (사용자) */
.process_map_list .main_tab_content {padding: 0 50px;}
.process_map_list > .tab_wrap {height: 36px; padding-left: 3px; margin: 5px 0 21px 0;}
.process_map_list > .tab_wrap .tab_menu {height: 30px; color: #323232;}
.process_map_list > .tab_wrap .tab_menu + .tab_menu {margin-left: 24px;}
.process_map_list > .tab_wrap .tab_menu.active { height: 31px; }
.process_map_list .toggle_content .map_box {height: 56px; padding: 0px 4px 0 8px; position: relative;}
.process_map_list .toggle_content .map_box .number {margin: 0 7px 0 0;}
.process_map_list .toggle_content .map_box:hover .speech_bubble {visibility: inherit;}
.process_map_list .toggle_content .title_area i {color: #323232; margin: 5px}
.process_map_list .toggle_content .title_area {display: flex; align-items: center; justify-content: space-between;}
.process_map_list .toggle_content .title_area > div {display: flex; align-items: center;}
.process_map_list .toggle_content .title_area .title { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; width: 204px; white-space: normal;}

.speech_bubble {position: absolute; background: white; border-radius: 10px 10px 10px 0; width: 210px; padding: 12px; box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16); bottom: 64px; left: 132px; font-size: 11px; line-height: 15.6px; color: #555555; visibility: hidden;}
.speech_bubble:after {content: ''; position: absolute; bottom: 0; left: 4px; width: 0; height: 0; border: 8px solid transparent; border-top-color: white; border-bottom: 0; border-left: 0; margin-left: -4px; margin-bottom: -8px; }

/* 프로세스맵 적용화면 */
.process_map_link_bar {height: 57px; ; display: flex; align-items: center; background-color: #f8f8f8; position: fixed; bottom: 0; background-color: transparent; width: -webkit-fill-available;}
.process_map_link_bar .icon_area {height: 57px; width: 24px; background-color: #2570f9; display: flex; align-items: center; justify-content: center; cursor: pointer; box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1); z-index: 99;}
.process_map_link_bar .icon_area > i {color: white; font-size: 16px;}
.process_map_link_bar .bar_content {display: flex; justify-content: space-between; width: calc(100% - 24px); background-color: white; box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1); height: 57px; position: relative; }
.process_map_link_bar .btn_wrap {padding: 0 20px 0 10px; display: flex;}
.process_map_link_bar .btn_wrap > div + div {margin-left: 10px;}
.process_map_link_bar .number {margin: 0 7px 0 0; align-items: normal}
.process_map_link_bar .arrow_wrap {height: 57px; width: 100px; display: flex; align-items: center; padding: 0 20px 0 20px; background-color: white; position: absolute; /* 절대 위치 지정 */   right: 0; top: 11px; height: 61%; z-index: 10;
}
.arrow_left_btn, .arrow_right_btn {box-sizing: border-box; height: 24px; width: 24px; border: 1px solid #e3e3e3; border-radius: 5px; display: flex; align-items: center; justify-content: center; cursor: pointer; background-color: white;}
.arrow_left_btn {margin-right: 12px;}
.arrow_left_btn > i, .arrow_right_btn > i {font-size: 17px; color: #777777;}
.process_map_link_bar .btn_area {position: relative; width: max-content; display: flex;}
.process_map_link_bar .speech_bubble {bottom: 54px; left: 50%; z-index: 99;}
.process_map_link_bar .btn_area:hover .speech_bubble {visibility: inherit; }
.process_map_link_bar.hidden { position: absolute; bottom: 0;}

.bar_content {transition: margin-left 0.3s;}
.bar_content.hidden {margin-left: -100%; }

.swiper {margin-left: 0 !important; height: auto; overflow-y: visible !important; overflow-x: clip !important;  padding-right: 100px !important;}
.swiper-slide {width: auto; display: inline-block;}