/* 급여관리 테이블 */
table.basic td { width: 204px;}

.salary_create_wrap table.basic td { width: 289px;}
table.basic td:last-child {width: auto;}
table.basic th { width: 116px;}

table.basic td input {width: 265px;}
table.basic td input::placeholder {font-size: 13px; color: #9f9f9f;}
table.basic td .custom_select {width: 265px;}

.flexbox > .form-date {width: 124px;}
.flexbox > .form-date > .form-input.date {width: 124px;}

/* 급여계산 첫진입*/
.salary_calculation_wrap .tab_wrap {border-bottom: 1px solid #e3e3e3; height: 52px; margin-bottom: 20px;}
.salary_calculation_wrap .tab_wrap .tab_menu {font-size: 13px;}
.salary_calculation_wrap .tab_wrap .tab_menu.active {height: 30px;}
.salary_calculation_wrap .tab_wrap .tab_menu {height: 29px;}
.salary_calculation_wrap table.basic th { width: 84px;}
.salary_calculation_wrap table.basic td input {width: 180px;}
.salary_calculation_wrap table.basic td .custom_select {width: 180px;}
.salary_calculation_wrap table.basic td .search_btn {margin-left: 9px;}

#calculation_btn {visibility: hidden;}
#calculation_content, #target_create_content, #data_aggregate_content, #exception_handling_content {display: none;}
#data_aggregate_content .sheet_top_area {justify-content: flex-end;}

.salary_calculation_wrap .top_area {position: relative;}
.salary_calculation_wrap .top_area > button {position: absolute; right: 0; top: 9px;}

.salary_calculation_wrap .sheet_section {height: 100%;}
.salary_calculation_wrap .sheet_top_area {height: 33px; display: flex; justify-content: space-between; margin-bottom: 8px; margin-top: 24px;}
.salary_calculation_wrap .sheet_top_area .btn_desc {display: flex; align-items: center;}
.salary_calculation_wrap .sheet_top_area .btn_desc > span {margin-right: 8px;}
.salary_calculation_wrap .sheet_area {width: 100%; height: calc(100% - 117px);border: solid 1px #323232; background-color: rgba(50, 50, 50, 0.3);}
 
/* 급여계산 대상자설정 */
.salary_calculation_wrap .sheet_top_area .targeted_desc {display: flex; align-items: center;}
.salary_calculation_wrap .sheet_top_area .targeted_desc p {font-size: 16px; margin-left: 24px;}
.salary_calculation_wrap .sheet_top_area .btn_desc .select_options {right: 0; left:auto; top: 40px; width: 113px;}
.salary_calculation_wrap .sheet_top_area .btn_desc .custom_select {height: 33px; margin: 0 10px; }

#target_add_modal .modal_body {padding-bottom: 12px;}
#target_add_modal .body_header {height: 33px;}
#target_add_modal .body_header > p {font-size: 15px; font-weight: bold;}
#target_add_modal .body_content {display: flex;}
#target_add_modal .body_content > div + div {margin-left: 16px;}
#target_add_modal .body_content .sheet_area {width: 368px; height: 607px; border: solid 1px #323232; background-color: rgba(50, 50, 50, 0.3);}
#target_add_modal .body_content .search_area {height: 59px; border: solid 1px #e3e3e3; display: flex; align-items: center}
#target_add_modal .body_content .sheet_area.left {height: 549px;}
#target_add_modal .body_content .search_input {margin-left: 11px; width: 344px; max-width: 344px}
#target_add_modal .body_content .search_input input {width: 344px; padding: 0 40px 0 12px; color: #323232; caret-color: #323232; font-size: 13px;}
#target_add_modal .body_content .search_input input::placeholder {color: #9f9f9f;}

/* 급여계산 자료집계 */
#data_aggregate_content .search_input input {width: 240px;}

#welfare_benefits_modal .modal_body {padding-bottom: 12px;}
#welfare_benefits_modal table {width: 752px; margin-bottom: 12px;}
#welfare_benefits_modal table.basic td .custom_select {width: 233px;}
#welfare_benefits_modal table.basic td input {width: 183px;}
#welfare_benefits_modal .sheet_area {width: 752px; height: 563px; border: solid 1px #323232; background-color: rgba(50, 50, 50, 0.3);}
#welfare_benefits_modal .search_td {padding-right: 0;}
#welfare_benefits_modal .search_td .search_btn {margin-left: 8px;}

/* 급여계산 수당예외처리 */
#exception_handling_content .search_input input {width: 240px;}
#exception_handling_content > table .reflesh_btn_td {width: 307px; position: relative;}
#exception_handling_content > table .reflesh_btn_td > button {margin-left: 8px; border: solid 1px #e3e3e3; position: absolute; top: 7px; right: 11px;}
#exception_handling_content .content_wrap {display: flex; height: calc(100% - 51px);}
#exception_handling_content .content_wrap .sheet_wrap {width: 534px;}
#exception_handling_content .content_wrap .sheet_wrap.right {width: 1072px; margin-left: 16px;}
#exception_handling_content .content_wrap .sheet_area {width: 100%; height: calc(100% - 66px);}

#exception_handling_content .sheet_top_area {justify-content: space-between;}
#exception_handling_content .sheet_top_area .title {font-size: 13px; font-weight: bold; margin-top: 8px;}

#deduction_items_modal table {width: 552px;}
#deduction_items_modal table.basic th {width: 84px;}
#deduction_items_modal .title_td {width: 156px;}
#deduction_items_modal input {width: 132px;}
#deduction_items_modal .custom_select {width: 150px;}
#deduction_items_modal .search_td {padding-right: 0; display: flex;}
#deduction_items_modal .search_td .search_btn {margin-left: 8px;}
#deduction_items_modal .sheet_area {width: 552px; height: 520px; border: solid 1px #323232; background-color: rgba(50, 50, 50, 0.3);}
#deduction_items_modal .sheet_title {font-size: 15px; font-weight: bold; margin: 20px 0 8px 0; padding: 0;}

/* 급여계산 마감 탭 */
#calculation_complete_modal .tab_wrap {width: 100%; height: 59px; display: flex; align-items: flex-end}
#calculation_complete_modal .tab_wrap .tab_menu_2 {height: 30px; font-weight: normal; padding: 0; cursor: pointer; position: relative; font-size: 15px; color: #555;}
#calculation_complete_modal .tab_wrap .tab_menu_2 + .tab_menu_2 { margin-left: 20px; }
#calculation_complete_modal .tab_wrap .tab_menu_2.active {font-weight: bold; border-bottom: 2px solid #323232; bottom: -1px; height: 31px;} 

/* 금여계산 마감 모달 */
#calculation_complete_modal .bold {font-weight: bold;}
#calculation_complete_modal .complete_message .first_line {display: flex;}
#calculation_complete_modal .complete_message .first_line span.message_top {margin-left: 4px; font-size: 18px; letter-spacing: -0.54px;}
#calculation_complete_modal .tab_wrap {padding-bottom: 1px; border-bottom: 1px solid #e3e3e3;}
/* 요약 */
#calculation_complete_modal .content {width: 100%;}
#calculation_complete_modal .content.summary {margin: 20px 0 0 0;}
#calculation_complete_modal .summary_list li {margin-bottom: 24px;}
#calculation_complete_modal .summary_list li:last-child {margin-bottom: 0; padding-bottom: 30px; border-bottom: 1px dotted #bebebe;}
#calculation_complete_modal .summary_list li .title {font-size: 14px; margin-bottom: 16px; padding-bottom: 8px; border-bottom: 1px solid #323232}
#calculation_complete_modal .summary_list li .line {display: flex; margin-bottom: 12px; width: 50%; justify-content: space-between; align-items: center; transform: translateX(100%); font-size: 14px;}
#calculation_complete_modal .summary_list li .line:last-child {margin-bottom: 0;}
#calculation_complete_modal .summary_list li .line .number i {vertical-align: middle;}
#calculation_complete_modal .summary_list li .line .number .percent {margin-right: 8px;}
#calculation_complete_modal .summary_list li .line .number.increase i { color: #ff5c5c;}
#calculation_complete_modal .summary_list li .line .number.increase .percent { color: #ff5c5c;}
#calculation_complete_modal .summary_list li .line .number.decrease i { color: #34c759;}
#calculation_complete_modal .summary_list li .line .number.decrease .percent { color: #34c759;}
#calculation_complete_modal .total_amount_spent {display: flex; margin-top: 24px; justify-content: space-between; align-items: center;}
#calculation_complete_modal .total_amount_spent >*{font-size: 14px;}
#calculation_complete_modal .total_amount_spent .amount{font-size: 24px; color: #2570f9;}
/* 상세 */
#calculation_complete_modal .content.details { margin: 18px 0 0 0;}
#calculation_complete_modal .content.details .table.basic th { font-size: 13px;}
#calculation_complete_modal .content.details .table.basic td { font-size: 12px;}
#calculation_complete_modal .content.details table.basic.type4 tbody tr td {padding: 7px;}
#calculation_complete_modal .content.details thead tr th{ background-color: #f8f8f8;}
#calculation_complete_modal .content.details td{ letter-spacing: -0.39px;}
#calculation_complete_modal .content.details td.icon {overflow: hidden;}
#calculation_complete_modal .content.details td.icon i { font-size: 16px; width: 16px; vertical-align: middle;}
#calculation_complete_modal .content.details td.target > div{ line-height: 1em; margin-bottom: 7px;}
#calculation_complete_modal .content.details td .target_top {font-weight: bold;}
#calculation_complete_modal .pagenation_wrap {margin-top: 16px;}


/* 급여명세서 */
#salary_popup {width: 600px;}
#salary_popup .bold {font-weight: bold;}
#salary_popup .popup_header {height: 65px; box-sizing: border-box; position: relative; align-items: flex-start; border-bottom: 1px solid #e3e3e3; border-top-left-radius: calc(0.3rem - 1px); border-top-right-radius: calc(0.3rem - 1px); display: flex;justify-content: space-between; padding: 24px; font-size: 16px; font-weight: bold; align-items: center;}
#salary_popup .popup_body {min-height: 150px; padding: 24px; box-sizing: border-box; overflow-y: auto;}
#salary_popup .popup_body .top {display: flex; justify-content: space-between; align-items: flex-start;}
#salary_popup .popup_body .top .profile {display: flex; align-items: center;}
#salary_popup .popup_body .top .profile >*{font-size: 13px;}
#salary_popup .popup_body .top .profile img {width: 42px; height: 42px;}
#salary_popup .popup_body .top .profile p {margin: 0 0 0 12px;}
#salary_popup .popup_body .top .profile p span {line-height: 21px;}
#salary_popup .popup_body .top .profile p span.detail {}
#salary_popup .popup_body .top .profile p span.detail span {position: relative; padding-right: 5px; color: #555555;}
#salary_popup .popup_body .top .profile p span.detail span::before {position:absolute; content: ''; top: 50%; right: 0; transform: translateY(-50%); width: 1px; height: 8px; background-color: #555555;}
#salary_popup .popup_body .top .profile p span.detail span:last-child {padding: 0;}
#salary_popup .popup_body .top .profile p span.detail span:last-child::before {display: none;}
#salary_popup .popup_body .top .actual_salary {text-align: right;}
#salary_popup .popup_body .top .actual_salary span {font-size: 13px;}
#salary_popup .popup_body .top .actual_salary .name {color: #777;}
#salary_popup .popup_body .top .actual_salary .salary {font-size: 15px;}
#salary_popup .popup_body .top .actual_salary .salary p {margin-top: 6px; color: #2570f9; font-weight: bold;}
#salary_popup .popup_body .top .actual_salary .salary .num{font-size: 30px;}

#salary_popup .content {width: 100%;}
#salary_popup .content .pay_stub {margin: 30px 0 0 0;}
#salary_popup .pay_stub_list li {margin-bottom: 36px;}
#salary_popup .pay_stub_list li:last-child {margin-bottom: 0; padding-bottom: 30px;}
#salary_popup .pay_stub_list li .title {display: flex; justify-content: space-between; font-size: 14px; margin-bottom: 16px; padding-bottom: 8px; border-bottom: 1px solid #323232}
#salary_popup .pay_stub_list li .title .num_box {font-size: 14px;}
#salary_popup .pay_stub_list li .title .num_box >*{color: #323232; font-weight: normal;}
#salary_popup .pay_stub_list li .title .num_box .num{font-size: 16px; font-weight: bold;}

#salary_popup .pay_stub_list li .line {display: flex; margin-bottom: 12px; width: 100%; justify-content: space-between; align-items: center; font-size: 14px;}
#salary_popup .pay_stub_list li .line:last-child {margin-bottom: 0;}
#salary_popup .pay_stub_list li .line .line_child {width: 50%;}
#salary_popup .pay_stub_list li .line .line_child.line_left {color: #323232
;}
#salary_popup .pay_stub_list li .line .line_child.line_right {display: flex; justify-content: space-between; width: 50%; color: #777777;}
#salary_popup .pay_stub_list li .line .line_child.line_right .number {color: #323232}
#salary_popup .total_amount_spent {display: flex; margin-top: 24px; justify-content: space-between; align-items: center;}
#salary_popup .total_amount_spent >*{font-size: 14px;}
#salary_popup .total_amount_spent .amount{font-size: 24px; color: #2570f9;}


/* 급여 리스트 */
#salary_calculation_list_wrap .table_title {font-size: 14px;}
#salary_calculation_list_wrap table tr th {width: 84px;}
#salary_calculation_list_wrap table.basic td { width: 144px;}
#salary_calculation_list_wrap table td .custom_select {width: 120px;}
#salary_calculation_list_wrap table td.targetYn {width: calc(100% - 312px);}
#salary_calculation_list_wrap table td.targetYn >*{display: inline-block;}
#salary_calculation_list_wrap table td.targetYn button.check {margin-left: 9px;}
#salary_calculation_list_wrap .sheet_top_area {display: flex; margin: 24px 0 8px; align-items: center; justify-content: space-between;}
#salary_calculation_list_wrap .sheet_top_area .salary_date {font-size: 13px; height: 1em;}
#salary_calculation_list_wrap .sheet_top_area .btn_wrap {display: inherit;}
#salary_calculation_list_wrap .sheet_section {height: 100%;}
#salary_calculation_list_wrap .sheet_area {width: 100%; height: calc(100% - 173px); border: 1px solid #323232; background-color: rgba(50, 50, 50, 0.3);}

/* 급여이체자료 생성 */
#salary_transfer_data_create_wrap .table_title {font-size: 14px;}
#salary_transfer_data_create_wrap table tr th {width: 84px; font-size: 12px;}
#salary_transfer_data_create_wrap table td {width: 204px; font-size: 12px;}
#salary_transfer_data_create_wrap table td .custom_select {width: 180px;}
#salary_transfer_data_create_wrap table td.name {width: calc(100% - 372px);}
#salary_transfer_data_create_wrap table td.name input {width: 180px; font-size: 12px;}
#salary_transfer_data_create_wrap table td.name >*{display: inline-block;}
#salary_transfer_data_create_wrap table td.name button.check {margin-left: 9px;}
#salary_transfer_data_create_wrap .sheet_top_area {display: flex; margin: 24px 0 8px; align-items: center; justify-content: space-between;}
#salary_transfer_data_create_wrap .sheet_top_area .salary_date {font-size: 12px; height: 1em;}
#salary_transfer_data_create_wrap .sheet_top_area .btn_wrap {display: inherit;}
#salary_transfer_data_create_wrap .sheet_section {height: 100%;}
#salary_transfer_data_create_wrap .sheet_area {width: 100%; height: calc(100% - 173px); border: 1px solid #323232; background-color: rgba(50, 50, 50, 0.3);}


