@charset 'UTF-8';
/* donut chart */
.chart-wrap {display: flex !important; justify-content: flex-end; align-items: center; margin-right: 5px;}
.chart-wrap .donut-chart {position: relative !important;margin: 0 0 0 6px;width: 26px;height: 26px;border-radius: 50%;}
.chart-wrap .donut-hole {position: absolute !important;top: 50%;left: 50%;width: 16px;height: 16px;background-color: #ffffff;border-radius: 50%;transform: translate(-50%, -50%);}

.talent-box{border: solid 1px #e3e3e3;border-radius: 16px; margin-top: 7px;}
.talent-box .header{display: flex;align-items: center;border-bottom: solid 1px #e3e3e3;padding: 28px 20px 12px 20px;}
.talent-box .header .name{font-size: 24px;font-weight: bold;line-height: 0.75;letter-spacing: -0.72px;color: #323232;}
.talent-box .header .position,
.talent-box .header .team{font-size: 13px;font-weight: 400;line-height: 1.38;letter-spacing: -0.39px;color: #555;}
.talent-box .header .position{margin-left: 8px;}
.talent-box .header .divider{position: relative;width: auto;background:none;margin: 0 0 0 8px;}
.talent-box .header .divider::before{content: '';position: absolute;top: 2px;left: -6px;display: inline-block;width: 1px;height: 12px;background-color: #555;}
.talent-box .header .rec-chip{margin-left: 16px;display: inline-flex;align-items: center;height: 24px;padding: 0 8px;border-radius: 11.5px; background-color: #e8f0ff;font-size: 10px;font-weight: 400;color: #2570f9;}
.talent-box .header .chart-wrap{display: flex; align-items: center; margin-left: auto;}
.talent-box .header .chart-wrap .label{font-size: 14px;font-weight: 500;letter-spacing: -0.42px;color: #555;}
.talent-box .header .chart-wrap .cnt{margin-left: 12px; font-size: 14px;font-weight: 500;letter-spacing: -0.42px;color: #2570f9;}
.talent-box .header .chart-wrap .donut-chart.big{width: 30px;height: 30px;}

.talent-box .body{padding: 24px 20px 16px 20px; height: calc(100vh - 182px); overflow-y: auto;}
.talent-box .body .desc-wrap{display: flex; flex-direction: row; flex-wrap: wrap; margin-top:20px;}
.talent-box .body .desc-wrap>div{width: 50%; padding-bottom: 14px;}
.talent-box .body .desc-wrap>div:first-child{padding-right: 16px;}
.talent-box .body .desc-wrap>div:last-child{padding-left: 16px;}
.talent-box .body .desc-wrap>div.divider{position: relative; height: auto; border-left: 1px solid #e3e3e3; margin: 0; background: none;}
.talent-box .body .desc-wrap .title{font-size: 14px;font-weight: bold;line-height: 1.29;letter-spacing: -0.42px;color: #323232;}
.talent-box .body .desc-wrap .desc-wrap{width: 100%; margin-top: 12px;display: flex;align-items: flex-start;}
.talent-box .body .desc-wrap .desc-wrap .desc{width: calc(100% - 76px); margin-left: 12px; font-size: 12px;font-weight: 400;line-height: 1.5;letter-spacing: -0.36px;color: #555;}
.talent-box .body .desc-wrap .chip{min-width: 54px; display: inline-flex;align-items: center;height: 26px;padding: 0 8px;border-radius: 13px;background-color: #505961;font-size: 12px;font-weight: bold;letter-spacing: -0.36px;color: #fff;}
.talent-box .body .desc-wrap .streng .chip{background-color: #2570f9;}
.talent-box .body .desc-wrap .streng .chip>.mdi-ico{font-size: 12px;margin-right: 4px;}
.talent-box .body .desc-wrap .weak .chip>.mdi-ico{font-size: 14px;margin-right: 4px;}
.talent-box .body .score-wrap{margin-top:20px;}
.talent-box .body .score-wrap .title{font-size: 14px;font-weight: bold;line-height: 1.29;letter-spacing: -0.42px;color: #323232;}
.talent-box .body .score-wrap .desc{font-size: 12px;font-weight: 400;line-height: 1.5;letter-spacing: -0.36px;color: #555;}
.talent-box .body .score-box{display: flex;flex-wrap: wrap;padding: 24px 0 30px; border-radius: 12px; margin-top: 16px; background-color: #f8f8f8;}
.talent-box .body .score-box .score-item{position: relative; width: 33.33333333%; padding : 0 16px; border-left:1px solid #e3e3e3;}
.talent-box .body .score-box .score-item:nth-child(3n-2){border-left:0px;}
.talent-box .body .score-box .score-item:nth-child(n+4){margin-top: 30px;}
.talent-box .body .score-box .score-item .item-header{display: flex; align-items: center;}
.talent-box .body .score-box .score-item .item-header .mdi-ico{font-size: 20px; color: #323232;}
.talent-box .body .score-box .score-item .item-header .score-title{margin-left: 4px;font-size: 15px;font-weight: bold;letter-spacing: -0.45px;color: #323232;}
.talent-box .body .score-box .score-item .item-header .btn-more{margin-left: auto; display: inline-flex; align-items: center; font-size: 12px;font-weight: 600;color: #9f9f9f;}
.talent-box .body .score-box .score-item .item-header .btn-more .mdi-ico{margin-left: 2px; font-size: 16px; color: #9f9f9f;}
.talent-box .body .score-box .score-item .score-desc{margin-top: 16px; display: flex; align-items: flex-end;}
.talent-box .body .score-box .score-item .score-desc .score{font-size: 40px;font-weight: 600;line-height: 1;letter-spacing: -1.2px;color: #323232;}
.talent-box .body .score-box .score-item .score-desc .unit{font-size: 12px;font-weight: 400;line-height: 1.25;color: #9f9f9f;}
.talent-box .body .score-box .score-item .score-desc .cnt-wrap{margin-left: auto;}
.talent-box .body .score-box .score-item .score-desc .cnt-wrap .cnt{font-size: 14px;font-weight: bold;line-height: 1.11;letter-spacing: -0.42px;color: #2570f9;}
.talent-box .body .score-box .score-item .score-desc .cnt-wrap .desc{margin-left: 2px;font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
.talent-box .body .score-box .score-item .desc-list{margin-top:12px;}
.talent-box .body .score-box .score-item .desc-list li{margin-top:8px;}
.talent-box .body .score-box .score-item .desc-list li:first-child{margin-top:0px;}
.talent-box .body .score-box .score-item .desc-list .score-label{font-size: 13px;font-weight: 400;line-height: 1.18;color: #9f9f9f;}
.talent-box .body .score-box .score-item .desc-list .score-desc{margin-top: 2px; font-size: 12px;font-weight: 400;line-height: 1.28;color: #323232;}