@charset 'UTF-8';
/* common */
body.iframe_content{display: flex; flex-direction:column; padding: 0 0 0 12px;}
.bg-grey{background-color: #f8f8f8;}
.ellipsis {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
strong{font-weight: bold!important;}

/* bootstrap 자주 쓰는 것들 */
.d-flex{display: -ms-flexbox !important;display: flex !important;}
.ml-auto{margin-left: auto!important;}
.align-center{align-items: center;}

/* padding */
.pa-0{padding: 0px!important;}

/* margin */
.mt-12{margin-top: 12px!important;}

/* border style */
.border{border: 1px solid #e0e0e0!important;}
.border-left{border-left: 1px solid #e0e0e0!important;}
.border-right{border-right: 1px solid #e0e0e0!important;}
.border-bottom{border-bottom: 1px solid #e0e0e0!important;}
.border-top{border-top: 1px solid #e0e0e0!important;}

/* input width */
.input-wrap.wid-100{width: 100%;}
.input-wrap.wid-100px{width: 100px;}
.input-wrap.wid-200px{width: 200px;}
.input-wrap.wid-40px{width: 40px;}
.input-wrap.wid-50{width: 50%;}
.input-wrap.wid-33{width: 33%;}
.input-wrap.wid-15{width: 15%;}
.input-divider{margin:0 24px;}
.input-ml16{margin-left: 16px;}
.input-unit{margin-left: 8px;}


/* color */
.point-red{color: #F00!important;}
.point-blue{color: #2998FC!important;}
.color-red{border: 1px solid #F00!important; color: #F00!important; background: rgba(255, 0, 0, 0.10)!important;}
.color-blue{border: 1px solid #2998FC!important; color: #2998FC!important; background: rgba(41, 152, 252, 0.10)!important;}
.color-yellow{border: 1px solid #FB8600!important; color: #FB8600!important; background: rgba(251, 184, 0, 0.10)!important;}
.color-purple{border: 1px solid #680DCF!important; color: #680DCF!important; background: rgba(104, 13, 207, 0.10)!important;}
.color-olive{border: 1px solid #469537!important; color: #469537!important; background: rgba(70, 149, 55, 0.10)!important;}

.chip{display: inline-flex;height: 24px;padding: 0 8px;justify-content: center;align-items: center;border-radius: 999px;}
.widget-title{display: flex; align-items: center; justify-content: center; width: 100%;height: 61px;border-radius: 13px; box-shadow: 0px 1px 10px #0000000D; font-size: 22px; letter-spacing: -0.81px;}

.widget_container.wel-widget-wrap{gap:30px; margin-top: 26px; padding-bottom: 40px;}
.widget_container.bg-white{margin-top: 124px; background-color: #ffffff; border-radius: 16px;}
.header+.widget_container.bg-white{margin-top: 0;}

.wel-widget-wrap .wel-widget{width: calc(25% - 24px); display: flex; align-items:center; justify-content: flex-start; flex-direction: column; padding: 16px 18px 16px;border-radius: 20px;background: #ffffff;box-shadow: 0px 4.5px 10px 0px rgba(0, 0, 0, 0.05), 0px 1.9px 4px 0px rgba(0, 0, 0, 0.05), 0px 0.7px 1.4px 0px rgba(0, 0, 0, 0.07); cursor: pointer;}
.wel-widget-wrap .wel-widget .chip-wrap{display: flex; align-self: flex-start;}
.wel-widget-wrap .wel-widget .img-wrap{margin-top: 18px;}
.wel-widget-wrap .wel-widget .img-wrap svg{width: 100px!important; height: 100px!important;}
.wel-widget-wrap .wel-widget .title{margin-top: 24px; font-size: 20px;font-weight: 700;letter-spacing: -0.32px;color: #333;}
.wel-widget-wrap .wel-widget .title .sub{font-size: 15px;letter-spacing: -0.45px;color: #000000;}
.wel-widget-wrap .wel-widget .desc{margin-top: 18px; font-size: 14px;font-weight: 400;letter-spacing: -0.42px; line-height: 1.6; /* 133.333% */letter-spacing: -0.24px; text-align: center; color: #686868; word-break: keep-all;}


.dialog-box {display: none;position: fixed;z-index: 10;left: 0;top: 0;width: 100%;height: 100%;  background-color: rgba(0, 0, 0, 0.3); /* 반투명 배경 */}
.dialog-content {margin: 2% auto;max-width: 872px;border-radius: 30px; background-color: #fff; overflow: hidden;}
.dialog-content .breadcrumb {display: flex; align-items: center; justify-content:flex-end; padding: 22px 30px 24px; margin:0;font-size: 13px;color: #AEAEAE;background-color:rgba(255,255,255,0);}

.dialog-header {display: flex; align-items: center; padding: 24px 74px; background-color: #F9F9F9;}
.dialog-header .inner-wrap{margin-left: 16px;}
.dialog-header .inner-wrap .dialog-title {font-size: 21px;font-weight: bold; letter-spacing: -0.78px; color: #000000;}
.dialog-header .inner-wrap .dialog-desc {margin-top: 13px; font-size: 13px;line-height: 1.5; color: #737474; word-break:keep-all;}

.dialog-body{padding-bottom: 16px; background-color: #ffffff;}

.dialog-iframe{padding: 29px 116px 40px 158px;}
.dialog-iframe .list-wrap .list-item{display: flex; margin-top: 22px;}
.dialog-iframe .list-wrap .sub-list li{margin-top: 24px;}
.dialog-iframe .list-wrap .sub-list li:first-child{margin-top: 0px;}
.dialog-iframe .list-wrap .order-list{padding: 16px;}
.dialog-iframe .list-wrap .order-list li{margin-top: 13px; color: #272727; font-size: 13px; letter-spacing: -0.48;}
.dialog-iframe .list-wrap .order-list li:first-child{margin-top: 0px;}
.dialog-iframe .list-wrap .dot-list{padding: 16px;}
.dialog-iframe .list-wrap .dot-list li{margin-top: 13px; color: #272727; font-size: 13px; letter-spacing: -0.48;}
.dialog-iframe .list-wrap .dot-list li:first-child{margin-top: 0px;}
.dialog-iframe .list-wrap .dot-list li::before{content: '·'; margin-right: 4px;}

.dialog-iframe dt.label-title{display: inline-flex; flex-shrink: 0; width: 80px; height: 24px; border:1px solid #BBBBBB; border-radius: 16px;align-items: center;justify-content: center;font-size: 13px;color: #6E6E6E;background-color: #F2F2F2;}
.dialog-iframe dd{display: block; margin-left: 29px; color: #272727; font-size: 13px; line-height: 1.5;}
.dialog-iframe .sub-title{font-size: 13px;color: #272727; font-weight: 700;}
.dialog-iframe .desc{font-size: 13px;color: #272727; font-weight: 400; line-height: 1.5;}
.dialog-iframe .desc.grey,
.dialog-iframe .desc.gray{color: #929292;}
.dialog-iframe a:hover{text-decoration: underline; color: #4B30D5;}
.dialog-iframe .btn-link{width: 184px;height: 42px;display: inline-flex;align-items: center;justify-content: center;background-color: #F5EEFF;border-radius: 8px;border:1px solid #4B30D5; letter-spacing: -0.48px; font-size: 13px; color: #4B30D5;}
.dialog-iframe .btn-link:hover{text-decoration: none;}
.dialog-iframe .under-line{text-decoration: underline;}

/* table */
.dialog-iframe table.default th,.dialog-iframe table.default td{text-align: center;}