@charset "UTF-8";
/**
 * * widget.css
 */
 /* widget common style */

.widget .widget-close{display: flex;}
.widget a.widget-close{color: #777777;}
.widget a.widget-close:hover{color: #40484d;}
.widget .widget_header .sub-title{margin-left: 12px; font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #555;}
.widget .widget_header > i{font-size: 24px;}
.widget .widget_body .sub-title{margin-top: 4px; font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #555;}
/* 위젯 공통 토글 */
.widget .toggleSwitch .toggleButton{left:3px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}



/* 비활성화 시 위젯 헤더에 토글 */
.widget_header.toggle-wrap{justify-content:flex-start;}
.widget_header .more-vert{margin-left: 4px; margin-right: -10px;}
.widget_header .toggleSwitch{margin-left: auto; width: 46px;height: 24px;border-radius: 100px;}
.widget-common .block-info{padding-top: 75px; text-align: center;}
.widget-common .block-info i{font-size: 40px;color: #9f9f9f;}
.widget-common .block-info .desc{margin-top: 12px; font-size: 12px;font-weight: 400;line-height: 1.5;letter-spacing: -0.36px;color: #555;}

/* 알림 위젯 */
.widget-common.alarm-info .bookmarks_title{height: 48px;margin-top: 16px;}
.widget-common.alarm-info .bookmarks_title.tab-outer{height: 40px; margin-top: 28px;}
.widget-common.alarm-info .tab-outer .tab_wrap{height: 40px;}
.widget-common.alarm-info .container_info{margin-top: 28px; text-align: center;}
.widget-common.alarm-info .img-wrap img{display: inline-block; width: 72px; height: 72px;}
.widget-common.alarm-info .desc{margin-top: 8px; font-size: 16px;font-weight: bold;line-height: 1.38;letter-spacing: -0.48px;color: #323232;}
.widget-common.alarm-info .inner-wrap{margin-top: -12px; text-align: center;}
.widget-common.alarm-info .inner-wrap .f-left{float: left; }
.widget-common.alarm-info .inner-wrap .desc-wrap{width: 110px; height: 46px; padding-top: 12px; padding-left: 12px; margin:0px;}
.widget-common.alarm-info .inner-wrap .desc{margin:0px; text-align: left;}
.widget-common.alarm-info .inner-wrap::after{content: ''; clear: both; display: table; width: 100%; }
.widget-common.alarm-info .btn-wrap{margin-top: 24px;}
/* 넓은 버전 */
.widget.wide .widget-common.alarm-info .inner-wrap{width: 344px; margin:-4px auto 0;}
.widget.wide .widget-common.alarm-info .inner-wrap .img-wrap img{width: 106px; height: 106px;}
.widget.wide .widget-common.alarm-info .inner-wrap .desc-wrap{width: calc(100% - 106px); padding:20px 0px 0px 24px;}
.widget.wide .widget-common.alarm-info .inner-wrap .desc{height: initial; margin:0px; width: 100%;}
.widget.wide .widget-common.alarm-info .inner-wrap .btn-wrap{margin-top: 8px; text-align: left;}

.widget-common{position: relative;}
.widget-common .tag_icon{width: 16px!important; height: 16px!important;}
.widget-common .tag_icon i{font-size: 16px;}
.widget-common .total-title{justify-content: flex-start; height: 36px; margin-top: 28px;}
.widget-common .total-title .label{font-size: 15px;font-weight: 400;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.widget-common .total-title .ml-auto{margin-left: auto;}
.widget-common .total-title .ml-4{margin-left: 16px;}
.widget-common .total-title .cnt{margin-left: 8px; font-size: 24px;font-weight: bold;line-height: 0.65;letter-spacing: -0.72px;color: #323232;}
.widget-common .total-title .unit{margin-left: 4px; font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}
.widget-common .total-title .text{font-size: 24px;font-weight: 400;line-height: 0.65;letter-spacing: -0.72px;color: #323232;}


.widget-common .container_info { height: auto; display: block;}
.widget-common .container_info .info_title_num {display: flex; align-items: baseline; margin-top:4px; font-size: 40px;  letter-spacing: -0.75px; color: #323232; font-weight: 600; line-height: 55px;letter-spacing: -1.2px;}
.widget-common .container_info .info_title {margin-top: 10px; font-weight: 400; font-size: 13px; color: #323232;}
.widget-common .container_info .info_title.desc {font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
.widget-common .container_info .info_title.unit {margin-left: 4px;font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}
.widget-common .container_info .title_green { color: #34c759; margin-left: 4px; margin-right: 3px; }
.widget-common .container_info .title_red { color: #ff5c5c; margin-left: 4px; margin-right: 3px; }
.widget-common .container_info .cnt { margin-left: 4px;}
.widget-common .container_info .tag_icon{margin-left: 4px;}
.widget-common .container_info .info_box .title_kor {font-size: 15px;font-weight: normal;letter-spacing: 0px;}
.widget-common .container_info .info_box .box_bnum {display: inline-block; width: 41px; text-align: right; font-size: 17px;font-weight: 700;letter-spacing: -0.51px;margin-left: 8px;margin-right: 4px;}

.widget-common .container_info .info_title .label {display: inline-block; width: 120px;}
.widget-common .container_info .info_title .desc {font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
/* 위젯 말풍선 */
.widget-common .speech-bubble { display: none; /* display: flex; */ width: max-content; height: 42px; padding: 12px; position: absolute; background-color: #fff; border-radius: 11px; box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16); align-items: center; z-index: 99; pointer-events: none; }
.widget-common .speech-bubble::after { content: ''; position: absolute; bottom: 0; left: 3px; width: 0; height: 0; border: 20px solid transparent; border-top-color: #fff; border-bottom: 0; border-left: 0; margin-left: -3px; margin-bottom: -10px; }
.widget-common .speech-bubble span {font-size: 11px;font-weight: 400;line-height: 1.41;letter-spacing: -0.33px;color: #555;}
.widget-common .speech-bubble .divider{position: relative; width:initial; height: initial; margin:0px; background-color: initial;}
.widget-common .speech-bubble .divider::before{content: ''; display: inline-block; width:1px; height: 12px; margin: -2px 4px; background-color: #e3e3e3;}


/* 공통으로 사용하는 아바타 스타일 */
.widget-common .avatar{position:relative; border:1px solid #e6e7e8;}
.widget-common .avatar img{position: absolute;top: 50%;left: 50%;width: 100%;transform: translate(-50%, -50%);}
.widget-common .name{font-size: 13px;font-weight: bold;line-height: 1.18;color: #323232;}
.widget-common .position{font-size: 13px;font-weight: 400;line-height: 1.18;color: #323232;}
.widget-common .team{font-size: 13px;font-weight: 400;line-height: 1.18;color: #9f9f9f;}

.widget-common .list-title{display: flex; justify-content:center; font-size: 15px;font-weight: bold;line-height: 1.04;letter-spacing: -0.45px;color: #202021;}
.widget-common .avatar-list{display: flex; flex-direction: row; justify-content:space-between; height: 98px; margin-top: 20px;}
.widget-common .avatar-list div{display: flex; flex-direction: column; align-items:center;}
.widget-common .avatar-list .avatar-wrap{position: relative; width: 48px; height: 48px;}
.widget-common .avatar-list .avatar{display: inline-block;width: 50px;height: 50px;border: solid 1px #e6e7e8;border-radius: 50%;overflow: hidden;background: url('../images/common/header/avatar.png') no-repeat center center;}
.widget-common .avatar-list .tag_icon.round{position: absolute; top: 0; left: -9px; z-index: 9; width: 18px!important; height: 18px!important; margin-left: 0px; line-height: 18px; font-size: 11px; font-weight: bold;}
.widget-common .avatar-list .name{margin-top:8px; font-size: 13px;font-weight: bold;line-height: 19px;letter-spacing: -0.39px;color: #323232;}
.widget-common .avatar-list .team{width: 60px; margin-top:2px; font-size: 13px;font-weight: 400;line-height: 19px;letter-spacing: -0.39px;color: #323232; text-align:center;}

/* 더보기 등 버튼으로 된 widget */
.widget_body.widget-more .bookmarks_title{height: 48px; margin-top: 16px;}

/* 시간외 근무 사용현황 */
.overtime-work.widget-common .container_info{padding-top: 24px;}
.overtime-work.widget-common .container_info .info_title{ display: block; margin-top:28px;  font-size: 15px;font-weight: bold;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.overtime-work.widget-common .container_info .info_title .mdi-ico{margin-right:4px; font-size: 16px; vertical-align: text-bottom;}
.overtime-work.widget-common .container_info .info_title .tag_icon .mdi-ico{margin-right:0;}
.overtime-work.widget-common .container_info .info_title_num{margin-top:0px; justify-content:left;}
.overtime-work.widget-common .container_info .info_title.unit{margin-top: 0px;margin-right: 4px;  font-size: 12px;font-weight: 400;line-height: 1.25;color: #9f9f9f;}
.overtime-work.widget-common .container_info .info_title.unit:last-child{margin-right: 0px;}
.overtime-work.widget-common .container_info .info_title.desc{display: inline-flex; margin-top: 0px; font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
.overtime-work.widget-common .container_info .info_box{margin-top: 14px;}
.overtime-work.widget-common .container_info{width : -webkit-fill-available;}

/* 연차 보상 비용 현황 */
.widget .attendance_contents.annual-status {width: 222px;}
.widget.wide .attendance_contents.annual-status {width: 504px;}
.attendance_contents.annual-status .container_box {display: flex; padding-top: 8px;}
.attendance_contents.annual-status .container_left {padding-top: 0px; width: 238px; height: 182px; margin-right: 0px; }
.attendance_contents.annual-status .container_left .container_info { height: auto; display: block;}
.attendance_contents.annual-status .container_left .container_info .info_title_num {display: flex; align-items: baseline; margin-top:4px; font-size: 40px;  letter-spacing: -0.75px; color: #323232; font-weight: 600; line-height: 55px;letter-spacing: -1.2px;}
.attendance_contents.annual-status .container_left .container_info .info_title {margin-top: 10px; font-weight: 400; font-size: 13px; color: #323232;}
.attendance_contents.annual-status .container_left .container_info .info_date {margin-top: 10px; font-weight: 400; font-size: 13px; color: #323232;}
.attendance_contents.annual-status .container_left .container_info .info_year {margin-top: 0px;font-size: 13px;font-weight: bold;letter-spacing: -0.39px;color: #323232;}
.attendance_contents.annual-status .container_left .container_info .info_title.desc {font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
.attendance_contents.annual-status .container_left .container_info .info_title.unit {margin-left: 4px;font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}
.attendance_contents.annual-status .container_left .container_info .info_title.data {margin-left: 4px;font-size: 20px;font-weight: 400;letter-spacing: -0.6px;color: #9f9f9f;}
.attendance_contents.annual-status .container_left .container_info .info_title.data-unit {margin-left: 3px;font-size: 15px;font-weight: 400;line-height: 1.03;letter-spacing: -0.45px;color: #9f9f9f;}
.attendance_contents.annual-status .container_left .container_info .title_green { color: #34c759; margin-left: 4px; margin-right: 3px; }
.attendance_contents.annual-status .container_left .container_info .info_title>.title_green:first-child { margin-left: 0px;}
.attendance_contents.annual-status .container_left .container_info .title_red { color: #ff5c5c; margin-left: 4px; margin-right: 3px; }
.attendance_contents.annual-status .container_left .container_info .cnt { margin-left: 4px;}
.attendance_contents.annual-status .container_left .container_info .tag_icon{margin-left: 4px;}
.attendance_contents.annual-status .container_left .container_info .tag_icon i{font-size: 16px;}
.attendance_contents.annual-status .container_right .chart-wrap{padding-top: 80px;}
.attendance_contents.annual-status .container_left>div:nth-child(2){margin-top: 25px;}
.attendance_contents.annual-status .container_left>div:nth-child(3){margin-top: 6px;}
.attendance_contents.annual-status .info_box.team{font-weight: bold;}

.attendance_contents.annual-status .container_info .select-outer{padding-right: 30px;}
.attendance_contents.annual-status .container_info .select-outer .custom_select.no_style{margin-left: auto;}
.attendance_contents.annual-status .container_info .select-outer+.info_title_num{margin-top: -10px;}
.attendance_contents.annual-status .container_info .info_title.label{margin-top: -3px; font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #323232;}
.attendance_contents.annual-status .container_info .info_title_num{margin-top: 0px;}
.attendance_contents.annual-status .container_info .info_title_num.unit{margin-left: 4px; font-weight: 400;}
.attendance_contents.annual-status .container_info .info_title_num.deno{color: #9f9f9f; font-weight: 400;}
.attendance_contents.annual-status .container_info .info_title.desc{margin-top: 0px;}
.attendance_contents.annual-status .container_info .info_title.num-desc{margin: 1px 0px 6px;font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #9f9f9f;}
.attendance_contents.annual-status .info_box{margin-top: 14px;}
.attendance_contents.annual-status .info_box.team{margin-top: 2px;}
.attendance_contents.annual-status .info_box.team .title_kor{font-weight: bold; color: #323232;}

/* 전사 근태 현황 */
.attend-status.widget-common .container_info .info_label{display: flex; justify-content: center; margin-bottom: 8px;  font-size: 13px;font-weight: bold;line-height: 1.19;letter-spacing: -0.39px;color: #323232;}
.attend-status.widget-common .container_info .info_title_num{margin-top:0px; justify-content:center;}
.attend-status.widget-common .container_info .info_title.desc{display: flex; justify-content:center;}
.attend-status.widget-common .container_info .btn-wrap{margin-top: 20px; text-align: center;}

/* 전사 근태 현황 리스트 */
.widget_body.avatar-widget .widget_body_title{margin-bottom: 12px;}
.widget_body.avatar-widget .bookmarks_title{height:42px; margin-bottom: 8px; justify-content: flex-start;}
.widget_body.avatar-widget .bookmarks_title.tab-style{justify-content: space-between;}
.widget_body.avatar-widget .total-title{height: 36px; margin-top:20px; margin-bottom: 12px;}
.widget_body.avatar-widget .total-title .custom_select.no_style{width: auto;}
.widget_body.avatar-widget .total-title .tag_icon{margin-left: 4px;}
.widget_body.avatar-widget .total-title .num{margin-left: auto;font-size: 24px;font-weight: bold;line-height: 0.65;letter-spacing: -0.72px;color: #323232;}
.widget_body.avatar-widget .total-title .num.ml-3{margin-left: 12px;}
.widget_body.avatar-widget .total-title .total{font-size: 24px;font-weight: 400;line-height: 0.65;letter-spacing: -0.72px;color: #9f9f9f;}
.widget_body.avatar-widget .total-title .unit{margin-top: 8px; font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}
.widget_body.avatar-widget .bookmarks_wrap.pt-30{padding-top: 30px;}
.widget_body.avatar-widget .bookmarks_wrap.pt-30 .bookmark_list{height: 122px;}
.widget_body.avatar-widget .bookmarks_wrap .bookmark_list.mt-30{margin-top: 30px; height: max-content;}
.widget_body.avatar-widget .bookmarks_wrap .total{position:absolute; top:-30px;}
.widget_body.avatar-widget .bookmarks_wrap .total .list-label{font-size: 15px;font-weight: 400;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.widget_body.avatar-widget .bookmarks_wrap .total strong.list-label{font-weight: 700;}
.widget_body.avatar-widget .bookmarks_wrap .total .cnt{margin-left: 8px; font-size: 16px;font-weight: bold;line-height: 0.97;letter-spacing: -0.48px;color: #323232;}
.widget_body.avatar-widget .bookmarks_wrap .total .unit{margin-left: 4px; font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}
.widget_body.avatar-widget .bookmark_list div{padding: 0px; background:none; justify-content: flex-start;}
.widget_body.avatar-widget .bookmark_list div + div{margin-top:8px;}
.widget_body.avatar-widget .bookmarks_wrap .bookmark_list{position:relative;}
.widget_body.avatar-widget .bookmarks_wrap.multi-list{flex-wrap: wrap; height: 136px;}
.widget_body.avatar-widget .bookmarks_wrap.multi-list .bookmark_inner-wrap+.bookmark_inner-wrap{margin-top: 32px;}
.widget_body.avatar-widget .bookmarks_wrap .bookmark_inner-wrap{display: flex; width: 100%;display: flex;flex-direction: row;width: 490px;}
.widget_body.avatar-widget .bookmarks_wrap .bookmark_inner-wrap .bookmark_list{overflow-y: initial; width: 50%;}

/* 아바타 리스트 */
.widget_body.avatar-widget .bookmark_list div .avatar{position:relative; width: 26px; height: 26px; border-radius: 50%; border:1px solid #e6e7e8; overflow: hidden;}
.widget_body.avatar-widget .bookmark_list div .avatar img{position: absolute;top: 50%;left: 50%;width: 100%;transform: translate(-50%, -50%);}
.widget_body.avatar-widget .bookmark_list div .name{margin-left: 8px; font-size: 13px;font-weight: bold;line-height: 1.18;color: #323232;}
.widget_body.avatar-widget .bookmark_list div .position{margin-left: 4px; font-size: 13px;font-weight: 400;line-height: 1.18;color: #323232;}
.widget_body.avatar-widget .bookmark_list div .team{width: 118px; margin-left: auto; text-align: right; font-size: 13px;font-weight: 400;line-height: 1.18;color: #9f9f9f;}
.widget_body.avatar-widget .bookmark_list div .team.short{width: 96px;}
.widget_body.avatar-widget .bookmark_list div .tag_icon{/* min-width: 40px; */ width: max-content!important; height: 20px!important; padding: 0px 8px; margin-left: auto; margin-top: -20px; line-height: 20px;}
.widget_body.avatar-widget .bookmark_list div .green.period{font-size: 12px;font-weight: 400;background-color: #d6f4de;color: #34c759;}
.widget_body.avatar-widget .bookmark_list div .d-day{height: 25px !important; margin-top: 0px; min-width: 36px; border-radius: 13px;background-color: #323232; background-color: #d6d6d6; color: #323232;font-size: 12px;font-weight: bold;}
.widget_body.avatar-widget .bookmark_list div .d-day.close{background-color: #d6f4de;color: #34c759;}
.widget_body.avatar-widget .bookmark_list div .a-status{margin-top: 0px;}
.widget_body.avatar-widget .bookmark_list div .home{background-color: #ccf2fc;color: #00bff1;}
.widget_body.avatar-widget .bookmark_list div .childbirth{background-color: #fed3f1;color: #f925b9;}
.widget_body.avatar-widget .bookmark_list div .holiday{background-color: #d6f4de;color: #34c759;}
.widget_body.avatar-widget .bookmark_list div .work{background-color: #d6d6d6;color: #323232;}
.widget_body.avatar-widget .bookmark_list div .edu{background-color: #d3e2fe;color: #2570f9;}
.widget_body.avatar-widget .bookmark_list div .safety-drill{background-color: #e1d6cc;color: #6b3600;}

/* 아바타 리스트 > 더 큰 버전 */
.widget_body.avatar-widget.big .bookmark_list>div{height: 40px; margin-left: 0px;}
.widget_body.avatar-widget.big.ranking .bookmark_list>div{height: 40px; margin-left: 12px;}
.widget_body.avatar-widget.big.ranking .bookmark_list>div+div{margin-top: 12px;}
.widget_body.avatar-widget.big .avatar-wrap{position: relative;width: 40px;height: 40px;margin-left: 0px;}
.widget_body.avatar-widget.big .avatar-wrap .tag_icon{position: absolute;top: 0;left: -6px; z-index: 9;width: 18px!important;height: 18px!important;padding: 0px;margin-left: 0px;line-height: 18px;font-size: 11px;font-weight: bold;}
.widget_body.avatar-widget.big .avatar-wrap .tag_icon { top: 20px; left: -10px; }
.widget_body.avatar-widget.big .avatar-wrap .avatar{width: 40px;height: 40px;}
.widget_body.avatar-widget.big .profile-info{flex-direction:column;align-items: flex-start;height: 38px;margin-top: 0px;margin-left: 16px;}
.widget_body.avatar-widget.big .profile-info .name{margin-left: 0px; font-size: 13px;font-weight: bold;line-height: 19px;letter-spacing: -0.39px;color: #323232;}
.widget_body.avatar-widget.big .profile-info .position{font-size: 13px;font-weight: 400;line-height: 1.19;letter-spacing: -0.39px;color: #323232;}
.widget_body.avatar-widget.big .profile-info .team{margin:0px; text-align: left; font-size: 13px;font-weight: 400;line-height: 19px;letter-spacing: -0.39px;color: #323232;}
.widget_body.avatar-widget.big .profile-info .time{display: flex; align-items: center;font-size: 14px;font-weight: 400;letter-spacing: -0.42px;}
.widget_body.avatar-widget.big .profile-info .time b{font-weight: 700; margin-left: 2px;}
.widget_body.avatar-widget.big .profile-info .time>b:first-child{margin-left: 0px;}
.widget_body.avatar-widget.big .profile-info .time.over{color: #ff5c5c;}
.widget_body.avatar-widget.big .profile-info .time.over i{font-size: 18px;}
.widget_body.avatar-widget.big .percent{margin-left: auto;font-size: 20px;font-weight: bold;line-height: 0.75;letter-spacing: -0.6px;color: #2570f9;}
.widget_body.avatar-widget.big .unit{font-weight: 400;}

/* 탄력근로제 현황 */
.widget_body.link-list .bookmarks_title{height: 77px; margin-bottom: 12px;}
.widget_body.link-list .bookmarks_title .tab_wrap{height: 77px;}

/* 시간외 근무 사용현황 순위 */
.widget_body.best-top .bookmarks_title{height: 52px; margin-top: 28px;}
.widget_body.best-top .container_info{position: relative; width: 100%; padding-top: 0px;}
.widget_body.best-top .container_info.avatar-type:first-child{padding-right: 38px; }
.widget_body.best-top .container_info.avatar-type:last-child{padding-left: 38px;}
.widget_body.best-top .container_info.graph-type:first-child{padding-right: 16px; }
.widget_body.best-top .container_info.graph-type:last-child{padding-left: 16px;}
.widget_body.best-top .container_info.graph-type .list-title{height: 55px; justify-content : flex-start; align-items: center; padding-top: 22px;}
.widget_body.best-top .container_info.graph-type .btn-wrap{margin-left: auto;}
.widget_body.best-top .container_info:last-child::before{content:''; position: absolute; top:27px; left: 0; display: inline-block; width: 1px; height: 135px; background-color: #e3e3e3;}
.widget_body.best-top .container_info .list-title{padding-top: 27px;}
.widget_body.best-top .container_info .bookmark_list{ padding-right: 16px; margin-top: 22px;}
.widget_body.best-top .container_info .avatar-list{margin-top: 24px;}

.widget_body.best-top .bookmark_list div{height: 20px; padding:0px; background-color: initial;align-items: center; justify-content: flex-start;}
.widget_body.best-top .bookmark_list div + div{margin-top:16px;}
.widget_body.best-top .bookmark_list .tag_icon.round{width: 18px!important; height: 18px!important; margin-left: 0px; font-weight: bold; line-height: 18px;}
.widget_body.best-top .bookmark_list .title{width: 99px; margin-left: 7px; font-size: 13px;font-weight: bold;line-height: 1.19;letter-spacing: -0.39px;color: #323232;}
.widget_body.best-top .bookmark_list .time{margin-left:auto; font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #323232;}

/* 탄력근로제 현황 */
.widget_body.timeList-widget.short .bookmarks_title{margin-top: 0px;}
.widget_body.timeList-widget .bookmarks_title{margin-top: 20px;}
.widget_body.timeList-widget .bookmark_list{height: 114px;}
.widget_body.timeList-widget .bookmark_list div{height: 24px; padding:0px; background-color: initial; align-items: center; justify-content: flex-start;}
.widget_body.timeList-widget .bookmark_list div+div{margin-top: 11px;}
.widget_body.timeList-widget .bookmark_list .time{font-size: 13px;font-weight: 400;line-height: 1.19;letter-spacing: -0.39px;color: #555;}
.widget_body.timeList-widget .bookmark_list .cnt{margin-left:auto; font-size: 16px;font-weight: bold;line-height: 0.97;letter-spacing: -0.48px;color: #323232;}
.widget_body.timeList-widget .bookmark_list .unit{margin-left:4px; font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}
.widget_body.timeList-widget .bookmark_list .mdi-ico{font-size: 24px;color: #9f9f9f;}

/* 교대근무조 현황 */
.widget_body.timeList-widget.work-shift .bookmark_list div{height: 21px; padding:0px; background-color: initial; align-items: center; justify-content: flex-start;}
.widget_body.timeList-widget.work-shift .bookmark_list div+div{margin-top: 13px;}
.widget_body.timeList-widget.work-shift .bookmark_list .tag_icon{width: 41px!important;height: 21px!important; margin-right: 5px; line-height: 21px; font-size: 12px;font-weight: 400;}
.widget_body.timeList-widget.work-shift .bookmark_list .tag_icon.purple{background-color: #f7edfe;color: #af52f0;}
.widget_body.timeList-widget.work-shift .bookmark_list .tag_icon.green{background-color: #eaf9ee;color: #34c759;}


/* 급여 연봉 평균 */
.attendance_contents.salary-average .container_box{padding-top: 28px;}
.attendance_contents.salary-average .container_left{padding-top: 0px;}
.attendance_contents.salary-average .container_left .pt-0{padding-top: 0px!important;}
.attendance_contents.salary-average .container_left .mt-0{margin-top: 0px!important;}
.attendance_contents.salary-average .container_left .container_info{padding-top: 32px;}
.attendance_contents.salary-average .container_left .container_info .info_title_num{margin-top: 0px;}
.attendance_contents.salary-average .container_left .container_info.barChart-wrap{padding-top: 0px;}
.attendance_contents.salary-average .container_left .barChart-wrap+.barChart-wrap{margin-top: 14px;}
.attendance_contents.salary-average .container_left .barChart-wrap .info_label{font-size: 15px;font-weight: 400;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.attendance_contents.salary-average .container_left .barChart-wrap .progress_container{margin:4px 0px 0px;}

.attendance_contents.salary-average .container_left .container_info.inOut-wrap{padding-top: 0px; height: inherit;}
.attendance_contents.salary-average .container_left .inOut-wrap .info_title{font-size: 13px;font-weight: bold;line-height: 1.19;letter-spacing: -0.39px;color: #323232;}
.attendance_contents.salary-average .container_left .inOut-wrap .info_label{font-size: 15px;font-weight: 400;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.attendance_contents.salary-average .container_left .inOut-wrap .info_title.desc{margin-top: 0px;}
.attendance_contents.salary-average .container_left .inOut-wrap .info_title.desc>.title_green,
.attendance_contents.salary-average .container_left .inOut-wrap .info_title.desc>.title_red{margin-left: 0px;}
.attendance_contents.salary-average .container_left .inOut-wrap .inner-wrap{display: flex;padding-top: 38px; height: inherit;}
.attendance_contents.salary-average .container_left .inOut-wrap .inner-wrap>div{width: 50%;}

.attendance_contents.salary-average .container_right{margin-top: 0px;}
.attendance_contents.salary-average .container_right .bookmarks_title{height: 42px; margin-top: -12px; margin-bottom: 12px;}
.attendance_contents.salary-average .container_right .bookmarks_title.select-outer{height: 38px; margin-top: 0px; margin-bottom: 0px;}
.attendance_contents.salary-average .container_right .bookmarks_title .tab_wrap{height: 48px;}
.attendance_contents.salary-average .container_right .chart-wrap{padding-top: 0px;}

/* 직급대비 급여 상/하위 */
.select-outer{display: flex; align-items: center; margin-top: 12px;}
.select-outer .toggle-wrap{margin-left: auto;}
.select-outer .toggle-wrap .toggleSwitch .toggleButton{left: 3px;}
.best-top .select-outer+.bookmarks_title{margin-top: 0px;}
.best-top>.custom_select{margin-top: 12px;}
.best-top .custom_select+.container_box{padding-top: 0px;}

/* 직급별 연봉현황 */
.widget_body.salary-info .bookmarks_title{margin-bottom: 24px;}
.widget_body.salary-info .bookmark_list div{height: 20px; padding:0px; background-color: initial;align-items: center; justify-content: flex-start;}
.widget_body.salary-info .bookmark_list div + div{margin-top:16px;}
.widget_body.salary-info .bookmark_list .tag_icon.round{width: 16px!important; height: 16px!important; margin-left: 0px; line-height: 16px;}
.widget_body.salary-info .bookmark_list .tag_icon i{font-size: 12px;}
.widget_body.salary-info .bookmark_list .label{margin-left: 4px; font-size: 15px;font-weight: 400;line-height: 1.03;color: #323232;}
.widget_body.salary-info .bookmark_list .salary{margin-left: auto;  font-size: 15px;font-weight: 600;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.widget_body.salary-info .bookmark_list .unit{margin-left: 4px; font-size: 12px;font-weight: 400;line-height: 1.29;color: #9f9f9f;}

/* 직급별 연봉현황 */
.widget_body.chart-full {padding: 28px 24px 32px;}
.widget_body.chart-full .chart-wrap{width: 100%;height: 100%;}
.widget_body.chart-full .btn-wrap+.chart-wrap{height: calc(100% - 42px); margin-top: 8px;}

/* 예상퇴직금 조회 */
.retired-pay.widget-common .container_info .info_title{ display: block; margin-top:28px;  font-size: 15px;font-weight: bold;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.retired-pay.widget-common .container_info .info_title .mdi-ico{margin-right:4px; font-size: 16px; vertical-align: text-bottom;}
.retired-pay.widget-common .container_info .info_title.unit{margin-top: 0px;margin-right: 4px;  font-size: 12px;font-weight: 400;line-height: 1.25;color: #9f9f9f;}
.retired-pay.widget-common .container_info .info_title.unit:last-child{margin-right: 0px;}
.retired-pay.widget-common .container_info .info_title.desc{display: inline-flex; margin-top: 0px; font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
.retired-pay.widget-common .container_info .info_box{margin-top: 14px;}
.retired-pay.widget-common .container_info .info_box.center{text-align: center;}
.retired-pay.widget-common .container_info{width : -webkit-fill-available;}
.retired-pay.widget-common .container_info .info_title_num {display: inline-flex; align-items: baseline; margin-top:28px; font-size: 70px;  letter-spacing: -0.75px; color: #323232; font-weight: 600; line-height: 55px;letter-spacing: -1.2px;}
.retired-pay.widget-common .container_info .info_title_num .desc{display: inline-flex; margin-top: 0px; font-size: 14px;font-weight: 400;line-height: 1.11;letter-spacing: -0.42px;color: #555;}
.retired-pay.widget-common .label{ display: inline; margin-right:28px;  font-size: 15px;font-weight: bold;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.retired-pay.widget-common .container_info .info_box .toggle-wrap .toggle-label{margin-right: 60px;  font-size: 15px;font-weight: bold;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.retired-pay.widget-common .container_info .info_box .toggle-wrap .toggleSwitch{display: inline-block;}

/* 인사관리 > 관련링크 리스트 */
.widget-common.simple-list .bookmarks_wrap{height: 172px; margin-top: 16px;}
.widget-common.simple-list .bookmark_list{height: 172px;}
.widget-common.simple-list .bookmark_list div{height: 35px;}
.widget-common.simple-list .bookmark_list div + div{margin-top: 8px;}


/* 인사관리 > 3개년 채용인원 */
.widget_body.recruit-year .bookmarks_title {height: 48px;margin-top: 16px; margin-bottom: 12px;}

/* 직급 대비 상/하위 */
.overtime-work.widget-common.recruit-year .container_info .info_title{margin-top: 12px;}

/* 3개년 채용 지수 */
.attendance_contents.annual-status.index-3year .container_box{padding-top: 0px;}
.attendance_contents.annual-status.index-3year .container_right{width: 238px;height: 113px;margin-top: 0px;}
.attendance_contents.annual-status.index-3year .container_right .chart-wrap{padding-top: 0px;}

/* 인원현황 도넛차트 */
.widget-common.donutChart-wrap{padding-top: 28px;}


/* 평가 > 전사 평가 일정 */
.widget-common.schedule-list .bookmarks_wrap{height: 182px; margin-top: 28px;}
.widget-common.schedule-list .bookmark_list{height: 182px;}
.schedule-list .bookmark_list div.goal-box{flex-direction: column; align-items:flex-start; justify-content: flex-start; height: max-content;min-height: 158px;padding: 16px;border-radius: 8px;background-color: #f4f4f4;}
.schedule-list .bookmark_list div.goal-box .goal-title{width: 100%; font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.39px;color: #323232;}
.schedule-list .bookmark_list div.goal-box .goal-list{margin-top: 8px;}
.schedule-list .bookmark_list div.goal-box .goal-list li{margin-top: 4px;}
.schedule-list .bookmark_list div.goal-box .goal-list li:first-child{margin-top: 0px;}
.schedule-list .bookmark_list div.goal-box .goal-list li::before{top: 0px;left: -10px;transform: translateY(0%);font-size: 8px;}

/* 부서별 목표 달성률 */
.widget .widget-common.achieve-rate .total-title{margin-top:10px; margin-bottom: 16px;}
.widget.wide .widget-common.achieve-rate .total-title{margin-top: 20px; margin-bottom: 12px;}
.widget-common.achieve-rate .bookmark_list>div{height: 36px; padding:0px; background-color: initial;}
.widget-common.achieve-rate .achieve-info{display: flex; flex-direction:column;align-items: flex-start;height: 38px;margin-top: 0px;margin-left: 0px;}
.widget-common.achieve-rate .achieve-info .team{margin-left: 0px; font-size: 13px;font-weight: bold;line-height: 19px;letter-spacing: -0.39px;color: #323232;}
.widget-common.achieve-rate .achieve-info .score-wrap{height: 17px;}
.widget-common.achieve-rate .achieve-info .score-wrap .label{font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #9f9f9f;}
.widget-common.achieve-rate .achieve-info .score-wrap .score{margin-left: 4px; font-size: 12px;font-weight: bold;line-height: 1.29;color: #323232; }
.widget-common.achieve-rate .achieve-info .score-wrap .score+.label{margin-left: 8px;}

.widget-common.achieve-rate .bookmark_list div+div{margin-top: 16px;}
.widget-common.achieve-rate .bookmark_list div+div.narrow-gap{margin-top: 5px;}
.widget-common.achieve-rate .progress-wrap{display: flex; flex-direction: column; margin-top: 0px; margin-left: auto;}
.widget-common.achieve-rate .progress-info{display: flex; flex-direction: row; height: 27px;  align-items: center;}
.widget-common.achieve-rate .progress-info .label{font-size: 12px;font-weight: 400;line-height: 1.29;letter-spacing: -0.36px;color: #9f9f9f;}
.widget-common.achieve-rate .progress-info .percent{margin-left: 7.5px; font-size: 20px;font-weight: bold;line-height: 0.75;letter-spacing: -0.6px;color: #2570f9;}
.widget-common.achieve-rate .progress-info .unit{font-weight: 400;}
.widget-common.achieve-rate .progress_container{display: block; margin:2px 0px 0px;}
.widget-common.achieve-rate .progress_container .progress_bar{display: block;}
.widget-common.achieve-rate .progress-wrap-center{width: 55%; display: flex; flex-direction: column; margin-top: 0px; margin-left: 10px;}


/* timeline */
.schedule-list .timeline{position: relative;list-style: none; padding-left: 0px; z-index: 2;}
.schedule-list .bookmark_list .timeline,
.schedule-list .bookmark_list .timeline>div{display: grid;padding: 0px;background: initial!important;}
.schedule-list .timeline .bar{position: absolute;width: 3px;background: #34c759;top: 0px;right: auto;left: 4px;z-index: -1;}
.schedule-list .timeline>span{display: flex;align-items: flex-start;justify-content: flex-start; height:44px; position: relative;}
.schedule-list .timeline .timelineDot{position: relative; height: 11px;width: 11px;background: #34c759;border-radius: 50%; margin-top: 0px;}
.schedule-list .timeline .timelineDot::after {content: "";position: absolute;top: 3px;left: 3px;height: 5px;width: 5px;background: #ffffff;border-radius: 50%;}
.schedule-list .timeline .inner-wrap{display: flex; flex-direction: column; margin-left: 16px; margin-bottom: 16px;}
.schedule-list .timeline .timelineStep{font-size: 13px;font-weight: bold;line-height: 1.15;letter-spacing: -0.39px;color: #323232;}
.schedule-list .timeline .timelineDate{font-size: 13px;font-weight: 400;line-height: 1.15;letter-spacing: -0.39px;color: #777;}

/* 내 근무 현황 */
.widget-common.widget_work .container_box .content_right .content_info .info_times{margin-top: 24px;}
.widget-common.widget_work .container_box.container_bottom{margin-top: 13px;}
.widget-common.widget_work .container_box .content_info .info_work_time{margin-top: -2px;}
.widget-common.widget_work .container_box .content_info .area_title_kor{margin-bottom: 0px;}
.widget-common.widget_work .content_area{margin-top: 32px;}
.widget-common.widget_work .content_area .content_info .info_curr_time{padding-top: 10px;}
.widget-common.widget_work .content_area .content_info .info_area .area_title_kor{margin-bottom: 0px;}
.widget-common.widget_work .content_area .content_weekly{margin-top: 22px; margin-bottom: 24px;}
.widget-common.widget_work .progress_container{margin-top: 8px;}
.widget-common.widget_work .content_current{display: flex; align-items: center;}
.widget-common.widget_work .content_current .info_title{font-size: 15px;font-weight: 400;line-height: 1.03;letter-spacing: -0.45px;color: #323232;}
.widget-common.widget_work .content_current .info_area{margin-left: auto; }
.widget-common.widget_work .content_current .info_area .info_num{font-size: 32px;font-weight: 600;letter-spacing: -0.96px;color: #323232;}
.widget-common.widget_work .content_current .info_area .unit{margin-left: 3px; font-size: 14px;font-weight: 400;line-height: 1.1;letter-spacing: -0.42px;color: #9f9f9f;}
.widget-common.widget_work .content_current .info_area .unit+.info_num{margin-left: 8px;}


/* 평균 연차 소진 현황 */
.widget-common.widget_vacation .content_area .total_per+.progress_container{margin:4px 0px;}


/* 근태 신청 이미지 */
.widget-common.widget-img-wrap{display: flex; padding: 28px 46px 32px;}
.widget-common.widget-img-wrap.short{display: block; padding: 28px 32px 32px;}
.widget-common.widget-img-wrap .img-wrap img{display: inline-block;width: 205px;height: 130px;}
.widget-common.widget-img-wrap .btn-wrap{margin-top: 20px; text-align: right;}
.widget-common.widget-img-wrap .inner-wrap{width: 50%;}
.widget-common.widget-img-wrap .inner-wrap:first-child{padding-right: 24px;}
.widget-common.widget-img-wrap .inner-wrap:last-child{position:relative; padding-left: 24px;}
.widget-common.widget-img-wrap .inner-wrap:last-child::before{content: ''; position:absolute; top:0px; left: 0px; display: inline-block; width: 1px; height: 183px; background-color: #e3e3e3;}


/* 직원복지 위젯 */
.welfare-content{width:1116px; margin:0 auto; padding: 32px 0px 44px;}
.welfare-content .page-title{font-size: 15px; font-weight: bold; display: flex; align-items: center; flex-direction: row; color: #323232;}
.welfare-content .page-title i.mdi-ico{margin-right:4px; font-size:24px;}
.welfare-content .widget-wrap{display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 16px; justify-content: space-around; align-content: space-around;}
.welfare-content .widget-gutters{width: 50%; box-sizing: border-box; padding-top: 12px;}
.welfare-content .widget-gutters:nth-child(2n){padding-left: 6px;}
.welfare-content .widget-gutters:nth-child(2n-1){padding-right: 6px;}
.welfare-content .widget-gutters:first-child{padding-top: 0px;}
.welfare-content .widget-gutters:nth-child(2){padding-top: 0px;}
.welfare-content .widget{position: relative; display: flex; flex-direction:column; height: 265px; padding: 30px 160px 32px 32px; border-radius: 30px;box-shadow: 0 2px 5px 0 #e6e5e4;border: solid 1px #e0e2e5;background-color: #fff; box-sizing: border-box;}
.welfare-content .widget .widget-title{font-size: 20px;font-weight: bold;color: #000;}
.welfare-content .widget .widget-desc{margin-top: 16px; font-size: 14px;font-weight: 400;line-height: 1.71;color: #666; word-break:keep-all;}
.welfare-content .widget .btn-wrap{margin-top: auto;}
.welfare-content .widget .btn-wrap .btn-common{border:0px; width: 112px; padding: 12px 0px;border-radius: 8px;background-color: #f6f6f6;font-size: 14px;font-weight: bold;text-align: center;color: #000; cursor: pointer;}
.welfare-content .widget .btn-wrap .btn-mall{background-color: #636363; color: #ffffff;}
.welfare-content .widget .btn-wrap button+button{margin-left:12px;}
.welfare-content .widget .img-wrap{position: absolute; bottom: 16px; right: 20px;}
.welfare-content .widget .img-wrap img{width: 120px; height: auto;}

/* 통계 위젯 */
.chart-widget #area_chartWrap {
    height: calc(100% - 127px);
    background-color: #ffffff;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: flex-end;
}
.chart-widget #area_chartWrap::-webkit-scrollbar {
  width: 6px;
}
/* Scrollbar width for Firefox */
@-moz-document url-prefix() {
	.chart-widget #area_chartWrap{scrollbar-width: thin;}
}

.chart-widget #area_chartWrap.sidebarOff {
    justify-content: center;
}
.chart-widget #area_chartList {
    margin-top: 20px;
}
.chart-widget .stats-item {
    margin-bottom: 12px;
    margin-left: 12px;
	border:1px solid #e0e2e5;
}
.chart-widget .stats-item.dummy {
    background-color: #f6f6f6;
}
.chart-widget{
	padding: 24px 24px 0px;
}
.chart-widget #area_sideBar{
	top: 140px;
}
.chart-widget .sheet_title ul li.btn a{
	line-height:25px;
}

/* 프로세스맵 위젯 */
.process-widget{overflow-y: scroll;}
.widget_wrap.row_1 .process-widget{height:216px;}
.widget_wrap.row_2 .process-widget{height:auto;}

.process-widget .toggle_menu{width: 100%;}
.process-widget .toggle_menu .title{flex-direction: column; padding-left:16px;}
.process-widget .toggle_content .map_box_wrap{width:100%;}
.process-widget .toggle_content .map_box{width: 23%;}
.process-widget .toggle_content .map_box .number{width: 16px; margin: 0px 8px 0px 0px;}
.process-widget .toggle_content .map_box .title_area>div{display: flex; align-items: center;}
.process-widget .toggle_content .map_box .title_area{position: relative;}
.process-widget .toggle_content .map_box .title_area i{position:absolute; top:50%; right:0px; margin-top:-8px;}


/* 휴가사용현황 */
.vacation_widget .container_right { padding-top: 108px; height: 218px; width: 247px; margin-right: 10px; }
.vacation_widget .container_right .container_info { font-size: 24px;  letter-spacing: -0.72px; color: #323232; font-weight: 600; height: 33px; display: flex; align-items: baseline; }
.vacation_widget .container_right .info_box { height: 23px; display: flex; align-items: center; }
.vacation_widget .container_right>div:nth-child(2) { margin-top: 25px; }
.vacation_widget .container_right>div:nth-child(3) { margin-top: 4px; }
.vacation_widget .container_right .container_info>span:nth-child(1) { margin-right: 4px; margin-right: 8px; }
.vacation_widget .container_right .container_info>span:nth-child(2) { margin-right: 4px; }
.vacation_widget .container_left { margin-top: -34px; width: 265px; height: 265px; }
.vacation_widget .container_left .rate_box { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 265px; height: 100%; position: absolute; padding-bottom: 8px; }
.vacation_widget .container_left .rate_box .box_time { font-size: 45px;  font-weight: 600; letter-spacing: -1.2px; text-align: left; color: #2570f9; height: 55px; line-height: 62.5px; display: flex; justify-content: center; align-items: center; }
.vacation_widget .container_left .rate_box .box_mark { width: 16px; height: 16px; background-color: #2570f9; font-size: 11px; font-weight: bold; letter-spacing: -0.33px;  color: #fff; display: flex; justify-content: center; align-items: center; line-height: 11px; border-radius: 30px; margin-left: 4px; margin-top: 16px; }
.vacation_widget .container_left .rate_box .half_line { width: 26px; height: 2px; background-color: #9f9f9f; margin-bottom: 6px; }
.vacation_widget .container_left .rate_box .box_title { font-size: 12px; letter-spacing: -0.36px; color: #555;  }
.vacation_widget .container_left .rate_box .box_title>span { font-weight: bold; color: #34c759; display: inline-block; margin-left: 4px; margin-left: 4px; }
.vacation_widget .container_left .apexcharts-datalabels-group { display: none; }

.vacation_widget_contents { width: 554px; }
.vacation_widget_contents .container_box { display: flex; }
.vacation_widget_contents .container_left { height: 100%; width: 50%; margin-right: 10px; }
.vacation_widget_contents .container_left .container_info { height: 34px; display: flex; align-items: flex-end; }
.vacation_widget_contents .container_left .container_info .info_title_num { font-size: 25px;  letter-spacing: -0.75px; color: #323232; font-weight: 600; line-height: 21.6px; display: inline-block; }
.vacation_widget_contents .container_left .container_info .info_title_bold { font-size: 12px;  letter-spacing: -0.36px; color: #323232; font-weight: 600; height: 17px; display: flex; align-items: center; margin-left: 4px; margin-right: 4px;}
.vacation_widget_contents .container_left .container_info .info_title { font-size: 12px;  letter-spacing: -0.36px; color: #9f9f9f; font-weight: 600; height: 17px; display: flex; align-items: center; }
.vacation_widget_contents .container_left .container_info .info_title .title_green { color: #34c759; margin-left: 4px; margin-right: 3px; }
.vacation_widget_contents .container_left .info_box { height: 23px; display: flex; align-items: center; }
.vacation_widget_contents .container_left .title_kor {  font-size: 15px; font-weight: normal; letter-spacing: 0px; }
.vacation_widget_contents .container_left .info_box .box_bnum {  font-size: 17px; font-weight: 600; letter-spacing: -0.51px; margin-left: 8px; margin-right: 4px; }
.vacation_widget_contents .container_left .info_box .box_time { font-size: 17px; letter-spacing: -0.51px;  font-weight: normal; }
.vacation_widget_contents .container_left .info_box .time_plus { color: #ff5c5c; }
.vacation_widget_contents .container_left .info_box .time_minus { color: #2570f9; }
.vacation_widget_contents .container_left>div:nth-child(2) { margin-top: 18px; }
.vacation_widget_contents .container_left>div:nth-child(3) { margin-top: 4px; }
.vacation_widget_contents .container_left .info_box .box_bnum.no_data { margin-right: 8px; }
.vacation_widget_contents .container_right { height: 100%; width: 50%; margin-top: -27px; }
.vacation_widget_contents .container_right .container_title { height: 17px;  font-size: 12px; font-weight: bold; letter-spacing: -0.36px; color: #9f9f9f; margin-bottom: 12px; }
.vacation_widget_contents .container_right .container_info .info_title { font-size: 15px;  letter-spacing: -0.36px; color: #9f9f9f; font-weight: 600; height: 17px; display: flex; align-items: center; margin:10px;}
.vacation_widget_contents .container_right .container_info .info_title .title_green { color: #34c759; margin-left: 4px; margin-right: 3px; }
.vacation_widget_contents .container_right .container_info .cnt { text-align: center; font-weight: bold;}
.vacation_widget_contents .container_right .container_info .cnt.blue { color: #2570f9;}
.vacation_widget_contents .container_right .container_info .cnt.green { color: #34c759;}

/* 휴가소진율 */
.vacation_widget_contents .container_w30p { height: 100%; width: 33.3333%; }
.vacation_widget .container_w30p .rate_box { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 33.3333%; height: 100%; position: absolute; padding-bottom: 28px; padding-right:5px;}
.vacation_widget .container_w30p .rate_box .box_time { font-size: 35px;  font-weight: 600; letter-spacing: -1.2px; text-align: left; color: #2570f9; height: 55px; line-height: 62.5px; display: flex; justify-content: center; align-items: center; }
.vacation_widget .container_w30p .rate_box .box_mark { width: 16px; height: 16px; background-color: #2570f9; font-size: 11px; font-weight: bold; letter-spacing: -0.33px;  color: #fff; display: flex; justify-content: center; align-items: center; line-height: 11px; border-radius: 30px; margin-left: 4px; margin-top: 16px; }
.vacation_widget .container_w30p .rate_box .box_label { margin-top: 50px; margin-right: 20px;}
.vacation_widget .container_w30p .rate_box .half_line { width: 26px; height: 2px; background-color: #9f9f9f; margin-bottom: 6px; }
.vacation_widget .container_w30p .rate_box .box_title { font-size: 12px; letter-spacing: -0.36px; color: #555;  }
.vacation_widget .container_w30p .rate_box .box_title>span { font-weight: bold; color: #34c759; display: inline-block; margin-left: 4px; margin-left: 4px; }
.vacation_widget .container_w30p .apexcharts-datalabels-group { display: none; }

/* 아이콘 위젯 */
.widget_body:has(.widget_cnt) {padding: 2.3rem 2.5rem;}
.widget_body.widget_h {height:calc(100% - 4.1rem);}
.widget_body.widget_h .widget_cnt {position: relative; top: 50%; transform: translateY(-50%);}
.widget_cnt {display: flex; gap: 4.1rem; justify-content: center; align-items: center;}
.widget_cnt .flex-col-between {display: flex; flex-direction: column; justify-content: space-between;}
.widget_cnt .flex-row-between {display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.widget_cnt p {font-size: 1.3rem; font-weight: 700; line-height: 1.5;}
.widget_cnt .btn, .widget_cnt + .btn {display: block; margin-left: auto; margin-top: 1.6rem;}
.widget_cnt .btn.m-auto {margin: 0 auto; margin-top: 1.6rem;}
.widget_cnt .btn.ml-0 {margin-left: 0;}
.widget_cnt .box {display: inline-block; width: 100%; height: 100%; position: relative;}
.widget_cnt .box + .box::before {content: ''; position: absolute; width: 1px; height: 100%; background-color: #e3e3e3; left: -2rem;}
.widget_cnt .icon_box {max-width: 15rem;}
.widget_cnt .icon_box.sm {width:6rem; height:6rem;}
.widget_cnt .icon_box.self-center {align-self: center;}
.widget_cnt .icon_box.self-center + p {text-align: center; padding-top: .7rem;}
.widget_cnt .icon_box.self-center + p ~ p {text-align: center;}
.widget_cnt .widget_tab {flex-direction: column; align-items: center;}
.widget_cnt .tab_wrap {border-bottom: 1px solid #e3e3e3; align-items: end; padding: 0;}
.widget_cnt .tab_wrap .tab_menu::before {content: none;}
.widget_cnt .tab_wrap .tab_menu.active a {font-weight: 700;}
.widget_cnt .tab_wrap + .tab_contents {padding-block: 2rem; position: relative; width: 100%;}
.widget_cnt .tab_item {display: none; opacity: 0; position: absolute;  width: 100%;}
.widget_cnt .tab_item.on {display: flex; opacity:1; align-items: center; justify-content: center; gap: 1.6rem;}
.widget_cnt .widget_swiper .swiper-slide {flex-direction: column; align-items: center; padding: 0;}
.widget_cnt .widget_swiper .swiper-slide .swiper-title {width: 100%; padding-bottom: 1.1rem; margin-bottom: 1.5rem; border-bottom: 1px solid #e3e3e3; text-align: center;}
.widget_cnt .widget_swiper .swiper-slide h2 {font-size: 1.25rem; font-weight: 700;}
.widget_cnt .widget_swiper .swiper-slide .flex-row-between {gap: 1rem;}
.widget_cnt .widget_swiper [class^=swiper-button-] {padding-top:1.5rem; top:0;}
.widget_cnt .widget_swiper [class^=swiper-button-] .mdi-ico {font-size: 20px; color: #9f9f9f;}
.widget_cnt .widget_swiper .swiper-button-next {right: 0;}
.widget_cnt .widget_swiper .swiper-button-prev {left: 0;}

/* 복리후생 widget Benefits */
.widget-benefit .inner-wrap{position: relative; display: flex; flex-direction:column; height: 240px; padding: 10px 160px 32px 0px; background-color: #fff; box-sizing: border-box;}
.widget-benefit .inner-wrap .widget-desc{margin-top: 16px; font-size: 14px;font-weight: 400;line-height: 1.71;color: #666; word-break:keep-all;}
.widget-benefit .inner-wrap .btn-wrap{margin-top: auto;}
.widget-benefit .inner-wrap .btn-wrap .btn-common{border:0px; width: 112px; padding: 12px 0px;border-radius: 8px;background-color: #f6f6f6;font-size: 14px;font-weight: bold;text-align: center;color: #000; cursor: pointer;}
.widget-benefit .inner-wrap .btn-wrap .btn-mall{background-color: #636363; color: #ffffff;}
.widget-benefit .inner-wrap .btn-wrap button+button{margin-left:12px;}
.widget-benefit .inner-wrap .img-wrap{position: absolute; bottom: 16px; right: 0px;}
.widget-benefit .inner-wrap .img-wrap img{width: 120px; height: auto;}