@charset 'utf-8';
/* common */
.text-center{text-align: center;}

/* pdf 등록 페이지 */
.wid-outer{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.wid-27{-webkit-box-flex: 0;-ms-flex: 0 0 28%;flex: 0 0 27%;max-width: 27%;}
.wid-27 .inner-padding{ padding: 12px 16px 28px;}
.wid-73{position: relative; -webkit-box-flex: 0;-ms-flex: 0 0 73%;flex: 0 0 73%;max-width: 73%;background-color: #fcfcfc;}
.wid-100{position: relative; -webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;background-color: #fcfcfc;}
/*.wid-73 .inner-padding{display: flex;}(*/
.wid-73.divider::before{position: absolute;top: 0;width: 4px;height: 100%;background-image: linear-gradient(to right, #f9f6f6 -63%, rgba(239, 239, 239, 0));background-color: initial;}
.wid-100{position: relative; -webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;background-color: #fcfcfc;}

.wid-73 .inner-padding,
.wid-100 .inner-padding{display: flex; flex-direction:column;}
.divider::before{content: '';position: absolute; top:0; left: 0; width: 1px;height: 100%;background-color: #d5d8dc;}
.wid-73 .desc,
.wid-100 .desc{position: absolute; top: 45%; width: 100%; font-size: 13px;font-weight: 400;line-height: 1.54;letter-spacing: -0.39px;text-align: center;color: #4f5565;}
.page-guide{padding: 6px 12px;border-radius: 6px;background-color: #ffeeee;font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;color: #fc5c5c;}
.page-guide.bg-none{margin-left: 4px; padding: 0px; background-color: initial;}
.page-guide i.circle{width: 12px; height: 12px;}
.page-guide .fa-info:before{color: #ffeeee; font-size: 10px;}

.sheet-wrap{margin-top: 8px;}

/* 파일 업로드 */
.file-upload{margin-top: 16px; }
.file-upload #basic{display: none;}
.file-upload .dropZone {width: 100%;height: 85px;padding: 24px 0px;border: 1px dotted #dedede;border-bottom: 0px;border-radius: 6px 6px 0px 0px;background-color: #f7f7f7;box-sizing: border-box;}
.file-upload .dropZone.highlight {border: 1px dashed #087ef7; background-color: #f1f6fc;}
.file-upload .dropZone .inner-wrap{width: 220px; margin: 0 auto;}
.file-upload .dropZone .inner-wrap::after{content: ''; width: 100%; display: table; clear: both;}
.file-upload .dropZone .img-wrap{float: left;}
.file-upload .dropZone .img-wrap img{width: 38px; height: 38px;}
.file-upload .dropZone .info-wrap{float: left; padding-left: 8px;}
.file-upload .dropZone .info-wrap .info{font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
.file-upload #basic_message {position: relative; height: 97px;border-radius: 0px 0px 6px 6px;border: 1px solid #dedede;background-color: #ffffff;z-index: 100;}
.file-upload #basic_message .desc{position: absolute; top:50%; width: 100%; margin-top: -10px; font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;color: #9ca3ab;}
.file-upload #basic_message .error{position: absolute; top:50%; width: fit-content; margin-top: -20px; padding-left: 14px; font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;color: #ff5c5c;}
.file-upload #basic_message .error strong{font-weight: 700;}
.file-upload #basic_message .file-info-wrap{padding: 12px 16px 20px;}
.file-upload #basic_message .file-info{display: flex; align-items: center;}
.file-upload #basic_message .file-info img{display: inline-block;width: 12px;height: 12px;}
.file-upload #basic_message .file-info .file-name{margin-left: 4px; font-size: 12px;font-weight: bold;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
.file-upload #basic_message .file-info .status{margin-left: auto; display: inline-block;  padding: 4px 8px;border-radius: 12px;background-color: #f7f7f7;}
.file-upload #basic_message .file-info .status.upload{color: #167ef7;background-color: #e7f2ff;}
.file-upload #basic_message .password-wrap{display: flex; align-items: center; margin-top: 7px;}
.file-upload #basic_message .label{font-size: 11px;font-weight: 400;line-height: 1.82;letter-spacing: -0.33px;color: #61697b;}
.file-upload #basic_message .password{height: 23px; margin-left: auto; border-radius: 3px; width: calc(100% - 116px); border:1px solid #dedede; text-indent: 8px;}

.file-upload .dropZone.simple-upload-dragover {border-color: #087ef7; background-color: #f1f6fc;}
.file-upload .simple-upload-filename {margin-right: 0.5em;}
.file-upload .btn-wrap{padding-top: 16px; padding-bottom: 30px;}
.file-upload .btn-wrap .btn-upload{display: inline-block; width: 120px;padding: 8px; border:0px; border-radius: 4px;background-color: #087ef7;font-size: 12px;font-weight: bold;letter-spacing: -0.36px;color: #fff!important;}
.file-upload .btn-wrap .btn-upload.disabled{background-color: #b3d7fc;}

/* PDF 업로드 이력 */
.collapse .collapse-item .collapse-title{font-size: 13px;font-weight: bold;line-height: 1.54;letter-spacing: -0.39px;color: #363c43;}
.collapse .collapse-item .collapse-title>a{display: inline-block; width: 100%; padding: 9px 0px;}
.collapse .collapse-item .collapse-title>a:hover{color: #363c43;}
.collapse .collapse-item .collapse-title i{margin-left:12px; font-size: 15px;}
.collapse .collapse-item .collapse-title i.rotate{transform: rotate(180deg);}
.collapse .collapse-item .collapse-desc{display: none;}

/* 연말정산결과 */
/*.upload-result{width: 90%; padding: 0px 0px 0px 18px;}*/
.upload-result{min-width: 20%; padding: 0px 0px 0px 18px;}
.upload-result .status-cnt{display: flex; align-items: center; margin-bottom: 8px;}
.upload-result .status-cnt .point-blue .label{color:#087ef7}
.upload-result .status-cnt .point-red .label{color:#fc5c5c}
.upload-result .status-cnt>span{display: flex; align-items: center;}
.upload-result .status-cnt>span+span{margin-left: 24px;}
.upload-result .status-cnt .label{margin-left: 4px; font-size: 11px;font-weight: 400;line-height: 1.82;letter-spacing: -0.33px;color: #363c43;}
.upload-result .status-cnt i.circle{width: 10px;height: 10px; color: #ffffff; font-size: 8px; line-height: 10px;}
.upload-result .status-cnt .cnt{margin-left: 4px; font-size: 12px;font-weight: bold;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
/*.upload-result .upload-card-list{ height: calc(100vh - 75px);overflow-y: auto; padding: 0px 16px 12px 0px;}*/
.upload-result .upload-card-list {display: flex;flex-wrap: wrap;margin-top: -8px;margin-left: -4px;}
.upload-result .upload-card-list a{width: 16.666666%;}
.upload-result .upload-card{ padding: 8px; border-radius: 5px; margin-top: 8px; margin-left:5px;}
.upload-result .upload-card .card-label{display: inline-block;width: 100%;max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 12px;font-weight: bold;line-height: 1.25;letter-spacing: -0.36px;color: #363c43;}
.upload-result .upload-card .card-cnt{display: flex; height: 20px; margin-top: 2px; align-items: center;}
.upload-result .upload-card .card-cnt>span{display: flex; align-items: center;}
.upload-result .upload-card .card-cnt .none{color: #fc5c5c;}
.upload-result .upload-card .card-cnt .spent{margin-left: auto; font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
/*.upload-result .upload-card i{color: #ffffff; width: 10px; height: 10px; font-size: 8px; line-height: 10px; margin-left:2px;}*/
.upload-result .upload-card .card-cnt i{color: #ffffff; width: 10px; height: 10px; font-size: 8px; line-height: 10px;}
.upload-result .upload-card .card-cnt .cnt{margin-left: 4px; font-size: 12px;font-weight: bold;line-height: 1.67;letter-spacing: -0.36px;}
.upload-result .upload-card.total{border:1px solid #606b7b; background-color: #606b7b;color: #ffffff;}
.upload-result .upload-card.total .card-label{font-size: 12px;font-weight: bold;line-height: 1.25;letter-spacing: -0.36px;text-align: left;color: #fff;}
.upload-result .upload-card.total .card-cnt .cnt{color: #ffffff;}
.upload-result .upload-card.total .card-cnt .spent{color: #fff;}
.upload-result .upload-card.total .card-cnt i{color: #606b7b;}
.upload-result .upload-card.item{border:1px solid #e4e8ee;}
.upload-result .upload-card.item:hover{background-color: #d4d8de;}

/* 연말정산 상세 내역 */
.upload-desc{flex: 1 0 auto; padding-left: 16px; margin-top: 10px;}
.upload-desc.divider{position: relative;}
.upload-desc.divider::before{position: absolute;top: 0;width: 4px;height: 100%;background-image: none;background-color: transparent;}
.upload-desc .upload-desc-filter{display: flex; align-items: center; padding: 8px 16px 8px 0px;}
.upload-desc .upload-desc-filter>.inner-wrap+.inner-wrap{margin-left: 14px;}
.upload-desc .upload-desc-filter select,
.upload-desc .upload-desc-filter input{padding: 1px 2px; border-radius: 4px;}
.upload-desc .upload-desc-filter .btn-wrap{margin-left: 16px; padding-left: 16px;}
.upload-desc .upload-desc-filter .divider{position: relative;}
.upload-desc .upload-desc-filter .divider::before{position: absolute; top: 0; height: 22px;}
.upload-desc .upload-desc-filter .label{font-size: 12px;font-weight: bold;line-height: 1.25;letter-spacing: -0.36px;color: #363c43;}
.upload-desc .upload-desc-filter .input-wrap{display: inline-block;}
.upload-desc .upload-desc-filter .input-wrap input{width: 100%;}
.upload-desc .upload-desc-filter .input-wrap select{width: 100%; height: 22px;}
.upload-desc .upload-desc-filter .btn-save{padding: 5px 14px 5px 12px; border-color: #465166; background-color: #465166;font-size: 12px;font-weight: bold;letter-spacing: -0.36px;color: #fff;}

.upload-desc .upload-desc-status{display: flex; align-items: center;}
.upload-desc .upload-desc-status .status-list{display: flex; flex-direction: row; align-items: center;}
.upload-desc .upload-desc-status .status-list li{display: flex; align-items: center; margin-left: 20px;}
.upload-desc .upload-desc-status .status-list li:first-child{margin-left: 0px;}
.upload-desc .upload-desc-status .status-list .label{margin-left: 4px; font-size: 11px;font-weight: 400;line-height: 1.82;letter-spacing: -0.33px;}
.upload-desc .upload-desc-status .status-list .bg-blue+.label{color:#087ef7;}
.upload-desc .upload-desc-status .status-list .bg-red+.label{color:#fc5c5c;}
.upload-desc .upload-desc-status .status-list .bg-grey+.label{color:#606b7b;}
.upload-desc .upload-desc-status .status-list .bg-yellow+.label{color:#ccb90e;}
.upload-desc .upload-desc-status .status-list i.circle{width: 10px;height: 10px;color: #ffffff;font-size: 8px;line-height: 10px;}
.upload-desc .upload-desc-status .status-list .cnt{margin-left: 4px; font-size: 12px;font-weight: bold;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
.upload-desc .upload-desc-status .divider{position: relative;}
.upload-desc .upload-desc-status .divider::before{position: absolute; top: 1px; height: 16px; background-color: transparent;}

/* 연말정산 일괄등록 */
/* 제목 */
.bulk-register .title-wrap{display: flex; align-items: center; padding: 8px 0px 7px 20px; border-bottom: 1px solid #d5d8dc;}
.bulk-register .title-wrap.page .page-title{font-size: 15px;font-weight: bold;line-height: 1.33;letter-spacing: -0.45px;color: #363c43;}
.bulk-register .title-wrap.page .page-title::before{content: "\f10c";font-family: 'FontAwesome';margin-right: 6px;font-size: 18px;line-height: 18px;color: #0072bc;}
.bulk-register .title-wrap .btn-wrap{display: flex;flex-direction: row;align-items: center;margin-left: auto;}
.bulk-register .title-wrap.page .btn-wrap .basic{padding: 6px 8px 6px 6px; margin:0px;}
.bulk-register .title-wrap .btn-wrap .divider {position: relative; margin-left: 8px;padding-left: 8px;}
.bulk-register .title-wrap .btn-wrap .divider::before {content: '';position: absolute;left: 0;top: 2px;width: 1px;height: 30px;background-color: #d5d8dc;}
.bulk-register .title-wrap .btn-wrap .btn-deadline {display: inline-block;height: 30px;line-height: 30px;padding: 0px 8px 0px 6px;border-radius: 4px;font-size: 12px;font-weight: bold;letter-spacing: -0.36px;}

.bulk-register .title-wrap .btn-wrap .dropdown {position: relative;display: inline-block;}
.bulk-register .title-wrap .btn-wrap .dropdown-content {display: none;position: absolute;padding: 4px 0px; background-color: #fff; border: solid 1px #d5d8dc; min-width: 140px; border-radius: 4px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);z-index: 9;}
.bulk-register .title-wrap .btn-wrap .dropdown:hover .dropdown-content {display: block;}
.bulk-register .title-wrap .btn-wrap .dropdown-button {position: relative; padding:2px 27px 2px 4px; cursor: pointer;}
.bulk-register .title-wrap .btn-wrap .dropdown-button::before {content: '';position: absolute;right: 20px;display: inline-block;width: 1px;height: 16px;background-color: #dedede;}
.bulk-register .title-wrap .btn-wrap .dropdown-button::after {content: '\f078'; position:absolute; right: 6px; top: 50%; margin-top: -6px; display: inline-block; font-family: 'FontAwesome';}
.bulk-register .title-wrap .btn-wrap .dropdown-item {padding: 4px 6px;text-decoration: none;display: block;color: #333;font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
.bulk-register .title-wrap .btn-wrap .dropdown-item+.dropdown-item {border-top:1px solid #dedede;}
.bulk-register .title-wrap .btn-wrap .dropdown-item:hover {background-color: #ddd;}

.bulk-register .title-wrap.section{padding: 11px 0px; border-bottom: 0px;}
.bulk-register .title-wrap.section .section-title{padding-right: 8px; font-size: 13px;font-weight: bold;line-height: 1.54;letter-spacing: -0.39px;color: #363c43;}
.bulk-register .title-wrap.section .btn-wrap .divider::before{height:22px; top: 0px;}
.bulk-register .contents-wrap .section-desc{padding-top: 20vh; margin-top: -20px; font-size: 12px;font-weight: 400;line-height: 1.67;letter-spacing: -0.36px;text-align: center;color: #9ca3ab;}
.bulk-register .wid-68 .contents-wrap .section-desc{padding-top: 40vh;}
.bulk-register .contents-wrap .section-desc.error{padding-top: 16px; margin-top: 0px; font-size: 13px;font-weight: 400;line-height: 1.54;letter-spacing: -0.39px;text-align: center;color: #ff5c5c;}
.bulk-register .contents-wrap .section-desc.error .btn-confirm{margin-left: 8px;}
.bulk-register .contents-wrap .btn-wrap{margin-top: 24px; text-align: center;}
.bulk-register .contents-wrap .btn-wrap .btn-load{display: inline-block;padding: 8px 24px; border-radius: 4px;font-size: 12px;font-weight: bold;letter-spacing: -0.36px;}

/* 요약 및 필터 박스 */
.summary-box{margin-top: 8px; padding: 8px 16px;border-radius: 6px;background-color: #f6f6f6;}
.summary-box .status{display: flex; align-items: center; padding: 11px 0px 18px;}
.summary-box .status .inner-wrap{width: 33.333333%;}
.summary-box .status .label{margin-left: 4px; font-size: 12px;font-weight: bold;line-height: 1.67;letter-spacing: -0.36px;color: #363c43;}
.summary-box .status .label.point-red{color: #fc5c5c;}
.summary-box .status .label.point-blue{color: #087ef7;}
.summary-box .status .cnt{margin-left: 8px;font-size: 15px;font-weight: bold;line-height: 1.33;letter-spacing: -0.45px;color: #363c43;}

.summary-box .filter{display: flex; align-items: center; border-top: 1px solid #e0e0e0; padding: 14px 0px 10px;}
.summary-box .filter .inner-wrap{margin-left: 16px;}
.summary-box .filter .inner-wrap:first-child{margin-left: 0px;}
.summary-box .filter .inner-wrap .label{font-size: 12px;font-weight: 500;letter-spacing: -0.36px;color: #363c43;}
.summary-box .filter .inner-wrap .input-wrap input,
.summary-box .filter .inner-wrap .input-wrap select{padding: 1px 2px;border-radius: 4px;}
.summary-box .filter .btn-wrap{margin-left: auto;}
.summary-box+.btn-wrap{display: flex;align-items: center; margin-top: 8px;}
.summary-box+.btn-wrap .divider{position: relative; padding-left: 8px;}
.summary-box+.btn-wrap .divider::before{ height: 22px; top: 50%; margin-top: -11px;}
.summary-box+.btn-wrap a.basic{margin-right: 8px;}
.summary-box+.btn-wrap a.basic:last-child{margin-right: 0px;}
.summary-box+.btn-wrap .btn-download{min-width: 84px;}


/* 콘텐츠 영역 */
.bulk-register .wrapper{height: calc(100vh - 48px);}
.bulk-register .wrapper .wid-32{-webkit-box-flex: 0;-ms-flex: 0 0 32%;flex: 0 0 32%;max-width: 32%;}
.bulk-register .wrapper .wid-32 .inner-padding{padding: 0px 16px 16px;}
.bulk-register .wrapper .wid-68{position: relative; -webkit-box-flex: 0;-ms-flex: 0 0 68%;flex: 0 0 68%;max-width: 68%; background-color: #fbfbfb!important;}
.bulk-register .wrapper .wid-68.none{background-color: #f6f6f6!important;}
.bulk-register .wrapper .wid-68.divider::before{z-index: 9;}
.bulk-register .wrapper .wid-68 .inner-padding{padding: 0px; background-color: inherit;}
.bulk-register .wrapper .wid-68 .ui-tabs.ui-widget-content{background-color: inherit;}
.bulk-register .wrapper .wid-68 .ui-tabs .ui-widget-header{left: 10px;}

.hide-box {display: none;}