@charset "utf-8";
/*
  파일명: Pretendard.css
  작성자: 김도희
  최초작성일: 2025-04-22
  수정자: 김도희
  수정일: 2025-04-22
  설명: 이 파일은 'Pretendard' 폰트 정의 파일입니다.
*/
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src:url('Pretendard-Light.subset.woff2') format('woff2'),
  url('Pretendard-Light.subset.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src:url('Pretendard-Regular.subset.woff2') format('woff2'),
  url('Pretendard-Regular.subset.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: bold;
  src:url('Pretendard-Bold.subset.woff2') format('woff2'),
  url('Pretendard-Bold.subset.woff') format('woff');
}