.code:before{content:'\e86f'; position: absolute; left: -1px; top: -26px; font-family: 'Material Icons'; padding: 5px 10px; line-height: 1.2; border-radius: 5px 5px 0 0; font-size: 14px; font-weight: 700; background-color: #33acee; color: #fff}
.code{position: relative; display: table; margin-top: 31px; border-radius: 0 10px 10px 10px; border: 1px solid #33acee; padding: 16px; text-indent: 0; color: #363c43; font-size: 14px; background-color: #f5f2f0;}
.code pre{white-space: pre-wrap}
.hlight{padding: 0 3px; background-color: rgb(255 193 5 / 50%)}
.hlight2{padding: 0 3px; background-color: rgb(51 172 238 / 30%)}
.hlight3{padding: 0 3px; background-color: rgb(76 175 80 / 50%)}
.hlight4{padding: 0 3px; background-color: rgb(103 58 183 / 50%)}
.wrap_img img{max-width: 100%}
.main .cont .box h2{margin-bottom: 8px}
.tit1{margin: 24px 0 16px; font-size: 18px; color: #2AA9D2}
.tit1.tit1_1{margin: 60px 0 16px; font-size: 18px; color: #2AA9D2}
.tit2{margin: 16px 0; font-size: 16px; color: #1874C3}
.tit2.tit2_1{margin: 32px 0 16px;}
.tit3{margin: 16px 0; font-size: 14px; color: #2931B3}
.pd24{padding: 24px}
.mt40{margin-top: 40px;}

body.home{padding-left: 116px;}
body nav {top:0 !important;}

/* .content {min-height : calc(100vh - 130px);} */
#footer{padding: 24px 0px 44px; border-top:1px solid #e8e8e8; text-align: center; font-size: 12px; letter-spacing: -0.24px; color: #777e87; background-color: #ffffff;}
#footer .company img{display: inline-block;}
#footer .info{margin-top:8px; line-height: 1.5;}

/* 퍼블리싱 가이드에서만 깨지는 부분 */
.toggle_table tbody td {font-weight: normal;}
.dropdown-icon {display: flex; align-items: center;}
