.flexbox { display: flex; align-items: center; }
.between { justify-content: space-between; }
/* .main_wrap {} */
.main_content {min-width: 1200px; display: flex; flex-wrap: wrap; align-items: center; height: 100%; }
.main_content.tab_layout {min-width: 1200px; display: flex; flex-wrap: nowrap; align-items: center; height: calc(100% - 40px); }
.main_content #sortable {margin: 0 !important;}

/* 그리드시스템 : 가로 4분할, 세로 2분할 */
.main_content .widget_wrap.row_1 { height: 305px; }
.main_content .widget_wrap.row_2 { height: 610px; }
.main_content .widget_wrap.col_1 { width: 20%; }
.main_content .widget_wrap.col_2 { width: 40%; }

/* Swiper */
.swiper {width: 100%; height: 710px;}
.swiper > .header {height: 60px; width: 1116px; position: absolute; top: 35px; z-index: 10; left: 50%; transform: translate(-50%, -50%); padding: 12px 32px; border-radius: 30px; box-shadow: 0 0 10px 0 rgba(16, 13, 55, 0.05); background-color: #fff; justify-content: initial; color: #555555;}
.swiper > .header .logo {position: relative; left: 0;}
.swiper > .header .avatar {margin-left: 54px;}
.swiper > .header .search {margin-right: 10px;}
.swiper > .header .search input[type=text] {width: 356px; height: 36px; }
.swiper > .header > .custom_select .select_toggle {font-weight: bold;}
.swiper > .header .custom_select .select_toggle > i {font-size: 26px;}
.swiper > .header .setting .custom_select .select_toggle > i {font-size: 18px;}

.swiper-slide { padding-bottom: 30px; text-align: center; font-size: 18px; display: flex; justify-content: center; align-items: end; background: transparent; }
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover; }
.swiper-pagination {bottom: 0px !important;}
.swiper-pagination-bullet {display: inline; border-radius: initial; background: transparent; opacity: initial; margin: 0 6px !important; }
.swiper-pagination-bullet .area {position: relative; top: -3px; background: rgba(50, 50, 50, 0.2); display: inline-block; width: 68px; height: 4px; border-radius: 2px; transition: width .4s, background-color .3s, opacity .3s; }
.swiper-pagination-bullet-active .area {width: 142px; background: #2570f9; transition: width .4s, background-color .3s, opacity .3s; }

/* 위젯 */
.widget_container {display: flex; flex-wrap: wrap; width: 1128px}
.widget_wrap {padding: 5px;}
.widget {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(16, 13, 55, 0.05);
  background-color: #fff;
}
.widget_content {display: inline-block; width: 100%; height: 100%; border-radius: 30px; box-shadow: 0 0 10px 0 rgba(16, 13, 55, 0.05); background-color: #fff; }
.widget_header {align-items:center; display: flex; justify-content: space-between; padding: 30px 30px 0px 30px; flex-shrink: 0;}  
/* .widget_header .iconify{width: 20px; height: 20px;} */
.widget_title {font-size: 20px; font-weight: bold; display: flex; align-items:center; white-space: nowrap; letter-spacing: -0.6px; }
.widget_title i {margin-right: 3px; font-size: 24px; }
.widget_title .i {margin-left: 10px;}
.widget_header > i {font-size: 26px; color:#9f9f9f; cursor: pointer;}
/* .widget_title .iconify {margin-right: 5px;} */
.widget_title > p { font-size: 12px; color: #555555; margin-left: 5px; font-weight: normal; height: 24px; padding-top: 5px; }

.widget_body {flex-grow: 1; padding: 10px 30px 30px 30px;}
.widget_body ul {list-style-type: none; padding-inline-start: 12px;} 
.widget_body li {position: relative;}
.widget_body li::before {content: '•'; position: absolute; left: -10px;top: 54%; transform: translateY(-50%);  font-size: 17px; color: #555555;}

.widget_body {flex-grow: 1; padding: 0px 30px 0px 30px;}
.widget_body_title {margin-bottom: 16px; font-size: 15px; border-bottom: 1.5px solid #e3e3e3; height: 60px; font-weight: bold; display: flex; align-items: center;}
.widget_body .no_list { height: 130px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.widget_body .no_list p {color: #555555; font-size: 12px; margin: 8px 0; text-align: center;}

/* 위젯 공통 */
.icon-more {cursor: pointer;}

/* 위젯 공지사항, 프로세스맵 */
.widget_body .notice_list {overflow-y: auto; height: 137px; padding-right: 5px;}
.widget_body .notice_list_long li,
.widget_body .notice_list li,
.process_map_list_long li {position: relative; display: flex; height: 19px; margin: 7px 0 5px 0; font-size: 13px; color: #555555; cursor: pointer;}
.widget_body .notice_list li span { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 184px; margin-left: 3px;}
.widget_body .notice_list_long li p {font-size: 13px; color: #555555;}

.widget_body .notice_list_long,
.widget_body .process_map_list_long {position: relative; height: 137px;overflow-y: auto;}
.widget_body .notice_list_long li {margin-right: 95px;}
.widget_body .notice_list_long li div{margin-left: 6px;}
.widget_body .notice_list_long li div:first-child { display: flex; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 378px; text-align: left; width: 100%; margin-left: 3px;}
.widget_body .notice_list_long li div:first-child p{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 378px; text-align: left; margin: 0;}
.widget_body .notice_list_long li div:first-child >div { margin-left: 6px;}
.widget_body .notice_list_long li .notice_date {position: absolute; top: 50%; right: -87px; transform: translateY(-50%); color:#9f9f9f}
/* .widget_body .notice_list_long li .tag_icon.red.list{ padding-top: 4px;} */
.widget_body .process_map_list_long li:not(:first-of-type) {/*margin-right: 370px;*/ margin: 7px 0;}
.widget_body .process_map_list_long li span {position: absolute; left: 97px; top: 53%; transform: translateY(-50%); color:#9f9f9f; display: block; width: 350px;  max-width: 350px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}

/* 위젯 자주 사용하는 메뉴 */
.widget_body .bookmarks_title {margin-bottom: 16px; font-size: 15px; border-bottom: 1.5px solid #e3e3e3; height: 60px; font-weight: bold; display: flex; align-items: center; justify-content: space-between;}
.widget_body .bookmarks_title i { cursor: pointer; font-size: 20px; color: #9f9f9f; padding: 10px;}
.widget_body .bookmark_list { height: 146px; overflow-y: auto; }
.bookmarks_wrap > div:first-child:nth-last-child(2), .bookmarks_wrap > div:first-child:nth-last-child(2) + div {
overflow-y:unset}
.widget_body .bookmark_list div {  height: 27px; background-color: #f9f9f9;border-radius: 4px; font-size: 13px; display: flex; justify-content: space-between; align-items: center; padding: 0 5px 0 12px; cursor: pointer;}
.widget_body .bookmark_list div + div {margin-top: 11px;}
.widget_body .bookmarks_wrap {display: flex; overflow-y: auto;}
.widget_body .bookmarks_wrap .bookmark_list {flex: 1; overflow-y: auto;}
.widget_body .bookmark_list + .bookmark_list  {margin-left: 20px;}

.widget_tab {width: 100%; height: 100%; display: flex; align-items: flex-end}
.widget_tab .tab_menu {height: 35px; font-weight: normal; padding: 0 5px; cursor: pointer; position: relative;}
.widget_tab .tab_menu + .tab_menu { margin-left: 20px; }
.widget_tab .tab_menu.active {font-weight: bolder; border-bottom: 2px solid #323232; bottom: -1.5px;} 

/* 위젯 갱신사항 안내 */
.widget_body.renewal {padding: 10px 0px 30px 0px;}
.renewal_notice_title {font-size: 13px; font-weight: normal; height: 45px; margin-bottom: 15px; display: flex; align-items: flex-end; padding: 0 30px; }
.renewal_table {width: 100%; border-top: 4px solid #e3e3e3; font-size: 13px; height: 141px; border-collapse: collapse; text-align: center;}
.renewal_table tr {height: 35px;}
.renewal_table td {border-bottom: 1.5px solid #e3e3e3;}
.renewal_table td, .renewal_table th {border-left: 1.5px solid #e3e3e3; border-right: 1.5px solid #e3e3e3;}
.renewal_table td:first-child, .renewal_table th:first-child { border-left: none;}
.renewal_table td:last-child, .renewal_table th:last-child {border-right: none;}
.renewal_table .total {background-color: #ff5c5c; color: #ffffff;}
.renewal_table.short thead { background-color: #f2f2f2;}
.renewal_table.short tr:nth-child(2) {background-color: #f2f2f2;}

/* 오늘의 일정 */
.widget_body .today_task_select_box {font-size: 15px; border-bottom: 1.5px solid #e3e3e3; height: 50px; font-weight: bold; margin-bottom: 15px; display: flex; align-items: center; justify-content: flex-end; margin-top: 10px;}
.widget_body .today_task_select_box select {margin-left: 10px; font-size: 15px; color: #323232; border: none; -webkit-appearance: none; -moz-appearance: none;appearance: none; height: 50px; overflow-y: auto;}
.widget_body .today_task_select_box select:focus {outline: none;}
.widget_body .today_task_table {height: 148px; font-size: 13px; overflow-y: auto; }
.widget_body .today_task_table.long {display: flex; justify-content: space-between;}
.widget_body .today_task_table tr {height: 36px; cursor: pointer;}
.widget_body .today_task_table td:nth-child(1) {width: 50px;}
.widget_body .today_task_table td:nth-child(2) {width: 109px;}
.widget_body .today_task_table.long td:nth-child(2) {width: 120px;}
.widget_body .today_task_table.long > table + table {margin-right: 10px;}

/* 위젯 progress_bar 공통 */
.progress_container { background-color: #e3e3e3; height: 4px; }
.progress_bar{ position:relative; background-color: #34c759; height: 4px; border-radius: 2px; transition-property: all;transition-duration: 0.2s;transition-timing-function: ease-out; width: 50%;}
.progress_container .progress_bar.bar_blue {background-color: #2570f9;}
.progress_container .progress_bar.bar_purple {background-color: #af52f0;}

/* 차트 공통 */
.apexcharts-menu-icon, .apexcharts-reset-icon, .apexcharts-zoom-icon {display: none;}

/* 휴가현황 */
.widget.wide .widget_vacation { width: 554px; }
.widget_vacation .content_area { margin-top:16px; display: flex; flex-direction: column; }
.widget_vacation .content_area .total_leftover{ display: flex; align-items: center; margin-bottom: 2px; height: 33px; }
.widget_vacation .info_title { color: #323232; letter-spacing: -0.5px; font-size: 15px; }
.widget_vacation .content_area .info_title.leftover { margin-right: 12px; }
.widget_vacation .content_area .info_title.title_leftover_no { margin-right: 18px; }
.widget_vacation .content_area .total_leftover .info_leftover { color: #323232; letter-spacing: -0.5px; font-size: 24px; font-weight: 600; letter-spacing: -0.72px; margin-right: 2px; text-align: right; }
.widget_vacation .content_area .total_leftover .info_leftover.leftover_no { margin-right: 16px; }
.widget_vacation .content_area .total_leftover .info_total { color: #777; letter-spacing: -0.5px;  font-size: 24px; letter-spacing: -0.72px; text-align: right; }
.widget_vacation .content_area .total_per { display: flex; align-items: center; margin-bottom: 2px; height: 41px; justify-content: space-between; }
.widget_vacation .content_area .total_per .info_title.usage { margin-right: 22px;margin-top: 10px; }
.widget_vacation .content_area .total_per .info_per { color: #323232; letter-spacing: -0.9px;  font-size: 30px; letter-spacing: -0.72px; font-weight: 600; }
.widget_vacation .content_area .total_per .info_per .info_per_no { color: #323232; letter-spacing: -0.9px;  font-size: 30px; letter-spacing: -0.72px; font-weight: normal; }
.widget_vacation .container_box { display: flex;margin-top: 28px;justify-content: space-between; }
.widget_vacation .container_box .container_left { width: 230px; }
.widget_vacation .container_box .content_header { color: #555;  font-size: 12px; text-align: left; height: 17px; }
.widget_vacation .container_box .content_sub_per {color: #555;  font-size: 13px; text-align: right; height: 17px; }
.widget_vacation .container_box .content_info { display: flex;justify-content: space-between;margin-bottom: 8px;height: 56px; }
.widget_vacation .container_box .content_info .info_box .info_title.title_vacation { margin-top: 35px;margin-right: 4px;display: inline-block; }
.widget_vacation .container_box .content_info .info_box .info_title.title_vacation_no { margin-top: 35px;margin-right: 14px;display: inline-block; }
.widget_vacation .container_box .content_info .info_box .info_title.title_leftover { margin-top: 35px;margin-right: 5px;display: inline-block }
.widget_vacation .container_box .content_info .info_box .info_title.title_leftover_no { margin-top: 35px;margin-right: 14px;display: inline-block }
.widget_vacation .container_box .info_box .box_num { color: #777; letter-spacing: -1.2px;  font-size: 40px; text-align: right;  display: inline-block; }
.widget_vacation .container_box .info_box .box_bnum { color: #323232; letter-spacing: -1.2px;  font-size: 40px; text-align: right; font-weight: 600; display: inline-block; }
.widget_vacation .container_box .container_left { width: 230px; }
.widget_vacation .container_box .container_right { width: 234px; }
.widget_vacation .container_box .container_right .content_sub_header { color: #323232;  font-size: 12px; text-align: left; height: 17px;margin-bottom: 2px;margin-top: 16px; }
.widget_vacation .container_box .container_right .content_info .info_box .info_title { height: 21px; margin-top: 35px; }
.widget_vacation .container_box .container_right .content_info .info_box .box_bnum .box_num { font-weight:normal;color:#323232; }
.widget_vacation .container_box .container_right .content_info .info_box.total_per { display: flex; justify-content: center;
align-items: center; padding-top: 20px; }
.widget_vacation .vacation_chart_no { margin-top: 31px; }
.widget_vacation .vacation_chart_no .no_data_line { width: 100%; background-color: #e3e3e3; height: 1px; margin-bottom: 20px; }
/* #vacationChart { margin-left: -10px; margin-right: -10px; } */

/* 내근무현황 */
.widget_work .content_area { margin-top: 26px; }
.widget_work .content_area .content_title { text-align: left; color: #323232;  font-size: 13px; font-weight: bold; letter-spacing: -0.39px; margin-bottom: 39px; height: 19px; }
.widget_work .content_area .content_info { display: flex; justify-content: space-between; height: 58px; }
.widget_work .content_area .content_info .info_area.area_short { width: 128px; margin-right: 13px; }
.widget_work .content_area .content_info .info_area .area_title { text-align:left; color: #9f9f9f;  font-size: 12px;margin-bottom: 2px; height: 17px; }
.widget_work .content_area .content_info .info_area .area_title_kor { text-align:left; color: #323232;  font-size: 13px; letter-spacing: -0.39px; margin-bottom: 8px; height:19px; }
.widget_work .content_area .content_info .info_area .area_box { display: flex; justify-content: space-between; }
.widget_work .content_area .content_info .info_area .area_box .box_time { color: #9f9f9f;  font-size: 15px; letter-spacing: -0.45px; text-align: right; height: 20px; }
.widget_work .content_area .content_info .info_curr_time { height: 55px;display: flex;align-items: center; padding-top: 6px; }
.widget_work .content_area .content_info .info_curr_time .info_time { color: #323232;  font-size: 40px; letter-spacing: -1.2px; font-weight: 600; text-align: right; width: 66px; }
.widget_work .content_area .content_weekly { margin-bottom: 21px; }
.widget_work .container_box { margin-top: 26px; display: flex; }
.widget_work .container_box .content_left .content_title { text-align: left; color: #323232;  font-size: 13px; font-weight: bold; letter-spacing: -0.39px; margin-bottom: 50px; height: 19px; }
.widget_work .container_box .content_left .content_info { margin-right: 26px; display: flex; width: 138px; }
.widget_work .container_box .content_left .content_info .img_area { margin-top:6px; margin-right: 8px; }
.widget_work .container_box .content_left .content_info .img_area .info_img { width: 12px;height: 37px; }
.widget_work .container_box .content_left .content_info .area_info { height: 49px;padding-top: 3px; }
.widget_work .container_box .content_left .content_info .area_info .info_title { font-size: 15px;letter-spacing: -0.45px; text-align: left; color: #323232; font-weight: normal; }
.widget_work .container_box .content_left .content_info .area_info .info_title.info_am { margin-bottom: 3px; }
.widget_work .container_box .content_left .info_time { font-size: 17px;letter-spacing: -0.51px; text-align: right; color: #323232; font-weight: normal; }
.widget_work .container_box .content_left .info_time.time_hour { width:19px;margin-left: 8px;margin-right:4px;display: inline-block; }
.widget_work .container_box .content_left .info_time.time_min { width:19px;margin-left: 10px;margin-right:4px;display: inline-block; }
.widget_work .container_box .content_right { width: 326px; }
.widget_work .container_box .content_right .content_title { text-align: left; color: #323232;  font-size: 13px; font-weight: bold; letter-spacing: -0.39px; margin-bottom: 39px; height: 19px; }
.widget_work .container_box .content_right .content_info { display: flex;justify-content: space-between; }
.widget_work .container_box .content_right .content_info .info_daily { width: 202px; }
.widget_work .container_box .content_right .content_info .info_times { width: 194px; }
.widget_work .container_box .content_info .area_title { text-align:left; color: #9f9f9f;  font-size: 12px;margin-bottom: 2px; height: 17px; }
.widget_work .container_box .content_info .area_title_kor { text-align:left; color: #323232;  font-size: 13px; letter-spacing: -0.39px; margin-bottom: 8px; height:19px; }
.widget_work .container_box .content_info .area_box { display: flex; justify-content: space-between; }
.widget_work .container_box .content_info .area_box .box_time{ color: #9f9f9f;  font-size: 15px; letter-spacing: -0.45px; text-align: right; height: 20px; }
.widget_work .container_box .content_right .content_info .info_times { color: #9f9f9f;  font-size: 12px; text-align: right; height: 44px; margin-top: 12px; }
.widget_work .container_box .content_right .content_info .info_times .time_hour { width:21px;margin-left: 8px;margin-right:4px;display: inline-block; color:#323232; font-weight: 600; letter-spacing: -1.08px;text-align: right; font-size: 36px; }
.widget_work .container_box .content_right .content_info .info_times .time_min { width:40px;margin-left: 8px;margin-right:4px;display: inline-block; color:#323232; font-weight: 600; letter-spacing: -1.08px;text-align: right; font-size: 36px; }
.widget_work .container_box .content_right .content_info .info_times .time_title { padding-top: 14px; }
.widget_work .container_box .content_right .progress_bar_daily { width: 202px; }
.widget_work .container_box .progress_bar_weekly { width: 180px; }
.widget_work .container_box .progress_bar_month { width: 160px; }
.widget_work .container_box .content_info { display: flex; justify-content: space-between; }
.widget_work .container_box .content_info .info_work_time { height: 49px; }
.widget_work .container_box .content_info .info_work_time .time_week { width: 40px; color:#323232; font-weight: 600; letter-spacing: -1.08px;text-align: right;  font-size: 36px; line-height: 2.0; display: inline-block; }
.widget_work .container_box .content_info .info_work_time .time_month { width: 59px; color:#323232; font-weight: 600; letter-spacing: -1.08px;text-align: right; font-size: 36px; line-height: 2.0; display: inline-block; }
.widget_work .container_box .content_info .info_week { margin-right: 12px; }
.widget_work .container_box .content_info .info_month { margin-right: 12px; }
.widget_work .container_box .content_info .info_month .area_box { margin-right: 12px; }
.widget_work .container_box.container_bottom { margin-top: 19px; }
.widget_work .container_box .content_info.content_left { margin-right: 24px; }

/* 내결재 */
.widget_approval .content_area{ margin-top: 25px; }
.widget_approval .info_title { font-size: 15px; color: #323232; letter-spacing: -0.45px; font-weight: normal; }
.widget_approval .info_num { font-size: 40px;  letter-spacing: -1.2px; color: #323232;font-weight: 600; line-height: 33.4px; }
.widget_approval .content_area .content_current { display: flex; height: 55px; align-items: flex-end;padding-bottom: 5px; }
.widget_approval .content_area .content_current .info_title.info_curr { margin-right: 16px; }
.widget_approval .content_area .content_current .info_title.info_curr_no { margin-right: 26px; }
.widget_approval .content_area .content_current .info_area .area_curr { margin-right: 5px; }
.widget_approval .content_area .content_current .info_area .area_curr_no { margin-right: 16px; }
.widget_approval .content_area .content_current .info_area .area_curr_total { font-size: 17px;  letter-spacing: -0.51px; color: #9f9f9f; }
.widget_approval .content_area .content_per { display: flex; height: 55px;margin-bottom: 9px; align-items: flex-end;padding-bottom: 7px; }
.widget_approval .content_area .content_per .info_per { margin-right:18px; }
.widget_approval .content_area .content_per .info_per_no { margin-right:27px; }
.widget_approval .content_area .content_per .info_area .per_title { font-weight: normal; }
.widget_approval .content_area .approval_no_data { display: flex;align-items: center;margin-top: 21px;flex-direction: column;font-size: 16px; }
.widget_approval .content_area .approval_no_data .no_data_info, .widget_approval .container_box .approval_no_data_wide .no_data_info { font-size: 12px; font-weight: normal; text-align: center; letter-spacing: -0.36px; color:#555;  margin-top: 8px; }
.widget_approval .container_box { width: 488px; margin-top: 36px; }
.widget_approval .container_box .container_info { display: flex; justify-content: space-between; height: 55px;align-items: flex-end; }
.widget_approval .container_box .container_info .info_area {display: flex; height: 55px; }
.widget_approval .container_box .container_info .info_area .area_title { font-size: 15px; color: #323232; letter-spacing: -0.45px; font-weight: normal; margin-top: 26px; height: 21px; }
.widget_approval .container_box .container_info .info_area .area_num { font-size: 40px;  letter-spacing: -1.2px; color: #323232;font-weight: 600; height: 55px;display: flex;align-items: center;line-height: 2; }
.widget_approval .container_box .container_info .info_area .area_title.title_comp { margin-right: 4px; }
.widget_approval .container_box .container_info .info_area .area_title.no_title_comp { margin-right: 14px; }
.widget_approval .container_box .container_info .info_area .area_num.num_count { width: 91px; text-align: left; }
.widget_approval .container_box .container_info .info_area .area_num.comp_no_data { padding-left: 10px; }
.widget_approval .container_box .container_info .info_area .area_title.title_wait { margin-right: 5px; }
.widget_approval .container_box .container_info .info_area .area_title.no_title_wait { margin-right: 14px; }
.widget_approval .container_box .container_info .info_area .area_num.num_per { text-align: right;margin-left: 28px; }
.widget_approval .container_box .container_info .info_area .area_num.no_num_per { text-align: right;margin-left: 15px; }
.widget_approval .container_box .container_info .info_area .area_num.waitno_data { padding-left: 9px; }
.widget_approval .container_box .container_info .info_area .area_num.per_no_data { width: 60px; }
.widget_approval .container_box .container_info .info_area .per_title { font-weight: normal; }
.widget_approval .content_area .approval_list { max-height: 50px; overflow-y: auto; position: relative; overflow-x: hidden; margin-top: 20px; }
.widget_approval .container_box .approval_list { max-height: 100px; overflow-y: auto; position: relative; overflow-x: hidden; margin-top: 20px; }
.widget_approval .approval_list li { font-size: 13px;color: #323232; margin-bottom: 8px;  position: relative; white-space: nowrap; display: flex; text-overflow: ellipsis; height: 19px; align-items: center; cursor: pointer;}
.widget_approval .content_area .approval_list li div { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px; display: inline-block; }
.widget_approval .container_box .approval_list li>div:first-child { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 275px; display: inline-block; }
.widget_approval .container_box .approval_no_data_wide { display: flex; align-items: center; margin-top: 40px; flex-direction: column; font-size: 16px; }
.widget_approval .container_box .approval_progress { display: flex; align-items: center; margin-left: 10px; }
.widget_approval .container_box .approval_progress .progress_line { width: 8px; height: 1px; background-color: #e3e3e3; }
.widget_approval .container_box .approval_progress .progress_circle { width: 9px; height: 9px; border-radius: 30px; background-color: #e3e3e3; display: inline-block; cursor: pointer; }
.widget_approval .container_box .approval_progress .progress_circle.progress_count_in { margin-right: 9px; }
.widget_approval .container_box .approval_progress .progress_circle.on { background-color: #2570f9; }
.widget_approval .container_box .approval_progress .progress_circle.off { background-color: #ff5c5c; }
.widget_approval .container_box .approval_progress .progress_title { margin-left: 4px; font-size: 12px; font-weight: normal; color: #9f9f9f;  }
.widget_approval .container_box .approval_progress .progress_title.on { color: #2570f9; }
.widget_approval .container_box .approval_progress .progress_title.off { color: #ff5c5c; }
.widget_approval .container_box .superior_info { width: 116px; /* height: 51px; */ height: 42px; position: absolute; background-color: #fff; border-radius: 11px; box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.16); display: flex; align-items: center; z-index: 3; display: none; pointer-events: none; }
.widget_approval .container_box .superior_info::after { content: ''; position: absolute; bottom: 0; left: 3px; width: 0; height: 0; border: 20px solid transparent; border-top-color: #fff; border-bottom: 0; border-left: 0; margin-left: -3px; margin-bottom: -13px; }
.widget_approval .container_box .superior_info .superior_photo { width: 26px; height: 26px; display: flex; justify-content: center; align-items: center; background-color: #e3e3e3; border-radius: 30px; margin-left: 9px; margin-right: 4px; }
.widget_approval .container_box .superior_info .superior_photo img { width: 24px; height: 24px; }
.widget_approval .container_box .superior_info .superior_title { font-size: 12px;  font-weight: bold; color: #323232; height: 17px; }
.widget_approval .container_box .superior_info .superior_title .title_normal { font-weight: normal; color: #9f9f9f; margin-left: 4px; }

/* 인사 담당자 */
/* 인사 담당자 swiper */
.widget_management .swiper {width: 100%; height: 100%; transform: initial !important; overflow: hidden !important;}
.widget_management .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; padding-bottom: 35px;}
.widget_management .swiper-button-prev:after, .widget_management .swiper-container-rtl .swiper-button-next:after { content: initial;color:initial; }
.widget_management .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after { content: initial; }
.widget_management .swiper-button-next, .widget_management .swiper-button-prev { color:initial; }
.widget_management .swiper-pagination-bullet { width: 10px;height: 10px; }
.widget_management .management_short { margin-top: 10px; }
.widget_management .management_short .swiper-pagination{ top:188px; }
.widget_management .management_short .swiper-button-next{ top:64px; }
.widget_management .management_short .swiper-button-prev{ top:64px; }
.widget_management .content_area { margin-top: 34px; cursor: pointer;}
.widget_management .content_area .img_container { display: flex;justify-content: center; }
.widget_management .content_area .img_container .person_img { width: 60px;height: 60px; }
.widget_management .content_area .person_info { margin-top: 10px;display: flex; }
.widget_management .content_area .person_info .icon-position { margin-top: 8px;margin-right: 8px; }
.widget_management .content_area .person_info span { font-size: 24px; font-weight: normal; text-align: left;color: #323232;height: 35px; line-height: 41.64px; }
.widget_management .content_area .phone_info { margin-top: 11px; font-size: 13px;color: #323232; }
.widget_management .content_area .phone_info>span:first-child { margin-right: 8px; }
.widget_management .content_area_no { display: flex; align-items: center; flex-direction: column; height: 201px; padding-top: 82px; }
.widget_management .content_area_no.area_wide { width: 488px; }
.widget_management .content_area_no .icon-personnel-management { width: 16px; height: 16px; }
.widget_management .content_area_no .no_data_title { font-size: 12px; letter-spacing: -0.36px;text-align: center;color: #555; margin-top: 8px; }
.widget_management .container_box { margin-top: 42px; display: flex; height: 110px; width: 488px; justify-content: center;align-items: center; margin-bottom: 40px; }
.widget_management .container_box > div {cursor: pointer;}
.widget_management .container_box .img_container { display: flex; justify-content: center; margin-right: 21px; }
.widget_management .container_box .img_container .person_img { width: 60px; height: 60px; }
.widget_management .container_box .person_info { text-align: left; padding-bottom: 13px; }
.widget_management .container_box .person_info .icon-position { margin-bottom: 4px; margin-left: 4px; display: inline-block; }
.widget_management .container_box .person_info .person_name { font-size: 40px; color: #323232;  font-weight: normal; height: 58px; line-height: 56.4px; }
.widget_management .container_box .person_info .person_name span { font-size: 22px;  font-weight: normal; text-align: left; color: #323232; height: 32px; margin-left: 8px; margin-top: 21px; }
.widget_management .container_box .phone_info { margin-top: 4px; font-size: 13px; color: #323232; margin-left: 6px; }
.widget_management.widget_management_wide { width: 550px; }
.widget_management .container_box .phone_info>span:first-child { margin-right: 8px; }
.widget_management .management_wide .swiper-button-next { top:104px; }
.widget_management .management_wide .swiper-button-prev { top:104px; }
.widget_management .management_wide .swiper-pagination { top:196px; }
.widget_management .swiper-pagination-bullet { display: inline-block !important;opacity: 1 !important;border-radius: 100% !important; }
.widget_management .swiper-pagination-bullet { background: #000 !important; }
.widget_management .swiper-pagination-bullet-active { background: var(--swiper-pagination-color,var(--swiper-theme-color)) !important; }

/* 오늘의 일정 캘린더 */
/* .widget.wide.widget_calender { width: 552px; height: 610px; } */
.widget_calender .calendar_title { font-size: 15px; height: 31px; font-weight: bold; margin-bottom: 15px; display: flex;align-items: center; justify-content: space-between; padding-top: 2px; }
.widget_calender .widget_tab { width: 100%; height: 100%; display: flex; align-items: flex-start }
.widget_calender .widget_tab .tab_menu { height: 29px; font-weight: normal; cursor: pointer; position: relative; color: #555;padding: 0; }
.widget_calender .widget_tab .tab_menu + .tab_menu { margin-left: 20px; }
.widget_calender .widget_tab .tab_menu.active { font-weight: bolder; border-bottom: 2px solid #323232; bottom: -1.5px;color: #323232; } 

/* 근태 마스터 */
.attendance_widget { width: 554px; height: 300px; }
.attendance_widget .half_line { width: 9px; height: 2px; background-color: #323232; display: inline-block; margin-left: 8px; margin-right: 4px; }
.attendance_container .mdi-ico { width: 24px; }
.main_tab_content .attendance_container .header .title_wrap > i {font-size: 24px; margin-right: 4px;}

/* 기본근무 */
/* .attendance { height: 286px; } */
.attendance_contents { width: 554px; }
.attendance_contents .container_box { display: flex; }
.attendance_contents .container_left { padding-top: 94px; height: 209px; width: 247px; margin-right: 10px; }
.attendance_contents .container_left .container_info { height: 34px; display: flex; align-items: flex-end; }
.attendance_contents .container_left .container_info .info_title_num { font-size: 25px;  letter-spacing: -0.75px; color: #323232; font-weight: 600; line-height: 21.6px; display: inline-block; }
.attendance_contents .container_left .container_info .info_title_bold { font-size: 12px;  letter-spacing: -0.36px; color: #323232; font-weight: 600; height: 17px; display: flex; align-items: center; margin-left: 4px; margin-right: 4px;}
.attendance_contents .container_left .container_info .info_title { font-size: 12px;  letter-spacing: -0.36px; color: #9f9f9f; font-weight: 600; height: 17px; display: flex; align-items: center; }
.attendance_contents .container_left .container_info .info_title .title_green { color: #34c759; margin-left: 4px; margin-right: 3px; }
.attendance_contents .container_left .info_box { height: 23px; display: flex; align-items: center; }
.attendance_contents .container_left .title_kor {  font-size: 15px; font-weight: normal; letter-spacing: 0px; }
.attendance_contents .container_left .info_box .box_bnum {  font-size: 17px; font-weight: 600; letter-spacing: -0.51px; margin-left: 8px; margin-right: 4px; }
.attendance_contents .container_left .info_box .box_time { font-size: 17px; letter-spacing: -0.51px;  font-weight: normal; }
.attendance_contents .container_left .info_box .time_plus { color: #ff5c5c; }
.attendance_contents .container_left .info_box .time_minus { color: #2570f9; }
.attendance_contents .container_right { height: 209px; width: 231px; margin-top: -27px; }
.attendance_contents .container_right .container_title { height: 17px;  font-size: 12px; font-weight: normal; letter-spacing: -0.36px; color: #9f9f9f; margin-bottom: 12px; }
.attendance_contents .container_left>div:nth-child(2) { margin-top: 36px; }
.attendance_contents .container_left>div:nth-child(3) { margin-top: 4px; }
.attendance_contents .container_left .info_box .box_bnum.no_data { margin-right: 8px; }
#attendanceBasic, #attendanceBasicNoData { margin-left: -12px; width: 255px; margin-top: -24px; }
#attendanceBasic .apexcharts-xaxis-tick, #attendanceBasicNoData .apexcharts-xaxis-tick { display: none; }

/* 연장근무 */
.overtime_attendance .container_left { padding-top: 108px; height: 218px; width: 247px; margin-right: 10px; }
.overtime_attendance .container_left .container_info { font-size: 24px;  letter-spacing: -0.72px; color: #323232; font-weight: 600; height: 33px; display: flex; align-items: baseline; }
.overtime_attendance .container_left .info_box { height: 23px; display: flex; align-items: center; }
.overtime_attendance .container_left>div:nth-child(2) { margin-top: 25px; }
.overtime_attendance .container_left>div:nth-child(3) { margin-top: 4px; }
.overtime_attendance .container_left .container_info>span:nth-child(1) { margin-left: 4px; margin-right: 8px; }
.overtime_attendance .container_left .container_info>span:nth-child(2) { margin-left: 4px; }
.overtime_attendance .container_right { margin-top: -34px; width: 265px; height: 265px; }
.overtime_attendance .container_right .overtime_box { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 265px; height: 265px; position: absolute; padding-bottom: 8px; }
.overtime_attendance .container_right .overtime_box .box_time { font-size: 40px;  font-weight: 600; letter-spacing: -1.2px; text-align: right; color: #2570f9; height: 55px; line-height: 62.5px; display: flex; justify-content: center; align-items: center; }
.overtime_attendance .container_right .overtime_box .box_mark { width: 16px; height: 16px; background-color: #2570f9; font-size: 11px; font-weight: bold; letter-spacing: -0.33px;  color: #fff; display: flex; justify-content: center; align-items: center; line-height: 11px; border-radius: 30px; margin-left: 4px; margin-top: 16px; }
.overtime_attendance .container_right .overtime_box .half_line { width: 26px; height: 2px; background-color: #9f9f9f; margin-bottom: 6px; }
.overtime_attendance .container_right .overtime_box .box_title { font-size: 12px; letter-spacing: -0.36px; color: #555;  }
.overtime_attendance .container_right .overtime_box .box_title>span { font-weight: bold; color: #34c759; display: inline-block; margin-left: 4px; margin-right: 4px; }
.overtime_attendance .container_right .apexcharts-datalabels-group { display: none; }

/* 휴가현황 */
.attendance_widget .container_box .content_info .info_box .info_title.title_vacation { margin-top: 35px; margin-right: 14px; display: inline-block; }

/* 근태신청현황 */
.attendance_application .application_list .list_info .tag_icon { width: max-content; background-color: #2570f9; height: 19px; padding: 2px 8px 0 8px; font-size: 12px;}
.attendance_application .application_list .list_info .tag_icon.work { width: 38px; background-color: #323232; height: 19px; padding: 2px 0 0 0; }
.attendance_application .application_list{ margin-top: 29px; padding-inline-start: 0px; overflow-x: hidden; overflow-y: auto; max-height: 200px;}

/* 근태신청현황 라벨 */
.attendance_application .application_list .list_info .tag_icon.black {background-color:rgba(16, 13, 55, 0.05);;; color: #323232;}
.attendance_application .application_list .list_info .tag_icon.blue {background-color:rgba(37, 112, 249, 0.1);; color: #2570f9;}
.attendance_application .application_list .list_info .tag_icon.purple {background-color:rgba(175, 82, 240, 0.1);;; color: #af52f0;}
.attendance_application .application_list .list_info .tag_icon.red {background-color:rgba(255, 92, 92, 0.1);;; color: #ff5c5c;}
.attendance_application .application_list .list_info .tag_icon.green {background-color:rgba(52, 199, 89, 0.1);;; color: #34c759;}
.attendance_application .application_list .list_info .tag_icon.yellow {background-color:rgba(255, 145, 0, 0.1);;; color: #ff9100;}
.attendance_application .application_list .list_info .tag_icon.pink {background-color:rgba(249, 37, 185, 0.1);;; color: #f925b9;}
.attendance_application .application_list .list_info .tag_icon.skyblue {background-color:rgba(0, 191, 241, 0.1);;; color: #00bff1;}
.attendance_application .application_list .list_info .tag_icon.brown {background-color:rgba(107, 54, 0, 0.1);;; color: #6b3600;}

.attendance_application .application_list li {border-bottom: 1px solid #e3e3e3;}
.attendance_application .application_list .list_info { width: 204px; /*border-bottom: 1px solid #e3e3e3;*/ }
.attendance_application .application_list .list_info .info_top { height: 19px; display: flex; }
.attendance_application .application_list .list_info .info_top .info_mark { font-size: 12px;  color: #fff; letter-spacing: normal; }
.attendance_application .application_list .list_info .info_top .info_date { font-size: 12px;  color: #323232; letter-spacing: -0.36px; margin-left: 8px; }
.attendance_application .application_list .list_info .info_bottom { height: 21px; font-size: 15px;  color: #323232; margin-top: 6px; margin-bottom: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 165px; }
.attendance_application .application_list .list_progress { width: 196px; /*border-bottom: 1px solid #e3e3e3;*/ }
.attendance_application .application_list .list_status { width: 42px; font-size: 15px;  color: #323232; letter-spacing: -0.45px; font-weight: bold; height: 44px; display: flex; align-items: center; justify-content: flex-end; margin-left: 20px; }
.attendance_application .application_list .list_status.on { color: #2570f9; }
.attendance_application .application_list .list_status.wait { color: #ffb32e; }
.attendance_application .application_list li { display: flex; }
.attendance_application .application_list li + li {margin-top: 12px;}
.attendance_application .application_list li::before {content: '';}
.attendance_application .application_list .tag_icon.task { width: 60px; }
.attendance_application .application_list .list_progress .progress_content { height: 44px; display: flex; align-items: center; }
.attendance_application .application_list .list_progress .progress_content.more img { box-shadow: 0 0 0 4px white;}
.attendance_application .application_list .list_progress .progress_circle { width: 28px; height: 28px; border-radius: 30px; background-color: #e3e3e3; display: flex; justify-content: center; align-items: center; }
.attendance_application .application_list .list_progress.top .progress_circle:not(:first-child) { width: 28px; height: 28px; border-radius: 30px; background-color: #e3e3e3; display: flex; justify-content: center; align-items: center; margin-left: -5px; }
.attendance_application .application_list .list_progress .progress_circle.on,
.attendance_application .application_list .list_progress.top .progress_circle.on { background-color: #2570f9; }
.attendance_application .application_list .list_progress .progress_circle.wait { background: #ffb32e; }
.attendance_application .application_list .list_progress.top .progress_circle.on.last { color: white; text-align: center; }
.attendance_application .application_list .list_progress.top .progress_circle.on.last button { font-size: 12px; text-align: center; padding: 2px; background: transparent; color: white; cursor: pointer;}
.attendance_application .application_list .list_progress.top .progress_circle.on.last .select_options >div { color: black; }
.attendance_application .application_list .list_progress.top .progress_circle.on.last .select_options {  max-height: 171px; overflow-y: auto; }
.attendance_application .application_list .list_progress .progress_circle > img { width: 23px; height: 23px; }
 .attendance_application .application_list .list_progress img { width: 28px; height: 28px; border: 2px solid #e3e3e3; border-radius: 100%;}
.attendance_application .application_list .list_progress img.on {border: 2px solid #2570f9;}
.attendance_application .application_list .list_progress img.wait {border: 2px solid #ffb32e;}
.attendance_application .application_list .list_progress .progress_line { width: 140px; height: 2px; background-color: #e3e3e3; display: inline-block; max-height: 2px; min-height: 2px;}
.attendance_application .application_list .list_progress .progress_line.on { background-color: #2570f9; }
.attendance_application .application_list .list_progress .progress_line.wait { background-color: #ffb32e; }
.attendance_application .application_list>li:last-child .list_info { border-bottom: initial; }
.attendance_application .application_list>li:last-child .list_progress { border-bottom: initial; }
.attendance_application .application_no_data { display: flex; justify-content: center; flex-direction: column; align-items: center; height: 210px; padding-bottom: 33px; }
.attendance_application .application_no_data .no_data_info { font-size: 12px; font-weight: normal; text-align: center; letter-spacing: -0.36px; color:#555;  margin-top: 8px; }

.circle {width: 28px; height: 28px; background-color: #e3e3e3; box-shadow: 0 0 0 4px white; border-radius: 100%; display: flex; align-items: center; justify-content: center; color: white;  min-width: 28px; cursor: pointer;}
.circle.on {background-color: #2570f9;}
.circle.wait {background-color: #ffb32e;}



.select_options.custom { visibility: hidden; position: absolute; width: 131px; right: 146px; z-index: 99; top: 467px; background: white; height: 175px; overflow-y: auto; box-shadow: 1px 4px 10px 0 rgba(0, 0, 0, 0.16); border-radius: 8px; padding: 8px 0; width:206px !important;}
.select_options.custom >div { cursor: pointer; font-size: 12px; display: flex; align-items: center; justify-content: space-between; padding: 3px 14px; }
.select_options.custom >div:hover { background-color: rgba(50, 50, 50, 0.05); }
.select_options.custom >div .progress_circle { width: 18px; height: 18px; border-radius: 30px; background-color: #e3e3e3; display: flex; justify-content: center; align-items: center; }
.select_options.custom >div img { width: 18px; height: 18px; border: 1px solid #e3e3e3; border-radius: 100%; margin-right: 3px; }
.select_options.custom .option.on img {border-color: #2570f9;}
.select_options.custom .option.on .status {color: #2570f9;}
.select_options.custom .option.wait img {border-color: #ffb32e;}
.select_options.custom .option.wait .status {color: #ffb32e;}
/* .select_options.custom >div img.on {border-color: #2570f9;} */
/* .select_options.custom >div img.wait {border-color: #ffb32e;} */
.select_options.custom >div .progress_circle.on { background-color: #2570f9; }
/* .select_options.custom >div */
.select_options.custom::-webkit-scrollbar {-webkit-appearance: none; width: 12px;}
.select_options.custom::-webkit-scrollbar-thumb {background-color: #e3e3e3; border: 5px solid #fff; border-radius: 100px; }
.select_options.custom::-webkit-scrollbar-track {background-color: #fff; border-radius: 100px; }
.select_options.custom.active {visibility: visible !important;}

.select_options.custom .option .no {width: 15px; max-width: 15px;}
.select_options.custom .option .status {width: 65px; max-width: 65px; font-weight: bold; color: #777777;}
.select_options.custom .option .status {width: 65px; max-width: 65px; font-weight: bold; color: #777777;}


/* 위젯 달력 */
.calendar_wrap { padding: 14px 32px 0;}
.today_calendar .fc-day { height: 20px !important; }
.today_calendar .fc-scrollgrid-sync-table{ height: 198px !important; }
.today_calendar .fc-view-harness.fc-view-harness-active { height: 260px !important; }
.today_calendar .fc-theme-standard td, .fc-theme-standard th { border: none !important; }
.today_calendar .fc .fc-daygrid-day-top { justify-content: center; }
.today_calendar .fc-direction-ltr .fc-daygrid-more-link { position: absolute; left: 50%; bottom: -4px; transform: translate(-50%, 0); width: 4px; height: 4px; background: #34c759; }
.today_calendar .fc-direction-ltr .fc-day-today .fc-daygrid-more-link { background: white; }
.today_calendar div.line { height: 1px; width: 100%; margin: 4px 0px 8px; background: #e3e3e3; }
.today_calendar .fc .fc-scrollgrid-liquid { border: none; }
.today_calendar .fc-theme-standard td, .fc-theme-standard th { background: white !important;}
.today_calendar .fc-header-toolbar.fc-toolbar { width: 233px; margin: 0 auto; padding-bottom: 12px ; } 
.today_calendar .fc-icon.fc-icon-chevron-right,.today_calendar .fc-icon.fc-icon-chevron-left { color: black; }
.today_calendar .fc .fc-button-primary {background: white; border: none;}
.today_calendar .attendance_box {padding: 0px;}
.today_calendar .attendance_box_title { display: flex; width: 100%; flex-direction: row; font-size: 12px; }
.today_calendar .attendance_box_title time { font-size: 15px; font-weight: bold; }
.today_calendar .attendance_box_title >* { margin-right: 12px; }
.today_calendar .attendance_box_title >div { width: 184px; display: flex; justify-content: space-between;}
.today_calendar .desc_content { height: 132px; padding-left:0px; margin-top: 16px; overflow-y: auto; }
.today_calendar .desc_content li {display: flex; padding-bottom: 16px; height: 36px; cursor:pointer;}
.today_calendar .desc_content li::before {display:none;}
.today_calendar .fc .fc-toolbar-title { font-size: 20px !important; font-weight: normal; }
.today_calendar .fc .fc-toolbar-title span { font-size: 24px !important; font-weight: bold; }
.today_calendar .fc .fc-toolbar-title span:first-child{ margin-right:2px; }
.today_calendar .fc .fc-toolbar-title span:nth-child(2){ margin: 0px 2px 0px 12px; }
.today_calendar .desc_content li span.text_content { display: inline-block; width: 452px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size:13px; }
.today_calendar .fc-day-today > div a { position: relative; color: white; }
.today_calendar .fc-day-today >div::before{ content: ''; position: absolute; background: #34c759 !important; left: 50%; top: 1px; width:24px; height: 38px; border-radius: 12px; margin-left:-12px;}
.today_calendar .fc-col-header-cell a { font-size: 15px; }
.today_calendar .fc-day-sun a { color: #ff5c5c; } 
.today_calendar .fc-day-sat a { color: #2570f9; } 
.fc .fc-daygrid-day-number { display: block; width: 100%; height: 100%; text-align: center; cursor: pointer; }

/* 테이블 관련 */
span.required { color: #ff5c5c; }
.table_title { font-size: 13px; font-weight: bold; margin: 13px 0;}

