@import url(../../css/base.css);
@import url(../../css/index.css);
@import url(../../css/layout.css);
@import url(../../css/contents.css);
@import url(../../css/login.css);
@import url(../../css/popup.css);
@import url(../../css/font-awesome.min.css);

/* common */
a.button {padding: 2px 16px; border-radius: 4px; background: #465166; font-weight:500;}
input.button, button.button {background: #3ab7c6 !important;}
.ml-auto{margin-left: auto;}
.left_menu .info {background:#3ab7c6 url(../images/bg_left_top.gif) no-repeat 100% 0}
.left_menu .menu .menu_body .navi li:hover{background:#d6ecee;}
#calendarDetail #detailDate {background:#3ab7c6}
#widgetButton {background:#f379b2 url(../images/btn_widget.gif) no-repeat 100% 0;}

.left_main {background:url(../images/bg_left_main.gif) repeat-y}
.left_main div.main_menu {background:url(../images/bg_left_top.gif) no-repeat 100% 0}
.left_main div.mymenu	{background:url(../images/bg_mymenu.gif) repeat-y}
.left_sub div.sub_menu .list li.on ul {border-top:2px solid #57cdd1;}
.left_sub div.sub_menu .list li li.linkon {background-color:#57cdd1}
.left_sub div.sub_menu .list li li li.on,.left_sub div.sub_menu .list li li li.linkon {background-color:#57cdd1}
.left_main div.main_menu div.footer div.btn_open {background:url(../images/btn_left_open.png) no-repeat}

.left_sub div.sub_menu .mylist li.on {background-color:#57cdd1;}

.GMFocusRowBackground, .GMCursorBackground 	{ opacity:0.15; filter:alpha(opacity=15); background:/*#3ab7c6*/#A3DEE4 !important; }
.ui-autocomplete .ui-state-focus {background: #e1f4f7;}

/* base.css custom */
a.button {display: inline-block;line-height: normal;padding:2px 16px;margin-right: .1em; border:1px solid #465166; cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE *//*background:url(../images/common/bg_button01.gif) repeat-x;*/background:#465166;font-weight: 500;color: #ffffff !important;font-size:12px;border-radius:4px; letter-spacing:-1px;word-break:keep-all}
a.basic {position:relative; display: inline-block;line-height: normal;padding:2px 8px;margin-right: .1em; border:1px solid #465166; cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE *//*background:url(../images/common/bg_button01.gif) repeat-x;*/background:#465166;font-weight: 500;color: #ffffff !important;font-size:12px;border-radius:4px; letter-spacing:-1px;word-break:keep-all}
a.basic.large {display: inline-block;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE *//*background:url(../images/common/bg_button02.gif) repeat-x;*/font-weight: 500;color: #777;font-size:12px;/*border:1px solid #b8c6cc;*/word-break:keep-all}

/* 저장 버튼 */
a.btn-save{background:#087ef7; border:1px solid #087ef7; color:#ffffff!important;}

/* 업&다운로드 버튼 */
a.btn-download,
a.btn-upload{background:#ffffff; border:solid 1px #cacdcf; color:#363c43!important;}
a.btn-download:before{content:'\f019'; display:inline-block;margin-right:4px; font-family: 'FontAwesome'; }
a.btn-upload:before{content:'\f093'; display:inline-block;margin-right:4px; font-family: 'FontAwesome'; }


/* 버튼 색상 정리 */
/* white 버튼 */
a.btn-white{border:solid 1px #cacdcf; color:#363c43!important; background:#ffffff!important; font-weight: bold;}
a.btn-white.out-line{border:1px solid #363c43; }
/* blue 버튼 */
a.btn-blue{background:#087ef7; border:1px solid #087ef7; color:#ffffff!important;}
/* gray 버튼 */
a.btn-gray{background:#465166; border:1px solid #465166; color:#ffffff!important;}
/* green 버튼 */
a.btn-green{background:#21bf54; border:1px solid #21bf54; color:#ffffff!important;}
/* yellow 버튼 */
a.btn-yellow{background:#ffc304; border:1px solid #ffc304; color:#ffffff!important;}
/* orange 버튼 */
a.btn-orange{background:#ff9504; border:1px solid #ff9504; color:#ffffff!important;}
/* red 버튼 */
a.btn-red{background:#ff5c5c; border:1px solid #ff5c5c; color:#ffffff!important;}


/* a.basic selected 버튼 */
a.basic.selected{background:#cacdcf; border:1px solid #cacdcf; color:#ffffff!important;}
/* blue selected 버튼 */
a.btn-blue.selected{background:#8bb0d5; border:1px solid #8bb0d5; color:#ffffff!important;}
/* gray selected 버튼 */
a.btn-gray.selected{background:#cacdcf; border:1px solid #cacdcf; color:#ffffff!important;}
/* green selected 버튼 */
a.btn-green.selected{background:#5c9b70; border:1px solid #5c9b70; color:#ffffff!important;}
/* yellow selected 버튼 */
a.btn-yellow.selected{background:#ddc16d; border:1px solid #ddc16d; color:#ffffff!important;}
/* orange selected 버튼 */
a.btn-orange.selected{background:#c98e3d; border:1px solid #c98e3d; color:#ffffff!important;}
/* red selected 버튼 */
a.btn-red.selected{background:#d58585; border:1px solid #d58585; color:#ffffff!important;}


/* blue 아웃라인 버튼 */
a.btn-blue-outline{background:#ffffff; border:1px solid #087ef7; color:#087ef7!important; font-weight:700;}
/* green 아웃라인 버튼 */
a.btn-green-outline{background:#ffffff; border:1px solid #21bf54; color:#21bf54!important; font-weight:700;}
/* yellow 아웃라인 버튼 */
a.btn-yellow-outline{background:#ffffff; border:1px solid #ffc304; color:#ffc304!important; font-weight:700;}
/* orange 아웃라인 버튼 */
a.btn-orange-outline{background:#ffffff; border:1px solid #ff9504; color:#ff9504!important; font-weight:700;}
/* red 아웃라인 버튼 */
a.btn-red-outline{background:#ffffff; border:1px solid #ff5c5c; color:#ff5c5c!important; font-weight:700;}



/* 버튼 내부 아이콘 */
a[class*="ico-"]:before,
i[class*="ico-"]:after{content:''; display:inline-block;margin-right:4px; font-family: 'FontAwesome';}
a.ico-popup:before{content:'\f08e';}
/* 마감 아이콘 */
a.ico-finish:before{content:'\f274'}
/* 느낌표 아이콘  */
a.ico-mark:before{content:'\f06a'}
/* 말풍선 아이콘  */
a.ico-bubble:before{content:'\f27b'}
/* 다운로드 아이콘  */
a.ico-download:before{content:'\f019'}
/* 업로드 아이콘  */
a.ico-upload:before{content:'\f093'}
/* 출력 아이콘  */
a.ico-print:before{content:'\f02f'}
/* 계산기 아이콘  */
a.ico-calc:before{content:'\f1ec'}
/* 체크 아이콘  */
a.ico-check:before{content:'\f00c'}
/* 파일 아이콘  */
a.ico-file:before{content:'\f15b'}
/* 파일라인 아이콘  */
a.ico-fileLine:before{content:'\f016'}
/* 도움말 아이콘  */
a.ico-question:before{content:'\f059'}
/* 사각형 안에 체크가 있는  */
a.ico-check-square:before{content: '\f046'}
/* 사람모양  */
a.ico-user:before{content: '\f007'}
/* 확대모양  */
a.ico-expand:before{content: '\f065'}

/* 리로드 아이콘  */
a.ico-reload:before{content:'\f01e'}
a.ico-reload.no-text:before{margin-right:0px;}/* 텍스트 없이 */
a.ico-search:before{content:'\f002'}/* 텍스트와 함께 */
a.ico-search.no-text:before{margin-right:0px;}/* 텍스트 없이 */

/* tooltip custom */
i.circle{
	display:inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color:#9ca3ab;
	text-align:center;
}
i.circle.bg-red{background-color:#ff5c5c;}
i.circle.bg-blue{background-color:#087ef7;}
i.circle.bg-white{background-color:#ffffff;}
i.circle.bg-grey{background-color:#606b7b;}
i.circle.bg-yellow{background-color:#ccb90e;}
i.ico-question:after{
	content:'\f128';
	display:inline-block;
	font-style:normal;
	font-weight:500;
	margin-right:0px;
	color:#ffffff;
}

i.ico-exclamation:after{
	content:'\f12a';
	display:inline-block;
	font-style: normal;
	font-weight:500;
	margin-right:0px;
	color:#ffffff;
}

.tooltip_custom { vertical-align: middle; }
/*
.ui-tooltip-custom:before{
	content: '';
    display: inline-block;
    position: absolute;
    top: -16px;
    left: 9px;
    width: 0px;
    height: 0px;
    border-bottom: 16px solid #384152;
    border-right: 16px solid transparent;
    border-left: 0px solid transparent;
}
*/
.ui-tooltip.ui-tooltip-custom {position:relative; padding: 10px; border: 0px; border-radius: 4px; background:#384152; color:#ffffff; }


/* 버튼 내부 알림 - 빨강콩 */
a.notice-red:after{position:absolute; top:3px; right:3px; content:''; width:5px; height:5px; border-radius:50%; background-color:#ff5c5c;}
/* 버튼 내부 알림 - 파랑콩 */
a.notice-blue:after{position:absolute; top:3px; right:3px; content:''; width:5px; height:5px; border-radius:50%; background-color:#087ef7;}

a.pink {display: inline-block;padding: 0;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE */background: #ff5c5c;font-weight: 500;padding: 3px 10px 4px 11px;padding:6px 11px 5px 10px\9;border-radius:4px; color:#fff;font-size:12px;word-break:keep-all}
a.gray {display: inline-block;padding: 0;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE */background: #b8c6cc;font-weight: 500;padding: 3px 10px 4px 11px;padding:6px 11px 5px 10px\9;color:#fff;font-size:12px;word-break:keep-all}
a.gray.large{border-radius:6px;}
a.green {display: inline-block; padding:4px 12px; border-radius:4px; line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE */background: #21bf54;font-weight: 500;color:#fff;font-size:12px;word-break:keep-all}
a.blue {border:none;display: inline-block; border-radius:4px; line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE */background: #61b6f3;font-weight: 500;padding: 3px 10px 4px 11px;padding:6px 11px 5px 10px\9;color:#fff!important;font-size:12px;word-break:keep-all}
a.cute {display: inline-block;line-height: normal;margin-right: .1em;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE */background: #faa3cc;font-weight: normal;padding: 4px 12px; color:#fff;font-size:11px;word-break:keep-all}

input.text {width:90px;height:19px;line-height:19px;border:1px solid #b8c6cc;vertical-align:middle}
input.required {border:1px solid #ff5c5c !important}

/* contents.css custom */
table.default {width:100%; margin-bottom:12px; border-top: 2px solid #cacdcf; border-bottom: 2px solid #cacdcf;}
table.default th {width:auto;color:#333;background:#f7f7f7; border:0px; border-top: 1px solid #dedede;font-weight:700;text-align:left;padding:6px 12px;padding:6px 12px 6px 12px/9;white-space:nowrap}
table.default td {width:auto; padding:4px 12px;padding:7px 4px 7px 4px/9; border:0px; border-top: 1px solid #dedede;white-space:nowrap; background:#ffffff;}
table.default td.photo {background:#fff;border:none;width:98px;vertical-align:top;padding:0;}
table.default td.photo img {display:block;padding:3px;border:1px solid #dedede;margin-right:10px;}
table.default td input {height:20px; padding: 0px 4px; margin: 0px; line-height:20px;border-radius:4px;/* text-indent:4px; */}
table.default td input.radio+input.radio{margin-left:20px;}
table.default td select {height:22px; padding: 0px 4px; line-height:22px; border-radius:4px;/* text-indent:4px;*/}

table.default.line th {border: 1px solid #dedede;}
table.default.line th:first-child {border-left: 0px;}
table.default.line th:last-child {border-right: 0px;}
table.default.line td {border: 1px solid #dedede;}
table.default.line td:first-child {border-left: 0px;}
table.default.line td:last-child {border-right: 0px;}

table.default.outer-line{border: 1px solid #cacdcf;}
table.default.outer-line th{border-bottom: 1px solid #a1a1a1; color:#363c43;}
table.default.outer-line td{padding: 12px; color:#363c43;}
table.default.outer-line td .table-title{display:inline-block; margin-bottom: 4px;}

table.table td.none-line{border:0px;}

/* layout.css custom */
.insa_tab {margin-top:8px; position:absolute;width:100%;top:124px;bottom:0}

div.sheet_search {border:1px solid #dae1e6; border-radius:6px; background:none; padding:10px 30px 10px 30px}
/* div.sheet_search:before{content: '\f002';position: absolute;top:8px; left:16px; display: inline-block;font-family: 'FontAwesome';font-size: 24px;} */
div.sheet_search>div {padding:0px; border:0px; background:#fff;}
div.sheet_search div>table>tbody>tr>td {padding:2px 20px 2px 4px;white-space: nowrap}
div.sheet_search span {color:#333; font-weight:700; padding-right:5px; vertical-align:middle;}

div.sheet_search select,
div.sheet_search input{padding: 1px 2px; border-radius: 4px;}
div.sheet_search select{height: 22px;}
div.sheet_search input{height: 18px;}
div.sheet_search span.under-line{text-decoration:underline;}

div.sheet_search .clearfix:after{content:'';clear:both;display: table;width:100%;}
div.sheet_search .float-left{float: left;}
div.sheet_search .float-right{float: right;}


div.sheet_search.type2{padding: 8px 24px 6px; border:0px; border-radius:0px; border-bottom:1px solid #d5d8dc; background-color:#f7f7f7;	}
div.sheet_search.type2>div{padding:0px; background-color:#f7f7f7;}
div.sheet_search.type2 span{padding-right:0px;}
div.sheet_search.type2 span.under-line{text-decoration:underline;}
div.sheet_search.type2 span.no-bold{font-weight:500;}
div.sheet_title {clear:both;overflow:auto;}
div.sheet_title a.under-line{text-decoration:underline; font-weight:700; color:#333;}
div.sheet_title.under-line{padding-bottom: 4px; margin-bottom: 8px; border-bottom: 1px solid #d5d8dc;}
div.sheet_title .under-line{padding-bottom: 8px; border-bottom: 1px solid #d5d8dc;}

div.sheet_title .clearfix:after{content:'';clear:both;display: table;width:100%;}
div.sheet_title .float-left{float: left;}
div.sheet_title .float-right{float: right;}


div.sheet_title li.txt {float:left;height:35px;padding-left:0px; font-weight:bold;color:#363c43;line-height:35px}
div.sheet_title li.txt span {font-weight:normal; font-size: 11px;}
div.sheet_title li.txt .red {color:#FF5C5C!important;}
div.sheet_title li.txt .blue {color:#087ef7!important;}
div.sheet_title li .txt{color:#363c43;}

div.sheet_title li.btn {float:right;padding-right:0px;height:35px;line-height:35px}
div.sheet_title li.btn.pd-left4{padding-left:4px;}


div.sheet_title select,
div.sheet_title input{border-radius:4px;}
div.sheet_title select{height:22px;}
div.sheet_title input,
div.sheet_title input.text{height:20px;}

.layout_tabs {position:absolute;width:100%;top:34px;bottom:0;}
.ui-tabs .ui-tabs-nav li {list-style: none; position: relative;top: 0;float: left;margin: 0 20px 0 0; border:0px;padding: 0; background:none; white-space: nowrap;}
.ui-tabs-nav li.ui-tabs-active {}
.ui-tabs .ui-widget-header {padding: 0px; /*border-bottom: 1px solid #b8c6cc;*/border-bottom: 0px;color: #222222/*{fcHeader}*/;font-weight: bold;}
.ui-tabs .ui-state-default a {padding: 8px 0px!important;}
.ui-widget-header .ui-state-default {font-weight: normal/*{fwDefault}*/;color: #999/*{fcDefault}*/;}
.layout_tab .ui-state-default a:visited {color: #9ca3ab/*{fcDefault}*/;text-decoration: none;font-size:12px; font-weight:700;}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {color: #9ca3ab/*{fcDefault}*/;text-decoration: none;font-size:12px;}
.ui-state-default a:hover{color:#363c43 !important;}
.ui-tabs-nav li.ui-tabs-active {}
.ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-nav li.ui-state-disabled a,
.ui-tabs-nav li.ui-tabs-loading a {border-bottom: 2px solid #000; margin-bottom: -1px; font-weight: bold; font-size:12px; cursor: pointer; color: #363c43 !important;}
.ui-widget-header .ui-state-active {background: #ffffff;font-weight: normal/*{fwDefault}*/;color: #000000/*{fcActive}*/;outline:none; font-weight:bold;}


.red {color:#FF5C5C!important;}
.blue {color:#087ef7!important;}
div.sheet_title li.txt .blue {color:#087ef7!important;}

/* yeaDataCommon.jsp �엳�뜕 �뒪���씪 */
/*
	table.yeaData1 th.yeaData2 {background-color:#cdf0f1; border:1px solid #afcdce;}
	table.yeaData1 td.yeaData2 {background-color:#e6f4f5; border:1px solid #afcdce;}
	table.yeaData1 td.yeaData2 input {border:1px solid #afcdce;}

	table.yeaData1 th {background-color:#c7e5ff; border:1px solid #acd5fe;}
	table.yeaData1 td {background-color:#e4f7ff; border:1px solid #acd5fe;}
	table.yeaData1 td input {border:1px solid #acd5fe;}

	table.yeaData2 th {background-color:#cdf0f1; border:1px solid #afcdce;}
	table.yeaData2 td {background-color:#e6f4f5; border:1px solid #afcdce;}
	table.yeaData2 td input {border:1px solid #afcdce;}
*/

	.table-pdf {width:100%; text-align:center}
	.table-pdf td {padding:8px}
	.table-pdf tr>td:first-child{padding-left:0px;}
	.table-pdf tr>td:last-child{padding-right:0px;}
	a.pdf.disabled {color:#a6a699 !important;border:1px solid #ccccc0 !important}
	/* a.pdf 챙혛혥챙혙짹챙혰혨챙혙혵 챙혶쨈챘짱쨍챙짠�챘짜쩌 챙혗짭챙혳짤챠혮혱챙짠� 챙혮혡챙혵쩌챘짱�챘징혵 챙혻혵챗짹째 - 2019.11.29 */
	a.pdf {position:relative; display: inline-block;line-height: 125%;cursor: pointer;vertical-align: middle;text-align: center;overflow: visible; /* removes extra width in IE */background:#ebf5ff;color: #363c43 !important;font-size:12px;border:1px solid #a4d1ff;letter-spacing:-1px;word-break:keep-all; /* padding+size */ padding: 10px 0px;padding:12px 11px 5px 10px\9;width:100%; height:90px; box-sizing: border-box;}
	a.pdf:hover {background-color:#cee0f2;}
	a.pdf:active,a.pdf:visited{border-color:#087ef7;}
	a:hover.pdf.disabled {color:#a6a699 !important}
	a.pdf .pdfItem {display:block; padding-bottom:2px; font-size:13px; font-weight:700; }
	a.pdf .pdfAmt {display:block; font-size:12px; font-weight:700;}
	a.pdf .pdfCnt {position:absolute; bottom:10px; display:block; width:100%; font-size:11px;color:#777e87;}

	#infoLayer{
	  padding:20px;
	  border:4px solid #ddd;
	  position:absolute;z-index:100;
	  left:100px;
	  top:100px;
	  background:#fff;
	}
	#infoLayer.new{
	  position:absolute;
	  top:100px;
	  left:200px;
	  z-index:100;
	  padding:32px 28px 40px;
	  border:0px;
	  background:#fff;
	  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
	}
	#infoLayer.new .layer-title{
		font-size: 13px;
		font-weight: bold;
		line-height: 1.54;
		letter-spacing: -0.39px;
		color: #363c43!important;
	}
	#infoLayer.new strong{
		font-weight: bold;
	}
	#infoLayer.new strong.point-blue{
		color: #087ef7;
	}
	#infoLayer.new .layer-contents{
		position: relative;
		padding: 32px 0px 54px;
	}
	#infoLayer.new .info-list>li{
		list-style-type: decimal;
		margin-top: 16px;
    	margin-left: 12px;
    	padding-left: 0px;
	}
	#infoLayer.new .info-list>li:first-child{
		margin-top: 0px;
	}
	#infoLayer.new .dot-list{
		margin-top: 16px;
	}
	#infoLayer.new .dot-list>li:before{
		content:'·';
		display:inline-block;
		margin-left: 0px;
		margin-right: 4px;
	}
	#infoLayer.new .none-list{
		margin-top: 0x;
	}
	#infoLayer.new .none-list>li{
		margin-top: 12px;
		padding-left: 46px;
	}
	#infoLayer.new .none-list>li:before{
		content: '';
    	display: inline-block;
    	margin-left: -46px;
	}
	#infoLayer.new .img-wrap{
		padding:16px 0px 4px;
	}
	#infoLayer.new .layer-footer{
		position: absolute;
		right: 0;
		bottom: 0;
	}
	#infoLayer.new .layer-footer label{
		margin-left:4px;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.54;
		letter-spacing: -0.26px;
		color: #4f5565!important;
	}
	#infoLayer.new .layer-footer label+.basic{
		margin-left: 16px;
	}

	#infoLayer2{
	  padding:20px;
	  border:4px solid #ddd;
	  position:absolute;z-index:100;
	  left:100px;
	  top:100px;
	  background:#fff;
	}
	#infoLayer2.new{
	  position:absolute;
	  top:100px;
	  left:100px;
	  z-index:100;
	  padding:32px 28px;
	  border:0px;
	  background:#fff;
	  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
	}
	#infoLayer2.new p,
	#infoLayer2.new ul{
		font-size: 13px;
		line-height: 1.6;
	}
	#infoLayer2.new ul{
		margin-top: 4px;
	}
	#infoLayer2.new ul li{
		padding-left: 4px;
    	line-height: 1.8;
		font-size: 12px;
	}
	#infoLayer2.new ul li:before{
		content:'·';
		display:inline-block;
		margin-left: -3px;
		margin-right: 4px;
	}
	#infoLayer2.new .img-wrap{
		padding:8px 0px;
	}
	#infoLayer2.new .under-line{
		text-decoration: underline;
		font-weight:bold;
	}

	#infoLayer3{
	  padding:20px;
	  border:4px solid #ddd;
	  position:absolute;z-index:100;
	  left:100px;
	  top:100px;
	  background:#fff;
	}
	#infoLayer3.new{
	  position:absolute;
	  top:100px;
	  left:100px;
	  z-index:100;
	  padding:32px 28px;
	  border:0px;
	  background:#fff;
	  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
	}
	#infoLayer3.new p,
	#infoLayer3.new ul{
		font-size: 13px;
		line-height: 1.6;
	}
	#infoLayer3.new ul{
		margin-top: 4px;
	}
	#infoLayer3.new ul li{
		padding-left: 4px;
    	line-height: 1.8;
		font-size: 12px;
	}
	#infoLayer3.new ul li:before{
		content:'·';
		display:inline-block;
		margin-left: -3px;
		margin-right: 4px;
	}
	#infoLayer3.new .img-wrap{
		padding:8px 0px;
	}
	#infoLayer3.new .under-line{
		text-decoration: underline;
		font-weight:bold;
	}

	#infoLayer4{
	  padding:20px;
	  border:4px solid #ddd;
	  position:absolute;z-index:100;
	  left:100px;
	  top:100px;
	  background:#fff;
	}
	#infoLayer4.new{
	  position:absolute;
	  top:100px;
	  left:100px;
	  z-index:100;
	  padding:32px 28px;
	  border:0px;
	  background:#fff;
	  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
	}
	#infoLayer4.new p,
	#infoLayer4.new ul{
		font-size: 13px;
		line-height: 1.6;
	}
	#infoLayer4.new ul{
		margin-top: 4px;
	}
	#infoLayer4.new ul li{
		padding-left: 4px;
    	line-height: 1.8;
		font-size: 12px;
	}
	#infoLayer4.new ul li:before{
		content:'·';
		display:inline-block;
		margin-left: -3px;
		margin-right: 4px;
	}
	#infoLayer4.new .img-wrap{
		padding:8px 0px;
	}
	#infoLayer4.new .under-line{
		text-decoration: underline;
		font-weight:bold;
	}

	#pdfListView { width: 100%; height: 700px; }


/* 연말정산 계산 */
.status-box{display:flex;flex: 0 0 100%; max-width: 100%;padding: 12px 16px;margin-top:4px;background-color: #f7f7f7;border-radius: 8px;box-sizing: border-box;}
.status-box .box-item{flex: 0 0 20%;max-width: 20%;}
.status-box .box-item .item-title{text-align: left;font-size: 12px;font-weight: 700;line-height: 1.33;letter-spacing: -0.45px;color: #363c43;}
.status-box .box-item .item-desc{margin-top: 6px;text-align: left;font-size: 18px;font-weight: 700;line-height: 1;letter-spacing: -1.02px;color: #363c43;}
.status-box .box-item .item-desc .blue:before{content:'\f00c';display:inline-block;margin-right: 4px;font-family: 'FontAwesome';}
.status-box .box-item .unit{margin-left: 4px;font-size: 11px;font-weight: normal;line-height: 1.33;letter-spacing: -0.45px;color: #777e87;}

/* 연말정산 계산 */
.status-table{width: 100%;margin-top:4px;background-color: #f7f7f7;border-radius: 8px;box-sizing: border-box;}
.status-table .box-item{padding: 12px 16px;}
.status-table .box-item .item-title{text-align: left;font-size: 12px;font-weight: 700;line-height: 1.33;letter-spacing: -0.45px;color: #363c43;}
.status-table .box-item .item-desc{margin-top: 6px;text-align: left;font-size: 18px;font-weight: 700;line-height: 1;letter-spacing: -1.02px;color: #363c43;}
.status-table .box-item .item-desc .blue:before{content:'\f00c';display:inline-block;margin-right: 4px;font-family: 'FontAwesome';}
.status-table .box-item .unit{margin-left: 4px;font-size: 11px;font-weight: normal;line-height: 1.33;letter-spacing: -0.45px;color: #777e87;}

/* 연말정산 작업현황 */
.list-item{display:table; width:100%; padding: 8px 16px; margin-top:8px;  border-radius: 6px; background-color:#f7f7f7; box-sizing: border-box;}
.list-item>span{display:table-cell; vertical-align:middle;}
.list-item .number,
.list-item .desc,
.list-item .cnt,
.list-item .text{display:inline-block;}
.list-item .item-title{width: 30%; font-size:12px; font-weight:bold; color:#363c43;}
.list-item .desc{margin-right:2px; font-size:12px; font-weight:bold; color:#777e87;}
.list-item .number{font-size:15px; font-weight:bold; color:#087ef7;}
.list-item .cnt{font-size:11px; color:#777e87;}
.list-item .text{font-size:14px; color:#777e87; font-weight: bold;}

/* tab 하단 밑줄 */
.tab.ui-tabs:after{content:''; position: absolute; top: 82px/*98px*/; width:100%; height:1px; background-color: #b8c6cc; /*background-color: red;*/}
.insa_tab .tab.ui-tabs:after{content:''; position: absolute; top: 34px; width:100%; height:1px; background-color: #b8c6cc; /*background-color: red;*/}

/* tab button */
.btn-tab-move{position: absolute;border: 1px solid #d5d8dc;border-radius: 6px;background-color:#ffffff;text-align: center;box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);cursor:pointer;}
.btn-tab-move a{display:inline-block;width: 20px;height: 20px;padding: 4px;}
.btn-tab-move a:after{content:''; display: inline-block;font-family: 'FontAwesome';font-size: 20px; text-align:center;}
.btn-tab-move.btn-left{border-radius:6px 0px 0px 6px;}
.btn-tab-move.btn-left a:after{content:'\f104';}
.btn-tab-move.btn-right{border-radius:0px 6px 6px 0px;}
.btn-tab-move.btn-right a:after{content:'\f105';}

/* 자료등록 상단 영역 */
.info-top-box{display: flex; border: solid 1px #eee;background-color: #f9f8f8;}
.info-top-box>.inner-wrap{display: flex;flex-direction: column; min-width: 160px; padding:8px 12px; box-sizing: border-box;}
.info-top-box>.inner-wrap.date{flex-direction: row;}
.info-top-box>.inner-wrap.date>div{display: flex; flex-direction: column;}
.info-top-box>.inner-wrap.date>div+div{margin-left: 24px;}
.info-top-box .num-wrap{min-width: 120px; width: 120px;}
.info-top-box .divider{position: relative;}
.info-top-box .divider::before{content: ''; position: absolute; left: 0; top: 10px; width: 1px; height: 40px; background-color: #d5d8dc;}
.info-top-box .salary-wrap{display: flex;}
.info-top-box .salary-wrap .desc{font-size: 12px;font-weight: 400;letter-spacing: -0.24px;color: #363c43;}
.info-top-box .inner-wrap .year{display: flex; align-items: center;}
.info-top-box .inner-wrap .year .input-wrap{margin-left: auto;}
.info-top-box .inner-wrap .year .input-wrap select {width: 100%;height: 22px; border-radius: 4px;}
.info-top-box .inner-wrap .mgr .input-wrap input {height: 20px; border-radius: 4px; text-indent: 6px; font-size: 16px;font-weight: bold;letter-spacing: -0.34px;color: #363c43;}
.info-top-box .label{font-size: 13px;font-weight: 400;line-height: 1.54;letter-spacing: -0.39px;color: #61697b;}
.info-top-box .btn-search.active{background-color: #dbe3ef!important;}
.info-top-box .name{font-size: 17px;font-weight: bold;letter-spacing: -0.34px;color: #363c43;}
.info-top-box .com-num{margin-left: 8px; font-size: 12px;font-weight: 400;letter-spacing: -0.24px;color: #363c43;}
.info-top-box .team{margin-top: 2px; font-size: 13px;font-weight: 400;letter-spacing: -0.26px;color: #61697b;}
.info-top-box .uniq-num{margin-top: 7px; font-size: 12px;font-weight: 900;letter-spacing: -0.24px;color: #363c43;}
.info-top-box .salary{margin-top: 4px; margin-left: auto; font-size: 12px;font-weight: 900;letter-spacing: -0.24px;color: #363c43;}
.info-top-box .btn-status{flex-direction: row; align-items: center; flex: 1 0 auto; padding: 11px 18px;}
.info-top-box .btn-status .btn-wrap{margin-left: auto;display: flex;flex-direction: row; align-items: center;}
.info-top-box .btn-status .btn-wrap .basic{padding: 6px 8px 6px 6px; margin:0px;}
.info-top-box .btn-status .btn-wrap .basic+.basic{margin-left: 8px;}
.info-top-box .btn-status .btn-wrap .basic.ico-bubble{padding: 6px 12px 6px 6px;}
.info-top-box .btn-status .deadline-status{display: inline-block; padding: 10px;border-radius: 18px;border: solid 1px #fc5c5c;background-color: #fee;font-size: 12px;font-weight: 500;letter-spacing: -0.36px;color: #fc5c5c;}
.info-top-box .btn-status .deadline-status.completed{border: solid 1px #087ef7; color: #087ef7; background-color: #eaf0f9;}
.info-top-box .btn-status .deadline-status i{margin-right: 4px;}
.info-top-box .btn-status .btn-deadline{display: inline-block;height: 30px;line-height: 30px;padding: 0px 21px 0px 17px;border-radius: 4px; font-size: 12px;font-weight: bold;letter-spacing: -0.36px;}
.info-top-box .btn-status .divider{margin-left: 8px;padding-left: 8px;}
.info-top-box .btn-status .divider::before{height: 30px; top: 2px;}
