@import url(../../css/base.css);
@import url(../../css/index.css);
@import url(../../css/layout.css);
@import url(../../css/contents.css);
@import url(../../css/login.css);
@import url(../../css/popup.css);

a.button {background: #3ab7c6;}
input.button, button.button {background: #3ab7c6 !important;}

.left_menu .info {background:#3ab7c6 url(../images/bg_left_top.gif) no-repeat 100% 0}
.left_menu .menu .menu_body .navi li:hover{background:#d6ecee;}
#calendarDetail #detailDate {background:#3ab7c6}
#widgetButton {background:#f379b2 url(../images/btn_widget.gif) no-repeat 100% 0;}

.left_main {background:url(../images/bg_left_main.gif) repeat-y}
.left_main div.main_menu {background:url(../images/bg_left_top.gif) no-repeat 100% 0}
.left_main div.mymenu	{background:url(../images/bg_mymenu.gif) repeat-y}
.left_sub div.sub_menu .list li.on ul {border-top:2px solid #57cdd1;}
.left_sub div.sub_menu .list li li.linkon {background-color:#57cdd1}
.left_sub div.sub_menu .list li li li.on,.left_sub div.sub_menu .list li li li.linkon {background-color:#57cdd1}
.left_main div.main_menu div.footer div.btn_open {background:url(../images/btn_left_open.png) no-repeat}

.left_sub div.sub_menu .mylist li.on {background-color:#57cdd1;}

.GMFocusRowBackground, .GMCursorBackground 	{ opacity:0.15; filter:alpha(opacity=15); background:/*#3ab7c6*/#A3DEE4 !important; }
.ui-autocomplete .ui-state-focus {background: #e1f4f7;}