<configuration>
  <property name="LOG_PATH" value="./logs" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
    </encoder>
  </appender>

<!--  <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <file>${LOG_PATH}/stdout/stdout.log</file>-->
<!--    <encoder>-->
<!--      <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>-->
<!--    </encoder>-->
<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      <fileNamePattern>${LOG_PATH}/stdout/stdout.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--      <maxHistory>30</maxHistory>-->
<!--    </rollingPolicy>-->
<!--  </appender>-->

  <appender name="LICENSE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/license/license.log</file>
    <encoder>
      <pattern>%p %d{yyyy-MM-dd HH:mm:ss.SSS} [%c] %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}/license/license.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="jdbc" level="OFF"/>
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="DEBUG"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="OFF"/>
  <logger name="jdbc.connection" level="OFF"/>

  <logger name="com.hr.common.license" additivity="false" level="DEBUG" >
    <appender-ref ref="LICENSE_LOG" />
  </logger>

  <!-- Spring Session JDBC 로그 비활성화 -->
  <logger name="org.springframework.session.jdbc.JdbcIndexedSessionRepository" level="WARN"/>
  <logger name="org.springframework.jdbc.core.JdbcTemplate" level="WARN"/>
  <logger name="org.springframework.transaction" level="WARN"/>
  <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>