@charset 'utf-8';
/*
  파일명: notosans.css
  작성자: 김도희
  최초작성일: 2025-04-22
  수정자: 김도희
  수정일: 2025-04-22
  설명: 이 파일은 'Noto Sans KR' 폰트 정의 파일입니다.
*/
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
	src:url('NotoSansKR-Regular.eot');
	src:url('NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
		url('NotoSansKR-Regular.woff2') format('woff2'),
		url('NotoSansKR-Regular.woff') format('woff'),
		url('NotoSansKR-Regular.ttf') format('truetype');
 }
@font-face {
    font-family: 'Noto Sans KR';
 	font-style: normal;
	font-weight: 400;
	src:url('NotoSansKR-Medium.eot');
	src:url('NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
		url('NotoSansKR-Medium.woff2') format('woff2'),
		url('NotoSansKR-Medium.woff') format('woff'),
		url('NotoSansKR-Medium.ttf') format('truetype');
 }
@font-face {
    font-family: 'Noto Sans KR';
 	font-style: normal;
	font-weight: bold;
	src:url('NotoSansKR-Bold.eot');
	src:url('NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		url('NotoSansKR-Bold.woff2') format('woff2'),
		url('NotoSansKR-Bold.woff') format('woff'),
		url('NotoSansKR-Bold.ttf') format('truetype');
 }