/* blue 가 기본 컬러임 */
/**
 * 공통
 */
/* nav .main_menu { background-color: #2570f9; } */
/* nav .sub_menu .sub_menu_body li.open > a::before { color: #6d778e; } */

/* .btn.filled { background-color: #2570f9; } */

/**
 * 메인
 */
/* .main_content .swiper-pagination-bullet-active .area { background-color: #2570f9; } */