:root {
    /* Text */
    --primary-text: #363b3f;
    --secondary-text: #5e656e;
    --tertiary-text: #7b858e;
    --sub-text: #a6aeb1;
    --placeholder: #8d929b;
    --disable-text: #8f8f8f;
    --text-on-primary: #ffffff;
    --link: #1f76c2;

    /* Surface */
    --surface: #f2f2f2;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f2f2f2;
    --surface-container: #eeeeee;
    --surface-container-high: #e8e8e8;
    --surface-container-highest: #e1e1e1;
    --surface-dim: #dadada;
    --surface-bright: #f8f8f8;
    --on-surface: #131313;
    --on-surface-variant: #5e5e5e;
    --inverse-surface: #363636;

    /* Border */
    --layout-border-01: #e8e8e8;
    --layout-border-02: #f2f2f2;
    --ui-border-01: #e1e1e1;
    --ui-border-02: #eeeeee;

    /* Neutral */
    --neutral-10: #131313;
    --neutral-20: #383838;
    --neutral-30: #5e5e5e;
    --neutral-40: #838383;
    --neutral-50: #969696;
    --neutral-60: #a9a9a9;
    --neutral-70: #bcbcbc;
    --neutral-80: #cecece;
    --neutral-90: #e1e1e1;
    --neutral-92: #e8e8e8;
    --neutral-94: #eeeeee;
    --neutral-95: #eeeeee;
    --neutral-96: #f2f2f2;
    --neutral-98: #f8f8f8;
    --neutral-100: #ffffff;

    /* Primary */
    --primary-10: #040b1d;
    --primary-20: #0b2057;
    --primary-30: #123690;
    --primary-40: #194bca;
    --primary-50: #1d56e7;
    --primary-60: #4c79ec;
    --primary-70: #7b9cf1;
    --primary-80: #aac0f6;
    --primary-90: #d0dcfa;
    --primary-95: #e8eefd;
    --primary-98: #f6f8fe;
    --primary-tab: #D7D8DB;
    --primary-lnb-back: #1d56e7;
    --primary-lnb-text: #1d56e7;
    --primary-lnb-on: #f8f9fc;
    --primary-lnb-icon: #d0dcfa;
    --primary-lnb-text-hover: #ffffff;

    /* HR Colors */
    /* Blue */
    --hr-blue-10: #040b1d;
    --hr-blue-20: #0b2057;
    --hr-blue-30: #123690;
    --hr-blue-40: #194bca;
    --hr-blue-50: #1d56e7;
    --hr-blue-60: #4c79ec;
    --hr-blue-70: #7b9cf1;
    --hr-blue-80: #aac0f6;
    --hr-blue-90: #d0dcfa;
    --hr-blue-95: #e8eefd;
    --hr-blue-98: #f6f8fe;
    --hr-blue-tab: #D7D8DB;
    --hr-blue-lnb-back: #1d56e7; /* --hr-blue-50 */
    --hr-blue-lnb-text: #1d56e7; /* --hr-blue-50 */
    --hr-blue-lnb-on: #f8f9fc;
    --hr-blue-lnb-icon: #d0dcfa; /* --hr-blue-90 */
    --hr-blue-lnb-text-hover: #ffffff;

    /* Green */
    --hr-green-10: #0c271c;
    --hr-green-20: #184e38;
    --hr-green-30: #247554;
    --hr-green-40: #309c6f;
    --hr-green-50: #3cc38b;
    --hr-green-60: #63cfa2;
    --hr-green-70: #8adbb9;
    --hr-green-80: #b1e7d1;
    --hr-green-90: #d8f3e8;
    --hr-green-95: #ebf9f3;
    --hr-green-98: #f7fdfa;
    --hr-green-tab: #D7DBD9;
    --hr-green-lnb-back: #3cc38b; /* --hr-green-50 */
    --hr-green-lnb-text: #3cc38b; /* --hr-green-50 */
    --hr-green-lnb-on: #f8fcfa;
    --hr-green-lnb-icon: #b1e7d1; /* --hr-green-90 */
    --hr-green-lnb-text-hover: #ffffff;

    /* Red */
    --hr-red-10: #1c090c;
    --hr-red-20: #551a23;
    --hr-red-30: #8d2c3a;
    --hr-red-40: #c63d51;
    --hr-red-50: #e2465d;
    --hr-red-60: #e86d7f;
    --hr-red-70: #ee93a1;
    --hr-red-80: #f4bac2;
    --hr-red-90: #f9d8dd;
    --hr-red-95: #fcebee;
    --hr-red-98: #fef7f8;
    --hr-red-tab: #dbd7d7;
    --hr-red-lnb-back: #e2465d; /* --hr-red-50 */
    --hr-red-lnb-text: #e2465d; /* --hr-red-50 */
    --hr-red-lnb-on: #fcf9f9;
    --hr-red-lnb-icon: #f9d8dd; /* --hr-red-90 */
    --hr-red-lnb-text-hover: #ffffff;

    /* Scarlet */
    --hr-scarlet-10: #200d06;
    --hr-scarlet-20: #602611;
    --hr-scarlet-30: #9f401d;
    --hr-scarlet-40: #df5928;
    --hr-scarlet-50: #ff662e;
    --hr-scarlet-60: #ff865a;
    --hr-scarlet-70: #ffa685;
    --hr-scarlet-80: #ffc6b1;
    --hr-scarlet-90: #ffdfd3;
    --hr-scarlet-95: #ffeee8;
    --hr-scarlet-98: #fff8f6;
    --hr-scarlet-tab: #dad7d6;
    --hr-scarlet-lnb-back: #ff662e; /* --hr-scarlet-50 */
    --hr-scarlet-lnb-text: #ff662e; /* --hr-scarlet-50 */
    --hr-scarlet-lnb-on: #fcf9f9;
    --hr-scarlet-lnb-icon: #ffdfd3; /* --hr-scarlet-90 */
    --hr-scarlet-lnb-text-hover: #ffffff;
    
    /* Navy */
    --hr-navy-10: #030817;
    --hr-navy-20: #06112d;
    --hr-navy-30: #0b2056;
    --hr-navy-40: #0e2b71;
    --hr-navy-50: #143b9f;
    --hr-navy-60: #4a77e8;
    --hr-navy-70: #7799ee;
    --hr-navy-80: #a4bbf4;
    --hr-navy-90: #d2ddf9;
    --hr-navy-95: #e8eefc;
    --hr-navy-98: #f6f8fe;
    --hr-navy-tab: #d7d8db;
    --hr-navy-lnb-back: #143b9f; /* --hr-navy-50 */
    --hr-navy-lnb-text: #143b9f; /* --hr-navy-50 */
    --hr-navy-lnb-on: #f8f9fc;
    --hr-navy-lnb-icon: #d2ddf9; /* --hr-navy-90 */
    --hr-navy-lnb-text-hover: #ffffff;

    /* White */
    --hr-white-10: #131313;
    --hr-white-20: #383838;
    --hr-white-30: #5e5e5e;
    --hr-white-40: #838383;
    --hr-white-50: #969696;
    --hr-white-60: #a9a9a9;
    --hr-white-70: #bcbcbc;
    --hr-white-80: #cecece;
    --hr-white-90: #e1e1e1;
    --hr-white-95: #eeeeee;
    --hr-white-98: #f8f8f8;
    --hr-white-tab: #e0e0e0;
    --hr-white-lnb-back: #ffffff;
    --hr-white-lnb-text: #5E5E5E; /* --hr-white-30 */
    --hr-white-lnb-on: #e7e7e7;
    --hr-white-lnb-icon: #969696; /* --hr-white-50 */
    --hr-white-lnb-text-hover: #5E5E5E; /* --hr-white-50 */
    
    /* Yellow */
    --hr-yellow-10: #201900;
    --hr-yellow-20: #604d00;
    --hr-yellow-30: #9f8000;
    --hr-yellow-40: #dfb300;
    --hr-yellow-50: #ffcc00;
    --hr-yellow-60: #ffd735;
    --hr-yellow-70: #ffe16a;
    --hr-yellow-80: #ffec9f;
    --hr-yellow-90: #fff4ca;
    --hr-yellow-95: #fffae4;
    --hr-yellow-98: #fffdf4;

    /* Indigo */
    --hr-indigo-10: #0b0b1c;
    --hr-indigo-20: #202153;
    --hr-indigo-30: #35378b;
    --hr-indigo-40: #4a4dc2;
    --hr-indigo-50: #5458de;
    --hr-indigo-60: #787be5;
    --hr-indigo-70: #9b9eec;
    --hr-indigo-80: #bfc0f3;
    --hr-indigo-90: #dbdcf8;
    --hr-indigo-95: #eeeffc;
    --hr-indigo-98: #f8f8fe;

    /* Orange */
    --hr-orange-10: #201508;
    --hr-orange-20: #5f4018;
    --hr-orange-30: #9e6b27;
    --hr-orange-40: #dd9637;
    --hr-orange-50: #fdab3f;
    --hr-orange-60: #fdbc67;
    --hr-orange-70: #fece8f;
    --hr-orange-80: #fee0b7;
    --hr-orange-90: #ffeed7;
    --hr-orange-95: #fff7eb;
    --hr-orange-98: #fffcf7;

    /* Tan */
    --hr-tan-10: #201a13;
    --hr-tan-20: #3f3427;
    --hr-tan-30: #5f4e3a;
    --hr-tan-40: #856e52;
    --hr-tan-50: #a4846b;
    --hr-tan-60: #b19b81;
    --hr-tan-70: #c5b4a0;
    --hr-tan-80: #d8cdc0;
    --hr-tan-90: #ece6df;
    --hr-tan-95: #f5f3ef;
    --hr-tan-98: #fbfaf9;

    /* River */
    --hr-river-10: #101d23;
    --hr-river-20: #1f3a47;
    --hr-river-30: #2f576a;
    --hr-river-40: #3e748e;
    --hr-river-50: #4e91b1;
    --hr-river-60: #71a7c1;
    --hr-river-70: #95bdd0;
    --hr-river-80: #b8d3e0;
    --hr-river-90: #dce9ef;
    --hr-river-95: #edf4f7;
    --hr-river-98: #f8fbfc;

    /* Lilac */
    --hr-lilac-10: #161f1e;
    --hr-lilac-20: #2c2a3c;
    --hr-lilac-30: #423e5b;
    --hr-lilac-40: #585379;
    --hr-lilac-50: #6e6897;
    --hr-lilac-60: #8b86ac;
    --hr-lilac-70: #a8a4c1;
    --hr-lilac-80: #c5c3d5;
    --hr-lilac-90: #e2e1ea;
    --hr-lilac-95: #f0f0f5;
    --hr-lilac-98: #f9f9fb;

    /* Purple */
    --hr-purple-10: #150a29;
    --hr-purple-20: #291551;
    --hr-purple-30: #3e1f7a;
    --hr-purple-40: #522aa2;
    --hr-purple-50: #673acb;
    --hr-purple-60: #855dd5;
    --hr-purple-70: #a485e0;
    --hr-purple-80: #c2aeea;
    --hr-purple-90: #e1d6f5;
    --hr-purple-95: #f0ebfa;
    --hr-purple-98: #f9f7fd;

    /* Teal */
    --hr-teal-10: #0a2629;
    --hr-teal-20: #134b53;
    --hr-teal-30: #1d717c;
    --hr-teal-40: #2696a6;
    --hr-teal-50: #30bccf;
    --hr-teal-60: #59c9d9;
    --hr-teal-70: #83d7e2;
    --hr-teal-80: #ace4ec;
    --hr-teal-90: #d6f2f5;
    --hr-teal-95: #eaf8fa;
    --hr-teal-98: #f7fcfd;

    /* Peach */
    --hr-peach-10: #2e0605;
    --hr-peach-20: #5c0d0a;
    --hr-peach-30: #8a130f;
    --hr-peach-40: #b81a14;
    --hr-peach-50: #e5201a;
    --hr-peach-60: #ec5651;
    --hr-peach-70: #f07975;
    --hr-peach-80: #f5a6a3;
    --hr-peach-90: #fad2d1;
    --hr-peach-95: #fce9e8;
    --hr-peach-98: #fef6f6;

    /* Pink */
    --hr-pink-10: #2e051f;
    --hr-pink-20: #5c0a3f;
    --hr-pink-30: #8a0f5e;
    --hr-pink-40: #b8147d;
    --hr-pink-50: #e51a9d;
    --hr-pink-60: #eb47b0;
    --hr-pink-70: #f075c4;
    --hr-pink-80: #f5a3d8;
    --hr-pink-90: #fad1eb;
    --hr-pink-95: #fce8f5;
    --hr-pink-98: #fef6fb;

}
