/**
 * 공통
 */
nav { background: linear-gradient(177deg, #c7ac65 -3%, #d58d39 26%, #d19f55 54%, #e9b401 78%, #ffdf81 100%)!important;}



nav > .sub_menu { background-color: #2d2d2d;}
nav .sub_menu .sub_menu_header { border-bottom-color: #202020; }
nav .sub_menu .sub_menu_header::after { background-color: #373737; }
nav .sub_menu a { color: #bbb; }
nav .sub_menu .sub_menu_body li > a::before { color: #777; }
nav .sub_menu .sub_menu_body li > a::after { background-color: #555; }
nav .sub_menu .sub_menu_body li > a span { background-color: #2d2d2d; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #c7ac65; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #555; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #2d2d2d; }

/* button */
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .btn-wrap button{background-color:#4c442f!important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .unit{color:#4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap button{background-color: #4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .title{color:#4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{color:#4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey{background-color: #4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .round i{color: #004581!important;}
.ess-content .ess-widget .widget.big .desc .btn-wrap button{background-color: #4c442f!important;}
.btn.filled, .sheet_main .sheet_title a.basic.filled, .m-signature-pad--footer a.button, .sheet_title a.button {border:1px solid #c7ac65 !important; background-color: #c7ac65 !important; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{background-color: #c7ac65 !important;}

.btn.soft {border: 1px solid #e3d8b1!important; background-color: #e3d8b1!important; color: #6b5a32!important; }


/**
 * 메인
 */
/* ess-main common */
.ess-body .ess-wrap.bg-color {background-image: linear-gradient(124deg, #ffffff 4%, #fff6da 28%, #ffe5c8 51%, #ffe7c5 68%, #ffe7c4 86%)!important;}
/* ess-main ceo */
.ess-main .ess-wrap.bg-color {background-image: linear-gradient(123deg, rgba(247,247,250, 0.4) 4%, rgba(223,214,196, 0.4) 12%, rgba(245,206,150, 0.4) 52%, rgba(226,184,122, 0.4) 85%);!important;}

.main_content .swiper-pagination-bullet-active .area { background-color: #c7ac65; }


/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #c7ac65;}

/**
 * 인사 정보
 */
 div#area_employee_header.header_table .primary_info, div#area_employee_header.header_table .detail_info { background-color: #4C442F !important; }
 div#area_employee_header.header_table .primary_info .profile_box .profile_summary .sabun { color: #c3d1e5 !important; }
 div#area_employee_header.header_table .primary_info ul li.emp_name { background-color: #312A18 !important; }
 div#area_employee_header.header_table .primary_info ul li.emp_name i { color: #9e9794 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list { border-left: 2px dotted #8A7E5F !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt { color: #AAA28E !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt:before { color: #c7ac65 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-track { background-color: #4d3f39 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-thumb { background-color: #7b716d !important; }

 /* ess Main */
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .title.big{color:#4c442f!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{background-color: #c7ac65 !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .label{color:#4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.big.event{background-color: rgba(209,182,142, 0.16) !important;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap .progress .bar{background-color: #c7ac65 !important;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on {background-color:#c7ac65 !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{color: #c7ac65 !important;}
.ess-content .ess-widget .widget-info .approval-cnt .cnt{color: #4c442f!important;}
.ess-content .ess-widget .widget-info .approval-cnt .label{color: #69655b!important;}
.ess-content .ess-widget .title-wrap .more{color:#69655b!important;}
.ess-content .ess-widget .widget.big .desc .title{color: #69655b!important;}
.ess-content .ess-widget .widget.big .desc .title .cnt{color: #c7ac65 !important;}

/* ess Main CEO */
.ess-content .ess-widget .widget-favorit .widget .header .title{color: #4c442f!important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .header .title{color: #ffffff!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{color: #c7ac65 !important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .label{color:#69655b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .label,
.ess-content .ess-widget .widget-favorit .widget.work .work-time .time-label,
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info{color:#69655b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{color: #c7ac65 !important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title{color: #ffffff !important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color: #ffffff !important;}

/* ess Main CEO personal widget */
.ess-content .ess-personal .search-box .msg-wrap i,
.ess-content .ess-personal .search-box .msg-wrap .msg{color:#4c442f !important;}
.ess-content .ess-personal .welcome-msg .avatar-wrap{border:1px solid #e7e1d5 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #69655b !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #c7ac65 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #4c442f!important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #4c442f!important;}

.ess-content .ess-personal .widget-wrapper .widget.black{background-image: linear-gradient(116deg, #e8cd83 8%, #ce9c52 32%, #c3751b 71%, #945a17 92%)!important;}
.ess-content .ess-personal .widget-wrapper .widget .header button i{color: #ffffff!important;}
.ess-content .ess-personal .widget-wrapper .widget.theme{background-image: linear-gradient(293deg, #f25639 9%, #f7902d 42%, #fbb725 90%)!important;}

/* ess Main CEO widget bg theme style */
.ess-wrap.bg-top-theme::before{background-image: linear-gradient(102deg, #c7ac65 6%, #d58d39 27%, #d19f55 47%, #e9b401 65%, #ffdf81 82%)!important;}
.ess-dashboard .bg-theme{background-color: rgba(209,182,142, 0.16)!important;}

/* ess Main CEO widget chart */
.ess-dashboard .widget.chart-wrap .widget.chart-box .desc{color: #645b5b!important;}

/* ess Main CEO widget info */
.ess-dashboard .widget.info .icon-wrap{background-color: #efeade!important;}
.ess-dashboard .widget.info .icon-wrap .mdi-ico{color: #4c442f!important;}
.ess-dashboard .widget.info .label{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt{color: #473737!important;}
.ess-dashboard .widget.info .cnt-wrap .unit{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt.point-color{color: #c7ac65!important;}

.ess-dashboard .widget.small1 .inner-wrap .label{color: #4c442f!important;}
.ess-dashboard .widget.small1 .inner-wrap .cnt{color: #c7ac65!important;}
.ess-dashboard .widget.small1 .inner-wrap .desc{color: #4c442f!important;}

/* ess Main CEO common  style */
/* ess Main CEO wiget title */
.ess-body .widget-title{color: #4c442f!important;}
.ess-body .widget-title .cnt{color: #c7ac65!important;}
.ess-body .widget-title .unit{color: #4c442f!important;}


/* ess Main CEO wiget tab */
.ess-body .tab-wrap{background-color: rgba(188,161,121, 0.16)!important;}
.ess-body .widget-tab{color: #4c442f!important;}
.ess-body .widget-tab.on{background-color: #c7ac65!important; color: #ffffff!important;}

/* ess Main CEO wiget paging indicator */
.ess-dashboard .indicator-wrap .indicator.on{color: #c7ac65!important;}

/* ess Main CEO sideBar widget */
.ess-memList{box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.32)!important;}

/* ess Main CEO notice-list */
.ess-dashboard .notice-list li .title{color: #473737!important;}
.ess-dashboard .notice-list li .date{color: #69655b;}

.ess-body .widget-title .point-color{color: #c7ac65!important;}
.ess-dashboard .annual-cnt{background-color: #ffedd9!important;}
.ess-dashboard .annual-cnt .cnt.point-color{color: #c7ac65!important;}
.ess-body .member-item .name{color: #4c442f;}
.ess-body .member-item .position{color: #69655b;}
.ess-body .member-item .cnt{color: #c7ac65!important;}

/* manager 버전의 경우 mgr prefix */
body.ess-main.mgr nav .home{background-image: linear-gradient(144deg, #c7ac65 1%, #d58d39 26%, #d19f55 51%, #e9b401 72%, #ffdf81 92%)!important;}
body.ess-main.mgr nav .nav-list li .mdi-ico{color: #d1cabf;}
body.ess-main.mgr nav .nav-list li span{color:#d1cabf;}
body.ess-main.mgr nav .nav-list li a:hover .mdi-ico{color: #D58D39 !important;}
body.ess-main.mgr nav .nav-list li a:hover span {color: #D58D39 !important;}

.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme{background: rgba(176,94,0, 0.36)!important;}
.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme2{background: rgba(117,63,0, 0.36)!important;}

.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #ffffff!important;}

.ess-main.mgr .ess-dashboard .approval-list li{border: solid 1px #f4e3ce; background-color: #ffedd9;}
.ess-main.mgr .ess-dashboard .approval-list li .status.end{background-color: #c7ac65;}
.ess-main.mgr .ess-dashboard .approval-list li .title{color: #4c442f;}
.ess-main.mgr .ess-dashboard .approval-list li .name, .ess-dashboard .approval-list li .date{color:#69655b;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap{background-color: #ffffff!important; border-color: #e7e1d5!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:first-child .widget.chart-box{border: solid 1px #f1ebdd !important; background-image: linear-gradient(to bottom, #fffefa, #fef5dc)!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:nth-child(2) .widget.chart-box{border: solid 1px #f4e3ce !important; background-image: linear-gradient(to bottom, var(--white), #fff4e8) !important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:last-child .widget.chart-box{border: solid 1px #f0e9de!important; background-image: linear-gradient(to bottom, var(--white), #fff6ea)!important;}

.ess-main.mgr .ess-memList{border-color: #e7e1d5!important;}
.ess-main.mgr .ess-memList .team-list-wrap{border: solid 1px #f1ebdd; background-color:rgba(199, 172, 101, 0.1);}
.ess-memList .team-list-wrap .cnt{color: #c7ac65!important;}

/* ess Main CEO memList */
.ess-memList .team-list-wrap {border: 1px solid #b39855 !important; background-color: #f2e6c2 !important;}
.ess-memList .team-list-wrap .team {color: #8e7a45 !important;}
.ess-memList .team-list-wrap .cnt {color: #a5894d !important;}
.ess-memList .team-list-wrap .unit {color: #75683b !important;}

/* 패키지개선 */
.sub_top .tab_group2 { background-color: #E4E2DD !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }