/**
 * 공통
 */
nav { background: #1dbc52 !important; }



nav > .sub_menu { background-color: #2d2d2d; }
nav .sub_menu .sub_menu_header { border-bottom-color: #202020; }
nav .sub_menu .sub_menu_header::after { background-color: #373737; }
nav .sub_menu a { color: #bbb; }
nav .sub_menu .sub_menu_body li > a::before { color: #777; }
nav .sub_menu .sub_menu_body li > a::after { background-color: #555; }
nav .sub_menu .sub_menu_body li > a span { background-color: #2d2d2d; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #1dbc52; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #555; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #2d2d2d; }

/* button */
.btn.filled, .sheet_main .sheet_title a.basic.filled, .m-signature-pad--footer a.button, .sheet_title a.button { border:1px solid #1dbc52 !important; background-color: #1dbc52 !important; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{background-color: #1dbc52!important;}

.btn.soft {border: 1px solid #cbeecd!important; background-color: #cbeecd!important; color: #1b4523!important; }

/**
 * 메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #1dbc52; }

/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #1dbc52;}


 /* ess Main */
.ess-wrap.bg-color {background-image: linear-gradient(124deg, #ffffff 4%, #daf2e1 28%, #fff1de 52%, #abe5bf 86%)!important;}
.ess-content .ess-widget .widget-favorit .widget.big.event{background-color: rgba(124,159,192, 0.16) !important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{background-color: #1dbc52 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{color: #465166 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap .progress .bar{background-color: #465166 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{color: #465166 !important;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on {background-color:#1dbc52 !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{color: #1dbc52 !important;}
.ess-content .ess-widget .widget-info .approval-cnt .cnt{color: #515151!important;}
.ess-content .ess-widget .widget.big .desc .title .cnt{color: #1dbc52 !important;}

/* ess Main CEO */
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{color: #1dbc52 !important}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color: #ffffff !important;}

/* ess Main CEO personal widget */
.ess-content .ess-personal .welcome-msg .avatar-wrap{border:1px solid #d6e5e5 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #6b6b6b !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #1dbc52 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #515151!important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #515151!important;}

.ess-content .ess-personal .widget-wrapper .widget.black{background-image: linear-gradient(116deg, #1dbc52 8%, #169746 32%, #11793b 71%, #0b5b2d 92%) !important;}
.ess-content .ess-personal .widget-wrapper .widget .header button i{color: #ffffff!important;}
.ess-content .ess-personal .widget-wrapper .widget.theme{background-image: linear-gradient(293deg, #f25639 9%, #f7902d 42%, #fbb725 90%)!important;}

/* ess Main CEO widget bg theme style */
.ess-wrap.bg-top-theme::before{background-image: linear-gradient(102deg, #ffaf23 6%, #2cc9d3 34%, #23b1d0 50%, #079bfd 65%, #289bd7 82%)!important;}
.ess-dashboard .bg-theme{background-color: rgba(166,193,219, 0.16)!important;}

/* ess Main CEO widget chart */
.ess-dashboard .widget.chart-wrap .widget.chart-box .desc{color: #645b5b!important;}

/* ess Main CEO widget info */
.ess-dashboard .widget.info .icon-wrap{background-color: #e4f3ff!important;}
.ess-dashboard .widget.info .icon-wrap .mdi-ico{color: #515151!important;}
.ess-dashboard .widget.info .label{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt{color: #473737!important;}
.ess-dashboard .widget.info .cnt-wrap .unit{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt.point-color{color: #1dbc52!important;}

.ess-dashboard .widget.small1 .inner-wrap .label{color: #515151!important;}
.ess-dashboard .widget.small1 .inner-wrap .cnt{color: #1dbc52!important;}
.ess-dashboard .widget.small1 .inner-wrap .desc{color: #515151!important;}

/* ess Main CEO common  style */
/* ess Main CEO wiget title */
.ess-body .widget-title{color: #515151!important;}
.ess-body .widget-title .cnt{color: #048af0!important;}
.ess-body .widget-title .unit{color: #515151!important;}


/* ess Main CEO wiget tab */
.ess-body .tab-wrap{background-color: rgba(166,193,219, 0.16)!important;}
.ess-body .widget-tab{color: #515151!important;}
.ess-body .widget-tab.on{background-color: #1dbc52!important; color: #ffffff!important;}

/* ess Main CEO wiget paging indicator */
.ess-dashboard .indicator-wrap .indicator.on{color: #007eec!important;}

/* ess Main CEO sideBar widget */
.ess-memList{box-shadow: 0 0 6px 0 rgba(84, 84, 84, 0.16)!important;}

/* ess Main CEO notice-list */
.ess-dashboard .notice-list li .title{color: #473737!important;}

.ess-body .widget-title .point-color{color: #048af0!important;}
.ess-dashboard .annual-cnt .cnt.point-color{color: #048af0!important;}
.ess-body .member-item .cnt{color: #0777d9!important;}

/* manager 버전의 경우 mgr prefix */
body.ess-main.mgr nav .home{background-image: linear-gradient(137deg, #ffaf23 13%, #80bf8d 41%, #2cc9d3 67%, #289bd7 92%)!important;}
body.ess-main.mgr nav .nav-list li a:hover .mdi-ico{color: #007eec!important;}
body.ess-main.mgr nav .nav-list li a:hover span {color: #007eec!important;}

.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme{background: rgba(25,138,150, 0.36)!important;}
.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme2{background: rgba(24,102,153, 0.34)!important;}

.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #ffffff!important;}

.ess-main.mgr .ess-dashboard .widget.chart-wrap{background-color: #ffffff!important; border-color: #b8dbe4!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:first-child .widget.chart-box{border: solid 1px #c8d9ff !important; background-image: linear-gradient(to bottom, rgba(212, 235, 255, 0.1), rgba(7, 119, 217, 0.1))!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:nth-child(2) .widget.chart-box{border: solid 1px #ffe5c6 !important; background-image: linear-gradient(to bottom, rgba(255, 243, 230, 0.2), rgba(255, 206, 150, 0.2)) !important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:last-child .widget.chart-box{border: solid 1px #e2daff!important; background-image: linear-gradient(to bottom, rgba(254, 254, 255, 0.2), rgba(181, 193, 255, 0.2))!important;}

.ess-main.mgr .ess-memList{border-color: #b8dbe4!important;}

/* ess Main CEO memList */
.ess-memList .team-list-wrap {border: 1px solid #1aa847 !important;background-color: #e2f9e7 !important;}
.ess-memList .team-list-wrap .team {color: #138a3b !important;}
.ess-memList .team-list-wrap .cnt {color: #17c960 !important;}
.ess-memList .team-list-wrap .unit {color: #0f6b2f !important;}

/* 패키지개선 */
.sub_top .tab_group2 { background-color: #DDE4DF !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }