/**
 * 공통
 */
nav { background-color: #1dbc52 !important; }



nav > .sub_menu { background-color: #2d2d2d; }
nav .sub_menu .sub_menu_header { border-bottom-color: #202020; }
nav .sub_menu .sub_menu_header::after { background-color: #373737; }
nav .sub_menu a { color: #bbb; }
nav .sub_menu .sub_menu_body li > a::before { color: #777; }
nav .sub_menu .sub_menu_body li > a::after { background-color: #555; }
nav .sub_menu .sub_menu_body li > a span { background-color: #2d2d2d; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #1dbc52; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #555; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #2d2d2d; }

/* button */
.btn.filled, .sheet_main .sheet_title a.basic.filled, .m-signature-pad--footer a.button, .sheet_title a.button { border:1px solid #1dbc52 !important; background-color: #1dbc52 !important; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{ background-color: #1dbc52 !important;}

.btn.soft {border: 1px solid #cbeecd!important; background-color: #cbeecd!important; color: #1b4523!important; }


/**
 * 메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #1dbc52; }

/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #1dbc52;}

