/**
 * 공통
 */
nav { background: #243078 !important; }
nav .menu_item a:hover .item_area { background-color: #162060; }


nav > .sub_menu { background-color: #0e122c; }
nav .sub_menu .sub_menu_header { border-bottom-color: #080c23; }
nav .sub_menu .sub_menu_header::after { background-color: #1a2043; }
/* nav .sub_menu a { color: #bbb; } */

/* nav .sub_menu .sub_menu_body li > a::before { color: #2570f9; } */
/* nav .sub_menu .sub_menu_body li > a::after { background-color: #555; } */
/* nav .sub_menu .sub_menu_body li.open > a::before { color: #6d778e; } */
nav .sub_menu .sub_menu_body li > a span { background-color: #0e122c; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgb(132 132 132 / 30%); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: rgb(132 132 132 / 30%); }
/* nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #555; } */
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #0e122c; }

/* button */
.btn.filled, 
.sheet_main .sheet_title a.basic.filled, 
.m-signature-pad--footer a.button, 
.sheet_title a.button { border:1px solid #243078 !important; background-color: #243078 !important; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{background-color: #243078 !important;}

.btn.soft {border: 1px solid #c1bfd8!important; background-color: #c1bfd8!important; color: #16172f!important; }

/**
 * 메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #243078; }

/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #243078;}

.ess-body .widget-tab.on{background-color: #243078!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt.point-color{color: #243078!important;}
.ess-dashboard .widget.small1 .inner-wrap .cnt{color: #243078!important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #243078!important;}


.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{color: #243078!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{background-color: #243078!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color:#ffffff !important;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on{background-color: #243078!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{color: #243078!important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{color: #243078!important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{color: #243078!important;}
.ess-content .ess-widget .widget.big .desc .title .cnt{color: #243078!important;}

/* 패키지개선 */
.sub_top .tab_group2 { background-color: #DDDDE4 !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }