/**
  공통
 */
/* nav { background: #ff7a39 !important; } */


/* nav > .sub_menu { background-color: #2d2d2d;} */
nav .sub_menu .sub_menu_header { border-bottom-color: #202020; }
/* nav .sub_menu .sub_menu_header::after { background-color: #373737; } */
nav .sub_menu a { color: #bbb; }
/* nav .sub_menu .sub_menu_body li > a::before { color: #777; } */
nav .sub_menu .sub_menu_body li > a::after { background-color: #555; }
/* nav .sub_menu .sub_menu_body li > a span { background-color: #2d2d2d; } */
nav .sub_menu .sub_menu_body li.open > a::before { color: #ff7a39; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: rgb(255 255 255 / 0.3); }
/* nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #555; } */
/* nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #2d2d2d; } */
.sub_menu_body { color: #FFC6B1 !important; }


/* 패키지개선 update */
nav { background: #FF662E !important; }
nav > .sub_menu { background-color: #fcf9f8; }
nav .main_menu .menu_item .item_area { color: #FFDFD3; }
nav .main_menu .menu_item.on { background-color: #FCF9F8; }
.main_menu_on nav .main_menu .menu_item .item_area { color: #FFC6B1; }
.main_menu_on nav .main_menu .menu_item.on .item_area, .main_menu_on nav .main_menu .menu_item.on .item_area:hover { color: #FF662E; }
nav .sub_menu a { color: #DF5928; }
nav .sub_menu a:hover { color: #DF5928; }
nav .sub_menu .sub_menu_header a i { color: #9F401D; }
nav .sub_menu .sub_menu_body li > a::before { color: #9F401D; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #9F401D; }
nav .sub_menu .sub_menu_body li dl dt.sub_menu a::before { color: #9F401D; }
nav .sub_menu .sub_menu_body li > a span { background-color: #fcf9f8; color: #9F401D; }
nav .sub_menu .sub_menu_body li dl a.open { color: #9F401D; }
nav .sub_menu .sub_menu_body li dl a.open, nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgba(159, 64, 29, 0.15) }
nav .sub_menu .sub_menu_header a.all.open { background-color: #FFC6B1; border-radius: 8px; }
nav .sub_menu .sub_menu_header::after { background-color: #FFC6B1; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #FFC6B1; }
nav .main_menu_wrap .open_close_btn i { color: #FFC6B1; }


/* button */
.btn.filled, .sheet_main .sheet_title a.basic.filled, .m-signature-pad--footer a.button, .sheet_title a.button {border: 1px solid #ff7a39 !important; background-color: #ff7a39 !important; }
.ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap button{background-color:#925c5c !important;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .btn-wrap button{background-color:#925c5c !important;}
.ess-content .ess-widget .widget.big .desc .btn-wrap button{background-color:#925c5c !important;}
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{background-color: #ff7a39 !important;}

.btn.soft {border: 1px solid #ffdac4!important; background-color: #ffdac4!important; color: #5a301b!important; }

/**
  메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #ff7a39; }

/**
  프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #ff7a39;}

/**
  인사 정보
 */
 div#area_employee_header.header_table .primary_info, div#area_employee_header.header_table .detail_info { background-color: #4d3f39 !important; }
 div#area_employee_header.header_table .primary_info .profile_box .profile_summary .sabun { color: #c39984 !important; }
 div#area_employee_header.header_table .primary_info ul li.emp_name { background-color: #3c2f28 !important; }
 div#area_employee_header.header_table .primary_info ul li.emp_name i { color: #9e9794 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list { border-left: 2px dotted #777 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt { color: #c39984 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt:before { color: #ff7a39 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-track { background-color: #4d3f39 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-thumb { background-color: #7b716d !important; }
 
 
 /* ess Main */
.ess-wrap.bg-color {background: linear-gradient(123deg, rgba(255,252,237,0.09) 4%, rgba(213,49,46, 0.09) 28%, rgba(255,193,180, 0.09) 52%, rgba(252,126,123, 0.09) 85%)!important;}
.ess-wrap.bg-color.common {background: linear-gradient(124deg, rgba(255,255,255) 4%, #ffdad0 28%, #ffe7b4 52%, #facfc7 86%)!important;}
.ess-content .ess-widget .widget-favorit .widget .header{color:#473737 !important;}
.ess-content .ess-widget .widget-favorit .widget .header .title{color:#473737!important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey{background-color: #925c5c !important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .header .title{color: #ffffff!important;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .title{color:#473737!important;}
.ess-content .ess-widget .widget-favorit .widget.big.event{background-color: rgba(197, 129, 129, 0.14) !important;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on {background-color:#925c5c !important;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap .progress .bar{background-color: #ff7a39 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .label{color:#645b5b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{color:#ff7a39 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .time-label{color:#93969c !important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info{color: #645b5b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{color:#473737 !important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .label{color:#515c71!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .pointer{color:#473737!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .unit{color:#515c71!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{background-color: #925c5c !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .label{color:#645b5b !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{color: #925c5c !important;}
.ess-content .ess-widget .widget-info .approval-cnt .label{color: #645b5b !important;}
.ess-content .ess-widget .widget-info .approval-cnt .cnt{color: #473737 !important;}
.ess-content .ess-widget .widget.big .desc .title{color: #645b5b !important;}
.ess-content .ess-widget .widget.big .desc .title .cnt{color: #ff7a39 !important;}

/* ess Main CEO */
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{color: #473737 !important}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color: #ffffff !important;}

/* ess Main CEO personal widget */
.ess-content .ess-personal .welcome-msg .avatar-wrap{border:1px solid #f7d8d4 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #645b5b !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #925c5c !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #473737!important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #473737!important;}

.ess-content .ess-personal .widget-wrapper .widget.black{background-image: linear-gradient(118deg, #998b8b 15%, #8e7d7d 32%, #775c5c 59%, #524545 84%)!important;}
.ess-content .ess-personal .widget-wrapper .widget .header button i{color: #ffffff!important;}
.ess-content .ess-personal .widget-wrapper .widget.theme{background-image: linear-gradient(293deg, #f25639 9%, #f7902d 42%, #fbb725 90%)!important;}

/* ess Main CEO widget bg theme style */
.ess-wrap.bg-top-theme::before{background-image: linear-gradient(102deg, #e89c7b 6%, #ff8a5a 28%, #ff7a39 50%, #e66a2f 82%)!important;}
.ess-dashboard .bg-theme{background-color: rgba(251,199,192,0.22)!important;}

/* ess Main CEO widget chart */
.ess-dashboard .widget.chart-wrap .chart-desc{color: #645b5b!important;}

/* ess Main CEO widget info */
.ess-dashboard .widget.info .icon-wrap{background-color: #fcd7d2!important;}
.ess-dashboard .widget.info .icon-wrap .mdi-ico{color: #473737!important;}
.ess-dashboard .widget.info .label{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt{color: #473737!important;}
.ess-dashboard .widget.info .cnt-wrap .unit{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt.point-color{color: #ff7a39!important;}

.ess-dashboard .widget.small1 .inner-wrap .label{color: #645b5b!important;}
.ess-dashboard .widget.small1 .inner-wrap .cnt{color: #ff7a39!important;}
.ess-dashboard .widget.small1 .inner-wrap .desc{color: #645b5b!important;}

/* ess Main CEO common  style */
/* ess Main CEO wiget title */
.ess-body .widget-title{color: #645b5b !important;}
.ess-body .widget-title .cnt{color: #925c5c!important;}
.ess-body .widget-title .unit{color: #473737!important;}


/* ess Main CEO wiget tab */
.ess-body .tab-wrap{background-color: rgba(251,199,192, 0.22)!important;}
.ess-body .widget-tab{color: #ff7a39!important;}
.ess-body .widget-tab.on{background-color: #ff7a39!important; color:#ffffff!important;}

/* ess Main CEO wiget paging indicator */
.ess-dashboard .indicator-wrap .indicator.on{color: #f14d3b!important;}

/* ess Main CEO sideBar widget */
.ess-memList{box-shadow: 0 0 6px 0 rgba(84, 84, 84, 0.16)!important;}

/* ess Main CEO notice-list */
.ess-dashboard .notice-list li .title{color: #473737!important;}

.ess-body .widget-title .point-color{color: #925c5c!important;}
.ess-dashboard .annual-cnt .cnt.point-color{color: #925c5c!important;}
.ess-body .member-item .cnt{color: #925c5c!important;}

/* manager 버전의 경우 mgr prefix */
body.ess-main.mgr nav .home{background-image: linear-gradient(to bottom, #f25639, #f36436 29%, #f7902d 59%, #fbb725)!important;}
body.ess-main.mgr nav .nav-list li .mdi-ico{color: #a79696!important;}
body.ess-main.mgr nav .nav-list li a span{color: #a79696!important;}
body.ess-main.mgr nav .nav-list li a:hover .mdi-ico{color: #a3232c!important;}
body.ess-main.mgr nav .nav-list li a:hover span {color: #a3232c!important;}

.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme{background: rgba(255, 122, 57, 0.36)!important;}
.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme2{background: rgba(255, 122, 57, 0.34)!important;}

.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #ffffff!important;}

.ess-main.mgr .ess-dashboard .approval-list li{border: solid 0.083rem #ffcbad!important; background-color: #ffeee4!important;}
.ess-main.mgr .ess-dashboard .approval-list li .status.end{background-color: #a3232c!important;}
.ess-main.mgr .ess-dashboard .annual-cnt{background-color: #fff3e5;}

.ess-main.mgr .ess-dashboard .widget.chart-wrap{background-color: #ffffff!important; border-color: #f2ccc0!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:first-child .widget.chart-box{border: solid 1px #ffc3bb !important; background-image: linear-gradient(to bottom, rgba(255, 227, 224, 0.2), rgba(255, 218, 214, 0.45))!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:nth-child(2) .widget.chart-box{border: solid 1px #ffe5c6 !important; background-image: linear-gradient(to bottom, rgba(255, 244, 214, 0.2), rgba(249, 230, 189, 0.5))!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:last-child .widget.chart-box{border: solid 1px #ecd2d4!important; background-image: linear-gradient(to bottom, #fffdfd, #fceced)!important;}
.ess-main.mgr .ess-memList{border:0.083rem solid #f2ccc0!important;}

/* ess Main CEO  memList */
.ess-memList .team-list-wrap{border: 1px solid #efc799!important;background-color: #fff3e5!important;}
.ess-memList .team-list-wrap .team{color: #424242!important;}
.ess-memList .team-list-wrap .cnt{color: #925c5c!important;}
.ess-memList .team-list-wrap .unit{color: #645b5b !important;}


nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #FFEEE8 !important; }
.sub_top .tab_group2 { background-color: #E4DFDD !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }

/* 패키지 개선 */
.ux_wrapper .header.color .name .txt_title_xs_sb { color: #602611; }
.ux_wrapper .header.color .name > span > span:not(.chip) { color: #9F401D; }
.ux_wrapper .header.card.color { background: #FFEEE8; }
.ux_wrapper .header.card.open.color .top { border-color: #FFDFD3;  } 
.ux_wrapper .header.card.color .label_text_group .txt_secondary { color: #9F401D !important; }
.ux_wrapper .header.card.color .label_text_group .sb { color: #602611 !important; }

.hr_top_bg .bg-fill { fill: #ffdfd3; }
.hr_top_bg .shape-fill-1 { fill: #ffa685; }
.hr_top_bg .shape-fill-2 { fill: #9f401d; }
.hr_top_bg .shape-fill-3 { fill: #ff662e; }