/**
 * 공통
 */
nav {background: linear-gradient(to bottom, #87817f, #9b4730 29%, #ff978d 59%, #d12b1b)!important; }



nav > .sub_menu { background-color: #2d2d2d;}
nav .sub_menu .sub_menu_header { border-bottom-color: #202020; }
nav .sub_menu .sub_menu_header::after { background-color: #373737; }
nav .sub_menu a { color: #bbb; }
nav .sub_menu .sub_menu_body li > a::before { color: #777; }
nav .sub_menu .sub_menu_body li > a::after { background-color: #555; }
nav .sub_menu .sub_menu_body li > a span { background-color: #2d2d2d; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #d12b1b; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: rgb(255 255 255 / 0.3); }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #555; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #2d2d2d; }

body.ess-main nav .nav-list li .mdi-ico{ color: rgba(255,255,255,1)!important;}
body.ess-main nav .nav-list li span{color: rgba(255,255,255,1)!important;}

/* button */
.btn.filled, .sheet_main .sheet_title a.basic.filled, .m-signature-pad--footer a.button, .sheet_title a.button { border:1px solid #d12b1b !important; background-color: #d12b1b !important; }
.ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap button{background-color: #925650 !important;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .btn-wrap button{background-color: #925650 !important;}
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{border:1px solid #d12b1b !important; background-color: #d12b1b !important;}

.btn.soft {border: 1px solid #ffd2d2!important; background-color: #ffd2d2!important; color: #b23a3a!important; }


/**
 * 메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #d12b1b; }

/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #d12b1b;}

/**
 * 인사 정보
 */
 div#area_employee_header.header_table .primary_info, div#area_employee_header.header_table .detail_info { background-color: #4d3f39 !important; }
 div#area_employee_header.header_table .primary_info .profile_box .profile_summary .sabun { color: #c39984 !important; }
 div#area_employee_header.header_table .primary_info ul li.emp_name { background-color: #3c2f28 !important; }
 div#area_employee_header.header_table .primary_info ul li.emp_name i { color: #9e9794 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list { border-left: 2px dotted #777 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt { color: #c39984 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt:before { color: #d12b1b !important; }
 div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-track { background-color: #4d3f39 !important; }
 div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-thumb { background-color: #7b716d !important; }

/* ess Main */
.ess-wrap.bg-color {background: linear-gradient(123deg, rgba(234,234,234, 0.09) 4%, rgba(174,174,174, 0.09) 28%, rgba(209,209,209, 0.09) 52%, rgba(129,129,129, 0.09) 85%)!important;}
.ess-wrap.bg-color.common {background: linear-gradient(124deg, #ffffff 4%, #ffe9e8 28%, #ffebe6 52%, #e7e7e7 86%)!important;}
.ess-content .ess-widget .widget-favorit .widget .header{color:#473737 !important;}
.ess-content .ess-widget .widget-favorit .widget .header .title{color:#231815!important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey{background-color: #925650 !important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .round i{color:#925650!important;}
.ess-content .ess-widget .widget-favorit .widget.bg-grey .header .title{color: #ffffff!important;}
.ess-content .ess-widget .widget-favorit .widget.with-btn .title{color:#473737!important;}
.ess-content .ess-widget .widget-favorit .widget.big.event{background-color: rgba(182,169,169, 0.14) !important;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on {background-color:#925650 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .progress-wrap .progress .bar{background-color: #d12b1b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .label{color:#645b5b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{color:#473737 !important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .time-label{color:#93969c !important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info{color: #645b5b !important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{color:#473737 !important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .label{color:#515c71!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .pointer{color:#473737!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .unit{color:#515c71!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{background-color: #925650 !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .label{color:#575555 !important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{color: #473737 !important;}
.ess-content .ess-widget .widget-info .approval-cnt .label{color: #575555 !important;}
.ess-content .ess-widget .widget-info .approval-cnt .cnt{color: #231815 !important;}
.ess-content .ess-widget .widget.big .desc .title{color: #645b5b !important;}
.ess-content .ess-widget .widget.big .desc .title .cnt{color: #473737 !important;}
.ess-content .ess-widget .widget.big .desc .btn-wrap button{background-color: #925650!important;}

/* ess Main CEO */
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{color: #231815 !important}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .unit{color:#575555!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color: #ffffff !important;}

/* ess Main CEO personal GNB */
.ess-header .control .account_info .custom_select .select_toggle{color:#585555!important;}
.ess-header .control .session-wrap span{color:#585555!important;}
.ess-header .control .session-wrap a>i{color:#585555!important;}
.ess-header .control .btn-settings li button i{color:#585555!important;}

/* ess Main CEO personal widget */
.ess-content .ess-personal .search-box .msg-wrap i{color:#231815!important;}
.ess-content .ess-personal .search-box .msg-wrap .msg{color:#231815!important;}
.ess-content .ess-personal .search-box .search input{border:1px solid #e5e5e5!important; background-color:#ffffff!important;}
.ess-content .ess-personal .welcome-msg .avatar-wrap{border:1px solid #e7e0e0 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #575555 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #231815 !important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #231815!important;}
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #231815!important;}

.ess-content .ess-personal .widget-wrapper .widget.black{background-image: linear-gradient(119deg, #aa9d9a 14%, #8b7671 31%, #3e3937 59%, #231815 84%)!important;}
.ess-content .ess-personal .widget-wrapper .widget .header button i{color: #ffffff!important;}
.ess-content .ess-personal .widget-wrapper .widget.theme{background-image: linear-gradient(293deg, #f25639 9%, #f7902d 42%, #fbb725 90%)!important;}




/* ess Main CEO widget bg theme style */
.ess-wrap.bg-top-theme::before{background-image: linear-gradient(279deg, #d12b1b 10%, #ff978d 35%, #f6b09d 65%, #87817f 90%)!important;}
.ess-dashboard .bg-theme{background-color: rgba(214,214,214, 0.22)!important;}

/* ess Main CEO widget chart */
.ess-dashboard .widget.chart-wrap .chart-desc{color: #645b5b!important;}

/* ess Main CEO widget info */
.ess-dashboard .widget.info .icon-wrap{background-color: #ffebea!important;}
.ess-dashboard .widget.info .icon-wrap .mdi-ico{color: #231815!important;}
.ess-dashboard .widget.info .label{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt{color: #231815!important;}
.ess-dashboard .widget.info .cnt-wrap .unit{color: #645b5b!important;}
.ess-dashboard .widget.info .cnt-wrap .cnt.point-color{color: #d12b1b!important;}

.ess-dashboard .widget.small1 .inner-wrap .label{color: #231815!important;}
.ess-dashboard .widget.small1 .inner-wrap .cnt{color: #d12b1b!important;}
.ess-dashboard .widget.small1 .inner-wrap .unit{color: #231815!important;}
.ess-dashboard .widget.small1 .inner-wrap .desc{color: #231815!important;}

/* ess Main CEO common  style */
/* ess Main CEO wiget title */
.ess-body .widget-title{color: #645b5b !important;}
.ess-body .widget-title .cnt{color: #d12b1b!important;}
.ess-body .widget-title .unit{color: #575555!important;}


/* ess Main CEO wiget tab */
.ess-body .tab-wrap{background-color: rgba(217,217,217, 0.23)!important;}
.ess-body .widget-tab{color: #231815!important;}
.ess-body .widget-tab.on{background-color: #d12b1b!important; color:#ffffff!important; box-shadow: 0 0 6px 0 rgba(116, 116, 116, 0.16);}

/* ess Main CEO wiget paging indicator */
.ess-dashboard .indicator-wrap .indicator.on{color: #f14d3b!important;}

/* ess Main CEO sideBar widget */
.ess-memList{box-shadow: 0 0 6px 0 rgba(84, 84, 84, 0.16)!important;}

/* ess Main CEO notice-list */
.ess-dashboard .notice-list li .title{color: #473737!important;}

.ess-body .widget-title .point-color{color: #d12b1b!important;}
.ess-body .member-item .cnt{color: #925c5c!important;}
.ess-dashboard .approval-list li .title{color:#231815!important;}
.ess-dashboard .approval-list li .name,
.ess-dashboard .approval-list li .date{color:#575555!important;}
.ess-dashboard .annual-cnt .inner-wrap.divider::before{background:#ffe3ab!important;}
.ess-dashboard .annual-cnt .label{color:#5f5454!important;}
.ess-dashboard .annual-cnt .cnt{color:#231815!important;}
.ess-dashboard .annual-cnt .cnt.point-color{color: #d12b1b!important;}
.ess-dashboard .annual-cnt .unit{color:#5f5454!important;}

/* manager 버전의 경우 mgr prefix */
body.ess-main.mgr nav .home{background-image: linear-gradient(315deg, #d12b1b 10%, #ff978d 35%, #f6b09d 60%, #87817f 90%)!important;}
body.ess-main.mgr nav .nav-list li .mdi-ico{color: #aeaeae!important;}
body.ess-main.mgr nav .nav-list li a span{color: #aeaeae!important;}
body.ess-main.mgr nav .nav-list li a:hover .mdi-ico{color: #a3232c!important;}
body.ess-main.mgr nav .nav-list li a:hover span {color: #a3232c!important;}

.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme{background: rgba(217,101,81, 0.56)!important;}
.ess-main.mgr .ess-content .ess-personal .widget-wrapper .widget.theme2{background: rgba(168,26,13, 0.54)!important;}

.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .position{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .unit{color: #ffffff!important;}
.ess-main.mgr .ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .msg{color: #ffffff!important;}

.ess-main.mgr .ess-dashboard .approval-list li{border: solid 0.083rem #ffcbad!important; background-color: #ffeee4!important;}
.ess-main.mgr .ess-dashboard .approval-list li .status.end{background-color: #925650!important;}
.ess-main.mgr .ess-dashboard .annual-cnt{background-color: #fff7e4;}

.ess-main.mgr .ess-dashboard .widget.chart-wrap{background-color: #ffffff!important; border-color: #ffdbd3!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:first-child .widget.chart-box{border: solid 1px #ffc3bb !important; background-image: linear-gradient(to bottom, rgba(255, 227, 224, 0.2), rgba(255, 218, 214, 0.45))!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:nth-child(2) .widget.chart-box{border: solid 1px #ffe5c6 !important; background-image: linear-gradient(to bottom, rgba(255, 244, 214, 0.2), rgba(249, 230, 189, 0.5))!important;}
.ess-main.mgr .ess-dashboard .widget.chart-wrap .widget-col-4:last-child .widget.chart-box{border: solid 1px #ecd2d4!important; background-image: linear-gradient(to bottom, #fffdfd, #fceced)!important;}
.ess-main.mgr .ess-memList{border:0.083rem solid #ffdbd3!important;}

/* ess Main CEO  memList */
.ess-memList .team-list-wrap .arrow i.mdi-ico{color:#231815 !important;}
.ess-memList .team-list-wrap {border: 1px solid #ffe3ab !important;background-color: #fff7e5 !important;}
.ess-memList .team-list-wrap .team {color: #231815 !important;}
.ess-memList .team-list-wrap .cnt {color: #d12b1b !important;}
.ess-memList .team-list-wrap .unit {color: #575555 !important;}

/* 패키지개선 */
.sub_top .tab_group2 { background-color: #E4DDDD !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }
