/**
 * 공통
 */
/* main 배경화면 */
body.home{background-image: linear-gradient(to right, #adc6e7 0%, #cee0f6 53%, #f3f9ff 100%);}

nav { background-color: #fff !important; }
nav .main_menu .menu_item .item_area { color: #0089eb; }
nav .main_menu .menu_item .item_area .menu_title{color:#323232; }
.main_menu_on nav > .sub_menu { border-left: 1px solid #e3e3e3; box-shadow: 5px 0px 10px rgba(94, 94, 94, 0.1);}

nav > .sub_menu { background-color: #fff; }
nav .sub_menu .sub_menu_header { border-bottom-color: #e3e3e3; }
nav .sub_menu .sub_menu_header::after { background-color: #f8f8f8; }
nav .sub_menu .sub_menu_header a i { color: #777; }

nav .sub_menu a { color:#777; }
nav .sub_menu a:hover { color: #0089eb; }
nav .sub_menu .sub_menu_body li > a::before { color: #777; }
nav .sub_menu .sub_menu_body li > a:hover::before { color: #0089eb; }
nav .sub_menu .sub_menu_body li > a::after { background-color: #e3e3e3; }
nav .sub_menu .sub_menu_body li > a span { background-color: #fff; }
nav .sub_menu .sub_menu_body li.open > a { color: #0089eb; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #0089eb; }
nav .sub_menu .sub_menu_body li dt.sub_menu a::before { color: #777; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: #e8e8e8; }
nav .sub_menu .sub_menu_body li dl a.open { background-color: #e8e8e8; color: #0089eb;}
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #e3e3e3; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #fff; }

.main_menu_on nav .main_menu .menu_item.on .item_area, 
.main_menu_on nav .main_menu .menu_item a:hover .item_area,
.main_menu_on nav .main_menu .menu_item a:hover .item_area .menu_title { color: #0089eb; }
.main_menu_on nav .main_menu .menu_item .item_area { color: #dddddd; }
.main_menu_on nav .main_menu .menu_item .item_area .menu_title{ color: #dddddd; }
.main_menu_on nav .main_menu .menu_item.on .item_area .menu_title{ color: #0089eb; }

/* button */
.btn.filled, .sheet_main .sheet_title a.basic.filled, a.button, .m-signature-pad--footer a.button, .sheet_title a.button { border:1px solid #0089eb!important; background-color: #0089eb!important; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{background-color: #0089eb!important;}

nav .main_menu_wrap::-webkit-scrollbar-thumb { background-color: rgba(159, 159, 159, 0.2); border: none; }

.btn.soft {border: 1px solid #cce4f7!important; background-color: #cce4f7!important; color: #005a9b!important; }


/**
 * 메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #0089eb; }
/* 메인 > 위젯 > calendar today */
.today_calendar .fc-day-today >div::before{background:#0089eb!important;}
.today_calendar .fc .fc-highlight::before{border:1px solid #0089eb!important;}
.widget_title i.mdi-ico {display: flex; justify-content: center; align-items: center; width: 32px; height: 32px; margin-right: 8px;margin-bottom: 0px;border-radius: 50%;background: #0089eb;color: #ffffff;font-size: 20px;}

/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #0089eb;}

/**
 * 인사 정보
 */
/* 
div#area_employee_header.header_table .primary_info, div#area_employee_header.header_table .detail_info { background-color: #0089eb !important; }
*/

div#area_employee_header.header_table .primary_info .profile_box .profile_summary .sabun { color: #bcbaba !important; }
div#area_employee_header.header_table .primary_info ul li.emp_name { background-color: #252121 !important; }
div#area_employee_header.header_table .primary_info ul li.emp_name i { color: #929090 !important; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list { border-left: 2px dotted #777 !important; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt { color: #bcbaba !important; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt:before { color: #fff !important; }
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-track { background-color: #0089eb !important; }
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-thumb { background-color: #686868 !important; }


.ess-body .widget-tab.on{background-color: #0089eb!important;}

/* 임직원 공통 */
.ess-content .ess-personal .welcome-msg .inner-wrap .msg-wrap .name{color: #0089eb!important;}
.ess-content .ess-widget .widget-info .approval-wrap .leave-wrap .cnt{color: #0089eb!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval .desc .title .cnt{color:#ffffff!important;}
.ess-content .ess-widget .widget-info .approval-wrap .widget.approval{background-color: #0089eb!important;}
.ess-content .ess-widget .widget-favorit .widget .cnt-wrap .cnt{color: #0089eb!important;}
.ess-content .ess-widget .widget-favorit .widget.big .btn-wrap .work-btn.on{background-color: #0089eb!important;}
.ess-content .ess-widget .widget-favorit .widget.work .work-time .cnt{color: #0089eb!important;}
.ess-content .ess-widget .widget-favorit .widget.work .inout-wrap .info .time{color: #0089eb!important;}
.ess-content .ess-widget .widget.big .desc .title .cnt{color: #0089eb!important;}

/* 패키지개선 */
.sub_top .tab_group2 { background-color: #DDDFE4 !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }