@charset 'utf-8';

/* 공통 스타일  */
/*
@import url(/common/css/base.css);
@import url(/common/css/index.css);
@import url(/common/css/common.css);
@import url(/common/css/sub.css);
@import url(/common/css/popup.css);
@import url(/common/css/font-awesome.css);
@import url(/common/css/layout.css);
*/

/* main lnb */
nav { background-color: var(--primary-lnb-back) !important; }
nav > .sub_menu { background-color: var(--primary-98); } 

nav .main_menu_wrap .open_close_btn > i { color: var(--primary-lnb-icon); }
nav .main_menu .menu_item .item_area, nav .main_menu .menu_item a:hover .item_area { color: var(--primary-lnb-text-hover); }
.main_menu_on nav .main_menu .menu_item.on > a { background: var(--primary-lnb-on); }
.main_menu_on nav .main_menu .menu_item .item_area { color: var(--primary-80); }
.main_menu_on nav .main_menu .menu_item.on .item_area i { color: var(--primary-lnb-text); }
.main_menu_on nav .main_menu .menu_item.on .item_area, .main_menu_on nav .main_menu .menu_item.on:hover .item_area { color: var(--primary-lnb-text); }
.main_menu_on nav .main_menu .menu_item a:hover .item_area { color: var(--primary-lnb-text-hover); }

nav .sub_menu .sub_menu_header a i { color: var(--primary-40); }
nav .sub_menu .sub_menu_header::after { background-color: var(--primary-90); }
nav .sub_menu .sub_menu_body li > a::before { color: var(--primary-30); }
nav .sub_menu .sub_menu_body li.open > a::before { color: var(--primary-30); }
nav .sub_menu .sub_menu_body li.open > a span { font-weight: 600; }
nav .sub_menu .sub_menu_body li > a span { background-color: var(--primary-98); color: var(--primary-30); }
nav .sub_menu .sub_menu_body li dl dt.sub_menu a::before { color: var(--primary-30); }
nav .sub_menu .sub_menu_body li dl.open dt a { color: var(--primary-30); }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: #00000014; color: var(--primary-30); }
nav .sub_menu .sub_menu_body li dl a.open { background-color: #00000014; color: var(--primary-30); font-weight: 600; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: var(--primary-98); }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: var(--primary-90); }
nav .sub_menu a { color: var(--primary-40); }

/* tab */
.sub_top .tab_group2 { background: var(--primary-tab) !important; }
.sub_top .tab_group li a.ui-tabs-anchor { font-weight: 400; }
.sub_top .btn_sub_tab { height: 29px; background-image: linear-gradient(to right, rgba(194, 208, 228, 0) 3%, var(--primary-00) 41%) !important; }

/* 인사 기본 top bg */
.hr_top_bg .bg-fill {fill: var(--primary-90);}
.hr_top_bg .shape-fill-1 { fill: var(--primary-70); }
.hr_top_bg .shape-fill-2 { fill: var(--primary-30); }
.hr_top_bg .shape-fill-3 { fill: var(--primary-50); }

/* button */
/* 메인 50 색상, soft 90 색상, dark 30 색상 */
.btn.filled, .sheet_main .sheet_title a.basic.filled, .m-signature-pad--footer a.button, .sheet_title a.button { border: 1px solid var(--primary-50) !important; background-color: var(--primary-50) !important; }
.ess-content .ess-widget .widget-favorit .widget.with-btn .btn-wrap button{ background-color:var(--primary-30) !important;}
.ess-content .ess-widget .widget-info .widget-wrapper .widget.big .desc .btn-wrap button { background-color:var(--primary-30) !important;}
.ess-content .ess-widget .widget.big .desc .btn-wrap button{ background-color:var(--primary-30) !important;}
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{ background-color: var(--primary-50) !important;}

.btn.soft { border: 1px solid var(--primary-90) !important; background-color: var(--primary-90) !important; color: var(--primary-text) !important; }

.btn.outline { border: 1px solid var(--neutral-20); }
.btn.outline_gray { border: 1px solid var(--neutral-20); }
.btn.dark { border: 1px solid var(--neutral-20); background-color: var(--neutral-20); }
.sheet_title a, .sheet_title a.basic { color: var(--primary-text); }
.btns.blue-btns .btn { border: 1px solid var(--primary-50); background-color: var(--primary-50); }

/* checkbox */
.sheet_title input[type="checkbox"]:checked { border: 2px solid var(--primary-50); background: var(--primary-50); }
table.default td input[type="checkbox"]:checked, table.table td input[type="checkbox"]:checked, .sheet_search table td input[type="checkbox"]:checked { border: 1px solid var(--primary-50); background: var(--primary-50); }

/* radio */
.sheet_title b > input[type="radio"]:checked, .sheet_search input[type="radio"]:checked { border: 1px solid var(--primary-50); }
.sheet_title b > input[type="radio"]::after, .sheet_search input[type="radio"]::after { background: var(--primary-50); }

/* paginater */
.ux_wrapper .pagination .page-link.active { background-color: var(--primary-50); }

/* header */
.header .control a.setting .select_options .circle.blue { background-color: var(--hr-blue-50); }
.header .control a.setting .select_options .circle.scarlet { background-color: var(--hr-scarlet-50); }
.header .control a.setting .select_options .circle.red { background-color: var(--hr-red-50); }
.header .control a.setting .select_options .circle.green { background-color: var(--hr-green-50); }
.header .control a.setting .select_options .circle.navy { background-color: var(--hr-navy-50); }
.header .control a.setting .select_options .circle.white { background-color: #ffffff; }
