/**
 * 공통
 */
nav { background-color: #fff !important; }
nav .main_menu .menu_item .item_area { color: #555; }
.main_menu_on nav > .sub_menu { border-left: 1px solid #e3e3e3; }

nav > .sub_menu { background-color: #fff; border-right:1px solid #e3e3e3;}
nav .sub_menu .sub_menu_header { border-bottom-color: #e3e3e3; }
nav .sub_menu .sub_menu_header::after { background-color: #f8f8f8; }
nav .sub_menu .sub_menu_header a i { color: #777; }

nav .sub_menu a { color:#777; }
nav .sub_menu a:hover { color: #323232; }
nav .sub_menu .sub_menu_body li > a::before { color: #777;}
nav .sub_menu .sub_menu_body li > a::after { background-color: #e3e3e3; }
nav .sub_menu .sub_menu_body li > a span { background-color: #fff; }
nav .sub_menu .sub_menu_body li.open > a { color: #323232; }
nav .sub_menu .sub_menu_body li.open > a::before { color: #323232;}
nav .sub_menu .sub_menu_body li dt.sub_menu a::before { color: #777; }
nav .sub_menu .sub_menu_body li dl a:hover { background-color: #e8e8e8; }
nav .sub_menu .sub_menu_body li dl a.open { background-color: #e8e8e8; color:#000000;}
nav .sub_menu .sub_menu_body::-webkit-scrollbar-thumb { background-color: #e3e3e3; }
nav .sub_menu .sub_menu_body::-webkit-scrollbar-track { background-color: #fff; }

.main_menu_on nav .main_menu .menu_item.on .item_area, .main_menu_on nav .main_menu .menu_item a:hover .item_area { color: #323232; }
.main_menu_on nav .main_menu .menu_item .item_area { color: #e3e3e3; }

/* button */
a.button, .m-signature-pad--footer a.button{}
.btn.filled, .sheet_main .sheet_title a.basic.filled, .sheet_title a.button {border:1px solid #323232!important; background-color: #323232!important; }
.ui-tabs:not(.sub_top) .ui-tabs-nav li a.button{background-color: #323232!important;}

nav .main_menu_wrap::-webkit-scrollbar-thumb { background-color: rgba(159, 159, 159, 0.2); border: none; }

.btn.soft {border: 1px solid #eaeaea!important; background-color: #eaeaea!important; color: #333333!important; }

/**
 * 메인
 */
.main_content .swiper-pagination-bullet-active .area { background-color: #323232; }

/**
 * 프로세스맵
 */
.process_map_link_bar .icon_area { background-color: #323232;}

/**
 * 인사 정보
 */
div#area_employee_header.header_table .primary_info, div#area_employee_header.header_table .detail_info { background-color: #323232 !important; }
div#area_employee_header.header_table .primary_info .profile_box .profile_summary .sabun { color: #bcbaba !important; }
div#area_employee_header.header_table .primary_info ul li.emp_name { background-color: #252121 !important; }
div#area_employee_header.header_table .primary_info ul li.emp_name i { color: #929090 !important; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list { border-left: 2px dotted #777 !important; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt { color: #bcbaba !important; }
div#area_employee_header.header_table .detail_info .item_list_box ul.item_list li dt:before { color: #fff !important; }
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-track { background-color: #323232 !important; }
div#area_employee_header.header_table .detail_info .item_list_box::-webkit-scrollbar-thumb { background-color: #686868 !important; }


.ess-content .ess-personal .search-box .search .btn.filled{background-color:#465166!important;}

/* 패키지개선 */
.sub_top .tab_group2 { background-color: #E2E2E2 !important; }
.sub_top.ui-tabs .ui-tabs-nav { background: none !important; }