/* dashBoard */
body{background: #F7F7F7;
	font-family:"Apple SD Gothic Neo", "Malgun Gothic", helvetica, Arial, sans-serif;
	font-weight:400;}

/* common 공통 */
.d-inline{display: inline-block; vertical-align: middle;}
.width20{width:20%;}
.width25{width:25%;}
.width30{width:30%;}
.width35{width:35%;}
.width40{width:40%;}
.width45{width:45%;}
.width50{width:50%;}
.width55{width:55%;}
.width60{width:60%;}
.width70{width:70%;}
.width80{width:80%;}
.width90{width:90%;}
.width100{width:100%;}

.mgB10{margin-bottom:10px;}
.mgB15{margin-bottom:15px;}
.mgT10{margin-top:10px;}
.t-align-c{text-align: center;}
.middle{vertical-align: middle; color:#777;}


/* dashBoard - personal */

/* 각 카드 공통 */
.top_tiles .tile-stats{overflow: hidden; min-height: 182px; padding: 20px 15px 15px;}
.top_tiles .tile-stats.mini{min-height:100px;}
.top_tiles .tile-stats.etc{height: 100%; min-height:238px; max-height:238px;}
.tile-stats .title{margin:0px; font-size: 16px; font-weight: 700; color:#2a3f54;}
.tile-stats .title.big{margin:0px 0px 5px; font-size: 20px; font-weight: 700; color:#2a3f54; text-align: center;}
.tile-stats .contents{padding-top:30px;}
body .container.body .right_col{background:#ffffff;}


/* 프로필 카드 */
.tile-stats.card-profile{padding: 20px 25px;}
.tile-stats.card-profile .profile_img{position:relative; float:left; width:65px; height:65px; border:1px solid #f7f7f7; border-radius:100%; overflow:hidden;}
.tile-stats.card-profile .profile_img img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height:auto;}
.tile-stats.card-profile .profile_info{float:left; width:calc(100% - 85px); padding:0px; margin:5px 0px 0px 15px;}
.tile-stats.card-profile .profile_info .name{margin:0px; padding-left:10px; font-size: 18px; font-weight: 600; vertical-align: middle; line-height: 1; color:#2a3f54;}
.tile-stats.card-profile .profile_info .gender{font-size: 16px; font-weight: 500; color:#2a3f54;}
.tile-stats.card-profile .profile_info .profile_desc{width:auto; padding: 0px; margin-top:12px; font-size: 14px;}
.tile-stats.card-profile .profile_info .profile_desc li{float: left; display: inline-block; width:47%; line-height: 1.7;}
.tile-stats.card-profile .profile_info .profile_desc li:before{content:'- '; display: inline-block; margin:0px 4px; font-size: 8px; vertical-align: middle;}


/* 지원자 서류전형 평가 카드 */
.tile-stats.card-grade .evaluate-doc{display: table; width:100%; padding-left:0px;}
.tile-stats.card-grade .evaluate-doc li{display: table-cell; padding:0px 10px; text-align: center;}
.tile-stats.card-grade .evaluate-doc .score{display: block; border-bottom:1px solid #73879C; font-weight: 600; font-size: 28px;}
.tile-stats.card-grade .evaluate-doc .desc{display: inline-block; margin-top:8px; color:#2a3f54;}


/* 지원자 진행 상태 카드 */
.tile-stats.card-state .contents .wizard_horizontal ul.wizard_steps{padding-left:0px; margin-bottom: 0px;}
.tile-stats.card-state .contents .wizard_horizontal ul.wizard_steps li a .step_no{margin:0 auto 10px;}


/* 지원자 통계? 데이터 카드 */
.tile-stats.card-number{padding:10px 0px; text-align: center;}
.tile-stats.card-number .title{display: block; margin:0px; font-weight: 700; font-size:40px; letter-spacing: -1px; text-align:center;}
.tile-stats.card-number .sub-title{display: inline-block; font-weight: 700; font-size:20px;}
.tile-stats.card-number .desc{display: inline-block; min-height: 30px; letter-spacing: -1px; font-size:11px;}


/* dashBoard - applicant */
header{width:1080px; width:100%; padding:30px 60px 10px; margin:0 auto; background-color:#2A3F54; color:#ECF0F1; border-bottom:3px solid #1ABB9C;}
header .title{font-size: 20px; margin-bottom:20px;}
header .title .status{padding:0px 5px; border-left:1px solid #1ABB9C; border-right:1px solid #1ABB9C; vertical-align: middle; color:#1ABB9C;}
header .list-desc{overflow: hidden; padding-left:0px; margin-bottom:10px;}
header .list-desc li{float:left; display: inline-block; margin-right:30px; font-size: 14px;}
header .list-desc li+li{margin-right:30px;}
/* gauge title 삭제 */
.jqplot-meterGauge-label{display: none;}


/* */
.tile-stats.card-notice{min-height: 210px; max-height: 210px;}
.tile-stats.card-notice .contents{padding-top:40px; text-align: center;}
.tile-stats.card-notice .status{font-weight: 600; font-size: 45px; text-align: center;}