#index_wrap {width:980px;height:100%;margin:0 auto}
#index_wrap.on .index_table {width:1240px;margin-left:0}
#index_wrap.on .index_content {width:960px}
#index_wrap.on {width:1240px}
#index_wrap.on .index_content .container {width:960px}
#index_wrap.on #mainCalendar {width:926px;margin:0 0 15px 16px}
#index_wrap.on .ui-state-highlight {;margin:0 0 16px 13px}
#index_wrap.on .notice_box {margin:0 0 16px 13px}
#index_wrap.on #mainCalendar #calendarDay li span {padding:5px 7px 5px 8px}
#index_wrap.on #calendarDetail #detailOption2 {width:457px}
#index_wrap.on #sortable {margin:-2px 0 0 2px}

.index_table {width:980px;height:100%;background:#eff2f8}
.left_menu {width:280px;height:100%;vertical-align:top;background:#fff url(../images/common/bg_left_main.gif) repeat-y}
.index_content {width:700px;vertical-align:top}
.left_menu .info {float:left;width:90px;height:100%;}
.left_menu .info img {border:1px solid #dedede;padding:3px;background:#fff;width:45px;height:55px;}
.left_menu .info .photo {text-align:center;padding-top:70px}

.left_menu .menu {float:left;width:190px;min-height:100%;position:relative;z-index:4}
.left_menu .menu .menu_body {padding-bottom:100px}
.left_menu .menu .menu_body .logo {padding-top:34px;width:170px;margin:0 auto;text-align:center}
.left_menu .menu .menu_body .user_info {width:170px;margin:30px 0 0 10px;border-bottom:1px dashed #d4dce0 ;margin-bottom:12px}
.left_menu .menu .menu_body .user_info li.name {padding:0 0 0 10px;color:#333}
.left_menu .menu .menu_body .user_info li.password {padding:12px 0 0 10px;color:#999;font-size:11px}
.left_menu .menu .menu_body .user_info li.password a {color:#999}
.left_menu .menu .menu_body .user_info li.util {padding:12px 0 5px 5px}
.left_menu .menu .menu_body .user_info li.util img {margin:-1px;cursor:pointer}
.left_menu .menu .menu_body .navi {font-weight:bold}
.left_menu .menu .menu_body .navi li {height:35px;margin-bottom:1px;padding-left:20px;line-height:35px;color:#999;cursor:pointer}
.left_menu .menu .menu_body .navi li a {color:#999}
.left_menu .menu .menu_body .navi li:hover a {color:#333}
.left_menu .menu .menu_body .navi li:hover{color:#333}
.left_menu .menu .menu_body #lefticon {position:absolute;width:41px;height:31px;background:#ccc;margin-left:-65px;background:url(../images/main/ico_left_over.png) no-repeat;display:none}

.left_menu .menu .menu_body #lefticon.bg02 {background-position:0 0}
.left_menu .menu .menu_body #lefticon.bg03 {background-position:0 -31px}
.left_menu .menu .menu_body #lefticon.bg01 {background-position:0 -62px}
.left_menu .menu .menu_body #lefticon.bg05 {background-position:0 -93px}
.left_menu .menu .menu_body #lefticon.bg06 {background-position:0 -124px}
.left_menu .menu .menu_body #lefticon.bg07 {background-position:0 -155px}
.left_menu .menu .menu_body #lefticon.bg08 {background-position:0 -186px}
.left_menu .menu .menu_body #lefticon.bg09 {background-position:0 -217px}
.left_menu .menu .menu_body #lefticon.bg10 {background-position:0 -248px}
.left_menu .menu .menu_body #lefticon.bg11 {background-position:0 -310px}
.left_menu .menu .menu_body #lefticon.bg12 {background-position:0 -279px}



.left_menu .menu .menu_footer {position:absolute;bottom:0;width:190px;height:94px;z-index:1}
.left_menu .menu .menu_footer li {line-height:20px;padding-left:19px;font-size:11px;cursor:pointer}
.left_menu .menu .menu_footer li:hover {color:#ef519c}
.left_menu .menu .menu_footer li.family {}

#family {position:relative;width:186px;height:280px;margin:-300px 0 0 2px;background:#fff;display:none}
#family li {height:23px;line-height:23px;background:url(../images/common/bg_dot_01.gif) repeat-x 0 100%;cursor:pointer;padding:0 0 0 10px;color:#333;font-size:12px}
#family li:hover {color:#ef519c}
#family img {margin:0 0 5px 165px;cursor:pointer}

#skinWidgetMain {position:absolute;z-index:5;;margin:-1px 0 0 45px;display:none}
#skinWidgetMain div.shadow {position:absolute;width:192px;height:275px;background:#eef1f3;}
#skinWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:188px;height:271px;}
#skinWidgetMain div.title {font-weight:bold;text-align:center;background:url(../images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#skinWidgetMain ul {float:none;padding:0;margin:0;}
#skinWidgetMain ul li {float:none;height:23px;line-height:23px;background:url(../images/common/bg_dot_01.gif) repeat-x 1px 100%;padding-left:1px;cursor:pointer;}
#skinWidgetMain ul li.skin1 div {background:#3ab7c6}
#skinWidgetMain ul li.skin1 div.on {background:#3ab7c6 url(../images/common/bg_skin0_check.gif) no-repeat}
#skinWidgetMain ul li.skin2 div {background:#bcd92b}
#skinWidgetMain ul li.skin2 div.on {background:#3ab7c6 url(../images/common/bg_skin1_check.gif) no-repeat}
#skinWidgetMain ul li.skin3 div {background:#45a3e6}
#skinWidgetMain ul li.skin3 div.on {background:#3ab7c6 url(../images/common/bg_skin2_check.gif) no-repeat}
#skinWidgetMain ul li div {float:left;width:16px;height:16px;margin:3px 10px 0 10px}
#skinWidgetMain div.font li {padding-left:11px;}
#skinWidgetMain ul li input {vertical-align:middle;margin-right:9px;}
#skinWidgetMain p {font-size:11px;color:#999;margin:10px 0 0 11px;;line-height:15px;}
#skinWidgetMain .button {margin-top:10px;text-align:center}

.index_content {background:#eff2f8 url(../images/common/bg_index_main.gif) repeat-y}
.index_content .container {width:700px;min-height:100%;position:absolute;z-index:2;background:url(/Image.do?imgId=common/main_widgetbg_[ENTER_CD].gif) no-repeat 50% 50%}

*html .index_content .container {height:100%}
.index_content div.container div.header {height:50px;padding-right:25px}
.index_content div.container div.body {padding:0 0 140px;min-height:463px}
.index_content div.container div.footer {position:absolute;z-index:3;bottom:0;width:100%;height:140px}
.index_content div.container div.footer div.widget {padding-top:42px;padding-right:25px}
.index_content div.container div.footer div.copyright {line-height:48px;font-family:Verdana;font-size:10px;padding-left:38px;background:#fafbfd url(../images/common/bg_index_footer.gif) repeat-y}

div.top_search {text-align:right;font-size:11px;padding-top:15px}
div.top_search span.bar {color:#e3e5e9;margin:0;padding:0 8px}
div.top_search div.search {display:inline;width:148px;border:1px solid #b8c6cc;background:#fff;;margin-left:15px;}
div.top_search div.search img {vertical-align:middle}
*:first-child+html div.top_search div.search img {margin-right:-4px}
div.top_search div.search input {width:116px;font-size:11px;border:none;margin:2px 0 3px}
div.top_search div.search a {;margin:0}
body:first-of-type div.top_search div.search a {margin-right:4px}

div.levelWidget {position:absolute;display:inline-block;z-index:7;text-align:left;padding:0;;}
div.levelWidget div {padding:0;}

#widgetButton {width:120px;height:50px;margin-left:auto;line-height:48px;color:#fff;font-weight:bold;;cursor:pointer}
#widgetButton div.btn_widget {float:left;width:60px;height:50px;text-indent:-9999px;}
#widgetButton div.btn_top {float:left;width:60px;height:50px;}
#widgetButton span {}

.index_content .container .footer div.widget div.on {background-position:100% 100% !important;width:260px !important}
.index_content .container .footer div.widget div.on div.btn_widget {width:200px !important;text-indent:60px !important;}

.no_widget {position:absolute;top:75%;left:0;right:0;text-align:center;font-weight:bold;color:#ef519c;font-size:16px;display:none}

#mainCalendar {width:612px;height:108px;background:#fff;border:1px solid #eef1f3;margin:0 0 14px 40px}
#mainCalendar ul.calendarInfo {clear:both;margin:21px 10px 0 19px;height:37px}
#mainCalendar .calendarInfo li {float:left;height:25px;line-height:25px}
#mainCalendar .calendarInfo #calendar_year {font-family:arial;font-size:14px;margin-right:16px}
#mainCalendar .calendarInfo #calendar_month {margin:0 14px 0 18px;font-family:arial;font-size:19px;font-weight:bold;color:#8d9da6}
#mainCalendar .calendarInfo #calendar_day {margin:0 19px 0 14px}
#mainCalendar .calendarInfo li.left {background:url(../images/common/btn_index_left.gif) no-repeat 0 50%;width:8px;cursor:pointer}
#mainCalendar .calendarInfo li.right {background:url(../images/common/btn_index_right.gif) no-repeat 0 50%;width:8px;cursor:pointer;margin-left:18px}
#mainCalendar .calendarInfo li.close {float:right;width:23px;height:23px;margin-top:-11px;background:#fff url(../images/common/btn_index_close.gif) no-repeat;cursor:pointer}
#mainCalendar #calendarDay {clear:both;margin:0 0 0 9px}
#mainCalendar #calendarDay li {float:left;height:37px;line-height:22px;text-align:center;font-family:verdana !important;font-size:9px}
#mainCalendar #calendarDay li span {padding:5px 3px 5px 4px}
#mainCalendar #calendarDay li.sun {color:#ff6699;background:#fff}
#mainCalendar #calendarDay li.sat {color:#45a3e6;background:#fff}
#mainCalendar #calendarDay li.today span {color:#fff;background:#b8c6cc}
#mainCalendar #calendarDay li.schedule {background-image:url(../images/common/ico_calendar_point.gif);background-repeat:no-repeat;background-position:50% 100%;cursor:pointer}
#mainCalendar #calendarDetail {position:absolute;margin-top:-5px;z-index:6;display:none}
#mainCalendar #calendarDetail li {float:left;height:60px;color:#ffffff;font-size:11px;font-weight:bold}
#mainCalendar #calendarDetail li p {color:#ffffff;font-size:11px;font-weight:normal}
#mainCalendar #calendarDetail li div {position:absolute;width:139px;border:1px solid #000;text-align:left;padding:0 10px;margin:15px 0 0 0;background:#fff;display:none}
#mainCalendar #calendarDetail li div p {color:#000;font-weight:normal !important;padding:0;margin:0;line-height:18px}

#calendarDetail #detailDate {width:100px}
#calendarDetail #detailDate p {margin:20px 0 0 24px;font-size:12px !important}
#calendarDetail #detailDate #selectDate {font-weight:bold;color:#fff;font-size:20px}
#calendarDetail #detailDate #selectDay {margin-left:4px}
#calendarDetail #detailOption0 {width:159px;background:#667780 url(../images/common/bg_calendar01.gif) no-repeat}
#calendarDetail #detailOption0 p,
#calendarDetail #detailOption1 p,
#calendarDetail #detailOption2 p {margin:9px 0 0 40px;line-height:20px;font-weight:bold !important}
#calendarDetail #detailOption0 span,
#calendarDetail #detailOption1 span,
#calendarDetail #detailOption2 span {display:block;font-weight:normal}
#calendarDetail #detailOption1 {width:160px;background:#667780 url(../images/common/bg_calendar02.gif) no-repeat}
#calendarDetail #detailOption2 {width:143px;background:#667780 url(../images/common/bg_calendar03.gif) no-repeat}
#calendarDetail #detailClose {width:50px;background:#b8c6cc url(../images/common/btn_index_close.gif) no-repeat 50% 50%;cursor:pointer}







/*
.index_notice {
	width:960px;
	margin:0 auto;
	font-size:14px;font-weight:bold;
	height:36px;
	background:#fff url(../images/main/btn_notice_off.gif) no-repeat 100% 50%;
	line-height:36px;
	border-bottom:4px solid;
	margin-bottom:20px;
	cursor:pointer;
}
.index_notice p {padding-left:20px}	

.notice_on {background:#fff url(../images/main/btn_notice_on.gif) no-repeat 100% 50%}

.color1 {color:#1f9aa9;border-color:#3ab7c6}
.color2 {color:#b3cc33;border-color:#bcd92b}
.color3 {color:#45a3e6;border-color:#45a3e6}


.notice_prev {float:left;width:36px;height:100%;background:#ddd;text-align:center;background:url(../images/main/btn_left_off.gif) no-repeat 0 60px}
.notice_next {float:right;width:36px;height:100%;background:#ddd;text-align:center;background:url(../images/main/btn_right_on.gif) no-repeat 0 60px}
.listContainer {margin-bottom:20px}

.list_box {;width:960px;height:180px;margin-left:37px;overflow:hidden}
.list_box .bg_download {background:url(../images/main/bg_download.gif) no-repeat 235px 121px}
.list_box .bg_pay {background:url(../images/main/bg_pay.gif) no-repeat 222px 123px}
.list_box .bg_study {background:url(../images/main/bg_study.gif) no-repeat 198px 88px}
.list_box .bg_clock {background:url(../images/main/bg_clock.gif) no-repeat 232px 113px}
.list_box .bg_airplane {background:url(../images/main/bg_airplane.gif) no-repeat 224px 113px}
.list_box .bg_poll {background:url(../images/main/bg_poll.gif) no-repeat 230px 113px}
.list_box .bg_person {background:url(../images/main/bg_person.gif) no-repeat 237px 118px}
32 31 22
*/
#sortable {;margin:-2px 0 0 32px}
#sortable .ui-state-highlight {float:left; width:299px;height:178px;border:1px dotted #000;margin:0 7px 16px 7px}
.notice_box {float:left;margin:0 7px 16px 7px;width:299px;height:178px;border:1px solid #eef1f3}
.notice_box .main {position:absolute;width:298px;height:178px;border:1px solid #eef1f3}
.notice_box .bg {position:absolute;width:299px;height:178px;filter:alpha(opacity=70);opacity:0.7;background:#fff}
.notice_box .bg div {width:60px;height:60px;margin:106px 0 0 222px;}

#sortable .ico_human {background:#fff url(../images/main/ico_index.gif) no-repeat 0 0}
#sortable .ico_oganization {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -60px}
#sortable .ico_clock {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -120px}
#sortable .ico_fly {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -180px}
#sortable .ico_house {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -240px}
#sortable .ico_trophy {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -300px}
#sortable .ico_chart {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -360px}
#sortable .ico_pie {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -420px}
#sortable .ico_write {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -480px}
#sortable .ico_system {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -540px}
#sortable .ico_money {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -600px}
#sortable .ico_presentation {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -660px}
#sortable .ico_tree {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -720px}
#sortable .ico_couple {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -780px}
#sortable .ico_download {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -840px}
#sortable .ico_education {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -900px}
#sortable .ico_diary {background:#fff url(../images/main/ico_index.gif) no-repeat 0 -960px}

#sortable .bg_study {background:#fff url(../images/main/bg_study.gif) no-repeat 198px 88px !important}

#sortable .notice_box ul.header {margin:5px 8px 0;border-bottom:2px solid #b8c6cc;height:30px;line-height:30px;cursor:default}
#sortable .notice_box ul.header li {float:right;padding:0 7px 0 0;font-size:11px}
#sortable .notice_box ul.header .title {float:left;font-weight:bold;font-size:12px;padding-left:10px}
#sortable .notice_box ul.header a {padding:5px 0}
#sortable .notice_box ul.header a.box {background:#8d9da6;color:#fff;padding-right:10px;padding-left:10px}
#sortable .notice_box ul.header img {vertical-align:baseline;margin:0 0 -0.3em 0;*margin:0 0 -0.7em 0}

#sortable .notice_box ul.tab {margin:5px 8px 0;border-bottom:2px solid #b8c6cc;height:30px;line-height:30px;padding-bottom:1px;cursor:pointer}
#sortable .notice_box ul.tab li.tab {float:left;border:1px solid #b8c6cc;padding:0 8px;font-size:12px;font-weight:bold;background:#eef1f3;color:#999}
#sortable .notice_box ul.tab li.tab span {font-weight:normal;color:#ef519c}
#sortable .notice_box ul.tab li.on {background:#fafbfd;border-bottom:2px solid #fafbfd;color:#666}
#sortable .notice_box ul.tab li {float:right;padding:0 7px 0 0;font-size:11px}
#sortable .notice_box ul.tab img {vertical-align:baseline;margin:0 0 -0.3em 0;*margin:0 0 -0.3em 0}

div.notice_box div.authorize {width:280px;height:126px;margin:10px 0 0 9px}
div.notice_box div.authorize table {display:none}
div.notice_box div.authorize table.on {display:block}

div.notice_box div.authorize div.scroll {width:280px;height:96px;margin-top:5px;overflow-y:auto;display:none}
div.notice_box div.authorize div.on {display:block}
div.notice_box div.authorize div table {display:block}

div.notice_box div.people {width:195px;margin:10px 0 0 9px}
div.notice_box div.favorite {margin:10px 0 0 8px;width:282px;height:123px;overflow:auto}
div.notice_box div.favorite div {float:left;width:130px;height:30px;background-position:0 0;background-repeat:no-repeat;cursor:pointer;margin:6px 0 10px;

text-align:left;
white-space:nowrap;
text-overflow:ellipsis;     /* IE, Safari */
-o-text-overflow:ellipsis;      /* Opera under 10.7 */
overflow:hidden;            /* "overflow" value must be different from "visible" */

}
div.notice_box div.favorite div span {line-height:27px;margin-left:32px;font-weight:bold;color:#8d9da6;letter-spacing:-1px;}

div.notice_box div.favorite div.human {background-image:url(../images/main/ico_human.png)}
div.notice_box div.favorite div.oganization {background-image:url(../images/main/ico_oganization.png)}
div.notice_box div.favorite div.couple {background-image:url(../images/main/ico_couple.png)}
div.notice_box div.favorite div.education {background-image:url(../images/main/ico_education.png)}
div.notice_box div.favorite div.chart {background-image:url(../images/main/ico_chart.png)}
div.notice_box div.favorite div.money {background-image:url(../images/main/ico_money.png)}
div.notice_box div.favorite div.clock {background-image:url(../images/main/ico_clock.png)}
div.notice_box div.favorite div.diary {background-image:url(../images/main/ico_diary.png)}
div.notice_box div.favorite div.write {background-image:url(../images/main/ico_write.png)}
div.notice_box div.favorite div.pie {background-image:url(../images/main/ico_pie.png)}
div.notice_box div.favorite div.system {background-image:url(../images/main/ico_system.png)}
div.notice_box div.favorite div.on {background-position:0 -30px}
div.notice_box div.favorite div.on span {color:#b2cc33}
div.notice_box div.favorite div:hover {background-position:0 -30px}
div.notice_box div.favorite div:hover span {color:#b2cc33}

div.notice_box table.fitwidth {width:100%}
div.notice_box table.person {table-layout:fixed !important}
div.notice_box table.person td {text-align:center;height:24px;font-size:11px;padding-left:5px}

div.notice_box table.person td.left {text-align:left;}
.limit, .limit2 {
	width:70px;
	text-align:left;
	white-space:nowrap;
	text-overflow:ellipsis;     /* IE, Safari */
	-o-text-overflow:ellipsis;      /* Opera under 10.7 */
	overflow:hidden;            /* "overflow" value must be different from "visible" */
}
div.notice_box table.person td.phone {text-align:left;padding-left:10px}
div.notice_box table.person td.date {color:#999}
div.notice_box table.person td.green {color:#b3cc33}
div.notice_box table.person td.blue {color:#45a3e6}
div.notice_box table.person td.red {color:#f379b2}
div.notice_box table.person td.gray {color:##ebeef0}

/*
div.notice_box div.authorize div.scroll table.appR_table {table-layout: fixed;border:2px;}
div.notice_box div.authorize div.scroll table.appR_table td {
     width:100%;
     overflow: hidden;
     text-overflow:ellipsis;
     white-space:nowrap; 
}
*/	
div.notice_box table.person tr.title td {text-align:center;border-top:1px solid #dae1e6;border-bottom:1px solid #dae1e6;height:23px;background:#eef1f3;font-size:11px}
div.notice_box table.person tr.title td.left {border-left:1px solid #dae1e6;text-align:left}
div.notice_box table.person tr.title td.left span {padding-left:16px}
div.notice_box table.person tr.title td.last {width:70px;border-right:1px solid #dae1e6;text-align:left}
div.notice_box table.person tr.title td.last span {padding-left:7px}
div.notice_box div.people div.scroll {width:195px;height:96px;margin-top:5px;overflow-y:auto}

div.notice_box table.study_point {margin:40px 0 0 13px}
div.notice_box table.study_point td {font-size:14px;font-weight:bold;color:#999;height:32px}
div.notice_box table.study_point td.title {color:#666;padding-right:18px}
div.notice_box table.study_point td.bar {padding:0 5px}
div.notice_box table.study_point td.mypoint {font-family:Verdana;font-size:19px;font-weight:normal;color:#fff;background:#bcd92b;width:40px;text-align:center}
div.notice_box table.study_point td.totalpoint {font-family:Verdana;font-size:19px;font-weight:normal;color:#fff;background:#b8c6cc;width:40px;text-align:center}

.study_info {padding:45px 0 0 13px;font-size:11px;color:#999}
.poll {padding:20px 0 0 15px;line-height:25px;font-size:11px}

div.notice_box table.join {margin:15px 0 0 29px}
div.notice_box table.join td {line-height:22px;font-size:11px}
div.notice_box table.join img {border:1px solid #dedede;padding:3px;display:block;margin-right:20px}

div.notice_box table.notice_table {width:270px;margin:7px 14px 0;table-layout:fixed}
div.notice_box table.notice_table.download_table {width:250px;}
div.notice_box table.notice_table th {width:200px;text-align:left;height:24px;font-weight:normal;font-size:11px}
div.notice_box table.notice_table th a {background:url(../images/main/ico_notice_point.gif) no-repeat 0 50%;padding-left:10px}
div.notice_box table.notice_table th .reply {background:url(../images/main/ico_notice_reply.gif) no-repeat 10px 0;padding-left:38px}
div.notice_box table.notice_table img {vertical-align:middle;margin-top:-3px}
div.notice_box table.notice_table td {text-align:right;height:24px;color:#999;font-size:11px}
div.notice_box table.notice_table th div.limit {width:200px !important;}
div.notice_box table.notice_table div.limit2 {width:230px !important;}

div.notice_box div.pay_table_div {overflow:auto;width:200px;height:100px;}
div.notice_box div.pay_table_div table {width:170px;margin-top:0;}
div.notice_box table.pay_table {width:190px;margin:10px 0 0 10px}
div.notice_box table.pay_table tr.title {background:#eef1f3}
div.notice_box table.pay_table tr.title td {text-align:center;height:23px;padding:0;border-top:1px solid #dae1e6;border-bottom:1px solid #dae1e6;border-left:1px solid #dae1e6}
div.notice_box table.pay_table td {font-size:11px;text-align:center;padding-top:12px}
div.notice_box table.pay_table td.limit_txt div {}
div.notice_box table.pay_table tr.title td.left {text-align:left;padding-left:22px;border-right:1px solid #dae1e6;border-left:none}
div.notice_box table.pay_table tr.title td.left2 {text-align:left;padding-left:5px;border-right:1px solid #dae1e6;border-left:none}
div.notice_box table.pay_table .left {text-align:left}


div.notice_box div.holiday_scroll {width:217px;height:100px;overflow:auto;;}
div.notice_box table.holiday_table {width:207px;margin:10px 0 0 10px}
div.notice_box table.holiday_table.notop {width:190px;margin-top:0;}
div.notice_box table.holiday_table tr.title {background:#eef1f3}
div.notice_box table.holiday_table tr.title td {text-align:center;height:23px;padding:0;border-top:1px solid #dae1e6;border-bottom:1px solid #dae1e6}
div.notice_box table.holiday_table td {font-size:11px;text-align:center;padding-top:12px}
div.notice_box table.holiday_table td.left {padding-left:5px;text-align:left}
div.notice_box table.holiday_table tr.title td.left {padding-left:10px;text-align:left;border-left:1px solid #dae1e6}
div.notice_box table.holiday_table tr.title td.last {border-right:1px solid #dae1e6;text-align:left;padding-left:10px;}
div.notice_box table.holiday_table .red {color:#ef519c}
div.notice_box table.holiday_table .bold {font-weight:bold}

div.notice_box div.commute_table_scroll {width:200px;height:100px;overflow:auto}
div.notice_box div.commute_table_scroll table.commute_table {width:170px;margin:0 0 0 10px}
div.notice_box table.commute_table {width:190px;margin:10px 0 0 10px}
div.notice_box table.commute_table tr.title {background:#eef1f3}
div.notice_box table.commute_table tr.title td {text-align:center;height:23px;padding:0;border-top:1px solid #dae1e6;border-bottom:1px solid #dae1e6;border-left:1px solid #dae1e6}
div.notice_box table.commute_table td {font-size:11px;text-align:center;padding-top:12px}
div.notice_box table.commute_table tr.title td.left {text-align:left;padding-left:22px;border-right:1px solid #dae1e6;border-left:none}
div.notice_box table.commute_table tr.title td.left2 {text-align:left;padding-left:5px;border-right:1px solid #dae1e6;border-left:none}
div.notice_box table.commute_table .left {text-align:left}

div.notice_box div.office_table {width:207px !important}
div.notice_box div.download_scroll {width:290px;overflow:auto;height:130px;}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background:#fff;
	line-height:20px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
.ui-widget {
	font-size: 12px;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	color: #222222;
}

.ellipsis{
	white-space:nowrap;
	text-overflow:ellipsis;		/* IE, Safari */
	-o-text-overflow:ellipsis;		/* Opera under 10.7 */
	overflow:hidden;			/* "overflow" value must be different from "visible" */ 
	-moz-binding: url('ellipsis.xml#ellipsis');
}

.clear {clear:both;height:0}
.hand {cursor:pointer}

.main_loading {position:absolute;width:296px;height:140px;text-align:center;display:none}
.main_loading img {margin-top:60px}