#wrap {width:1240px;height:100%;margin:0 auto}
.wrapper {height:100%}
#wrap.full {width:auto !important;margin:0;min-width:980px}
#wrap.full .layout_tab {width:auto !important;min-width:665px;left:300px;right:15px}
#wrap.full td.menu_close div.layout_tab {left:110px;min-width:855px}

#wrap.min {width:980px}
#wrap.min .layout_tab {;width:665px}
#wrap.min iframe.tab_iframe {width:665px;border:none}

#wrap.min td.menu_close div.layout_tab {width:855px}
#wrap.min td.menu_close iframe.tab_iframe {width:855px}

#wrap .layout_table {width:100%;height:100%;}
#main_logo {position:absolute;width:190px;margin:18px 0 0 90px;text-align:center;z-index:6}
#main_logo img {cursor:pointer}
.left_main {width:90px;height:100%;vertical-align:top;}
.left_sub {width:190px;height:100%;vertical-align:top;}

.left_main div.mymenu	{position:absolute;margin:58px 0 0 28px;width:72px;height:28px;cursor:pointer;z-index:2}
.left_main div.mymenu span {font-size:11px;color:#fff;margin:0 0 0 11px;line-height:22px}
.left_main div.main_menu .list div {height:100%}
.left_main div.main_menu .list li {height:36px;color:#fff;font-weight:bold;font-size:13px;line-height:36px;letter-spacing:-1px;cursor:pointer}
.left_main div.main_menu .list li.on {background:#fff;color:#333}
.left_main div.main_menu .list li span {padding-left:12px;}

.left_main div.main_menu {float:left;width:90px;height:100%;z-index:1}
.left_main div.main_menu div.list {position:relative;width:90px;min-height:100%;margin:0 0 -46px 0}
.left_main div.main_menu div.list ul {padding-top:143px;padding-bottom:46px;}
.left_main div.main_menu div.footer {height:46px;padding-left:63px}
.left_main div.main_menu div.footer div.btn_open {position:relative;width:17px;height:27px;background:url(../images/common/btn_left_open.gif) no-repeat;cursor:pointer;display:none}

.left_sub div.sub_menu {float:left;position:relative;width:190px;z-index:4;min-height:100%;}
.left_sub div.sub_menu div.scroll-pane {position:relative;width:177px;margin:0 0 46px 10px;overflow:hidden}
.left_sub div.sub_menu div.footer {position:absolute;height:46px;bottom:0;z-index:3;}

.sub_menu .btn_close {width:17px;height:27px;margin-left:146px;background:url(../images/common/btn_left_close.gif) no-repeat;cursor:pointer}

.left_sub div.sub_menu .name {width:170px;height:26px;margin:63px 0 0 10px;border-bottom:1px dotted #b8c6cc}
.left_sub div.sub_menu .name span {padding-left:9px;color:#333}
.left_sub div.sub_menu .util {width:170px;height:51px;margin-left:10px;border-bottom:3px solid #b8c6cc;}
.left_sub div.sub_menu .util #left_icon {position:absolute;width:41px;height:31px;;margin:13px 0 0 3px;background:url(../images/common/bg_left_sub.gif) no-repeat 0 31px}

.left_sub div.sub_menu .util #left_icon.pos01 {background-position:0 -93px}
.left_sub div.sub_menu .util #left_icon.pos02 {background-position:0 -31px}
.left_sub div.sub_menu .util #left_icon.pos03 {background-position:0 -62px}
.left_sub div.sub_menu .util #left_icon.pos04 {background-position:0 31px}
.left_sub div.sub_menu .util #left_icon.pos05 {background-position:0 -124px}
.left_sub div.sub_menu .util #left_icon.pos06 {background-position:0 -155px}
.left_sub div.sub_menu .util #left_icon.pos07 {background-position:0 -186px}
.left_sub div.sub_menu .util #left_icon.pos08 {background-position:0 -217px}
.left_sub div.sub_menu .util #left_icon.pos09 {background-position:0 -248px}
.left_sub div.sub_menu .util #left_icon.pos10 {background-position:0 -279px}
.left_sub div.sub_menu .util #left_icon.pos11 {background-position:0 -341px}
.left_sub div.sub_menu .util #left_icon.pos12 {background-position:0 -310px}
.left_sub div.sub_menu .util #left_icon.pos13 {background-position:0 -124px}	/*info*/
.left_sub div.sub_menu .util #left_icon.pos20 {background-position:0 -124px}	/*board*/
.left_sub div.sub_menu .util #left_icon.pos99 {background-position:0 0}

.left_sub div.sub_menu .util .bg02 {background-position:0 0}

.left_sub div.sub_menu .util ul {padding:25px 0 0 94px}
.util {display:inline-block;vertical-align:middle}
.util li {float:left;}
.util #btnPlus {width:16px;height:16px;background:url(../images/common/btn_left_plus.gif) no-repeat;margin-right:6px;cursor:pointer}
.util #btnPlus.minus {background:url(../images/common/btn_left_minus.gif) no-repeat}
.util #btnStep1 {width:16px;height:16px;background:url(../images/common/btn_left_1step.gif) no-repeat;cursor:pointer}
.util #btnStep2 {width:16px;height:16px;background:url(../images/common/btn_left_2step.gif) no-repeat;margin:0 -1px;cursor:pointer}
.util #btnStep3 {width:16px;height:16px;background:url(../images/common/btn_left_3step.gif) no-repeat;cursor:pointer}

.left_sub div.sub_menu .util li img {margin-left:-1px;cursor:pointer}

.left_sub div.sub_menu .list li ul {display:none;padding:5px 0 10px;}
.left_sub div.sub_menu .list li.on ul {display:block}
.left_sub div.sub_menu .list li.on ul ul {display:none}
.left_sub div.sub_menu .list li.on li.on ul {display:block}

.left_sub div.sub_menu .list {width:170px;margin-top:2px}
.left_sub div.sub_menu .list li {width:170px;font-weight:bold;background:#fff;border-bottom:1px dotted #d4dce0;color:#777;cursor:pointer}
.left_sub div.sub_menu .list li span {line-height:30px;padding-left:9px;}

.left_sub div.sub_menu .list li.on {height:auto;border:none;background:url(../images/common/ico_left_off1.gif) no-repeat 151px 13px;}
.left_sub div.sub_menu .list li.on ul {background:#f7f9fc;margin-top:-3px;}
.left_sub div.sub_menu .list li li {;padding:0;color:#666;font-weight:normal;border:none;background:url(../images/common/ico_left_on2.gif) no-repeat 10px 8px;}
.left_sub div.sub_menu .list li li.on {padding:0;background:url(../images/common/ico_left_off2.gif) no-repeat 10px 10px}
.left_sub div.sub_menu .list li li.link {background:url(../images/common/ico_left_linkoff.gif) no-repeat 12px 9px}
.left_sub div.sub_menu .list li li.linkon {color:#fff;background:#bcd92b url(../images/common/ico_left_linkon.gif) no-repeat 12px 9px}
.left_sub div.sub_menu .list li li span {display:block;padding-left:24px;line-height:22px}
.left_sub div.sub_menu .list li li ul {margin:0;padding:5px 0;}
.left_sub div.sub_menu .list li.on li ul {border:none}
.left_sub div.sub_menu .list li li li {background:url(../images/common/ico_left_off3.gif) no-repeat 20px 9px}
.left_sub div.sub_menu .list li li li.on,.left_sub div.sub_menu .list li li li.linkon {padding:0;background:url(../images/common/ico_left_on3.gif) no-repeat 20px 9px;color:#fff}
.left_sub div.sub_menu .list li li li span {line-height:21px;padding-left:34px}

.left_sub div.sub_menu .mylist {width:170px}
.left_sub div.sub_menu .mylist ul {margin:6px 0 0 0}
.left_sub div.sub_menu .mylist li {clear:both;height:21px;background:url(../images/common/ico_left_linkoff.gif) no-repeat 12px 9px;cursor:pointer}
.left_sub div.sub_menu .mylist li span {float:left;line-height:22px;padding-left:23px}
.left_sub div.sub_menu .mylist li span.close {float:right;width:20px;padding:0;}
.left_sub div.sub_menu .mylist li span.close:hover {}
.left_sub div.sub_menu .mylist li.on {color:#fff;background:#bcd92b url(../images/common/ico_left_linkon.gif) no-repeat 12px 9px;}
.left_sub div.sub_menu .mylist li.on:hover span.close { background-image:url(../images/common/btn_close_white.gif) }
.left_sub div.sub_menu .mylist li:hover span.close {background:url(../images/common/btn_close_gray.gif) no-repeat 50% 50%;}
.left_sub div.sub_menu .mylist li:hover span.close:hover {background:url(../images/common/btn_close_pink.gif) no-repeat 50% 50%;}
.left_sub div.sub_menu .mylist li.on:hover span.close:hover {background:url(../images/common/btn_close_white.gif) no-repeat 50% 50%;}

.layout_content	{height:100%;background:url(../images/common/bg_sub_main.gif) repeat-y;vertical-align:top}
.layout_content .container {height:100%;margin:0 15px 0 20px}
.layout_header {height:54px;text-align:right;padding-right:10px;background:url(../images/common/bg_top.gif) repeat-x 0 100%}

.layout_location {height:35px;padding-right:9px;border-bottom:1px solid #eef1f3;font-size:11px;color:#999;}
.layout_location ul {float:right;margin-top:6px;}
.layout_location ul li {height:22px;}
.layout_location .location_home {float:left;padding:4px 5px 0 0;padding:3px 5px 0 0\9;color:#999}
.layout_location .location_home img {}
.layout_location .location {float:left;padding-top:5px;padding-right:50px;color:#999;font-size:11px}
.layout_location .location span {color:#666}
.layout_location .skin {float:left;width:21px;height:21px;margin-top:1px;background:url(../images/common/btn_skin.gif) no-repeat;cursor:pointer}
.layout_location .skinWidget {float:left}
.layout_location .skinWidget #skinWidgetMain {margin:1px 0 0 -214px}
.layout_location .tabWidget {float:left}
.layout_location .tabWidget #tabWidgetMain {margin:1px 0 0 -214px}

#tabWidgetMain {position:absolute;z-index:5;;margin:-1px 0 0 45px;display:none}
#tabWidgetMain div.shadow {position:absolute;width:192px;height:166px;background:#eef1f3;}
#tabWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:188px;height:162px;}
#tabWidgetMain div.title {font-weight:bold;text-align:center;background:url(../images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#tabWidgetMain ul {float:none;padding:0;margin:1px 0 0 0;}
#tabWidgetMain ul li {float:none;vertical-align:middle;font-size:11px;background:url(../images/common/bg_dot_01.gif) repeat-x 1px 100%;padding:0;cursor:pointer;line-height:21px;}
#tabWidgetMain ul li input {vertical-align:middle;margin:0 0 3px 10px;}
#tabWidgetMain p {font-size:11px;color:#999;margin:7px 0 0 11px;letter-spacing:-1px;line-height:17px;}
#tabWidgetMain .button {margin-top:19px;text-align:center}

#levelWidgetMain {position:absolute;z-index:8;;margin:15px 0 0 -18px;display:none}
#levelWidgetMain div.content {position:absolute;border:1px solid #b8c6cc;background:#fff;width:160px;}
#levelWidgetMain div.title {font-weight:bold;text-align:center;background:url(../images/common/bg_dot_01.gif) repeat-x 1px 100%;line-height:26px}
#levelWidgetMain ul {float:none;padding:0;margin:1px 0 -1px 0;}
#levelWidgetMain ul li {float:none;vertical-align:middle;font-size:11px;background:url(../images/common/bg_dot_01.gif) repeat-x 1px 100%;padding:0 0 0 10px;cursor:pointer;line-height:21px;}
#levelWidgetMain ul li.on {color:#ef519c;}
#levelWidgetMain ul li:hover {color:#ef519c}
#levelWidgetMain p {font-size:11px;color:#999;margin:7px 0 0 11px;letter-spacing:-1px;line-height:17px;}
#levelWidgetMain .button {margin:19px 0 19px;text-align:center}

.layout_location .topTab {float:left;width:21px;height:21px;margin-top:1px;background:url(../images/common/ico_top04.gif) no-repeat 0 0;margin-left:5px;cursor:pointer}
.layout_location .topFull {float:left;width:21px;height:21px;margin-top:1px;background:url(../images/common/ico_top05.gif) no-repeat 0 0;margin-left:10px;cursor:pointer}

.layout_location .topBtn1 {float:left;width:21px;height:21px;margin-top:1px;background:url(../images/common/ico_top01.gif) no-repeat 0 0;margin-left:5px;cursor:pointer}
.layout_location .topBtn2 {float:left;width:21px;height:21px;margin-top:1px;background:url(../images/common/ico_top02.gif) no-repeat 0 0;margin-left:-1px;cursor:pointer}
.layout_location .topBtn3 {float:left;width:21px;height:21px;margin-top:1px;background:url(../images/common/ico_top03.gif) no-repeat 0 0;margin-left:-1px;cursor:pointer}
.layout_location .active {background-position:0 -21px}
.layout_location .mymenu {float:left;padding-left:10px;padding-top:1px;}

.layout_tab {position:absolute;width:925px;top:114px;bottom:10px}
iframe.tab_iframe {width:925px;height: 100%;position: absolute;border:none;overflow-x:hidden;}
.insa_tab {position:absolute;width:100%;top:124px;bottom:0}
.pay_tab {position:absolute;width:100%;top:225px;bottom:0}

#subMain {position:relative;min-height:100%;background-repeat: no-repeat;background-position:100% 100%}
#subMain.bg0 {background-image:url(../images/contents/bg_sub01.jpg)}
#subMain.bg1 {background-image:url(../images/contents/bg_sub02.jpg)}
#subMain.bg2 {background-image:url(../images/contents/bg_sub03.jpg)}
#subMain.bg3 {background-image:url(../images/contents/bg_sub04.jpg)}
#subMain.bg4 {background-image:url(../images/contents/bg_sub05.jpg)}
#subMain.bg5 {background-image:url(../images/contents/bg_sub06.jpg)}
#subMain.bg6 {background-image:url(../images/contents/bg_sub07.jpg)}
#subMain.bg7 {background-image:url(../images/contents/bg_sub08.jpg)}
#subMain.bg8 {background-image:url(../images/contents/bg_sub09.jpg)}
#subMain.bg9 {background-image:url(../images/contents/bg_sub10.jpg)}

#subMain div.txt {position:relative;padding:50px 0 73px 44px;color:#8d9da6;font-weight:bold;line-height:36px;;}
#subMain div.btn {position:absolute;bottom:0;margin:0 0 73px 44px;}
#subMain div.btn li {float:left;width:10px;height:10px;line-height:10px;margin:0 9px 0 0;padding:0;background:url(../images/common/btn_sub_off.png) no-repeat;cursor:pointer}
#subMain div.btn li.on {background-image:url(../images/common/btn_sub_on.png)}

div.sheet_search {border:1px solid #dae1e6;background:#f9fcfe url(../images/common/ico_search.gif) no-repeat 17px 50%;padding:4px 4px 4px 59px}
div.sheet_search>div {border:1px solid #eef1f3;background:#fff;padding:6px 20px 5px 20px}
div.sheet_search div>table>tbody>tr>td {padding:2px 10px 2px 0;white-space: nowrap}
div.sheet_search div>table>tbody>tr>td.select_txt {padding-right:0}
div.sheet_search span {color:#333;padding-right:5px;}
div.sheet_search span.info {color:#999;padding-left:5px;font-size:11px}

div.sheet_title {clear:both;overflow:auto}
div.sheet_title li.txt {float:left;font-weight:bold;padding-left:10px;height:35px;line-height:35px}
div.sheet_title li.txt span {font-weight:normal;}
div.sheet_title li.btn {float:right;padding-right:10px;height:35px;line-height:35px}
div.sheet_title li.btn a {margin:0 0 0 0}
div.sheet_main {width:100%;height:400px;;clear:both;}
div.sheet_body {height:100%;}
div.sheet_button {position:relative}
div.sheet_button div.arrow_button {position:absolute;width:60px;top:50%;left:-60px;text-align:center}
div.sheet_button2 {position:relative}
div.sheet_button2 div.arrow_button {position:absolute;width:60px;top:50%;left:-67px;text-align:center}

table.sheet_main {width:100%;table-layout:fixed;}
table.sheet_main td.top {vertical-align:top;}
table.sheet_main td.sheet_top {vertical-align:top;;padding-bottom:5px}
table.sheet_main td.sheet_bottom {vertical-align:top;;padding-top:5px}
table.sheet_main td.sheet_left {vertical-align:top;;padding-right:8px}
table.sheet_main td.sheet_right {vertical-align:top;;padding-left:8px}
table.sheet_main td.sheet_arrow {width:60px;text-align:center;}

table.explain_main {width:100%;height:100%;}
table.explain_main  td.top {vertical-align:top;}
table.explain_main  td.bottom {vertical-align:bottom}

div.explain {border:1px solid #dae1e6;background:#f7f9fc;padding:14px 14px 19px 14px;margin-top:10px;}
div.explain.position_top {margin-top:0;}
div.explain div.title {font-weight:bold;border-bottom:2px solid #b8c6cc;padding:0 0 10px 10px;margin-bottom:10px}
div.explain div.txt {padding-left:10px;padding-right:10px;line-height:20px}
div.explain div.txt li {font-size:11px;}
div.explain div.txt .gap {padding-bottom:20px}
div.explain div.txt .sub1 {padding-left:68px}
div.explain div.txt .sub2 {padding-left:81px}
div.explain div.txt .scroll {height:120px;border:1px solid #b8c6cc;background:#fff;overflow:auto}

td.menu_close div.layout_tab {width:1115px;}
td.menu_close iframe.tab_iframe {width: 1115px;}

.layout_tabs {position:absolute;width:100%;;top:49px;bottom:0;}
.popup_tabs {position:absolute;left:20px;right:20px;top:100px;bottom:80px;}
iframe.tab_iframes {width: 100%;height: 100%;position: absolute;border:none;overflow-x:hidden;}
.insa_tabs {position:absolute;width:100%;;top:43px;bottom:0;}
.author_iframe {width:100%;}

.ui-tabs {border:none;height:100%}
.ui-tabs a {outline:none}
.ui-tabs .ui-tabs-nav {margin:0;}
.ui-tabs .ui-tabs-nav li {list-style: none;float: left;position: relative;top: 0;margin: 0 -1px 0 0;border-bottom: 0;padding: 0;white-space: nowrap;height:23px}
.layout_tab .ui-tabs .ui-tabs-nav li {height:27px}

#subTabs  {height:auto}
#subTabs li {font-size:11px}
#subTabs li a {padding:5px 13px 4px 13px;}
#subTabs .tabs_body {margin-top:19px;}
#subTabs .tabs_body .tab_main {height:100%;background:#ccc}

.tab_bottom {margin-bottom:15px !important;}
.ui-tabs-nav li a {float: left;padding:5px 8px 5px 13px;text-decoration: none;}
.ui-tabs-nav li.ui-tabs-active {margin-bottom: -1px;padding-bottom: 1px;}
.ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-nav li.ui-state-disabled a,
.ui-tabs-nav li.ui-tabs-loading a {cursor: text;}
.ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {cursor: pointer;}
.ui-tabs-panel {display: block;border-width: 0;background: none;}
.ui-widget-content {background: #ffffff/*{bgColorContent}*/;color: #222222/*{fcContent}*/;}
.ui-widget-content a {color: #222222/*{fcContent}*/;}
.ui-helper-reset {margin: 0;padding: 0;border: 0;outline: 0;line-height: 1.3;text-decoration: none;font-size: 100%;list-style: none;}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {content: "";display: table;}
.ui-helper-clearfix:after {clear: both;}
.ui-helper-clearfix {min-height: 0; /* support: IE7 */}
.ui-tabs .ui-widget-header {border-bottom: 1px solid #b8c6cc;color: #222222/*{fcHeader}*/;font-weight: bold;}
.ui-widget-header a {color: #222222/*{fcHeader}*/;}

.layout_tab .ui-tabs .ui-state-default a {padding-left:13px !important;padding-right:6px !important}
.ui-tabs .ui-state-default a {padding-left:8px !important;padding-right:8px !important}

.ui-tabs .ui-state-default,
.ui-tabs .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {border: 1px solid #b8c6cc/*{borderColorDefault}*/;background: #eef1f3;font-weight: normal/*{fwDefault}*/;color: #999/*{fcDefault}*/;}

.layout_tab .ui-state-default a,
.layout_tab .ui-state-default a:link,
.layout_tab .ui-state-default a:visited {color: #999/*{fcDefault}*/;text-decoration: none;font-size:12px;}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {color: #999/*{fcDefault}*/;text-decoration: none;font-size:11px;}
.ui-tabs-nav li.ui-tabs-active {margin-bottom: -1px;padding-bottom: 1px;color: #666 !important}
.ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-nav li.ui-state-disabled a,
.ui-tabs-nav li.ui-tabs-loading a {cursor: text;color: #666 !important}
.ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {cursor: pointer;}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {border: 1px solid #b8c6cc;background: #ffffff;font-weight: normal/*{fwDefault}*/;color: #000000/*{fcActive}*/;outline:none; font-weight:bold;}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {color: #666/*{fcActive}*/;text-decoration: none;}
.ui-tabs-panel {display: block;border-width: 0;background: none;}
.ui-tabs-nav li.ui-tabs-active .btn_close:hover {background-image:url(../images/common/btn_close_pink.gif);}
.ui-tabs-nav li .btn_close:hover {background-image:url(../images/common/btn_close_pink.gif);}
.ui-tabs-nav .btn_close {background:url(../images/common/btn_close_gray.gif) no-repeat 50% 50%;width:16px;height:25px;margin-top:2px;padding:0 10px 0;cursor:pointer;}
.ui-datepicker-trigger {padding-left:4px;vertical-align:middle;margin-bottom:2px;cursor:pointer;}

.hasDatepicker .ui-widget select {height:21px;}
*:first-child+html .hasDatepicker .ui-widget select {margin-top:2px;}
.ui-icon {display: block;text-indent: -99999px;overflow: hidden;background-repeat: no-repeat;}
.ui-widget-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;}
.ui-datepicker {width: 268px;padding: 0;display: none;position:relative;border:1px solid #b8c6cc;}
.ui-datepicker .ui-widget-header {padding:0;margin:0 0 0 0;font-weight: bold;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position: absolute;top: 14px;width: 10px;height: 17px;}
.ui-datepicker .ui-datepicker-prev {background:url(../images/common/btn_calendar_prev.gif) no-repeat}
.ui-datepicker .ui-datepicker-next {background:url(../images/common/btn_calendar_next.gif) no-repeat}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {}
.ui-datepicker .ui-datepicker-prev {left: 80px;}
.ui-datepicker .ui-datepicker-next {left: 165px;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {display: block;position: absolute;left: 50%;margin-left: -8px;top: 50%;margin-top: -8px;}
.ui-datepicker table {border-collapse: collapse;margin: 12px 0 23px 15px;}
.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;display:none;}
.ui-datepicker td {border: 0;padding: 1px 5px 2px;}
.ui-datepicker td span,
.ui-datepicker td a {display: block;padding: 0;text-align: right;text-decoration: none;}
.ui-datepicker .ui-datepicker-buttonpane button {float: right;cursor: pointer;width: auto;overflow: visible;}
.ui-datepicker .ui-datepicker-buttonpane {background-image: none;margin: 0;padding: 0;height:0px;border:none;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {font-size:11px;width:40px;height:21px;line-height:18px;position:absolute;top:12px;left:197px;background:#b8c6cc;color:#fff;font-weight:normal;	font-family:dotum;}

.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {width:22px;height:22px;position:absolute;top:12px;left:242px;background:url(../images/common/img_footer_close.gif) no-repeat 50% 50%;text-indent: -99999px;overflow: hidden;}

.ui-datepicker.ui-datepicker-multi {width: auto;}
.ui-datepicker-multi .ui-datepicker-group {float: left;}
.ui-datepicker-multi .ui-datepicker-group table {width: 95%;margin: 0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group {width: 50%;}
.ui-datepicker-multi-3 .ui-datepicker-group {width: 33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group {width: 25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width: 0;}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear: left;}
.ui-datepicker-row-break {clear: both;width: 100%;font-size: 0;}
.ui-datepicker .ui-datepicker-header {position: relative;margin:0 13px 0 9px;padding:12px 0 10px 0;background:url(../images/common/bg_dot_01.gif) repeat-x 0 100%;}
.ui-datepicker select.ui-datepicker-month {width:56px;}
.ui-datepicker select.ui-datepicker-year {width:66px;margin:0 29px 0 5px;}

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {border: none;font-family:Verdana;text-align:center;width:24px;height:24px;line-height:24px;font-weight:bold;color:#8d9ba6;}

.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-widget-content .ui-state-highlight,
.ui-datepicker .ui-widget-header .ui-state-highlight {background: #b8c6cc;color: #fff/*{fcHighlight}*/;}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {opacity: .35;filter:Alpha(Opacity=35);background-image: none;}
.ui-datepicker-current-day a {color:#8d9ba6 !important;background:#fad5e6 !important}
.new_sun span {color:#ef519c !important}
.new_sat span {color:#45a3e6 !important}
.new_hol span, .new_hol a {color:#ef519c !important}
.new_hol div {display:none}


.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #aaaaaa;
	opacity: .3/*{opacityOverlay}*/;
	filter: Alpha(Opacity=30)/*{opacityFilterOverlay}*/;
}
.ui-front {
	z-index: 100;
}

#menuScrollArea {max-height: inherit;overflow: hidden;position: relative; outline:none;}
.jspContainer {overflow: hidden; position: relative;}
.jspPane { position: absolute; overflow: hidden; width:100% !important;}
.jspVerticalBar {position: absolute;top: 0;right: 0;width: 4px;height: 100%;background: #eef1f3;}
.jspHorizontalBar {position: absolute;bottom: 0;left: 0;width: 100%;height: 0;background: #eef1f3;}
.jspVerticalBar *,.jspHorizontalBar * {margin: 0;padding: 0;}
.jspCap {display: block;}
.jspVerticalBar .jspCap {height: 0px;}
.jspHorizontalBar .jspCap {width: 0;height: 100%;}
.jspHorizontalBar .jspCap {float: left;}
.jspTrack {position: relative;}
.jspDrag {background: #b8c6cc;position: relative;top: 0;left: 0;cursor: pointer;}
.jspDrag:hover,.jspDrag:active {border-color: #faa3cc; background-color: #faa3cc; background-image: -webkit-gradient(linear, left top, right top, from(#faa3cc), to(#faa3cc)); background-image: -webkit-linear-gradient(to right, #faa3cc, #faa3cc); background-image: -moz-linear-gradient(to right, #faa3cc, #faa3cc); background-image: -ms-linear-gradient(to right, #faa3cc, #faa3cc); background-image: -o-linear-gradient(to right, #faa3cc, #faa3cc); background-image: linear-gradient(to right, #faa3cc, #faa3cc); filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#faa3cc', EndColorStr='#faa3cc');}
.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag {float: left;height: 100%;}
.jspArrow {background: #999;text-indent: -20000px;display: block;cursor: pointer;}
.jspArrow.jspDisabled {cursor: default;background: #ccc;}
.jspVerticalBar .jspArrow {height: 16px;}
.jspHorizontalBar .jspArrow {width: 16px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus {outline: none;}
.jspCorner {float: left;height: 100%;}
* html .jspCorner {margin: 0 -3px 0 0;}

.tabstyle1 {position:absolute;width:100%;top:65px;bottom:0}

.innertab {height:50%;padding-top:20px;}
.innertab .tab {position:relative;}


/* datepicker2 css */
.bbit-dp{position:absolute;width:191px;height:200px;border:#b8c6cc 1px solid;overflow:hidden;zoom:1;padding:0;visibility:hidden;background:#fff;left:0px;top:0px;}
.bbit-dp em{font-style:normal;}
.bbit-dp table{table-layout: fixed;border-collapse: separate;}
.bbit-dp td th{margin:0px;}
.bbit-dp-top-center{cursor:pointer;white-space:nowrap;color:#fff;text-align:center;padding-bottom:6px;vertical-align:top;}
.bbit-dp-top-center button {font-size:11px;border:0 none;cursor:pointer;margin:0;overflow:visible;width:auto;-moz-outline:0 none;outline:0 none;background:#fff url(../images/common/btn_calendar_month.gif) no-repeat 95% 8px;padding:0 20px 0 0;}
.bbit-dp-top-center button span {font-size:13px;font-family:Verdana;font-weight:bold;padding-right:4px;}
.bbit-dp-top-center button b {font-size:17px;font-family:Verdana;font-weight:bold;padding-right:4px;}

.bbit-dp .bbit-dp-top{width:173px;margin:6px 0 0 8px;border-bottom:1px dotted #b8c6cc;}
.bbit-dp-top-right,.bbit-dp-top-left{width:11px;padding-bottom:6px;}
.bbit-dp-top-right{padding-right:2px;}
.bbit-dp-top-right a,.bbit-dp-top-left a {display:block;width:11px;height:17px;background-position:center;background-repeat:no-repeat;cursor:pointer;}
.bbit-dp-top-left {padding-left:6px;}
.bbit-dp-top-left a {background:url(../images/common/btn_calendar_prev2.gif) no-repeat 0 50%;}
.bbit-dp-top-right a {background:url(../images/common/btn_calendar_next2.gif) no-repeat 0 50%;}
.bbit-dp-top-left a:hover {background-image:url(../images/common/btn_calendar_prev2_over.gif);}
.bbit-dp-top-right a:hover {background-image:url(../images/common/btn_calendar_next2_over.gif);}
.bbit-dp-inner {width:175px;margin:7px 0 0 9px;}

.bbit-dp-inner th,.bbit-dp-inner td{border-collapse:separate;}

.bbit-dp-inner th {display:none;}
.bbit-dp-inner td {width:25px;text-align:left;padding:0;border-collapse:separate;font-family:Verdana}
.bbit-dp a {width:20px;height:20px;line-height:20px;text-decoration:none;color:#8d9ba6;font-weight:bold;zoom:1;margin-bottom:1px}
.bbit-dp-inner td a {display:block;font-family:verdana;font-size:11px;text-align:center;}

.bbit-dp-inner .bbit-dp-active{cursor:pointer;color:black;}
.bbit-dp-inner .bbit-dp-selected a{}
.bbit-dp-inner .bbit-dp-today a{background:#b8c6cc !important;color:#fff !important;}
.bbit-dp-inner .bbit-dp-selected a{background:#fad5e6;}
.bbit-dp-inner .bbit-dp-sunday a {color:#ef519c;}
.bbit-dp-inner .bbit-dp-satday a {color:#45a3e6;}
.bbit-dp-inner .bbit-dp-prevday a,.bbit-dp-inner .bbit-dp-nextday a{color:#c6c6c6;text-decoration:none!important;}
.bbit-dp-inner a:hover,.bbit-dp-inner .bbit-dp-disabled a:hover{text-decoration:none!important;background:#fad5e6;color:#fff;}
.bbit-dp-inner .bbit-dp-disabled a{cursor:default;;color:#eee;background:none}

.bbit-dp-bottom{padding:5px 0 0 0}
.bbit-dp-bottom button {font-size:11px;text-decoration:none;text-align:center;text-decoration:none!important;background:#b8c6cc;color:white;border:none;padding:6px 4px 3px 5px;cursor:pointer;}
.bbit-dp-mp{position:absolute;left:0;top:0;width:193px;background:white;display:none;}
.bbit-dp-mp table {width:191px;margin-top:9px;}
.bbit-dp-mp td{}
td.bbit-dp-mp-month,td.bbit-dp-mp-year{;text-align:center;vertical-align:middle;width:25%;}
.bbit-dp-mp-ok{margin-right:3px;}
.bbit-dp-mp-cancel {background:#b8c6cc !important}
.bbit-dp-mp-btns button{
font-size:11px;text-decoration:none;text-align:center;text-decoration:none!important;background:#f379b2;color:white;border:none;width:40px;padding:5px 0 4px 0;cursor:pointer;}
.bbit-dp-mp-btns{}
.bbit-dp-mp-btns td{text-align:center;padding:10px 0 13px}
td.bbit-dp-mp-month a,td.bbit-dp-mp-year a{font-family:Verdana;font-size:11px;display:inline-block;width:40px;height:20px;text-decoration:none;text-align:center;color:#8d9ba6;}
td.bbit-dp-mp-month a:hover,td.bbit-dp-mp-year a:hover{color:#fff;text-decoration:none;cursor:pointer;background:#fad5e6;}
td.bbit-dp-mp-month a:hover span {color:#fff;}
td.bbit-dp-mp-month span {font-size:11px;color:#ccc;font-family:dotum;font-weight:normal}
td.bbit-dp-mp-sel a{width:40px;height:20px;background:#b8c6cc;color:#fff;}
td.bbit-dp-mp-sel a span {color:#fff}
td.bbit-dp-mp-ybtn {vertical-align:top;}
.bbit-dp-mp-ybtn a{font-family:Verdana;overflow:hidden;;cursor:pointer;display:block;margin:0 auto;}

.bbit-dp-mp-ybtn a.bbit-dp-mp-next{width:11px;height:17px;background:url(../images/common/btn_calendar_next2.gif) no-repeat;}
.bbit-dp-mp-ybtn a.bbit-dp-mp-next:hover{background-image:url(../images/common/btn_calendar_next2_over.gif)}

.bbit-dp-mp-ybtn a.bbit-dp-mp-prev{width:11px;height:17px;background:url(../images/common/btn_calendar_prev2.gif) no-repeat}
.bbit-dp-mp-ybtn a.bbit-dp-mp-prev:hover{background-image:url(../images/common/btn_calendar_prev2_over.gif)}

.bbit-dp-mp-ybtn{text-align:center;}
td.bbit-dp-mp-sep{border-right:1px dashed #b8c6cc;}

.bbit-dp-input {width:100px;height:18px;padding-left:4px;}


/* multi select */
.select2-container {display: inline-block;*display: inline;*font-size: 0;padding:0;margin:0;}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input{margin:0 !important;padding:0 !important;line-height:17px;*line-height:18px;cursor:none;}
.select2-default {color:#aaa;}
.select2-container-multi .select2-choices {display: inline-block;*display: inline;height:17px;padding:1px;*padding:1px;border: 1px solid #b8c6cc; margin-top: 0; margin-right: 0 margin-bottom:10px; margin-left: 0px; *margin-left:-4px;cursor:pointer;}
.select2-container-multi .select2-choices li {list-style: none;margin-right:1px}
.select2-container-multi .select2-choices .select2-search-choice {display: inline-block;*display: inline;background-color: #b8c6cc;color: #fff;padding: 0 18px 0 5px;*padding: 3px 18px 2px 5px;position: relative;cursor: pointer;}
.select2-container-multi .select2-choices .select2-search-choice div {display: inline-block;*display: inline;padding:0;margin:0;}
.select2-drop {background: #fff;color: #000;border-bottom: 1px solid #b8c6cc;border-top: 0;position: absolute;top: 100%;z-index: 9999;width:100%;  overflow-x:hidden; overflow-y:auto; max-height:300px; cursor:pointer;}
.select2-container-multi .select2-choices .select2-search-field {display: inline-block;*display: inline;}
.select2-container-multi .select2-choices .select2-search-field input {height:17px;;padding: 0;margin: 0;outline: 0;border:none;line-height:15px;cursor:pointer;background:url(../images/common/icon_select_down.png) no-repeat 100% 50%;}
.select2-results {padding:5px 0;;border-left: 1px solid #b8c6cc;border-right: 1px solid #b8c6cc}
.select2-results li.select2-result-with-children > .select2-result-label {font-weight: bold;}
.select2-results .select2-result-label {margin: 0;;cursor: pointer;border-top:1px dotted #b8c6cc;padding-left:8px}
.select2-results .select2-first {border-top:none;}
.select2-search-choice-close {display: block;position: absolute;right: 5px;top: 4px;*top: 7px;width: 8px;height: 8px;;background: url(../images/common/btn_close_white.gif) right top no-repeat;outline: none;}
.select2-results .select2-highlighted {background: #eef1f3;}
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match { text-decoration: underline; }
.select2-result-unselectable .select2-match { text-decoration: none; }
.select2-results .select2-disabled {display: none;}

/* autocomplete */
.ui-autocomplete {position: absolute;top: 0;left: 0;cursor: default;}
.ui-helper-hidden-accessible {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.ui-autocomplete {height: 115px;overflow-y: auto;/* prevent horizontal scrollbar */overflow-x: hidden;}
* html .ui-autocomplete {height: 115px;}
.ui-autocomplete a {height:22px;line-height:22px}

a.employeeLIst {display:block;width:500px;border-bottom:1px dashed #b8c6cc;}
a.employeeLIst span {white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:inline-block;color:#666;padding-left:8px}
a.employeeLIst span.list_txt0 {width:76px;}
a.employeeLIst span.list_txt1 {width:100px;color:#999}
a.employeeLIst span.list_txt2 {width:147px;}
a.employeeLIst span.list_txt3 {width:80px;}
a.employeeLIst span.list_txt4 {width:36px;color:#999}

#menu_logo {width:58px;height:55px;border:1px solid #b8c6cc;margin-bottom:20px;}
#menu_logo div {width:41px;height:31px;background:url(../images/common/bg_left_sub.gif) no-repeat 0 31px;margin:12px auto 0}
#menu_logo div.pos01 {background-position:0 -93px}
#menu_logo div.pos02 {background-position:0 -31px}
#menu_logo div.pos03 {background-position:0 -62px}
#menu_logo div.pos04 {background-position:0 31px}
#menu_logo div.pos05 {background-position:0 -124px}
#menu_logo div.pos06 {background-position:0 -155px}
#menu_logo div.pos07 {background-position:0 -186px}
#menu_logo div.pos08 {background-position:0 -217px}
#menu_logo div.pos09 {background-position:0 -248px}
#menu_logo div.pos10 {background-position:0 -279px}
#menu_logo div.pos11 {background-position:0 -341px}
#menu_logo div.pos12 {background-position:0 -310px}
#menu_logo div.pos13 {background-position:0 -124px} /*info*/
#menu_logo div.pos20 {background-position:0 -124px} /*board*/
#menu_logo div.pos99 {background-position:0 0}

.sheet_util {display:block;vertical-align:bottom;margin-top:10px}
.innerFrame {position:absolute;width:100%;top:50%;bottom:0}

.vmiddle {vertical-align:middle}

.hide {display:none !important;}
.show {display:}