
@font-face{
	font-family:'NanumGothic';
    src: url('NanumGothic.eot');
    src: url('NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('NanumGothic.woff') format('woff'),
         url('NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body, p, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre,a {font-family:NanumGothic,Dotum,돋움,arial;}
body, input, textarea, select, button {;font-family:NanumGothic,Dotum,돋움,arial;}
table, caption, th, td,
form, fieldset, legend {font-family:NanumGothic,Dotum,돋움,arial;}
.ibsheet td,.ibsheet td span {font-family:NanumGothic,Dotum,돋움,arial !important;}
.ibsheet span.GMCheckHeader0 {;padding-right:9px !important}
.GMEditText {font-family:NanumGothic,Dotum,돋움,arial !important;}
.GMCountRowBottom div {font-family:NanumGothic,Dotum,돋움,arial !important;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {font-family:NanumGothic,Dotum,돋움,arial;}

a.button,a.aqua,a.green,a.blue,a.pink {padding: 3px 10px 4px 11px;padding:4px 11px 3px 10px\9;}
:root a.button,:root a.aqua,:root a.green,:root a.blue,:root a.pink {padding: 4px 10px 5px 11px \0/IE9}

a.basic {padding:3px 9px 2px 8px;padding:3px 9px 2px 8px\9 !important;}
:root a.basic {padding: 5px 11px 2px 10px \0/IE9}

a.cute {padding: 4px 5px 3px 6px;padding:3px 5px 2px 6px\9 !important;}

.large {padding: 9px 19px 8px 19px !important;padding:8px 19px 7px 19px\9 !important}
a.basic.large {padding: 8px 18px 7px 18px !important;padding:7px 19px 6px 19px\9 !important;}

a.button5 {line-height: normal;padding: 4px 8px 2px 8px;padding:3px 8px 1px 8px\9;}
:root a.button5 {padding: 4px 8px 2px 8px \0/IE9}

a.button6 {padding: 4px 3px 0px 4px;padding:3px 3px 0 4px\9;}

#sortable .notice_box ul.header a {padding:4px 0 3px !important}
#sortable .notice_box ul.header a.box {background:#8d9da6;color:#fff;padding-right:10px !important;padding-left:10px !important}

div.top_search div {padding:5px 0 4px 5px}
*:first-child+html div.top_search div {padding:2px 4px 2px 5px}
