div.popup_scroll {overflow:auto;overflow-x:hidden}

div.cover {position:absolute;top:0;bottom:0;left:0;right:0;background:#000;z-index:1000;filter:alpha(opacity=50);opacity:0.5}
div.popup_title {height:40px;background:#8d9da6;}
div.popup_title li {float:left;font-size:14px;color:#fff;font-weight:bold;padding-left:19px;line-height:38px;letter-spacing:-1px}
div.popup_title li.close {float:right;padding:0;width:45px;height:40px;background:#b8c6cc url(../images/popup/btn_popup_close.gif) no-repeat 50% 50%;cursor:pointer;}
div.popup_title li.close div.print {margin:0 0 0 -70px}
div.popup_main {margin:20px 20px 0;padding-bottom:30px}
div.popup_main div.listMain .on {background:#faeef4;}

div.popup_password table {width:100%;border:1px solid;}
div.popup_password table th {width:120px;height:29px;text-align:left;background:#eef1f3;color:#222;font-weight:normal;border:1px solid #dae1e6;}
div.popup_password table th span {padding-left:10px}
div.popup_password table td {border:1px solid #dae1e6;background:#f9fcfe;font-size:11px;}
div.popup_password table td span {padding-left:10px;}
div.popup_password table td input {border:1px solid #b8c6cc;height:19px;margin-left:5px;line-height:19px;}
div.popup_widget {width:100%;}
div.popup_widget .notice {text-align:right;color:#999;font-size:11px;padding:0 18px 9px 0}
div.popup_widget .notice span {color:#ef519c}
div.popup_widget table {width:100%;border:1px solid #dae1e6;}
div.popup_widget table td {background:#f9fcfe;color:#333;font-size:11px;}
div.popup_widget table td.buttons {border-top:1px solid #dae1e6}
div.popup_widget table td div.list {cursor:pointer}
div.popup_widget table td div.list li span {color:#999;font-size:11px;}
div.popup_widget table td div.list {height:29px;line-height:30px;margin:-1px;padding-left:4px;border:1px solid #dae1e6;font-size:11px;}
div.popup_widget table td div.list li {font-size:11px;color:#333;float:left;letter-spacing:-1px;}
div.popup_widget table td div.list li.right {float:right;}
div.popup_widget table td div.list a {float:right;padding:1px 10px 0 9px;line-height:20px;margin-top:4px;margin-right:15px;background:#b8c6cc;color:#fff;}
div.popup_widget table td div.list a.on {padding:1px 13px 0 12px;background:#f379b2;}
div.popup_widget table td div.title {float:left;width:79px;height:49px;margin:-1px 0px -1px -1px;text-align:center;border:1px solid #dae1e6;background:#faeef4;line-height:49px;}
div.popup_widget table td div.btn {float:left;width:54px;height:49px;margin:-1px 0px -1px -1px;text-align:center;border:1px solid #dae1e6;background:#eef1f3;cursor:pointer}
div.popup_widget table td div.btn span {display:block;margin-top:13px;}
div.popup_widget table td div.widget_info{float:left;height:49px;border-top:1px solid #dae1e6;margin:-1px -1px -1px -1px;}
div.popup_widget table td div.widget_info span {color:#999;display:block;margin-top:13px;padding-left:5px;}

div.author_left {float:left;margin-bottom:20px;}
div.author_left table.author th {background:#b3cc33;border:1px solid #b3cc33;}
div.author_right {float:right;margin-bottom:20px}
div.author_right table.author th {background:#3ab7c6;border:1px solid #3ab7c6;}

table.instead {margin-left:2px;}
table.instead th {background:#61b6f3 !important;border:1px solid #61b6f3 !important;}

table.author {width:92px;float:left;}
table.author th {height:26px;color:#fff;}
table.author td {height:24px;border-left:1px solid #dae1e6;border-right:1px solid #dae1e6;border-bottom:1px solid #dae1e6;text-align:center;background:#f7f9fc;color:#333}
table.author td.name {height:26px;font-size:11px;}
table.author td.date {font-family:verdana;font-size:11px;color:#666}

div.auto_info {clear:both;width:auto;}
div.auto_info li.info_txt {float:left;font-size:11px;padding-left:5px;padding-bottom:15px;line-height:14px;}
div.auto_info li.info_color {float:right;font-size:11px;padding-right:10px;padding-bottom:15px;}

div.arrow {width:20px;height:120px;float:left;background:url(../images/common/btn_calendar_next.gif) no-repeat 50% 50%}

div.popup_sub_button {text-align:center;padding:10px 0 10px;}

div.popup_button {text-align:center;padding-top:20px;}
div.popup_button li.center {padding-top:9px;}
div.popup_button li.left {float:left;padding-left:15px;}
div.popup_button li.left a {float:left;margin-right:5px;}
div.popup_button li.right {float:right;padding-right:15px;}
div.popup_button li.right a {float:right;margin-left:5px;}

div.pass_info {margin:0 0 10px 0;}
table.find_pass {margin:20px 0 10px 10px;}
table.find_pass td {width:76px;}
table.find_pass div {width:400px;margin-top:10px;}

span.box_green {width:12px;display:inline-block;vertical-align:middle;height:12px;background:#b3cc33;margin:0 2px 0 4px}
span.box_blue {width:12px;display:inline-block;vertical-align:middle;height:12px;background:#61b6f3;margin:0 2px 0 4px}
span.box_aqua {width:12px;display:inline-block;vertical-align:middle;height:12px;background:#3ab7c6;margin:0 2px 0 4px}

div.returnDiv {position:absolute;padding-top:7px;font-size:11px;display:none}
div.returnDiv img {vertical-align:middle;}


